[2017-04-07 12:22] greg0ire commented on #4447
Can you make a PR that adds the argument iff sf/framework-bundle < 3.3 ?

[2017-04-07 12:23] yann-eugone commented on #4447
Do you think this is enough ?

[2017-04-07 12:27] greg0ire commented on #4447
I think `sonata.core.form.extension.dependency` might have to be changed too.

[2017-04-07 13:25] yann-eugone commented on #4447
ok, i tried to, but i got many more errors than just this, i will push the result, but there is more work to do

[2017-04-07 13:28] greg0ire commented on #4447
Please do push something, I'll help you go through it :)

[2017-04-07 13:34] yann-eugone commented on #4447
see : https://github.com/sonata-project/SonataCoreBundle/pull/396

- had to try/catch the getArgument(3) and fallback to empty array in FormFactoryCompilerPass
- has to remove array typehinting in DependencyInjectionExtension constructor

now i'm stuck with :

[2017-04-07 13:38] greg0ire commented on #4447
So `$this->typeServiceIds[$name]` is a Generator?

[2017-04-07 13:40] yann-eugone commented on #4447
yes, it's a new symfony internal class

[2017-04-07 14:00] greg0ire commented on #4447
I'll try to have an in-depth look this WE, this looks complicated. Maybe if you get a Generator here you need to go one level deeper? Try to do a foreach on it, see what it contains?

[2017-04-07 14:49] core23 commented on #4442
Looks like an interesting feature, but not sure how we should handle adding `All elements`. Which elements are visible if we've added 20 items+?

[2017-04-09 18:05] greg0ire commented on #4447
@yann-eugone I think there are indeed two levels now: each key in `typeExtensionServices` is a hash that associates a serviceId to a service. That's the new content of the 2nd argument. Before, it used to be a simple hash of service ids => service. To get a service, you are now supposed to use the first argument I think : `$this->typeContainer->get($this->typeServiceIds[$name])`

[2017-04-10 19:34] rewrewby commented on #3518
Working fine for me:
[code]
P.S. sonata-project/admin-bundle (v3.16.0)

[2017-04-11 11:38] edgartebar commented on #4443
For me, adding   'choices_as_values' => true option in the type options solves the problem

[2017-04-12 05:33] hanterrian opened #4450 "Unable to generate a URL for the named route"
Admin budle version: 3.16
Symfony version: 3.2.*

Error message

[code]

[2017-04-12 07:56] greg0ire commented on #4450
`debug:router`?

[2017-04-12 13:16] mvhirsch commented on #4316
@OskarStark @greg0ire I think this can be closed, since it's not a bug in AdminBundle.

[2017-04-12 13:16] #4316 closed

[2017-04-12 13:17] greg0ire commented on #4316
Thanks for caring @mvhirsch

[2017-04-12 13:51] JeremyDulon commented on #4450
Check if the route does exist with `debug:router.` If not, did you clear your cache ?

[2017-04-13 05:40] hanterrian commented on #4450
[code]

Yes cache is clear

[2017-04-13 05:42] hanterrian commented on #4450
And this is repeated for any bundle http://joxi.ru/p2789vpTBqDlA7

[2017-04-13 06:46] JeremyDulon commented on #4450
Could you show us your routing.yml please ?

[2017-04-13 09:54] danielsippel commented on #3569
+1

[2017-04-13 14:49] #4443 closed

[2017-04-13 21:08] muspelheim commented on #3569
+1

[2017-04-14 05:15] core23 commented on #3569
Please stop spamming `+1` comments. Somebody need to start a PR for this.

Maybe @danielsippel or @muspelheim ?

[2017-04-16 12:54] symball commented on #4442
I've been very busy, sorry for delay in getting back here with a response. With a thumbs up, I'll set myself to the task after finishing up something I'm working on at the moment. As prescribed above, I'll write some documentation first in order to solidify the idea before touching the actual code.
@core23 - In the case of All elements, keeping it simple, the stack would combine with whatever is s

[2017-04-16 13:10] symball opened #4453 "Date picker rendering odd if used in a fieldset"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

The date picker is not rendering properly if it is used within a fieldset definition; if I put it at the base level things work so it's not a case of improper setup.

screenshot 1
![spectacle j16319](https://cloud.githubusercontent.com/assets/10624537/25071381/fecff17e-22e7-11e7-8691

[2017-04-16 13:16] symball commented on #4453
Further investigation of the issue has shown me that the render issue only occurs if I have set a custom format. I.E. If no other options are set, then it works.

[2017-04-16 16:46] core23 commented on #4442
But what if you add 1000+ elements? This would take a massive amount of memory

[2017-04-17 00:28] ederrafo commented on #2476
Hi Guys
The same but in **configureShowFields**  ?
I have in fiel **one-to-many**

$showMapper
->add('segments', null, array('label' => 'Segments in payroll'))
;
I tried with: 'string', 'text', but it does not work

[2017-04-17 12:26] symball commented on #4442
@core23 - Each array entry is simply the ID and __toString() value, not the full object so memory usage isn't too much of a concern. When using this feature in a project, it was used with stack sizes of roughly 12,000 and ran fine on a micro AWS instance.

You should take in to account that, in a typical environment, there won't be too many administrators on at the same time making use of the stac

[2017-04-19 06:52] tobemedia commented on #4275
Same problem. getNewInstance() is called in GET requests but not in POST requests (which are used in embedded Admins to do calls like  */core/append-form-field-element?code=*&elementId=s58f702ca5bc85_addresses&objectId=3&uniqid=s58f702ca5bc85

[2017-04-19 12:46] jlamur commented on #4380
For traceability: I created a PR for this feature: [[Form] Fix FormFactory guesses with property_path option. (symfony/symfony#22469)](https://github.com/symfony/symfony/pull/22469).

[2017-04-21 06:00] grimpows opened #4458 "sonata_type_collection do not properly fill the form for admin class with formEventSubscriber"
### Environment
windows 10 64bit
#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject
i got a Product class associated by one-to-many to a ValuedCategory class linked to a many-to-one Category class, with a value who is a translatable string translated with gedmo by a ValuedCategoryTranslation entity.

for be a bit more clear :
Product -> one-to-many ->

[2017-04-22 03:12] grimpows commented on #4458
if finally resolve this problem by using the preValidate() function in my productAdmin.

by recreated the eventListener to be able to skip wrong form created with no childValue filled with

- that's in eventListener (submit event)
[code]

- and that's in the ProductAdmin
[code]

[2017-04-22 03:24] grimpows commented on #4458
i'll probably will take a look on the github of sonataTranslationBundle, as i use it and the eventSubscriber i created could be usefull to be in it ;)

[2017-04-24 11:05] sailinghk commented on #836
Try it with form-inline, the margin-left in label made the label text wrap to other line.

[2017-04-24 12:23] #4327 closed

[2017-04-24 14:53] #4132 closed

[2017-04-25 06:40] MaximStrutinskiy opened #4460 "How to make functionality (Select content in drop down menu)"
Hello everyone,
I have e question for sonata project developers: How can i make select field (for users) with drop down model window. (I seen example in - Sonata Project)
It's features needed to my project.

Think, i need to add some FormType in my MainBundle\Admin OrderAdmin.php .

Just like this:

[code]

[2017-04-25 07:53] greg0ire commented on #4460
Hi, we try to keep Github issues for bug reports and feature requests only. If you have a question, please ask it on Stack Overflow or on #sonata on [the symfony-devs slack](http://slackinvite.me/to/symfony-devs).

[2017-04-25 07:53] #4460 closed

[2017-04-25 08:08] MaximStrutinskiy commented on #4460
Thank you, okay.
I ask this question on StackOverflow (maybe somebody wants to see answer)

Hear the [link](http://stackoverflow.com/questions/43604946/how-to-make-functionality-select-content-in-drop-down-menu
)

[2017-04-25 08:48] marek-mazur commented on #1023
is it implemented?

[2017-04-25 14:37] JumpIfBelow commented on #4344
This issue seems to not be related to Sonata. I think there is something weird between our configuration and the bundle: Symfony handle correctly DBLIB, but in this particular case, SonataAdminBundle fails.

I fixed it by installing pdo_sqlsrv on CentOS, using [Remi's Repo](https://rpms.remirepo.net).
Hope it will those rare person who has the same issue.

[2017-04-25 14:37] #4344 closed

[2017-04-25 14:45] ali-fassinet commented on #2430
`// ....
class FooAdmin extends Admin {
    // disable validation
    protected $formOptions = array('validation_groups' => false);
    // ...
}`

[2017-04-27 05:42] pulzarraider commented on #4132
@zajca this problem was fixed in version `3.17.0`. Thank your for reporting the problem.

[2017-04-27 05:43] pulzarraider commented on #3131
@nixoschu this problem was fixed in SonataAdminBundle version `3.17.0`. Thank your for reporting the problem.

[2017-04-27 05:43] #3131 closed

[2017-04-28 10:59] Max93 opened #4465 "Trans unit id title_show incorrect value."
#### ~~Issue~~ Problem introduced @Kolyunya into pull #4378
@Kolyunya if you are agree i can create a fork and fix it, but i need help with value. Tell me the best way to close it.

## Solution
[code]
#### Translation Interested
[code]

[2017-04-28 11:13] Kolyunya commented on #4465
@Max93 I'm sorry if my PR made any inconveniences to you but I wouldn't call it `issue introduced`. This PR introduced a new translation unit which needs to be well... translated. I do not know those languages that is why my PR contained placeholders.

If you know how to translate this translation unit feel free to make a pull request, I am sure project maintainers would be happy to merge it in.

[2017-04-28 11:30] Max93 commented on #4465
Sorry @Kolyunya  if i don't use the the appropriate language, i came in peace :alien:.
### Thank you for your quick answer!

I will create a pull request in the next days.

[2017-04-28 11:31] Kolyunya commented on #4465
@Max93 thank you for improving the project! Looking forward for your pull request!

[2017-04-29 16:32] YaoOcelotl opened #4467 "[ModelAutocompleteFilter] Action "" could not be found in access mapping. Please make sure your action is defined into your admin class accessMapping property"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

Auto complete filters stop working, with error:

## Steps to reproduce

1.
[code]
2. Access CRUD list
3. Add filter _name_
4. Input _number_ characters in filter input

## Expected results
JSON list of options

## Actual results
[code]

[2017-05-01 10:49] samanmohamadi opened #4468 "Call to private method Exporter\Exporter::addWriter() from context 'appDevDebugProjectContainer'"
Registerring SonataExporterBundle in AppKernel.php throws this Error when trying to access admin:
`
Call to private method Exporter\Exporter::addWriter() from context 'appDevDebugProjectContainer'`

[2017-05-01 11:44] core23 commented on #4468
Please use the issue template when reporting bugs!

[2017-05-01 12:00] greg0ire commented on #4468
IIRC this method has been made public ages ago Had you filled the issue template, we would have known whether your setup is up to date or not. You can complete it and ping us to reopen this.

[2017-05-01 12:00] #4468 closed

[2017-05-01 23:01] pulzarraider commented on #4467
@YaoOcelotl I can't reproduce the error.

The problem in your case is `AbstractAdmin ->checkAccess (null)`.  Instead of  `null` there should be `list` so the access rights are correctly checked.

Are you sure you are using the `Sonata\AdminBundle\Form\Type\ModelAutocompleteType` and you are not overloading the form type?

[2017-05-01 23:14] pulzarraider commented on #3078
Closing this issue, because it's related to SonataAdmin 2.x versions  and in 3.x versions the autocomplete form type is working ok.

@MHaendel @malutanpetronel @lucasgranberg @daifabde please report any problems you found in the new issue.

[2017-05-01 23:14] #3078 closed

[2017-05-01 23:21] pulzarraider commented on #4323
This bug report seems to be incomplete.
Are you using [a2lix/TranslationFormBundle](https://github.com/a2lix/TranslationFormBundle)

[2017-05-01 23:29] pulzarraider commented on #3663
I am closing this isssue, because we don't support Selectize.js in autocomplete form type and there is no more feedback for this issue.

[2017-05-01 23:29] #3663 closed

[2017-05-02 07:09] LouWii commented on #3171
I'm sorry to answer an old post, but I'm wondering if such feature is supposed to be added at some point ?

[2017-05-02 09:38] gnutix commented on #4447
Any news on this one ? Does Sonata work well with Symfony 3.3.0-BETA1 ?

[2017-05-02 09:40] greg0ire commented on #4447
This is supposed to be fixed by https://github.com/sonata-project/SonataCoreBundle/pull/399

[2017-05-02 09:40] #4447 closed

[2017-05-02 09:52] yann-eugone commented on #4447
Didn't had time to test by now. But I will give feedback has soon has I can : May 9th

[2017-05-02 15:22] YaoOcelotl commented on #4467
I have not overloaded the form type.
The `Sonata\AdminBundle\Form\Type\ModelAutocompleteType` seems  to be working fine on the _edit_ forms, but the in _filter_ form it can not load the options.

[2017-05-02 18:18] #3946 closed

[2017-05-02 18:46] greg0ire commented on #3368
I think it could work, and I would approve a PR proposing that. The second solution sound better, but would indeed be more work, and might not be as backwards-compatible.

[2017-05-02 18:48] muspelheim commented on #3368
@greg0ire I can make PR with this changes, and may be some code refactoring

[2017-05-02 18:48] greg0ire commented on #3368
Please do :)

[2017-05-02 19:25] #4467 closed

[2017-05-02 20:20] iBasit commented on #3171
+1

[2017-05-02 20:22] jordisala1991 commented on #3171
Can someone provide a PR to make this work? :)

[2017-05-02 22:08] muspelheim commented on #4442
@symball Hi, how it will be work with ajax loaded pages?

[2017-05-03 12:12] vladkras commented on #1231
I mean 4

[2017-05-03 18:42] #4465 closed

[2017-05-03 20:54] wodka opened #4475 "getSubject not set of child admin with sonata_type_collection"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

getSubject() returns null as of https://github.com/sonata-project/SonataAdminBundle/commit/0761127cfbaf83f2eec3b02e329f2d751a0b6b0f if used in admin of sonata_type_collection
(https://github.com/sonata-project/SonataAdminBundle/pull/4429)

## Steps to reproduce

create an admin with

[2017-05-13 11:32] FlorianKromer commented on #3582
It's looks very useful! Are there some updates about passing dynamic parameters to a route in ListFields?

[2017-05-14 02:19] apapacy commented on #4022
Please, fix this truble. For validation reason only input type text must be required.
But select "required" have some conflict with html5.

[code]

[2017-05-14 05:48] core23 commented on #4022
Feel free to contribute and fix this problem @apapacy

[2017-05-14 18:41] apapacy commented on #4022
OK

[2017-05-15 12:27] anboo commented on #3384
Same issue without MediaBundle.

[2017-05-15 17:21] pbeliberty opened #4484 "ModelChoiceList : SimpleChoiceList class has been removed in favor of ArrayChoiceList."
### Environment
Symfony >= 3.0.0
Sonata Admin 3.*

#### Sonata packages
Sonata Admin 3.*

## Subject

The Symfony\Component\Form\Extension\Core\ChoiceList\SimpleChoiceList class has been removed in favor of Symfony\Component\Form\ChoiceList\ArrayChoiceList. [[source upgrade to v3 symfony](https://github.com/symfony/symfony/blob/master/UPGRADE-3.0.md)]

But the ModelChoiceList still has a[ referenc

[2017-05-15 20:03] jxamorro opened #4485 "delete batch option no call preRemove in admin class"
#### Sonata packages
sonata-project/admin-bundle              3.18.2 The missing Symfony Admin ...
sonata-project/block-bundle              3.3.2  Symfony SonataBlockBundle
sonata-project/cache                     1.0.7  Cache library
sonata-project/core-bundle               3.3.0  Symfony SonataCoreBundle
sonata-project/datagrid-bundle           2.2.1  Symfony SonataDatagridBundle
sonata-project/

[2017-05-16 14:05] fbourigault commented on #3902
I hit the same issue and I noticed that my app does not have the permissions to write in the session directory (see `framework.session.save_path` in `config.yml`).

[2017-05-17 11:13] Zuhayer commented on #4002
I had the exact same bug. Thanks for discussing it here.

[2017-05-17 12:54] VoyteckLenartovich opened #4486 "sonata_type_model_autocomplete causes 'An invalid form control with name='' is not focusable.' JavaScript error"
#### Sonata packages

sonata-project/admin-bundle              3.18.2             The missing Symfony Admin Generator
sonata-project/block-bundle              3.3.2              Symfony SonataBlockBundle
sonata-project/cache                     1.0.7              Cache library
sonata-project/core-bundle               3.4.0              Symfony SonataCoreBundle
sonata-project/datagrid-bundle

[2017-05-17 16:12] stiffroy commented on #4486
I am having the same problem after composer update. Any news on it?

[2017-05-17 16:58] greg0ire commented on #4486
Can you find said form control in the HTML of the page?

[2017-05-17 17:01] stiffroy commented on #4486
For me, it shows no direct error on the view but this error message is present in the console. But when I revert back to Sonata Admin Bundle 3.16.x (which I had before), it works perfectly as it was working before the composer update.

[2017-05-17 17:11] VoyteckLenartovich commented on #4486
Additionally, you can still submit the form without errors by running command `$(form).submit();` in the browser's console.

[2017-05-17 17:27] greg0ire commented on #4486
I'm confused. Did you look for an error in the view? Or did you look for a form control with an empty name?

[2017-05-18 13:53] stiffroy commented on #4486
I am talking about form error bag. When there is any issues or event the success msg, it is shown just above the form in the view. I am talking about this message.

[2017-05-19 07:11] OskarStark commented on #4023
I can confirm this bug in my project:

[code]

produces:
![screenshot 2017-05-19 09 09 01](https://cloud.githubusercontent.com/assets/995707/26236869/d4a6bc76-3c72-11e7-83c6-5bb06a240eb8.png)

So, no icon, and wrong target url.

When i use this:

[code]

it generates an icon for the wrapper and the correct url:
![screenshot 2017-05-19 09 10 58](https://cloud.githubusercontent.com/assets/995707/262

[2017-05-19 07:21] OskarStark commented on #4023
I can confirm this fixes the icon problem:

*sonata-project/admin-bundle/Resources/views/Menu/sonata_menu.html.twig*
[code]

and this fixes the route problem:

*sonata-project/admin-bundle/Menu/Provider/GroupMenuProvider.php*
[code]

I will provide a PR right now

[2017-05-19 14:01] Kaijiro commented on #4333
Was it fixed ?

[2017-05-19 15:35] Ousret commented on #4333
@Kaijiro Nope. For now, just force ORDER BY clause to have at least one column assigned.

[2017-05-19 21:29] dreftymac opened #4489 "Minor spelling issue "existance" --> "existence""
### Environment

* All

#### Sonata packages

* All (including documentation and front-matter)

#### Symfony packages

* All (including documentation and front-matter)

#### PHP version

* All

## Existance should be spelled "Existence"

* Throughout the source code and public-facing documentation and front-matter, the word "existance" should be replaced with "existence".
* This appears to be cons

[2017-05-20 06:43] core23 commented on #4489
Can you provide a PR with a fix please @dreftymac

[2017-05-21 12:27] mnguye08 opened #4490 "Choices are not selected with sonata_type_model"
### Environment
All
#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject
I'm using Sonata with Symfony3 and a MongoDB database (2 documents Account & Customer)
An account can have 1 or many customers.

    /**
     * @MongoDB\ReferenceMany(targetDocument="Customer")
     */
    private $customers = array();

The problem is that when I create a new accou

[2017-05-21 15:26] #4490 closed

[2017-05-22 11:45] eschultz-magix commented on #4022
I have the same error and this is my workaround:

Create a custom template called `sonata_type_model_autocomplete.html.twig` in the `Resources/Form/Type` folder of your bundle with this as content:

[code]

And then use it in your admin class:

[code]

The script is also compatible with Select2 v4 (it simply does nothing then).

[2017-05-22 11:49] OskarStark commented on #4022
@eschultz-magix could you fix it and provide a PR?

[2017-05-22 16:41] davidromani opened #4491 "Huge queries amount in sonata_type_collection"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

I need to reduce queries amount when embedding one-to-many or many-to-many related admins. It is possible to apply a join or similar?

<img width="347" alt="captura de pantalla 2017-05-22 a les 18 33 56" src="https://cloud.githubusercontent.com/assets/698779/26319064/d3da1402-3f1d-11

[2017-05-23 05:14] fracsi commented on #4486
I just ran into the same issue. With using a required attribute on an autocomplete field, select2 generates 2 fields: a hidden input with a correct name, and a select input without name (and with a required attribute), which causes the error, and the form cannot be submitted.
![image](https://cloud.githubusercontent.com/assets/690307/26339315/6d30cbdc-3f87-11e7-80da-9741f4a391c8.png)

[2017-05-23 06:45] greg0ire commented on #4486
Can any of you use `git bisect` to find the offending commit?

[2017-05-23 07:07] fracsi commented on #4486
@greg0ire As far as I can tell this #4480 introduced the select field.

[2017-05-23 07:08] greg0ire commented on #4486
@Soullivaneuh please have a look at this

[2017-05-23 09:47] andrewmy commented on #4023
Waiting impatiently for both those PRs to be merged! Ran into both of these issues a few days ago.

[2017-05-23 20:55] vyshkant opened #4492 "AdminInterface::getNewInstance doesn't work in embedded admin classes"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

I'm trying to embade the `ClildAdminClass` to the `ParentAdminClass` and use the feature of `AdminInterface::getNewInstance` to modify the `ClildAdminClass` object after form submit. My idea is to fill some default values and hide these fields from the form.

In my `ParentAdminClass`

[2017-05-23 20:59] greg0ire commented on #4492
Closing as duplicate of #4275

[2017-05-23 20:59] #4492 closed

[2017-05-23 21:06] greg0ire commented on #4275
Can any of you try to see if [this line](https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Form/Extension/Field/Type/FormTypeFieldExtension.php#L220) and the code block around are executed, or should be?

[2017-05-23 21:27] vyshkant commented on #4275
@greg0ire in my case the method `FormTypeFieldExtension::getValueFromFieldDescription` is not invoked so  the [line](https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Form/Extension/Field/Type/FormTypeFieldExtension.php#L220)  is not executed.

[2017-05-23 22:12] greg0ire commented on #4275
The only call is [here](https://github.com/sonata-project/SonataAdminBundle/blob/master/Twig/Extension/SonataAdminExtension.php#L147), which means there seems to be no call to achieve what you are expecting... I think. If I were you, I would debug [this line](https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Form/Type/AdminType.php#L55). Maybe this is where this should be implemented.

[2017-05-24 08:41] OskarStark commented on #4023
Both PR's are merged, I will ask for a new release internally

[2017-05-24 08:42] andrewmy commented on #4023
Thanks. Watching your step and updating to 3.x-dev for now.

[2017-05-24 09:26] Jibato opened #4493 "Missing 'admin-lte/dist/img/boxed-bg.jpg' file exception"
#### Sonata packages
sonata-project/admin-bundle                       3.18.2  The missing Symfony Admi...
sonata-project/block-bundle                         3.3.2    Symfony SonataBlockBundle
sonata-project/cache                                     1.0.7    Cache library
sonata-project/core-bundle                           3.4.0    Symfony SonataCoreBundle
sonata-project/datagrid-bundle

[2017-05-24 10:20] fracsi commented on #4486
I found a quick workaround. In the javascript for the autocomplete field, the changed code removes the unused input field instead of hiding it.

Current:[`$(unusedInputRef).hide();`](https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Resources/views/Form/Type/sonata_type_model_autocomplete.html.twig#L46)
Updated: `$(unusedInputRef).remove();`

[2017-05-24 12:12] OskarStark commented on #4486
@fracsi I updated your comment and used `diff` markup

[2017-05-25 08:19] ozanichkovsky opened #4494 "Get data from the form in create/update actions of CrudController"
## Subject

On the project I'm working on immutable entities are used. DataMapper solves the problem with creating new Entity instance based on Form data. But $object is never got from the form in CRUDController::createAction() and CRUDController::editAction(). If new object is not created then nothing will change as the same instance will be returned. But this patch can be easily adopted and prov

[2017-05-25 08:29] greg0ire commented on #4494
Would you like to provide that as a PR?

[2017-05-25 09:18] ozanichkovsky commented on #4494
yes, I've forked a repository, committed a fix and am creating a PR now

[2017-05-25 10:57] ozanichkovsky commented on #4494
PR request has passed all checks.

[2017-05-25 20:08] #4494 closed

[2017-05-26 13:29] shawe commented on #3884
@romainneutron please, can you update your repo with the solved issue? I think that I've the same problem but I can't solve it.

[2017-05-27 00:58] mmucklo opened #4497 "After setting filters with configureDefaultFilterValues, they do not show as removable"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]
## Subject

A Default filter is not easily removable.

1) Overrode configureDefaultFilterValues(...) in an Admin class.
2) Added a default filter with ChoiceType::TYPE_NOT_CONTAINS

Documentation says class is ChoiceFilter::TYPE_.... but there's no constant in that class
https://sonata-project.org/bundles/admin/master/doc

[2017-05-27 01:00] mmucklo commented on #4497
<img width="1060" alt="screen shot 2017-05-26 at 5 57 29 pm" src="https://cloud.githubusercontent.com/assets/245122/26516565/2a63c7f6-423d-11e7-9500-79a0e934618e.png">

[2017-05-28 06:55] rechengehirn commented on #4323
@pulzarraider Yes, I'm using a2lix/TranslationFormBundle

[2017-05-28 14:47] core23 commented on #4497
Can you provide a PR with a fix @mmucklo ?

[2017-05-29 11:02] jlamur opened #4499 "Symfony Form 3.x compatibility break"
The [`ModelChoiceList`](https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Form/ChoiceList/ModelChoiceList.php) class extends [`SimpleChoiceList`](http://api.symfony.com/3.4/Symfony/Component/Form/Extension/Core/ChoiceList/SimpleChoiceList.html).
However this class is deprecated since 2.7, and has been removed in 3.0. It has been replaced by [`ArrayChoiceList`](http://api.symfony.com/3.4

[2017-05-29 12:37] jlamur commented on #4499
I don't know if it's a workaround, or not, but using [`ModelChoiceLoader`](https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Form/ChoiceList/ModelChoiceLoader.php) instead works and does the same job :)

[2017-05-29 12:37] #4499 closed

[2017-05-29 13:28] Kaijiro opened #4500 "Pagination is applied to exports"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

When creating a custom admin and doing an export, the pagination is applied in the export result : only the viewed page is exported instead of the whole set of result.

When applying filters and exporting, users often expect to retrieve the whole set of results in the CSV lines.

[2017-06-01 08:44] JumpIfBelow opened #4503 "Unable to use sonata_type_model_autocomplete"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject
While trying to use the `sonata_type_model_autocomplete`, the related AJAX query failed.
To be clear: the form is well generated, the listener, the route, everything works as intended.
When typing, the event is fired, so the AJAX request is send. But the obly thing I get is "Loading f

[2017-06-01 13:48] Jeace commented on #4275
same problem here !

[2017-06-01 14:43] core23 commented on #4503
Maybe this is related to https://github.com/sonata-project/SonataAdminBundle/pull/4448?

[2017-06-01 14:53] JumpIfBelow commented on #4503
Thanks for your reply!
Unfortunately, it is not. It is one of the issue I find while searching for similar one (but cannot find it again while writing my own issue). I tried to add manually `'target_admin_access_action' => 'list'` on my code, but it leads me to the same issue.
I'm actually in super admin role, so I can actually see everything on the admin part.

It is a bit tricky to see what's wr

[2017-06-02 07:58] JumpIfBelow commented on #4503
I understand the issue here.
Still, I don't know how to classify this.

To be clear, my form has two states: creation and edition. To differenciate this, I use this line of code: `if($this->id($this->getSubject()))`. If the line returns true, we are in edition, otherwise it is creation.
The thing is: if the `sonata_type_model_autocomplete` is in both forms with different property type, it will cra

[2017-06-04 09:22] jlamur commented on #4484
https://github.com/sonata-project/SonataAdminBundle/issues/4499

[2017-06-04 09:25] jlamur commented on #4484
Maybe a deprecation should be added to the `ModelChoiceList` class, and the class should be removed when Sonata will support Symfony >= 2.7.

[2017-06-05 11:31] idchlife commented on #3171
Hmmm... Guys, look at this: https://github.com/sonata-project/SonataAdminBundle/pull/4504

[2017-06-05 13:25] develth opened #4505 "HelperController setEnvironment throws deprectated ERROR 500"
Hey there,

i recognized that when i´m using sonata_type_collection on a OneToMany Entity, i get a silent status 500 from my apache / php 5.6 server.

I debugged until i got the error here:
https://github.com/sonata-project/SonataAdminBundle/blob/master/Controller/HelperController.php#L520

On symfony´s TwigRenderEngine it throws a deprecated that resolves into a Error 500.
https://github.com/symf

[2017-06-05 13:27] develth commented on #4505
By the way, this works perfectly on the same host - so i assume sonata admin is blocking anywhere?

https://gist.github.com/develth/0fd7940abbce2efdbc45202d3b9bd263

[2017-06-05 13:39] greg0ire commented on #4505
Wow that's really weird, a deprecation error should not resolve to a 500...

Also, the gist you are showing does something similar to line 52, not to line 37. And HelperController is calling `setEnvironment`, so not line 37.

Do you mean a blank page? Anything interesting in your logs? If this is a blank page, does this means this happens in production only? And if yes, did you try to fix this in

[2017-06-05 13:42] develth commented on #4505
Line 520 in Helper Controller & Line  52 in TwigRenderer - sorry linked wrong thanks for notice - will edit it!

Yes - a total blank page. No Logs, no errors. totally silent.

If i do a die("error-debugging"); before line it stops. A die("error-debugging"); after line 52 is never reached.

[2017-06-05 13:43] develth commented on #4505
And i´m working on development environment! error_reporting is set to

    error_reporting = E_ALL

[2017-06-05 13:48] greg0ire commented on #4505
By logs, I mean apache logs, not symfony logs BTW. Did you check both logs?

[2017-06-05 13:54] develth commented on #4505
Yip, both.
Apache Log (error log on LogLevel warn) is empty, symfony log:

    [2017-06-05 15:52:31] request.INFO: Matched route "sonata_admin_append_form_element". {"route":"sonata_admin_append_form_element","route_parameters":{"_controller":"sonata.admin.controller.admin:appendFormFieldElementAction","_route":"sonata_admin_append_form_element"},"request_uri":"http://tool.tld/admin/core/append-fo

[2017-06-05 13:58] greg0ire commented on #4505
It's as if your current error handler was treating this as a fatal error. You can find out what the current error handler is like this: https://stackoverflow.com/questions/12378644/how-can-i-retrieve-the-current-error-handler#25169684

And maybe you should do some step by step debugging there.

[2017-06-05 14:17] greg0ire commented on #4505
Also, is `display_errors` set to on?

[2017-06-05 14:26] develth commented on #4505
Just checking output of error_handler. is just a big never ending "waterfall"...
Display Error is on.

[2017-06-05 14:36] greg0ire commented on #4505
If I had to guess, I'd say your current error handler is [this one](https://github.com/symfony/symfony/blob/master/src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php). You could try to debug it. BTW, I was one of the last editors of this error handler, I hope this won't turn out to be my fault ^^'

[2017-06-05 14:39] develth commented on #4505
$handlers = set_error_handler(function(){});
    restore_error_handler();
    foreach($handlers as $handler){
        $type= gettype($handler);
                if($type == "string"){
                    var_dump( $handler);
                }else if($type == "object"){
                    var_dump( get_class($handler));
                }
    }
    die();

This function outputs this before line 520:

[2017-06-05 14:53] greg0ire commented on #4505
Hmm my bad, the error handler I modified is just used for phpunit it seems... You could debug `Symfony\Component\Debug\ErrorHandler` I guess

[2017-06-05 14:56] develth commented on #4505
Will do it later. Thanks for help until now!

At the moment i removed line 520 to make a little progress ;)

[2017-06-05 15:19] suslin opened #4506 "Form collection field widget customization problems"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject
How to override single widget for field in collection row. I have such entities - `Products`, `ProductSpecification` and `Specification`. In `ProductSpecification` entity i have Product, Specification and other properties (showInFilter, showInList). Need to render editable PoductSpeci

[2017-06-05 16:23] greg0ire commented on #4505
Might be unrelated, but some weird things are happening with Twig : https://github.com/twigphp/Twig/issues/2495

[2017-06-05 19:17] develth opened #4507 "Double creation of "new" on a sonata_type_collection"
Hey there!

I have the following Setup:

Quiz <- OneToMany ->QuizResult

I added the results this way to the admin class:

    ->add('results', 'sonata_type_collection', array(
        'by_reference' => false,
    ), array(
        'edit' => 'inline',
        'inline' => 'standard',
        'limit' => 4,
    ))

When i hit "new" in the Quiz entity, the new result form appears twice. I checked if t

[2017-06-05 19:22] develth commented on #4507
i also recognized, that when i then created the two results, then go to quiz edit and want to add another one, the old ones appears again + a single blank new field.

[2017-06-05 19:37] #4507 closed

[2017-06-05 19:37] develth commented on #4507
Fixed by following: https://stackoverflow.com/a/16993909/1101500

[2017-06-06 10:31] cipherm opened #4510 "When creating Custom Query using "createQuery": Catchable Fatal Error: Argument 1 passed"
### Environment: Development

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject: Creating customQuery for list on Admin

I have created a Admin named "Notification". Now i have to list the notification of current logged in user so i have added the below code into Admin.
[code]
After adding the code when i run the admin in browser i am getting the bel

[2017-06-06 10:33] greg0ire commented on #4510
Solution:

[code]

It's weird you are getting a fatal error though.

[2017-06-06 10:37] greg0ire commented on #4510
#4505 is oddly similar

[2017-06-06 10:40] greg0ire commented on #4505
Could be a memory issue with sf also : https://github.com/symfony/symfony/pull/23007

[2017-06-06 10:44] develth commented on #4505
I can definitely exclude a memory issue.  If I watch the memory on my unix machine, nothing "special" happens.

[2017-06-06 10:45] greg0ire commented on #4505
Okay well... weird. If I were you I'd still try to downgrade to sf 3.2, just in case.

[2017-06-06 10:47] develth commented on #4505
Thats my task before release if i couldn´t fix it until then. Because its so weird, i want to solve it ;)

[2017-06-06 10:47] greg0ire commented on #4505
If downgrading works, then maybe you can try to use `git bisect` to find the commit that breaks things

[2017-06-06 11:05] develth commented on #4505
Ok - strange. it seems to be the mentioned symfony/symfony#23007

If i replace the $errorAsException with e.g. "exception-check" from https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Debug/ErrorHandler.php#L496 it works as expected.

But maybe it makes sense to remove the https://github.com/sonata-project/SonataAdminBundle/blob/master/Controller/HelperController.php#L520 in fur

[2017-06-06 11:26] greg0ire commented on #4505
It should be done conditionally. PRs are welcome :)

[2017-06-06 11:31] cipherm commented on #4510
Hi @greg0ire
I have tried to removing the same from the code. Now i am getting the below error.

[2017-06-06 11:42] greg0ire commented on #4510
Do not remove it from the signature:

[code]

[2017-06-06 11:46] greg0ire commented on #4505
Can you please cherry-pick the whole commit https://github.com/symfony/symfony/pull/23007/commits/21ef0655942c0e75a3d58cc989f8ab26beb693e0 and post your findings?

[2017-06-06 11:50] cipherm commented on #4510
@greg0ire Thank you. It has been fixed.

[2017-06-06 11:51] greg0ire commented on #4510
Great! If you get any other crashes like that, please check #4505 .

[2017-06-06 11:51] #4510 closed

[2017-06-06 12:34] develth commented on #4505
Sadly the same. Breaks at

    $this->loggers[$type][0]->log($level, $logMessage, array('exception' => $errorAsException));

[2017-06-06 13:06] greg0ire commented on #4505
Can you wrap this in a try catch, and inside the catch, use `var_dump($exception);die();`

[2017-06-06 13:12] develth commented on #4505
The log handler was a good point. Thanks!

The issue was the predefined

        server_log:
            type:   server_log
            process_psr_3_messages: false
            host: 127.0.0.1:9911

in config_dev.yml

removed it and it works (but slow)!

[2017-06-06 13:13] develth commented on #4505
btw, a \Throwable catch was never reached

[2017-06-06 13:21] greg0ire commented on #4505
Can you please continue the debugging here: https://github.com/symfony/symfony/blob/master/src/Symfony/Bridge/Monolog/Handler/ServerLogHandler.php#L44 ?

[2017-06-06 13:23] develth commented on #4505
For what should i check? I have nothing running with 127.0.0.1:9911

[2017-06-06 13:24] greg0ire commented on #4505
Ah this should explain a lot... but getting a blank page is not great. Oh and then : https://github.com/symfony/symfony/blob/master/src/Symfony/Bridge/Monolog/Handler/ServerLogHandler.php#L48 This is why you get a blank page.

[2017-06-06 13:37] Nadrshin commented on #2761
I use sonata-project/admin-bundle 3.16.0. This bug has not been fixed yet.

[2017-06-07 12:11] verheyenkoen opened #4511 "jQuery UI dialog close button not showing"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

When using a jQuery UI dialog in a Sonata Admin project, the close button "x" icon doesn't show.

This seems to be a [known problem](https://stackoverflow.com/a/20457891/192961) and can be solved by including the Bootstrap javascript file before the jQuery UI file, so simply [changin

[2017-06-08 12:28] greg0ire commented on #4261
The issue was occuring both with AJAX and non-ajax since dd4695ee61464c252ca1ef61658787dfaae457d5, and was fixed with non-ajax in 05a128a94eaeb71421a9defef90b6049bb3c6167

[2017-06-08 12:33] greg0ire commented on #4261
Removing line 22 of https://github.com/sonata-project/SonataAdminBundle/blob/05a128a94eaeb71421a9defef90b6049bb3c6167/Resources/views/Form/Type/sonata_type_model_autocomplete.html.twig#L22 fixes the issue, not sure it is the right fix though.

[2017-06-08 12:36] greg0ire commented on #4261
I think adding a check on value|length would be better

[2017-06-08 12:45] greg0ire commented on #4261
The fix proposed by @fracsi [here](https://github.com/sonata-project/SonataAdminBundle/issues/4486#issuecomment-303681880) works even better.

[2017-06-08 14:02] Tofandel commented on #1548
@mikeevstropov Which version of the bundle are you using, because on stable 3.18.2 I can't find the method addOrderBy(), is it only on 4.dev ?

[2017-06-09 09:54] #4486 closed

[2017-06-09 09:55] #4261 closed

[2017-06-09 13:11] romaricp opened #4513 "List collection doesn't update after save"
### Environment
#### Symfony & Sonata  packages

[code]

#### PHP version
[code]

## Subject
List collection doesn't update after insert

## Steps to reproduce
I have just 2 tables :
### Keyword
[code]

### Scope
[code]

I have install Sonatra-admin-bundle and everything work well except one think, when I had a new entry Keyword, I can add directly a new Scope via Ajax. For this fonctionality I us

[2017-06-10 07:49] cipherm opened #4514 "Getting 500 Internal Server Error on "sonata_type_model""
Hello

I have two entities ["Listing", "Emails"] and created the One To Many association of Listing with Emails. I used the "sonata_type_model" on the Sonata Admin of Listing Entity.
[code]
When i adding the new data in Emails using "sonata_type_model" it gives an "500 Internal Server Error" but everything is working fine on app.php.

I tracked the some files of Sonata Admin and found the error is

[2017-06-10 10:23] greg0ire commented on #4514
This means you are using `app_dev.php`, right? If yes, why are you not providing a stack trace.

[2017-06-10 12:00] cipherm commented on #4514
Hi @greg0ire

I am seeing the 500 Internal Server Error in Developer console. Its a ajax request. How i can get the stack trace for it.

Below are the logs of development env for this action.

[2017-06-10 17:23:25] security.DEBUG: Read existing security token from the session. {"key":"_security_main"} []
[2017-06-10 17:23:25] doctrine.DEBUG: SELECT t0.username AS username_1, t0.username_canonical

[2017-06-10 12:10] greg0ire commented on #4514
Open the symfony profiler, that will give you the profile for the current, non-ajax request. Then, on the left, you should see a form or links to other requests, I don't remember exactly how it looks like, but the thing is, you can find the profile for your AJAX request in there, and with it, the desired stack trace.

[2017-06-10 12:59] cipherm commented on #4514
Hi @greg0ire
I checked the all tabs in Profiler and didn't found any stack trace option for ajax request. Please check the below image of my profiler.

![image](https://user-images.githubusercontent.com/7418454/27002921-7c70dc2c-4e0a-11e7-8153-cee3e4db9fd2.png)

I can share the screen if you want.
My Email address: smanojsaini@gmail.com

[2017-06-10 13:24] greg0ire commented on #4514
See the `Last 10, Latest and Search` thingy top left? Find the profile of your AJAX request with it first, and worry about the stack trace later.

[2017-06-10 13:34] cipherm commented on #4514
Here are the screenshot from Last 10.
![image](https://user-images.githubusercontent.com/7418454/27003145-f60587dc-4e0e-11e7-9f79-f32a858b23da.png)

This the screenshot of console.
![image](https://user-images.githubusercontent.com/7418454/27003163-458ece26-4e0f-11e7-9b8a-3809e2f047cc.png)
![image](https://user-images.githubusercontent.com/7418454/27003168-4e83e6d8-4e0f-11e7-8923-2279132f2563.png)

[2017-06-10 13:36] greg0ire commented on #4514
See that Status field? Input 500 in it, you should get better results.

[2017-06-10 13:37] greg0ire commented on #4514
You can also input `get-form-field` in the `URL` filter.

[2017-06-10 13:38] greg0ire commented on #4514
If there is still no profile, it means symfony is not involved in answering this 500, which I doubt. In the second screenshot of the console, there is a "response" tab. Have you clicked it?

[2017-06-10 13:42] cipherm commented on #4514
I searched using URL field and found the result in profiler. Below is the screenshot of that
![image](https://user-images.githubusercontent.com/7418454/27003251-ad3fadd2-4e10-11e7-94e9-421330881a43.png)

I also checked the response tab that is showing blank. Also this thing i working fine on production the issue is only at development environment.

[2017-06-10 13:47] greg0ire commented on #4514
You found the correct profile! Great!
You also found a preview of the exception, with a clear error message.

See that "Exception" menu entry? click it if you want something even more beautiful, but I think the solution is already clear: you must implement `ListingPhone::__toString()`, or at least tell sonata which field to use to represent `ListingPhone`, by using the `property` option. Closing t

[2017-06-10 14:02] cipherm commented on #4514
@greg0ire
The code to covert the Phone into string is already there in entity file.
![image](https://user-images.githubusercontent.com/7418454/27003385-1dcd9ac6-4e13-11e7-969d-f4e2a7454679.png)

Also, i checked the timestamp of the profiler. It is from 13:35 but the new profiler timestamps are 19:30. That one from 13:35 timestamp i was able to fine in profiler. The new requests are not logged in t

[2017-06-10 14:06] cipherm commented on #4514
Also the some deprecations showing. See below
![image](https://user-images.githubusercontent.com/7418454/27003430-2677934c-4e14-11e7-9bfe-93f5eacbe150.png)

[2017-06-10 14:09] greg0ire commented on #4514
Deprecation are something else completely. Make sure sonata is up to date before trying to fix them. For your issue, you can do step by step debugging with xdebug to find out what is going on. I suggest you clear your cache, try reproducing the issue in as few http requests as possible, and have a look at the profiler to see if the 500 still does not show up in it.

[2017-06-10 20:08] cipherm commented on #4514
@greg0ire
I tried everything that i can do. I tried clearing cache, checked all the logs, profilers but i didn't able to find why this is causing only on development environment. If you need any logs or any access from my side i will provide you.

[2017-06-11 18:34] greg0ire commented on #4514
Really?

Did you even try this?

[2017-06-12 06:45] OskarStark commented on #4511
@verheyenkoen can you please provide a screenshot where it should be displayed?

[2017-06-12 09:04] verheyenkoen commented on #4511
Bad:

![image](https://user-images.githubusercontent.com/599538/27026450-16bc52b2-4f5e-11e7-9390-937aadb2d4ac.png)

Good:

![image](https://user-images.githubusercontent.com/599538/27026470-2240ab7e-4f5e-11e7-8fe1-af2acfbcccb9.png)

Notice the "x" icon in the top right corner of the dialog.

You can easily trigger this behavior from the developer tools with console command:

[code]

All I did betw

[2017-06-12 11:38] coyl commented on #4332
Maybe it would be a proper solution to add a simple interface for setting multiple sort conditions to the ProxyQuery?

[2017-06-12 12:03] wodka commented on #4332
partially - problem is that the sort condition might be dependent on the select itself, if the select is cleared the error is raised

[2017-06-13 05:45] OskarStark commented on #3884
@shawe which version of SonataAdminBundle are you using?

[2017-06-13 08:12] mmucklo commented on #4497
@core23 any clue where I should begin looking?

[2017-06-13 22:14] fsanter commented on #2879
Hello,

I'm using 3.19.0 and it's still wrong (I tried 3.13.0 : the same).

I have 3 entities, or more, that have oneToOne with Image entity. (User / Company / Program), embedded with sonata_type_admin. It works for User and Company, but for Program in ImageAdmin, $this->getSubject() returns wrong object (It returns Image object that have the ID of selected Program (and if I updates the Program Im

[2017-06-14 08:54] fsanter commented on #2879
I have more information :
It works only if Image is set at creation. I choose an image and image_id is set, and after, during update, the good subject is returned, and I can update correctly.
However in my case, Image is non required, then image_id is set to null at creation. In this case, it doesn't works. During update, instead of null, image_id is set with the parent entity ID :/

For the momen

[2017-06-14 12:38] c0ntax opened #4517 "getSubject() will return null in configureFormFields() for an entity POSTed to and embedded by sonata_type_admin"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

When data is posted to an Admin that has been included via the sonata_type_admin form type, configureFormFields() appears to be run twice. The first time, $this->getSubject() will return the entity, the second time, it will return a null.

## Steps to reproduce

1. Create a parent en

[2017-06-15 05:23] Tofandel commented on #1052
use IY\PollBundle\Entity\Question;
//...
if ($this->getRoot()->getClass() != Question::class) might be more comprehensible and more flexible

[2017-06-15 15:44] jenyak opened #4518 "Error when add role to dashboard group with custom routes"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

Error when add role to dashboard group with custom routes

## Steps to reproduce
Add any role to dashboard group where items has custom route
[code]

## Expected results
no error
## Actual results

<details>
[1] Twig_Error_Runtime: An exception has been thrown during the rendering of

[2017-06-15 15:46] greg0ire commented on #4518
`get_class('my_route')`

[2017-06-15 15:57] greg0ire commented on #4518
But `get_class` has been there for more than 5 years so the problem probably lies somewhere else...

[2017-06-15 15:59] greg0ire commented on #4518
Or maybe no one ever used ACL and routes with rights together? Can you make a PR to fix `UserAclVoter.php` ?

[2017-06-15 16:00] jenyak commented on #4518
same error with stable user bundle

[2017-06-15 16:01] greg0ire commented on #4518
So yeah...

[2017-06-15 16:09] jenyak commented on #4518
Not sure but I think error in [SonataAdminBundle/Menu/Provider/GroupMenuProvider#L119](https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Menu/Provider/GroupMenuProvider.php#L119) because isGranted expected second parameter will be an object

[2017-06-15 16:12] greg0ire commented on #4518
Indeed... https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Security/Core/Authorization/AuthorizationChecker.php#L54

[2017-06-15 16:32] greg0ire commented on #4518
I discussed this on the sf slack, and the name of the parameter is wrong, it can now be any value. The `UserAclVoter` should be fixed. Can you fix it?

[2017-06-15 16:35] jenyak commented on #4518
I can't

[2017-06-16 00:06] dlespinosa365 commented on #2552
Check you sonata_services.yml. When declare you services, the second  argument is the entity linked to the service.
arguments: [~,YourBundle\Entity\Quiz, ~]

[2017-06-16 05:40] OskarStark commented on #4518
I wrapped the Stacktrace in a details block: `<details>....</details>`

[2017-06-16 05:51] OskarStark commented on #4514
any news @cipherm ?

[2017-06-16 05:52] OskarStark commented on #4500
IMO this is the expected behavior.

WDYT @greg0ire ?

[2017-06-16 05:53] greg0ire commented on #4500
Not a bug indeed, but it would be great to have a config node for this.

[2017-06-16 05:54] #4489 closed

[2017-06-16 05:55] OskarStark commented on #4395
did you fix this problem @eschultz-magix ?

[2017-06-16 05:55] OskarStark commented on #4500
or a second button?
or changing the button name when selecting some rows?

"Export" -> "Export selection" ?

[2017-06-16 05:59] OskarStark commented on #4484
can you provide a PR @jlamur ?

[2017-06-16 06:29] greg0ire commented on #4500
Exporting the selection would be another feature. Right now, it exports the current filtered page, there should be an option or a button to export all rows matching the current filter.

[2017-06-16 07:30] cipherm commented on #4514
@OskarStark
Still, this issue is pending

[2017-06-16 09:38] Jibato commented on #4493
Problem solved in release 3.19.0.

Thank you!

[2017-06-16 09:38] #4493 closed

[2017-06-16 09:40] Kaijiro commented on #4500
I agree with you @greg0ire, it is not really intuitive to have ONLY the current filtered page. Maybe we should have both export available, I don't really know how ...

[2017-06-16 12:13] Tofandel opened #4519 "Sonata_type_collection with abstract Entity and inherited children"
If you define an abstract entity with some inherited children to it :

[code]

And you have an AdminClass like this :

[code]
The problem comes with the add button for the inlined collection, while in other forms like edit => modal or a direct admin form to the shape class, you have multiple add buttons for each child class :
 - add square
 - add circle
 - ...

When in edit => inline there is only

[2017-06-16 16:18] samanmohamadi commented on #3884
I have the Same problem.
sonata-project/admin-bundle              3.19.0
sonata-project/block-bundle              3.3.2

[2017-06-16 16:32] samanmohamadi commented on #3884
and when I use configureSettings I get another error:
`Variable "block" does not exist.` from this [line](https://github.com/sonata-project/SonataBlockBundle/blob/3.x/Resources/views/Block/block_base.html.twig#L11)

[2017-06-16 19:17] jlamur commented on #4484
@OskarStark Yes sure. Could you just help me writing the deprecation message text? I don't know if I should mention a specific version of Sonata (for example, the version when Symfony <2.7 will no longer be supported, if this is planned) or anything else...

Just to be clear: The `SimpleChoiceList` class was removed in Symfony `3.0`, and is deprecated since `2.7`. The replacement class (`ArrayChoi

[2017-06-17 19:02] core23 commented on #4443
I'm getting the same error now :/

[code]

Can somebody confirm? @greg0ire @OskarStark ?

[2017-06-17 20:58] n3o77 commented on #4443
I'm getting the same, but `'choices_as_values' => true` solves it.

[2017-06-17 21:01] core23 commented on #4443
Strange bug... Just ran `composer update` again and the problem looks solved

[2017-06-18 22:11] enekochan commented on #4022
This problem still persists even Select2 v4 has been introduced with the release of 1.18.1 and 1.18.2

[2017-06-18 22:19] greg0ire commented on #4022
@enekochan even with #4512 ?

[2017-06-18 22:58] enekochan commented on #4022
Yes, I'm using 1.19.0 right now but still have the same problem.

[code]
[code]

[2017-06-19 06:10] greg0ire commented on #4022
@enekochan what do you think is happening? Is the unused input ref not removed? Or is there another hidden input that needs to be removed?

[2017-06-19 09:48] eschultz-magix commented on #4395
@OskarStark I have posted a workaround above, but it seems to be a bit hacky. Unfortunately, I needed a quick solution to get our project running again.

[2017-06-19 14:27] enekochan commented on #4022
There is an input field with `required="true"` and `style"display: none;"`, and just bellow it the actual `input type="hidden"` that stores the value that is sent with the form.

![sonata-admin-input-not-focusable](https://user-images.githubusercontent.com/1836845/27289854-afd8fa10-550b-11e7-86da-6b6f62f1d976.png)

I've tried deleting that first input (via devtools) and I get no errors, just that

[2017-06-19 14:32] greg0ire commented on #4022
Are you sure? IMO only the second should be mandatory, because it has a name

[2017-06-19 15:04] peter-gribanov commented on #4022
@enekochan i had this problem and #4512 is decided it.

[2017-06-19 15:42] enekochan commented on #4022
I'm using 3.19.0 which has that merged and still. I've created a mini symfony app that reproduces de error:

https://github.com/enekochan/sonata-model-autocomplete

If you try to create a new Business object within SonataAdmin setting a name for it but not choosing a City the error will be shown in the JavaScript console.

[2017-06-19 15:46] greg0ire commented on #4022
What about my question @enekochan ? The field that should be validated server side is the second one, isn't it?

[2017-06-19 15:49] enekochan commented on #4022
@greg0ire Sorry. Yes, I think it is, when I just deleted the first one the form was correctly validated server side.

[2017-06-19 15:53] greg0ire commented on #4022
Ok so now let's try to answer some more questions:

1. is the first input necessary for the version of select2 you are currently using?
    1. if yes, how come it is empty when you validate?
    1. if not, why wasn't it removed by the piece of code in my PR?

[2017-06-20 12:46] jenyak opened #4521 "Batch action checkboxes in ModelListType list"
### Environment

#### Sonata packages
<details>

[code]
</details>

## Subject

In `ModelListType` it is possible to select an item from the list and there are checkboxes in this list,  but the batch actions are hidden and  there's nothing you can do with those checkboxes.

![batch_action_checkboxes](https://user-images.githubusercontent.com/2803849/27332953-c3d7aa7c-55cc-11e7-8db7-4b5f8ab9a3f5.pn

[2017-06-20 15:12] core23 commented on #4521
Can you provide a PR with a fix? @jenyak

[2017-06-20 15:20] jenyak commented on #4521
@core23 Yes, I'll try

[2017-06-21 09:18] yedprior opened #4522 "DELETE button disapear in EDIT view with ajax context"
### Environment
windows 7 / Xampp

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

DELETE button disapear in EDIT view with ajax context

## Steps to reproduce
Jquery load() of an EDIT view in a modal for have this view in a popup.

## Expected results
Complete EDIT view with DELETE button in ajax context.
## Actual results
EDIT view without DELET

[2017-06-21 09:43] ahmadnawid opened #4523 "Sonata Admin filter not working in my template"
I have created my own standard template file for sonata admin. after I created an admin class for one of my data sources, the filter actions are not working?
The dropdown list is working, but the filter fields are not shown.

[2017-06-21 09:46] greg0ire commented on #4523
Hi, we try to keep Github issues for bug reports and feature requests only. If you have a question, please ask it on Stack Overflow or on #sonata on [the symfony-devs slack](https://symfony.com/slack-invite).

[2017-06-21 09:46] #4523 closed

[2017-06-21 09:47] OskarStark commented on #4523
Anyway, please add more infos to StackOverflow, otherwise no one could help you

[2017-06-22 13:28] fracsi commented on #4514
I just ran into this issue with Symfony 3.3 with the default configuration, the error came from the logger configuration (config_dev.yml):

    server_log:
        type: server_log
        process_psr_3_messages: false
        host: 127.0.0.1:9911

For me removing this section solved the problem.

[2017-06-22 21:48] blixit opened #4524 "configureDatagridFilters doesn't recognize fields from a trait"
### Environment
Linux
#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

I have an entity 'Examen' which use a trait with 2 fields (costHt and costTtc).
These fields work fine in the methods (configureListFields, configureFormFields, configureShowFields) of ExamenAdmin but raise an error while used in configureDatagridFilters().

[code]

## Steps to

[2017-06-22 22:05] blixit commented on #4524
Actually, I can overcome the problem above by adding the field type like that :
[code]
But if I try to submit the search in the filter input, I get a semantical error :
[code]
Now I don't know anymore if the problem is from doctrine or sonata.

[2017-06-22 22:12] blixit commented on #4524
The 'error' was from doctrine and was mine. The field name was converted from costHt to cost_ht. It seems that configureDatagridFilters() method work with database name while configureListFields, configureFormFields, configureShowFields accept real field names.

[2017-06-22 22:12] #4524 closed

[2017-06-22 22:20] jlamur commented on #4524
Well, I think there is two problems that have to be fixed here:

- The exception must be more verbose (something like `No mapping found for field 'costHt'`,
- The DatagridMapper/Builder should be consistent with other Builders by accepting entity fields name (and not column names).

BTW, this issue belongs to `SonataDoctrineORMBundle` repository.

[2017-06-23 07:09] fracsi opened #4525 "#4028 introduced bug in base_show.html.twig"
### Environment

#### Sonata packages

[code]

## Subject

Undefined variable (`view_group`) in [`base_show.html.twig`](https://github.com/sonata-project/SonataAdminBundle/blob/3.20.0/Resources/views/CRUD/base_show.html.twig#L47)
Introduced in: #4028

## Steps to reproduce
Configure a ShowMapper with tabs.

## Actual results

500 Internal server error:

[code]

[2017-06-23 07:33] TimoBakx commented on #4525
I think view_group.label should be show_tab.label in base_show.html.twig, line 47.

[2017-06-23 08:07] OskarStark commented on #4525
@TimoBakx are you willing to provide a PR?

[2017-06-23 08:08] TimoBakx commented on #4525
@OskarStark I'm working on it. It'll be my first PR, so I hope I'm doing this correctly.

[2017-06-23 08:10] OskarStark commented on #4525
Glad to hear that, we will support you getting it merged 👍

[2017-06-23 08:13] EmmanuelVella commented on #4525
Hey, thank you for the bug report, I just tested and fixed it here : https://github.com/sonata-project/SonataAdminBundle/pull/4526

@OskarStark Feel free to merge or close it if another PR is opened !

[2017-06-23 08:15] jlamur commented on #4525
Maybe it's time to add some functional tests?

[2017-06-23 08:15] TimoBakx commented on #4525
Just added PR #4527. I wasn't sure if the tasks are needed.

[2017-06-23 08:18] OskarStark commented on #4525
I will keep the one of @TimoBakx open, as it is his first contribution and maybe he will keep supporting us in the future, too 😃

Yes I think so

I removed the todo section for you, the PR itself looks good to me 👍

[2017-06-23 08:20] QuentinPolantis opened #4528 "Properly override template"
Hello,

First, i would like to mention that i'm using sonata admin bundle for 2 years now; and i'm very satisfied with.

In order to make it fit to some specific needs, i have overrided some templates.
For this i had to completely copy and paste the code of the sonata widget template name (template X), and replace the part which i want to be different.
If Sonata release new feature or new design o

[2017-06-23 08:21] TimoBakx commented on #4525
@OskarStark Thank you.

[2017-06-23 08:25] greg0ire commented on #4528
Overriding is what you do when Sonata is not flexible enough. The best practice is to report this lack of flexibility, and contribute something to fix it.

We are a small team, and our plans are not that detailed, sorry. Right now we are more concerned with getting next major versions out. If you want to contribute something to fix your issue, feel free to.

[2017-06-23 08:25] #4528 closed

[2017-06-23 08:27] EmmanuelVella commented on #4525
@OskarStark Sure ! 👍

[2017-06-23 09:53] #4525 closed

[2017-06-23 10:44] JonathanBaudoin opened #4530 "Disable a field with a "sonata_type_collection" reset the field"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

I'm working on an ecommerce bundle. I have an `Order` entity which contains `Transaction` entities. What I want to do is, in my back office, to add some transactions to an order. But already existing transactions must not be updatable.

## Steps to reproduce

Here's my Order#transact

[2017-06-23 13:45] Karimgasmi47 opened #4531 "Sonata show tab : 'Variable "view_group" does not exist.'"
Hi there,

Since the execution of the composer update this morning to get the sonata-project/admin-bundle (3.20.0) version, I got the following error when I try to access to 'show' views which contain tab (the others 'show' views works well :

[code]

![erreur_twig](https://user-images.githubusercontent.com/22818120/27484278-f7cdaa62-5828-11e7-80a6-286ceed0dcee.png)

I'm a very beginner of both So

[2017-06-23 14:32] jlamur commented on #4531
This has already been discussed and fixed here: #4525. Rollback to previous version or wait for the next release.

[2017-06-23 14:34] Karimgasmi47 commented on #4531
Ok thx, didn't saw it on my research

[2017-06-23 14:34] #4531 closed

[2017-06-23 20:01] blixit commented on #4524
Thank you for your quick response.

I agree with the verbose mode. It should be clearer.
Since the issue belongs to SonataDoctrineORMAdminBundle and not Doctrine, should I reopen the issue or just let it closed ?

[2017-06-23 20:06] jlamur commented on #4524
Yes, I think it would be a good idea to reopen the issue on the SonataDoctrineORMAdminBundle repository. You could even propose a fix in a pull request if you want to help make Sonata better :smiley:

[2017-06-23 20:23] blixit commented on #4524
Ok. I will reopen it.
Actually, I would have been able to propose a fix if I had a bigger understanding of the whole bundle source code. Right now it's not the case.
If you tell me what files are directly concerned by the matter, i can start to have a look because I'm also looking for a source project to contribute to.

[2017-06-24 11:59] wronan commented on #3717
Looks like while using 'editable', 'validation_groups' are not taken into consideration.
I'm facing similar issue:  got a couple of conditional groups set up (in the controller, like `protected $formOptions = ['validation_groups' => [`ValidationGroupsPicker::class, 'someMethodDeterminingGroups']]`) which are working fine. But when I change a boolean flag value on the list (basically it's a 'enable

[2017-06-24 17:05] core23 commented on #4497
Maybe have a look at this PR where the feature was introduced https://github.com/sonata-project/SonataAdminBundle/pull/4059

[2017-06-24 19:39] dmaicher commented on #4530
I'm facing exactly the same issue :cry:

[2017-06-24 20:46] dmaicher commented on #4530
After some debugging I found the issue:

https://github.com/sonata-project/SonataCoreBundle/blob/3.x/Form/EventListener/ResizeFormListener.php#L98

I have no idea why but here all forms inside a collection are removed and added back. This causes another call of `Admin::configureFormFields` for the embedded admin and this time the subject is null. Which means the fields are not disabled anymore :cr

[2017-06-24 20:55] dmaicher commented on #4530
@JonathanBaudoin I found a workaround which works in my case:

[code]

Using form events will make sure we have the correct data object available even if the form type is build again after being removed in the resizing listener.

Does this work for you?

[2017-06-26 08:16] JonathanBaudoin commented on #4530
Hi @dmaicher , thanks for your help. I try your code, but it doesn't work for me.

[code]

[2017-06-26 08:25] dmaicher commented on #4530
How does your `configureFormFields` method looks like now for the `TransactionAdmin`?

[2017-06-26 10:03] eugenekurasov commented on #4333
Hi,
It is issue for sonata-project/doctrine-orm-admin-bundle

https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/3.x/Model/ModelManager.php#L512
`
$query->addOrderBy($query->getSortBy(), $query->getSortOrder());
`
getSortOrder - return empty string and generate wrong SQL.

[2017-06-26 11:16] eugenekurasov commented on #4333
One more.
I think you miss primary key or disabled sorting by primary key.
https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Datagrid/Datagrid.php#L161 - and he don't pass by condition.
By the commits I found, I can assume - This condition need for denied sort by invisible fields. So if you miss primary key or disabled sort by primary key you will be have exception on export.
I hope thi

[2017-06-26 15:59] PapsOu opened #4533 "Validation in edit:inline, inline:table"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

Inline Validation and « show_form_first_tab_with_errors » doesn't work when a sonata_type_collection is edit:inline and inline: table

Result when using inline:table
![20170626-175035](https://user-images.githubusercontent.com/5792207/27548108-35224f78-5a98-11e7-8c8c-564f778e86bd.png

[2017-06-26 18:41] dmaicher commented on #4517
This seems related to the cause for https://github.com/sonata-project/SonataAdminBundle/issues/4530

Using a form event listener should also work in this case?

[2017-06-26 20:42] eugenekurasov commented on #4333
I added example code with exception in pull request (https://github.com/sonata-project/SonataDoctrineORMAdminBundle/issues/696)

[2017-06-27 09:14] Tofandel commented on #2876
Nope this doesn't fix it.

[2017-06-27 09:40] ceesvanegmond commented on #3916
@greg0ire Any workaround on this?

[2017-06-27 09:47] greg0ire commented on #3916
No.

[2017-06-27 10:13] OskarStark commented on #2876
@Tofandel can you elaborate or do you have a fix which you could provide in a PR?

[2017-06-27 10:26] Tofandel commented on #2876
Well, there is still the same Add button in inline (so no dropdown) and so it's still throwing the same error: Cannot initialize abstract class.
I tried a lot of things and I can't find a way to get the dropdown, so the only thing that does work is displaying it in a modal.

I also have an issue with my sonata_entity_collection, once it has childrens, it's not displayed correctly on the page :
![i

[2017-06-27 14:46] Tofandel commented on #4236
@lalop I encountered the same problem and addChild is indeed not called that's because the property is called children and sonata (or Doctrine, IDK which one is making the call) isn't clever enough to call addChild, it only tries to remove the last 's' and call the corresponding method, so in that case there is no 's' so you should rename your addChild to addChildren even if that's not correct eng

[2017-06-27 16:16] jlamur commented on #3916
@ceesvanegmond I'm currently working on providing a PR for this feature (nested child admins). I already did it for a business project. I only need the agreement of my company to publish the feature and a little bit of time to clean the code and write a PR. Stay tuned!

[2017-06-27 21:22] idchlife commented on #1023
It's the real question, yes. How to implement choice in list fields with editable => true.
With custom template there should be JS which will make api (also customly written) request and update field in html accordingly, yes?

[2017-06-27 21:30] ceesvanegmond commented on #3916
@jlamur I'm glad to help out! 👍

[2017-06-28 06:18] #4333 closed

[2017-06-29 09:01] dmaicher commented on #4533
I can confirm this bug :cry: Having the same issue on one of my Admins.

[2017-07-01 00:26] quiquegarcia commented on #2366
@npotier PR please!

[2017-07-01 09:48] ahmadnawid opened #4535 "Filter admin class based on three database entities - three level filtering"

[2017-07-01 09:50] #4535 closed

[2017-07-01 17:05] jxamorro opened #4537 "after update to 3.20.1 no work CKEditor"
#### Sonata packages
sonata-project/admin-bundle              3.20.1 The missing Symfony Admin ...
sonata-project/block-bundle              3.3.2  Symfony SonataBlockBundle
sonata-project/cache                     1.0.7  Cache library
sonata-project/core-bundle               3.4.0  Symfony SonataCoreBundle
sonata-project/datagrid-bundle           2.2.1  Symfony SonataDatagridBundle
sonata-project/

[2017-07-01 17:27] greg0ire commented on #4537
Do you have any js errors?

[2017-07-01 17:31] jxamorro commented on #4537
yes
i have this js error:
Error: [CKEDITOR.resourceManager.load] Resource name "default" was not found at "http://myurl/bundles/ivoryckeditor/styles.js?t=G87E".  ckeditor.js:236:80

[2017-07-01 17:32] greg0ire commented on #4537
And do you have any 404 in the network tab?

[2017-07-01 18:10] jxamorro commented on #4537
i have downgraded and i have updated again and it works well now.
i suppose that the before update had errors in assets install.
i close the issue.
thanks greg0ire for help!

[2017-07-01 18:10] #4537 closed

[2017-07-03 06:25] mmucklo opened #4538 "Documentation update - symfony 3.3 sets all services to public: false"
Documentation update:

symfony 3.3+ is defaulting all services to public: false (see configuration sample below)

From: [https://github.com/symfony/symfony-standard/blob/3.3/app/config/services.yml](https://github.com/symfony/symfony-standard/blob/3.3/app/config/services.yml)
[code]

So the following documentation needs to be updated:

[https://sonata-project.org/bundles/admin/3-x/doc/getting_star

[2017-07-03 06:26] greg0ire commented on #4538
@mmucklo , can you make a PR?

[2017-07-03 06:28] OskarStark commented on #4538
Please fix the generate:admin command too

[2017-07-03 06:42] npotier commented on #2366
@quiquegarcia thanks for your feedbacks. I'll make a PR soon 😄

[2017-07-03 07:07] mmucklo commented on #4538
I worked on a patch, but I'm pretty sure it breaks the unit tests (due to the generate:admin change).

I'm seeing if it's easy to run PHPUnit after doing a plain composer install.  If it's not I head to bed, sorry.

Update: it's not - I'll have to figure it out later.

 I know there's a balance between trying to ensure quality PRs versus ease of contributing changes back - it seems to be tilted a

[2017-07-03 12:53] Selion05 opened #4539 "getParent() getParentFieldDescription returns null"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject
[code]

In the ChildAdmin on the xmlHttp request from the ParentAdmin  I can't get the parent information.. getparent() gerParentFieldDescription() returns null.

If i change sonata_type_model to sonata_type_admin I'm able to get the parentFieldDescription but getParent() still return

[2017-07-03 23:50] mmucklo commented on #4538
@greg0ire Okay PR done...

[2017-07-04 17:06] #4538 closed

[2017-07-04 20:03] jlamur commented on #3916
PR open here: #4542.

[2017-07-04 21:00] vyshkant opened #4543 "The problem with Doctrine ORM Class Table Inheritance in nested forms"
### Environment

<details>
<summary>Sonata packages</summary>

[code]
</details>

<details>
<summary>Symfony packages</summary>

[code]
</details>

<details>
<summary>Doctrine packages</summary>

[code]
</details>

<details>
<summary>PHP version</summary>

[code]
</details>

## Subject

Suppose that we need to describe at the database level and administer using `SonataAdminBundle` the following da

[2017-07-05 11:10] #4484 closed

[2017-07-06 14:45] UnDeleteRU opened #4545 "Admin create new entity after ModelManagerException instead of update existing entity"
#### Sonata packages

[code]

## Subject
If in moment of entity update happens sql error (in our case doctrine throws Doctrine\DBAL\Exception\UniqueConstraintViolationException), admin edit page shows with error and form, but form have url of creating new objet instead of edit.
Method Sonata\AdminBundle\Controller\CRUDController->editAction

## Steps to reproduce
Make Admin class inherited from Ab

[2017-07-09 00:41] gremo commented on #4290
@osavchenko please look at #4548 for a PR.

[2017-07-09 16:38] vyshkant commented on #4543
Any ideas about this? Maybe I'm doing something wrong?

What is the expected behavior on my case? How should the target entity choice possibility be shown? Should it be the radio button, or dropdown, or something like the provider selection window in `SonataMediaBundle`?

[2017-07-10 10:30] jlamur opened #4549 "BC Break #4405 - FormMapper doubles '__'"
As mentionned in my comment here https://github.com/sonata-project/SonataAdminBundle/pull/4405/files#r126384740, field names containing **__** (two underscores) now get transformed to **____** (four underscores). This was not the case before this pull request and must be fixed.

[2017-07-10 13:19] verheyenkoen opened #4550 "Option choice_translation_domain is ignored for expanded choice filters"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

When you add a choice filter with options `expanded` set to `true` and `choice_translation_domain` set `false` in the `configureDatagridFilters` method of a sonata admin, like so:

[code]

... no missing translation errors should be produced.

Instead, Symfony reports missing transla

[2017-07-11 13:52] acidjames commented on #3757
Hi,

i've been taking back on @Leouarz project, he left our company last year.

Strangely enough, the issue is still there :
[code]
So i'm using all latest stable versions here.

I've noticed the code of the checkbox gets a property change after page has loaded :

`<input type="checkbox" name="idx[]" value="13" style="position: absolute; opacity: 0;">`

opacity gets set to 0... why ? i have no ide

[2017-07-11 13:54] greg0ire commented on #3757
I think iCheck is here to have "nice" checkboxes. It probably does so by making the old checkboxes and creating fake but beautiful checkboxes. Can you check if you have any JS errors?

[2017-07-11 13:55] greg0ire commented on #3757
Also, you can check if you have the same issue as @Nightbr , maybe ?

[2017-07-11 14:00] acidjames commented on #3757
Thanks @greg0ire i finally pinpointed it ! Your tip to check console errors got me somewhere :

![image](https://user-images.githubusercontent.com/2505667/28071979-d71696e4-6651-11e7-9edb-d373a73eb95f.png)

the CSS wasn't loading correctly, apparently, iCheck hides standard inputs to decorate with it's ony beautiful checkboxes...

my config.yml was pointing to a deprecated CSS theme :

[code]

Thi

[2017-07-11 14:04] greg0ire commented on #3757
Great!

[2017-07-11 14:04] #3757 closed

[2017-07-11 19:20] VadMat commented on #2909
Hi everybody, is this solved? I'm having this issue with sonata_type_collection.

I have Sonata 3.20.1 and I still getting multiple inputs when I click add button. (Is strange, but always is the childs entity quantity  +1)

[2017-07-11 19:55] jlamur commented on #2909
This issue should be solved by #2892. If you still have the same bug, could you please open another issue with relevant code?

[2017-07-12 13:30] GGGGino opened #4552 "Get $list property in Sonata\AdminBundle\Admin\AbstractAdmin"
Hi, I want to override Sonata\AdminBundle\Admin\AbstractAdmin::buildList method but i can't because when i copy the method in the child class, it throws "Undefined property" $list.
In fact $list is a private property and the getList method call a buildList, crashing everything.

Is there another way to override, or there is a need to create a getter/change the visibility to the $list property?

Ge

[2017-07-12 13:33] OskarStark commented on #4552
Why do you want todo this?

[2017-07-12 13:33] greg0ire commented on #4552
The API is closed on purpose, see http://fabien.potencier.org/pragmatism-over-theory-protected-vs-private.html

[2017-07-12 13:37] jlamur commented on #4552
I also needed to do this this because I wanted to change the `ListMapper` class. But I suppose there is a lot of other cases where this is needed.

I didn't found an other way than using Reflection.

[2017-07-12 13:49] greg0ire commented on #4552
A solution with no reflection is to just copy the `$list` field and all methods that access it.

But the best thing would be to expose why you need to do it, and to contribute a custom extension point just for that. In your case @jlamur , that would be a `getListMapperClass()`, but that might not even the best solution, because we don't even know *why* you want to override this class in the first

[2017-07-12 13:56] jlamur commented on #4552
@greg0ire It's not the point of this issue, but I needed to override it for nested tabs, nested groups, empty groups (`col-md-X` divs), etc..  that I implemented in my new `ListMapper`... So yes a `getListMapperClass()` method would have been great! 👍

[2017-07-12 13:57] greg0ire commented on #4552
Ok, well... likewise, OP needs to explain what he is trying to achieve, because there might be another solution that could benefit to many other users.

[2017-07-12 14:02] GGGGino commented on #4552
My need is to override the "ListMapper" in order to be able to show or not show columns depending the logged in user and the related entity(acl field access).
And I would like to check this in the ListMapper::add.

[2017-07-12 14:07] jlamur commented on #4552
@GGGGino It should be doable by overriding the `ListBuilder` instead.

[2017-07-12 14:07] greg0ire commented on #4552
Possible solution: introduce a private field `$listMapperClass` (let's avoid exposing yet another method if we don't need to), and add an optional argument to the abstract admin constructor. And of course use that field when creating the list mapper.

[2017-07-12 14:09] greg0ire commented on #4552
Anyway, not a bug. Closing.

[2017-07-12 14:09] #4552 closed

[2017-07-12 16:07] PapsOu opened #4553 "sonata_type_collection on front, distinguish new items"
How can we detect that in a sonata_type_collection (edit:inline, inline: table|standard) a new item has been added via click on button « add item » ?

Here the example :
![20170712-180256](https://user-images.githubusercontent.com/5792207/28127311-5e911916-672c-11e7-9278-f06ceb610813.png)

The second table row has been added with the sonata add button but there is nothing than we can use (in js) t

[2017-07-12 16:12] greg0ire commented on #4553
Hi, we try to keep Github issues for bug reports and feature requests only. If you have a question, please ask it on Stack Overflow or on #sonata on [the symfony-devs slack](https://symfony.com/slack-invite).

[2017-07-12 16:12] #4553 closed

[2017-07-12 16:13] verheyenkoen commented on #4550
The same error occurs for form fields (not in admin filter). The bug is a little more complicated as it needs 2 twig fixes I think. Not sure if we should open a new issue for that.

[2017-07-12 16:15] greg0ire commented on #4550
`choice_translation_domain` was introduced "recently", right? Not sure if it's an error or a failure to update. Can you determine when it was introduced, and how the native choice field from sf template evolved?

[2017-07-12 16:49] verheyenkoen commented on #4550
Was introduced in Symfony 2.7.

I guess all the related changes are in this commit: https://github.com/symfony/symfony/commit/52755ba26d59057bc5642fb97df9454457d06df9.

Sonata has a lot more twig code than that (just for expanded mode) and also different templates for filter fields vs form fields.

[2017-07-12 17:15] martixy opened #4554 "What does the "identifier" field option do?"
#### Sonata packages
[code]
#### PHP version

[code]

## Subject
I was reading [here](https://sonata-project.org/bundles/admin/3-x/doc/reference/action_list.html). Either I am misunderstanding what the identifier property does, it doesn't do what it says it does.

As I understood it, if set to true it will create a link to edit the associated object(if it has an admin). But it always creates a lin

[2017-07-12 21:06] greg0ire commented on #4554
What do you mean by that?

[2017-07-12 21:10] greg0ire commented on #4550
I think it was introduced a bit earlier, in https://github.com/symfony/symfony/pull/13651/files . The logic is quite natural: use `choice_translation_domain` if defined and not false, otherwise use whatever was used before. Would you be willing to contribute this?

[2017-07-12 22:02] verheyenkoen commented on #4550
I'll try. I was already trying to prove the bug in a unit test. I can do this for the `choice_translation_domain=false` scenario, but not for the `choice_translation_domain='some_custom_domain'` (also broken), as the rendered result would be the same as with the default domain (messages).

[2017-07-13 05:06] OskarStark commented on #4554
Entity Post with id and name property

If you use ->addIdentifier('name') it links to the Post-Edit, it has nothing todo with referenced entities. You could also add ->addIdentifier('id') **AND** ->addIdentifier('name'), in this case you could remove the list action for edit to save some space if you want

[2017-07-13 07:45] PapsOu commented on #4553
Ok it was for finding a workaround for a annoying bug : https://github.com/sonata-project/SonataAdminBundle/issues/4348

[2017-07-13 08:43] verheyenkoen commented on #4550
I think I could inherit from `Symfony\Bundle\FrameworkBundle\Tests\Templating\Helper\Fixtures\StubTranslator` and add the translation domain to the annotation (when different than 'messages'), eg.: `[trans|my_custom_domain]translation.id[/trans]`. Then I would be able to prove the other bug I guess.

[2017-07-13 08:53] jlamur opened #4556 "Child admins entities are accessible from any parent admin entities."
## Subject

When editing a child (or on any other child route) if you change the parent id there's no error.

In fact, there have never been any check that the child belong to the parent.

My first thought was this is a security issue due to the scope of this bug. I discussed with @greg0ire about it and we finally agreed that it is not.

[2017-07-13 08:54] greg0ire commented on #4556
Still, getting a 404 for that would be nice.

[2017-07-13 09:45] martixy commented on #4554
Right... so this is tied to the addIdentifier method. Which makes me question its existence at all.

`->addIdentifier('name')`
and
`->add('name', null, ['identifier' => false])` (or `['identifier' => '']` for that matter)
are identical - i.e. it doesn't respect the value of the property, it just looks for its presence or absence.

The wording in the documentation I linked is also incredibly poor.

[2017-07-13 09:53] greg0ire commented on #4554
I wasn't even aware this option existed. I guess it is does nothing, we should deprecate it, or make it treat falsy values by not adding a link.

Can you contribute something about that?

:+1: Great idea! Can you contribute it, but with a deprecation instead of a removal?

[2017-07-13 14:42] martixy commented on #4554
I'm new to the "contributing" scene. So don't know... maybe. I don't even know where the documentation lives.

[2017-07-13 14:48] greg0ire commented on #4554
It lives in `Resource/doc`, and you can read CONTRIBUTING.md in this repo, contributing to the docs or code is described at length in it.

[2017-07-14 14:19] jlamur opened #4558 "Improve FieldDescription options."
## Subject
At the moment, `FieldDescription` options are used on-the-fly by templates.
It could be great to have an `OptionsResolver` to parse these options.

### Benefits
All the benefits of using an `OptionsResolver` ([list options](https://stackoverflow.com/questions/40421034/how-do-i-know-what-options-are-available-as-3rd-argument-of-listmapper-add-in/40566437), require them, default values, v

[2017-07-14 15:20] greg0ire commented on #4558
I think it's a great idea, not sure why it wasn't done like that in the first place. Maybe the options resolver wasn't that well known at the time?

[2017-07-15 04:39] marvoh opened #4559 "Unable to open /admin/dashboard"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

Things just went haywire and cannot put a finger to what is happening. Whenever I try to open /admin/dashboard, the first three characters of the url are removed so browser ends up looking for in/dashboard and the resulting error is as below:

No route found for "GET in/dashboard"

[2017-07-15 08:04] core23 commented on #4559
We try to keep github issues for feature requests and bugs only.

Please have a look at the [docs](https://sonata-project.org/bundles/) or use [StackOverflow](http://stackoverflow.com/questions/tagged/sonata) for general support and questions.

[2017-07-15 08:04] #4559 closed

[2017-07-18 13:25] Zortor58 opened #4561 "cyclic"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

## Steps to reproduce

## Expected results

## Actual results

[2017-07-18 13:28] greg0ire commented on #4561
?

[2017-07-18 14:08] Soullivaneuh commented on #4561
Closing due to empty issue content.

Feel free to open a new one with content this time.

[2017-07-18 14:08] #4561 closed

[2017-07-19 08:35] devkbsc opened #4562 "Entity relation field is not working"
Hello, I am using sonata admin in project. I have created my forms by adding enitites. But When i reference a another entity for a field in another entity. It does n

### Environment - Windows 10

#### Sonata packages
        "sonata-project/admin-bundle": "^3.20",
        "sonata-project/doctrine-orm-admin-bundle": "^3.1"

[code]

#### Symfony packages

[code]

#### PHP version
[code]

## Subject

[2017-07-19 08:39] greg0ire commented on #4562
Hi, we try to keep Github issues for bug reports and feature requests only. If you have a question, please ask it on Stack Overflow or on #sonata on [the symfony-devs slack](https://symfony.com/slack-invite).

[2017-07-19 08:39] #4562 closed

[2017-07-19 12:41] dimonise opened #4563 "Empty Dashboard"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

I'm trying to set up AdminBundle. I do everything according to the documentation. Errors do not produce. In the Dashboard - empty

## Steps to reproduce

## Expected results

## Actual results

[2017-07-19 19:06] mimez commented on #3902
I can confirm this issue. I got the same error. After setting handler_id: to ~ it works.

[2017-07-20 09:24] jxamorro opened #4565 "Menu with option on_top no add the css class active never."
#### Sonata packages

sonata-project/admin-bundle              3.20.1 The missing Symfony Admin Generator
sonata-project/block-bundle              3.3.2  Symfony SonataBlockBundle
sonata-project/cache                     1.0.7  Cache library
sonata-project/core-bundle               3.4.0  Symfony SonataCoreBundle
sonata-project/datagrid-bundle           2.2.1  Symfony SonataDatagridBundle
sonata-p

[2017-07-20 13:57] PapsOu commented on #4533
Any news about this bug ?

[2017-07-20 14:00] covex-nn commented on #3629
@SukachVitally @florentdestremau phone number is instance of `libphonenumber\PhoneNumber`. This class has `__toString` method, which returns not formated debug information about object's properties

* https://github.com/giggsey/libphonenumber-for-php/blob/master/src/PhoneNumber.php

I have formated phone number with `temlate`:

[code]

Template `:CRUD:phoneNumber_list_field.html.twig` contents:

[

[2017-07-24 13:48] fliespl opened #4568 "Different translation domain when using on_top: false / true"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject
Declaring sonata service group uses different domains depending if on_top is set or not:
            `- { name: sonata.admin, manager_type: orm, group: sonata_group.news, icon: "<i class='fa fa-newspaper-o'></i>" }` -> searches in **SonataAdminBundle** Domain
            `- { name: so

[2017-07-24 14:54] jlamur commented on #4568
Hello @fliespl thank you for reporting this bug.
Could you write a PR to fix this behaviour?

[2017-07-24 17:53] dmaicher commented on #4533
I found the problem and proposed a fix here: https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/706

[2017-07-24 21:03] vyshkant opened #4569 "AbstractAdmin::hasSubject returns false while AbstractAdmin::getSubject returns an object"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

The `AbstractAdmin::hasSubject` method returns `false`, and the `AbstractAdmin::getSubject` method returns an object at the same time.

So we have next collision:

[code]

## Steps to reproduce

1. Create `SomeAdmin` class as shown above.
2. Create `SomeChildAdmin` class, which is a

[2017-07-24 21:29] jlamur commented on #4569
Hello @vyshkant. Thank you for reporting this issue.
A pull request is already created to fix this problem here: #4536.

Please feel free to help by reviewing it.

[2017-07-25 15:12] #4533 closed

[2017-07-26 05:35] johndev182 opened #4570 "Symfony Sonata OneToMany, Sum or Total of a field is not showing in the Admin List"
I have 2 entities, Client and Campaign.

[code]

[code]
Problem: How do I get the sum of all numberOfBid and show it as 1 column in the Client Admin List Board? On the method configureListFields, I tried different ways like using sonata_type_model, doctrine_orm_callback, query but still didn't work.

[code]

Hoping for your feedback.

Thanks in advance.

[2017-07-26 06:11] greg0ire commented on #4570
Hi, we try to keep Github issues for bug reports and feature requests only. If you have a question, please ask it on Stack Overflow or on #sonata on [the symfony-devs slack](https://symfony.com/slack-invite).

[2017-07-26 06:11] #4570 closed

[2017-07-28 13:01] wodka opened #4574 "Cannot remove Admin from global search"
## Subject

I want to remove some admins from the global search (right now I'm doing this by overriding the Core:search.html.twig template)

in my opinion to following should work:

* set all filters to global_search => false
* have an option / tag in admin to disable display in global search

## Steps to reproduce

add 'global_search' => false to all filters of admin

## Expected results

admin s

[2017-07-29 10:07] crifi opened #4575 "Select filter attribute impossible if you have many attributes in datagrid filter"
#### Sonata packages
sonata-project/admin-bundle              3.20.1                                The missing Symfony Admin Generator
sonata-project/block-bundle              3.3.2                                 Symfony SonataBlockBundle
sonata-project/cache                     1.0.7                                 Cache library
sonata-project/core-bundle               3.4.0

[2017-07-31 09:45] johndev182 commented on #1662
I encountered this error as well. Any updates on this?

[2017-07-31 10:01] jlamur commented on #1662
@johndev182 Could you please provide a stack trace and the list of your packages / versions installed ?

[2017-08-01 17:00] Webonaute opened #4578 "limit ACL per group strategy"
### Environment
Symfony 3.2

#### Sonata packages
SonataAdminBundle
SonataUserBundle
FosUser

#### PHP version
7.1

## Subject

In the CRUDController, there is a this->getAclUsers(). In our case, we have 6 millions user. This action doesn't make sense. I dont have to say we go out of memory really fast and kill the db server on this request. We want to set ACL only per group. than assign user to g

[2017-08-04 12:14] LMSzor commented on #3950
@ju1ius Whats the point of having a limited functionality? If we are able to not-expand and group options, we should also be able to expand and group them. I've just encountered this problem and its confusing, that I actually use these options in a combo.

[2017-08-04 12:35] LMSzor commented on #4514
Have You actually tried the solution given in exception message? Setting the "property" value for admin FormMapper?

[code]

[2017-08-08 14:39] Yessine-abid commented on #4299
Error symfony 2.8 page_bundle in sonata bundle
when i execute this command the created site functions normally php app/console sonata:page:create-site but when i create it with the graphical interface it shows me this error

Stack Trace in vendor/doctrine/common/lib/Doctrine/Common/Util/ClassUtils.php at line 58 -

[code]

https://github.com/sonata-project/SonataPageBundle/issues/847

[2017-08-11 13:19] nerdusMaximus opened #4593 "Show Action with FormType::class fields"
### Environment

#### Sonata packages
sonata-project/admin-bundle              3.20.1
sonata-project/block-bundle              3.3.2
sonata-project/cache                     1.0.7
sonata-project/core-bundle               3.4.0
sonata-project/datagrid-bundle           2.2.1
sonata-project/doctrine-orm-admin-bundle 3.1.6
sonata-project/exporter                  1.7.1

#### Symfony packages

symfony/

[2017-08-15 17:33] ejkun opened #4598 "KnpMenu - Empty translation domain if on_top is true"
This [if statement](https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Resources/views/Menu/sonata_menu.html.twig#L28) checks if `on_top` is `false`. So, if `on_top` is true, the `translation_domain` will not be defined and the field label will not be translated.

Shouldn't this piece of code:
[code]

Be like this?
[code]

I tested it locally and it works. If this is indeed a problem, th

[2017-08-15 17:40] ejkun commented on #4568
I have encountered the same problem. #4598
Didn't see this issue before opening the other one. I will make a PR, based on my solution.

[2017-08-15 18:31] virtualint opened #4600 "Sonata admin CollectionType::class does not show collections"
### Environment

Operating System: Ubuntu 16.04
Php: Php-fpm7.1
Server: Nginx

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version
[code]

## Sonata admin CollectionType::class is not working as sonata_type_collection

When I am trying to use Sonata Admin following code,

[code]

Collections are not listed on admin page, before I was using sonata_type_collection instead o

[2017-08-16 06:04] #4568 closed

[2017-08-16 06:04] #4598 closed

[2017-08-16 13:36] wodka commented on #4475
@mvhirsch can you check if your problem from https://github.com/sonata-project/SonataAdminBundle/pull/4429 is still solved?

[2017-08-16 15:46] davidromani opened #4603 "Missing translations after 3.21.0 upgrade"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

After updating sonata-project/admin-bundle from v3.17.0 to v3.21.0 I missed all of my custom translations. Before upgrade it, same translations were working well.

## Steps to reproduce

[code]

[code]

## Expected results

A translated label with text "Llegit" in header table (list

[2017-08-17 16:03] virtualize commented on #4603
I can verify this. Setting labels in **List View** is not possible anymore since v3.21.0. I downgraded to v3.20.1 and there its works flawlessly.

[2017-08-17 16:46] jlamur commented on #4603
Hello @davidromani @virtualize,

Thank you for your feedback.

This is a known bug that was introduced in `SonataAdminBundle v.3.21.0`.
It has been fixed [here](https://github.com/sonata-project/SonataAdminBundle/pull/4602) but it is not released yet.

As suggested by @virtualize you can downgrade to `v.3.20.1` and wait for the next release to be published.

[2017-08-17 17:15] davidromani commented on #4603
thanks @jlamur

[2017-08-17 17:15] #4603 closed

[2017-08-18 05:11] OskarStark commented on #4603
I asked for a release internally

[2017-08-18 13:58] Kalyse commented on #4497
@mmucklo  https://github.com/sonata-project/SonataAdminBundle/pull/4059/files#r133965341

[2017-08-18 14:24] Kalyse commented on #4497
I just added the following:

On Load
![vr_332](https://user-images.githubusercontent.com/199760/29463082-51d5727a-8429-11e7-971d-9a76ce7b6172.png)

![vr_331](https://user-images.githubusercontent.com/199760/29463085-54a61d7e-8429-11e7-9bd0-69cda841ad42.png)

[code]

[2017-08-18 14:32] core23 commented on #4497
Can you provide a PR if you find a solution @Kalyse

[2017-08-18 16:13] lukasz-zaroda opened #4609 "ContextErrorException when using composite foreign primary key"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### Doctrine version

[code]

#### PHP version

[code]

## Subject

I have an entity with composite foreign primary key (this is important):
[code]

And an admin class:

[code]

## Steps to reproduce

1. Have no "Course" entities in the database.
2. Go to form creating `StudentCourse` entity and submit it with an empty

[2017-08-18 16:14] jlamur commented on #4609
Please add the full stacktrace of your error @lukasz-zaroda

[2017-08-18 16:17] lukasz-zaroda commented on #4609
[code]

There is also this Twig error runtime but this is only a consequence of the above.

[2017-08-18 18:42] davidromani commented on #4603
@OskarStark It would be great a new release, I've several projects in production with same problem and it's quite cumbersome to manage and to keep same version in all of them.

[2017-08-18 18:49] jlamur commented on #4603
@davidromani if you add your `composer.lock` to your version control system, you probably won't have this problem.

[2017-08-19 06:55] ioweb-gr commented on #4519
I'm having the same behavior as well with a `One-To-Many` association when using inline edit.

@Tofandel  if you manually add one item to the collection. Do you get the same error then? I've noticed that it would show me two `add new` buttons and the form displayed if I manually created an item in the DB on the 'Many' side and associated it with my `One` side

In addition modal way will also fail

[2017-08-19 14:23] jlamur commented on #4603
@davidromani The fix is released: [3.22.0](https://github.com/sonata-project/SonataAdminBundle/releases/tag/3.22.0)

[2017-08-19 16:04] soullivaneuh opened #4611 "Framework form themes should not be used as default"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

If you use and define custom form fields for your front app, admin bundle will also use it.

It should not, or at least, should be deactivated by default.

## Steps to reproduce

Use some custom form themes:

[code]

## Expected results

Should not be used and gives a normal form:

!

[2017-08-19 16:18] greg0ire commented on #4611
Not a bug I'm afraid...

[2017-08-19 16:20] jvasseur commented on #4611
This is currently impossible to do in symfony, the only solution is to redefine blocks in the sonata form theme to prevent the form rendering to use the ones defined globally.

What we need is https://github.com/symfony/symfony/pull/22610, but it's not merged yet.

[2017-08-19 16:25] Soullivaneuh commented on #4611
This is still a bug as Sonata admin is strongly independent according to theme templating.

Let's keep it opened waiting symfony/symfony#22610.

Thanks @jvasseur for the link.

What are the possible options waiting that?

[2017-08-19 17:21] greg0ire commented on #4611
`form_themes` are meant to do application-wide customizations, so no, this is not a bug since people might want to use just that to customize forms that are part of the admin.

[2017-08-19 17:39] Soullivaneuh commented on #4611
This is why I said "at least, it should be optional".

Currently, if a developper use custom form theme for, by example, materialize-css and then want to integrate admin-bundle, he would have to review all the application.

We can't say that sonata-admin is a simple bundle, it's near a full app itself.

BTW, we can specify form themes with sonata config. So why we can't make it exclusive? In this

[2017-08-19 18:36] Soullivaneuh commented on #4611
Waiting the proper way, I found an ugly but not that much workaround.

Create your own `TwigRendererEngine` extending the base one, and permit to change the `defaultThemes` property with a setter:

[code]

Replace the service class by your own using compiler pass:

[code]

Finally, create a service listener or subscriber binding the request and set only the base form theme if the route is matching

[2017-08-19 20:29] jvasseur commented on #4611
@Soullivaneuh I was thinking of a similar solution, with 2 differences :
 - Use reflexion (or a Closure) to modify the `defaultThemes` property instead of redefining the service (it's a hack anyway, why not hacking our way into the service).
 - Reset the `defaultThemes` inside the [setFormTheme](https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Controller/CRUDController.php#L1395) metho

[2017-08-21 09:15] axzx opened #4614 "Wrong translation of links in the side menu"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject
After the recent changes are not translated links in the side menu.

Related PR:
#4601

Related commits:
2c4e0ba3a8348290c9f3dd45159b0319536c9e3b
bcdc4f7a0a8c735f87d48d57725e5f24676c665a

## Steps to reproduce
I define the service this way:

[code]

## Expected results
In menu: "Konto

[2017-08-21 09:17] OskarStark commented on #4614
Is it related to: https://github.com/sonata-project/SonataAdminBundle/pull/4601 ?

[2017-08-21 09:24] axzx commented on #4614
yes

[2017-08-21 09:26] OskarStark commented on #4614
Does #4601 fixes your problem?

[2017-08-21 09:28] axzx commented on #4614
yes
;)

[2017-08-21 10:00] peter-gribanov opened #4615 "The field labels in list is broken"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

After updating to the latest version i found that the field labels in list are broken.

## Steps to reproduce

Example admin class

[code]

## Expected results

In `sonata-project/admin-bundle 3.20.0`

![image](https://user-images.githubusercontent.com/1954436/29513924-6507a47e-866f-

[2017-08-21 14:12] peter-gribanov commented on #4615
@axzx the problem not in a encoding.
1. I use UTF8.
2. Result is broken only if i change a version of `SonataAdminBundle`.

This code worked for 2 years until your update came out.

[2017-08-21 14:29] peter-gribanov commented on #4615
![image](https://user-images.githubusercontent.com/1954436/29522989-04c63664-8694-11e7-9116-0bfe78772ce2.png)

If i change labels

[code]

then i see this

![image](https://user-images.githubusercontent.com/1954436/29523240-0bd9f804-8695-11e7-879d-5653cd5f4f81.png)

If i move labels to translation file

[code]

[code]

[code]

I see this:

![image](https://user-images.githubusercontent.com/1954436

[2017-08-21 19:22] lukasz-zaroda opened #4616 "I'm unable to make Sonata work with nested entities, could anyone help?"
I'm not sure if it's some sort of bug or not, but I have serious problem with making it working, I must missing some important detail, that I couldn't find reading documentation and a lot of issues here.

## Setup

My Entities:

[code]

[code]

[code]

As you can see I'm also using `VichUploaderBundle` but I think it's irrelevant here.

Next are my admin classes:

[code]

[code]

[code]

And my re

[2017-08-21 20:33] axzx commented on #4615
I have tested your configuration and it works fine for me.

![bez nazwy](https://user-images.githubusercontent.com/1436016/29537102-b3a56fb6-86c0-11e7-8914-096661f9280e.png)

[2017-08-21 20:34] axzx commented on #4615
In `messages.ru.yml` should be:

[code]

[2017-08-21 20:37] peter-gribanov commented on #4615
No. In `messages.ru.yml` should be:

[code]

[2017-08-21 21:31] jlamur commented on #4615
@peter-gribanov Could you please check if this PR https://github.com/sonata-project/SonataAdminBundle/pull/4617 fixes your issue?

[2017-08-22 07:37] peter-gribanov commented on #4615
@jlamur Unfortunately this did not fix the problem. Label breaks somewhere before.

![image](https://user-images.githubusercontent.com/1954436/29553865-c34e80a0-8725-11e7-8bad-453bd7d6d7c6.png)

[2017-08-22 08:01] OskarStark commented on #4615
@peter-gribanov do you use a different naming strategy than the default one?

can you check if it works fine with the default naming strategy?

[2017-08-22 08:03] peter-gribanov commented on #4615
The problem in `LabelTranslatorStrategy`:

[code]
![image](https://user-images.githubusercontent.com/1954436/29554848-5a910cc8-8729-11e7-9404-c8463338f3c1.png)

@OskarStark I did not change the naming strategy.

[2017-08-22 08:05] peter-gribanov commented on #4615
@OskarStark

[code]

[2017-08-22 08:18] peter-gribanov commented on #4615
@OskarStark It looks like it's still something on my side

[code]

![image](https://user-images.githubusercontent.com/1954436/29555501-88009078-872b-11e7-8a5d-272c8358fcb4.png)

[2017-08-22 08:21] OskarStark commented on #4615
Sounds interesting 🤔

[2017-08-22 08:54] peter-gribanov commented on #4615
I think that the problem with the locale.

[code]

[code]

But it's strange, because in `sonata-project/admin-bundle 3.20.0` everything is fine.

@OskarStark did you change the default naming strategy?

[2017-08-22 09:16] OskarStark commented on #4615
No we didn't change anything related to the naming strategy.

We name everything here: https://github.com/sonata-project/SonataAdminBundle/releases

[2017-08-22 09:23] lukasz-zaroda commented on #4616
Oh, I think I got it, I changed `$educational_file` property of my `EducationalFile` entity into `$educationalFile`, then I changed `$formMapper->add('educational_file', 'file');` into `$formMapper->add('educationalFile', 'file');`  in my `EducationalFileAdmin` and I think it helped, I also added to my `OneToMany` setters setting of the parent, so for example:
[code]
Into:
[code]
I hope it will he

[2017-08-22 09:26] peter-gribanov commented on #4615
I see this change https://github.com/sonata-project/SonataAdminBundle/commit/1b1d4b47d95daec7b4ebe8675cf6befce1d496ac
If you specify a label, it is always transformed.

[2017-08-22 09:34] peter-gribanov commented on #4615
It broke BC. And now i'm forced to redefine the default transformer to `NoopLabelTranslatorStrategy` to be sure that everything works as before.

[2017-08-22 09:35] OskarStark commented on #4615
Could you add a failing test here with your configuration, so that we can fix it?

[2017-08-22 10:31] axzx commented on #4615
@peter-gribanov
https://github.com/sonata-project/SonataAdminBundle/pull/4621
could you check it?

[2017-08-22 10:59] peter-gribanov commented on #4615
@axzx Yes. But your change does not make sense in this way.

[2017-08-22 11:07] peter-gribanov commented on #4615
I do not really understand that you tried to achieve changes like this #4602.
Perhaps this is the right change.
Just need to warn users that you are breaking BC.

[2017-08-22 11:40] peter-gribanov commented on #4615
By the way, what am I doing wrong?

I change configuration:

[code]

and cache error

[code]

If i change it to array

[code]

I see this:

[code]

[2017-08-22 11:57] axzx commented on #4615
Why do you set it?
`'sonata.admin.label.strategy.native'` is a default value

[2017-08-22 12:04] peter-gribanov commented on #4615
Excuse me. Of course, `sonata.admin.label.strategy.noop`

[code]

[2017-08-22 12:11] axzx commented on #4615
[code]

[2017-08-22 12:25] peter-gribanov commented on #4615
@axzx that is, is it the same that i will specify the service tag attribute?

[code]

Apparently the documentation lagged behind reality.
https://sonata-project.org/bundles/admin/3-x/doc/reference/configuration.html

[2017-08-22 12:30] axzx commented on #4615
yes, the same solution

[2017-08-22 13:37] #4545 closed

[2017-08-22 14:01] lukasz-zaroda commented on #4616
Unfortunately it seems the problem still persists. I have no idea why it disappeared before but it came back now. This is really strange.

[2017-08-22 14:25] lukasz-zaroda commented on #4616
Ok I got it, it appears that this is actually required:
[code]
Without this line the above exception happens. I wish this exception would be more telling.

[2017-08-22 14:25] #4616 closed

[2017-08-23 12:12] Siddharth22 opened #4622 "Sonata Admin listMapper"
I am using Symfony2.6 with Sonata Admin.In my Entity "Order", i have an array column named "Products". this is "ArrayCollection" type and ManyToMany relation with Product Table

How I can show this field in Sonata Admin listMapper.

      protected function configureListFields(ListMapper $listMapper)
     {
          $listMapper
           ->addIdentifier('id')
           ->add('products')
      }

[2017-08-23 14:28] core23 commented on #4622
We try to keep github issues for feature requests and bugs only.

Please have a look at the [docs](https://sonata-project.org/bundles/) or use [StackOverflow](http://stackoverflow.com/questions/tagged/sonata) for general support and questions.

[2017-08-23 14:28] #4622 closed

[2017-08-23 15:26] ejkun commented on #4614
@axzx The PR to fix this is merged.
Check if your problem is fixed.

[2017-08-23 15:32] ejkun commented on #4593
If I understood it right, you want to use the SocialMediaType in the show view? I never tried to do this, but here is something that works for me. Use the sub entity fields.

[code]

If you need specific fields, check [this](https://sonata-project.org/bundles/admin/3-x/doc/reference/field_types.html).

[2017-08-23 18:36] axzx commented on #4614
Its OK. Problem is fixed.

[2017-08-23 18:36] #4614 closed

[2017-08-23 18:53] jxamorro commented on #4615
the problem is in the last two updated version.

The field 'label' in list not should have translator strategy, because the user must put what he wants, for example

with this implementation the spanish accents no works.

The code is in the file listmapper.php on line 120:

if ($fieldDescription->getLabel() === null) {
	$fieldDescription->setOption(
        	'label',
                $this->admin->

[2017-08-23 19:16] axzx commented on #4615
@peter-gribanov @jxamorro

https://github.com/sonata-project/SonataAdminBundle/pull/4621/files
could you check it now?

[2017-08-23 21:33] ejkun opened #4625 "How useful would be to have a sonata_type_admin for the Show Action"
I had this idea after seeing #4593

I want some opinions on this (and maybe some tips). If this is helpful, I will gladly work on it.

[2017-08-24 07:58] peter-gribanov commented on #4615
@axzx yes. that's better

[2017-08-24 08:04] #4615 closed

[2017-08-24 08:05] OskarStark commented on #4615
I asked for a release, stay tuned 👍

[2017-08-25 07:01] AlexandreKilian commented on #1304
over 4 years after the original issue... any news on this?

[2017-08-25 08:16] wodka opened #4629 "Local Search for Admins - quickFilter?"
Right now there is the global search and the filters for each admin. Sometime it would be nice to have a faster way to search by having the same results as the global search but within the local list.

# How about "QuickFilters"?

![image](https://user-images.githubusercontent.com/385731/29705284-96921c52-897d-11e7-83c7-629e8884664e.png)

I added them in the standard layout and as a trait to the a

[2017-08-25 08:20] OskarStark commented on #4629
Wow, I like the idea, but please keep in mind, that we need tests and docs for this feature 👍

[2017-08-25 10:20] wodka commented on #4629
Then I'll start working on it - but I would add it directly to the AbstractAdmin class since it should still support 5.3

[2017-08-25 13:00] sujayjaju commented on #4227
Above 3 PRs should resolve the issue for Doctrine, PHPCR and MongoDB.

[2017-08-27 02:15] pulzarraider commented on #4600
Please try `Sonata\CoreBundle\Form\Type\CollectionType` instead of `Sonata\AdminBundle\Form\Type\CollectionType`.

[2017-08-27 02:23] pulzarraider commented on #4575
@crifi can you please add screenshot and the browser with version where it occurs?

[2017-08-27 02:38] pulzarraider commented on #4565
@jxamorro can you please add exmaple code so we can reproduce the issue?

[2017-08-27 02:52] pulzarraider commented on #4563
All logged-in users should have the role `ROLE_SONATA_ADMIN`. Can you please check it in the Symfony profiler?

[2017-08-27 05:25] #4600 closed

[2017-08-27 06:23] crifi commented on #4575
The filter list in the following screenshot is to short, there are more attributes, but the list is not scrollable:

<img width="304" alt="2018-08-27-screenshot-issue-sonata-admin-datagrid-filter" src="https://user-images.githubusercontent.com/608768/29747612-8c85c28e-8b00-11e7-86af-bd021cdda421.png">

This occurs in Chrome, Firefox and Safari (all latest version).

[2017-08-27 10:02] core23 commented on #4575
Are you sure that this whole filter list is even useful?

[2017-08-28 07:15] OskarStark commented on #4565
I can confirm, that it gets never "active"

[2017-08-28 07:18] OskarStark commented on #4575
I have the same issue in one of my projects

[2017-08-29 16:37] greg0ire commented on #4625
How would you do it? Would you flatten things in one table, or would you have some kind of sub table in a cell?

[2017-08-30 17:17] jxamorro commented on #4565
hi  @pulzarraider
I put the code of my config.yml that don't work for me, the problem I think is that my route no is associated to an admin class:

[code]
thanks

[2017-09-01 03:19] ejkun commented on #4625
A sub table in a cell
The design wouldn't be the most beautiful of all, but if you put the field in a separeted group with label => false or something, it will work perfectly.
As soon as I get sometime I will start working on this. Any tips, recommendations or rules that I must follow?

[2017-09-01 07:50] greg0ire commented on #4625
Reading CONTRIBUTING.MD in its entirety would be a good start

[2017-09-03 07:08] ioweb-gr commented on #4519
In case anyone else is facing the same issue and comes here, I ended up using InfiniteFormBundle's PolyCollection for this use case until this bug is fixed because nothing else I tried worked.

[2017-09-06 15:58] vlaurier opened #4640 "Breadcrumbs is not easily customizable"
#### Sonata packages
[code]
#### Symfony packages
[code]
#### PHP version
[code]
## Subject

Issue : The breadcrumbs is not easily customizable.

Explanation:

The class [BreadcrumbsBuilder](https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Admin/BreadcrumbsBuilder.php) is Final, and the service is directly retrieved from container in sonata [CRUDController](https://github.com/sonata-pr

[2017-09-06 16:02] greg0ire commented on #4640
I did that change, on purpose. Related :
- https://ocramius.github.io/blog/when-to-declare-classes-final/
- http://fabien.potencier.org/pragmatism-over-theory-protected-vs-private.html

TL;DR : tell us what you are trying to achieve, what you would like to customize exactly, and maybe we can create a new but smaller extension point that can benefit everyone rather than having people just override

[2017-09-06 18:06] abarrigas commented on #3426
Same problem here.

Any solution?

[2017-09-07 05:28] OskarStark commented on #3426
@abarrigas please oben a new issue, reference this one and fill the issue template correct (sonata, symfony and php versions)

thank you

[2017-09-07 08:30] vlaurier commented on #4640
Thanks for your reply. I try to give some more explanations for my need.
I wanted for some admin class to have a custom breadcrumbs depending on the subject they manage.

For example, one of them should show an identifier at the end of the breadcrumbs, and all category ancestors, which make sense in the business need.
Another one should show a title, which is a concatenation of some subject's data

[2017-09-07 08:52] greg0ire commented on #4640
Not completely sure what this means, maybe an example would help?

I think that one can be done by overriding `AbstractAdmin::toString()`, but maybe you didn't want to have that change everywhere?

Maybe you could have achieved the first thing with that method too, but didn't, for the same reason? In that case, it would be great to contribute something that would allow to customize the last item b

[2017-09-07 09:17] vlaurier commented on #4640
I give an example for the first case:

Home > GrandParentCategory > ParentCategory > Category > MyIdentifier

where categories can be retrieved from the subject of some specific admin classes.

For the second case:

Home > the same beginning breadcrumb as Sonata one > A custom text here > A custom title here.

where a custom title also depends of the subject behind the admin class.

I hope it is c

[2017-09-08 13:50] yedprior commented on #1899
'admin_code' resolve the problem for me EXCEPT for child creat page :
/app_dev.php/admin/logistique/32/edit  : OK
/app_dev.php/admin/logistique/32/ligne/create : Unable to find a valid admin for the class.

<details>
<summary>Stack Trace </summary>
<p>
[1] RuntimeException: Unable to find a valid admin for the class: MagasinBundle\Entity\Logistique, there are too many registered: magasin.admin.log

[2017-09-11 07:26] yedprior opened #4643 "Multiple admin class with children for same entity"
I have 2 admin classes for the same entity. The classes have the same children admin class.
The 'admin_code' argument resolve the problem " Unable to find a valid admin " for the main admin class.
But on child admin page the error message remain.

With logistique admin page and logistique2 Admin page for logistique entity:
/app_dev.php/admin/logistique/32/edit  : OK
/app_dev.php/admin/logistique/3

[2017-09-11 21:30] #4227 closed

[2017-09-12 11:41] spacetraveller opened #4646 "Autowiring does not work with Sonata Admin"
If you have autowiring turned on, there are failures in the Abstract Admin class.

Cannot autowire service "AppBundle\Admin\SomeAdmin": argument "$code" of method "Sonata\AdminBundle\Admin\AbstractAdmin::__construct()" must have a type-hint or be given a value explicitly.

Is there any way around this, if autowiring is being used?

[2017-09-13 08:56] leonboot opened #4648 "Translations in sidebar fail since 3.22.0"
### Environment

Sonata 3.22.0 (after upgrading from 3.20.1)

#### Sonata packages

[code]

#### Symfony packages

[code]

## Subject

Commit [c303dbece3ba3c935de7ae7c8d0f22b7ee30913f](https://github.com/sonata-project/SonataAdminBundle/commit/c303dbece3ba3c935de7ae7c8d0f22b7ee30913f) has broken the admin name translations in the sidebar.

## Steps to reproduce

Add an admin panel by registering i

[2017-09-13 09:20] leonboot commented on #4648
I've been digging around, and what fixes it for me right now is changing `label_catalogue` in [sonata_menu.html.twig on line 28](https://github.com/sonata-project/SonataAdminBundle/blob/master/Resources/views/Menu/sonata_menu.html.twig#L28) to `translation_domain`. Not sure whether it's the actual fix for the issue, or just a workaround for a bug that was introduced by the aforementioned commit.

[2017-09-13 09:21] OskarStark commented on #4648
Can you please upgrade to 3.23.0, the issue should be fixed

[2017-09-13 09:37] leonboot commented on #4648
Hi @OskarStark, sorry, I was under the impression 3.23.0 wasn't released yet. I've upgraded and it seems to be working as expected again!

[2017-09-13 09:46] OskarStark commented on #4648
Thanks for your feedback!

[2017-09-13 09:46] #4648 closed

[2017-09-13 13:23] thi3rry commented on #4609
I have the same Exception on a composite key form in dev environment.
But the Exception is not raised in prod environment.

[2017-09-13 14:05] greg0ire commented on #4609
I think this might be a Doctrine issue instead of a Sonata issue... the stack trace suggests so, because this `course_id` is probably not provided by Sonata.

[2017-09-13 14:11] thi3rry commented on #4609
I think so yes : https://github.com/doctrine/doctrine2/issues/5631

[2017-09-13 14:14] greg0ire commented on #4609
Closing then

[2017-09-13 14:14] #4609 closed

[2017-09-13 16:34] davidromani commented on #4491
@rande @OskarStark can anybody take a look at this issue and send me a hint, please?

[2017-09-13 17:28] core23 commented on #4491
We try to keep github issues for feature requests and bugs only.

Please have a look at the [docs](https://sonata-project.org/bundles/) or use [StackOverflow](http://stackoverflow.com/questions/tagged/sonata) for general support and questions.

[2017-09-13 17:28] #4491 closed

[2017-09-13 17:32] davidromani commented on #4491
@core23 well, I can understand it. But how do you know that this isn't a bug that apply in all cases? I think that this is a problem related with "sonata_type_collection" type in form mapper...

[2017-09-13 18:46] greg0ire commented on #4491
You can also come on #sonata on [the symfony-devs slack](https://symfony.com/slack-invite), but here, we have to many issues to start exploring every issue people have.

[2017-09-14 04:15] binhle410 commented on #4643
Each entity class should have 1 and 1 Admin Class only.

[2017-09-14 04:19] binhle410 opened #4651 "Plan for BS4 (Bootstrap 4)"
Do we have any plan for BS4 support, maybe in SonataAdminBundle 4.x ?

[2017-09-14 05:05] OskarStark commented on #4651
Not yet

[2017-09-14 10:39] jvasseur commented on #4651
This will probably depend a lot on AdminLTE support for Bootstrap 4.

[2017-09-14 13:02] yedprior commented on #4643
@binhle410  Multiple admin is possible : https://stackoverflow.com/questions/12828072/sonataadminbundle-multiple-admin-section-for-same-entity.
But its bugging when i access to child admin.

[2017-09-14 13:05] greg0ire commented on #4643
If you are getting this, it means the obtained `admin_code` is null : https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Admin/AbstractAdmin.php#L1310

[2017-09-14 13:07] greg0ire commented on #4643
And indeed:

[code]

[2017-09-14 13:58] amdiakhate opened #4652 "Error 500 : Cannot use object of type Symfony\Component\Form\FormRenderer as array"
### Environment

Php 7.0, Mysql

#### Sonata packages

[code]

sonata-project/admin-bundle              3.x-dev 51387ad    dev-master cd61e55
sonata-project/block-bundle              3.x-dev 033f4e1    dev-master 64a897b
sonata-project/cache                     1.x-dev adb8f3e    1.x-dev adb8f3e
sonata-project/core-bundle               3.x-dev 16c7611    dev-master 3ac1797
sonata-project/datagrid-

[2017-09-14 14:37] core23 commented on #4652
We try to keep github issues for feature requests and bugs only.

Please have a look at the [docs](https://sonata-project.org/bundles/) or use [StackOverflow](http://stackoverflow.com/questions/tagged/sonata) for general support and questions.

[2017-09-14 14:37] #4652 closed

[2017-09-14 15:49] yedprior commented on #4643
This     ->add('logistique' ...)   come from child Admin.

`->add('logistique',  null, array('label' =>"Requête Logistique ".ucfirst($this->getParent()->getSubject()->getType()),'required' => true,'disabled' => $disableLogistique)) `

[2017-09-14 15:50] greg0ire commented on #4643
Yeah well, you can add an `admin_code` option here, can't you?

[2017-09-14 15:57] #4643 closed

[2017-09-14 15:58] yedprior commented on #4643
Yes you probably give the rigth solution i think.

[2017-09-15 07:19] yedprior commented on #4643
I confirm it s working.
For 2 admin on same entity with a child admin, put admin_code in child admin field which reference parent admin is the solution.

PS: Thanks too for the guy who made the exception for detect if attributes have the same access modifiers in each mutliples Admin classes.
`
Compile Error: Access level to MagasinBundle\Admin\Logistique2Admin::$admin_code must be public (as in cl

[2017-09-15 08:12] greg0ire commented on #4643
@yedprior consider contributing better docs or error messages that might help people in your situation.

[2017-09-17 19:00] gremo opened #4656 "Help message sonata_help not showing for subfields"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

Sonata help for subfields isn't shown, but it should be as explained [here](https://sonata-project.org/bundles/admin/master/doc/reference/form_help_message.html#help-messages-in-a-sub-field). When aan error occurs in a subfield, error message is not in red color as other form fields

[2017-09-17 19:20] core23 commented on #4656
Looks like a duplicate of https://github.com/sonata-project/SonataAdminBundle/issues/2874

[2017-09-17 19:26] gremo commented on #4656
@core23 it fixes the help for subfields but not for other types (like checkbox). Not exactly the same issue but related.

[2017-09-18 09:25] yedprior opened #4658 "Delete button disapear in modal edit page"
When i call edit view form ajax the returned page have no delete button like in classic edit page

[2017-09-18 09:26] greg0ire commented on #4658
?

[2017-09-18 09:31] yedprior commented on #4658
When i get edit page whith ajax (POST) the delete button is not there.
Sample:

[2017-09-18 09:33] greg0ire commented on #4658
Do you think it is a bug, or could it be deliberate?

[2017-09-18 09:35] yedprior commented on #4658
I don t know but it s missing for me.

[2017-09-18 09:35] greg0ire commented on #4658
Ok well, closing since you didn't bother to fill the issue template properly.

[2017-09-18 09:35] #4658 closed

[2017-09-18 09:42] yedprior commented on #4658
How i can know if it s deliberate when you don t know? I am just a user, you are form this project.

[2017-09-18 09:50] greg0ire commented on #4658
1. I'm not a form.
2. I maintain this project, I did not write it.
3. There are rules, and if you don't follow them, I'm less likely to help you.
4. We try to keep Github issues for bug reports and feature requests only. If you are not sure this is a bug, please ask your question on Stack Overflow or on #sonata on [the symfony-devs slack](https://symfony.com/slack-invite).

[2017-09-18 13:01] #4656 closed

[2017-09-20 12:02] axzx opened #4662 "Could not load type "sonata_type_admin""
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject
I get an error message

## Steps to reproduce
my form:
[code]
## Expected results
nice view with form

## Actual results

error 500
Could not load type "sonata_type_admin"

[code]

[2017-09-20 12:03] greg0ire commented on #4662
Please provide the whole stack trace

[2017-09-20 12:11] axzx commented on #4662
The solution to the problem is:

 - Updating sonata-project/core-bundle (3.5.0 => 3.4.0): Loading from cache
 - Updating sonata-project/block-bundle (3.4.0 => 3.3.2): Downloading (100%)

[2017-09-20 12:14] greg0ire commented on #4662
It's probably because it uses the form name ('sonata_type_admin') instead of the FQCN. Can you please find where this name comes from?

[2017-09-20 12:16] axzx commented on #4662
I do not know. In my code such text does not occur.
Maybe in \Sonata\CoreBundle\Form\Type\CollectionType?

[2017-09-20 12:17] greg0ire commented on #4662
You can use the stack trace + the debugger to find where it comes from: start from vendor/sonata-project/core-bundle/Form/EventListener/ResizeFormListener.php:109

[2017-09-20 12:36] axzx commented on #4662
I think the problem is in the class
`Sonata\CoreBundle\Form\Type\CollectionType::class`

[2017-09-20 12:38] greg0ire commented on #4662
Can you please elaborate?

[2017-09-20 12:47] axzx commented on #4662
In my code there is no "sonata_type_admin", so it must be in `Sonata\CoreBundle\Form\Type\CollectionType` or somewhere higher, maybe in configuration

[2017-09-20 13:09] greg0ire commented on #4662
Might be related to https://github.com/sonata-project/SonataCoreBundle/issues/434

[2017-09-20 13:36] Hanmac commented on #3745
i think the problem still exist and creating Translation not found because it is already translated

[2017-09-20 13:44] greg0ire commented on #3745
@Hanmac why would it no longer exist?

[2017-09-20 13:48] Hanmac commented on #3745
@greg0ire i mean the problem isn't fixed yet (still exist)
i currently fall into it and wanted to make a new ticket before i found this.

and because the ticket is over a year old i wanted to remind that this problem still exist and isn't fixed yet
(it might not be that critical, but still counts)

[2017-09-20 14:44] greg0ire commented on #4662
Please try https://github.com/sonata-project/SonataCoreBundle/releases/tag/3.5.1

[2017-09-20 14:55] axzx commented on #4662
now it is working

[2017-09-20 14:55] #4662 closed

[2017-09-20 15:58] jlamur commented on #3745
@Hanmac That's right, the problem still exists. Thanks for your feedback.

Could you try to provide a PR to help us fix this bug?

[2017-09-20 16:12] Hanmac commented on #3745
@jlamur the best solution would be the first way, that the Flashbag(Manager) doesn't translate itself anymore, but that might be to complicated for me to fix currently. (and probably to big to fix in one PR because it does affect the other bundles too)

[2017-09-20 16:42] jlamur commented on #3745
It can be done in the next major with the 1st way that @bordeux proposed, without having to change a lot of thing in other bundles, because most of the flashbag messages are already translated before.

I don't understand the 2nd solution. And the 3rd one is irrelevant because the flashbag interface is simply not meant to translate messages. That's the way Symfony designed it.

[2017-09-21 11:58] Soullivaneuh commented on #4651
@jvasseur answer is right. We depend to AdminLTE, not Bootstrap 4.

BTW, bootstrap 4 is not stable while I'm writing this comment.

Please open an issue on the AdminLTE repository.

Regards.

[2017-09-21 16:55] jlamur commented on #4646
Hello @spacetraveller.

Did you managed to find a solution for your problem?
If not, please post the full stacktrace of your error, and the config related.

[2017-09-22 06:40] acrobat commented on #4646
I think the original problem with autowiring an admin class is that the arguments are all string arguments and autowiring is not able to resolve the constructor arguments.

[2017-09-22 10:44] borjadinamic commented on #4266
Any fix for this issue? The bug stills there.

[2017-09-22 11:17] greg0ire commented on #4266
@borjadinamic can you have a look into it?

[2017-09-24 20:18] #3104 closed

[2017-09-26 11:00] laboutiquedunumerique commented on #2967
Hi,

I have the exact same problem in my project. I'm doing some tests with the A2lix-Demo project (https://github.com/a2lix/Demo) and added Sonata Admin & Sonata ORM Admin Bundles.
A2lix project works but when adding Sonata, clicking on list button in backend cause this issue:

`An exception has been thrown during the rendering of a template ("Neither the property "_action" nor one of the methods

[2017-09-28 12:54] fadoe opened #4671 "No output of array value or entity property with ShowMapper"
I have data in a database row stored with doctrine as type json_array. I would output different values from this array in show view but I get null as value. The same when a embedded Entity is not registered in doctrine entity manager.

Here are some examples. I have a entity:

[code]
My test_template.html.twig:
[code]
In show mapper:
[code]
Result: Values of array data
[code]
Result: null

Next ex

[2017-09-28 13:24] greg0ire commented on #4671
Hi, we try to keep Github issues for bug reports and feature requests only. If you have a question, please ask it on Stack Overflow or on #sonata on [the symfony-devs slack](https://symfony.com/slack-invite).

[2017-09-28 13:31] fadoe commented on #4671
@greg0ire This is a bug for me (until you say anithing else). Thank you for your help.

[2017-09-28 13:39] greg0ire commented on #4671
Might be, it's not very clear to me yet, so let's reopen. Please post a full stack trace, it might help.

[2017-09-28 13:47] jlamur commented on #4671
@fadoe @greg0ire I can confirm the bug.

@fadoe What's your installed version of the admin-bundle?

[2017-09-28 13:49] fadoe commented on #4671
@jlamur Great :) Version 3.23.0

[2017-09-28 14:26] jlamur commented on #4671
I found where the problem is and it seems that it never worked before.

The `BaseFieldDescription::getFieldValue()` method (which is responsible of injecting the `value` variable in the twig template)  does not handle the dot notation because the `BaseFieldDescription::$fieldName` property is set by `BaseFieldDescription::setName()` with this code:
[code]
You can see here that the dot notation is

[2017-09-28 14:45] fadoe commented on #4671
@jlamur Thanks for your debugging. I will try to fix this.

[2017-09-29 06:52] fadoe commented on #4671
@jlamur I tried to debug the problem. The method setName is called  in the ModelManager. And there the field description needs meta data (from doctrine). But there are no meta data because the object is serialized from json how I wrote. So far I see it is not possible to output data from a class that is not managed by the doctrine orm.

[2017-09-29 09:44] kosmodisk opened #4673 "Sonata produces missing favicon error"
A smallish problem :)

Sonata does not have a decent way to override html head section other tags (standard_layout.html.twig allows to override only meta, stylesheets and javascripts), so I cannot define my own favicon so they generate error into logs. Perhaps a new block, e.g 'head_tags' could be introduced?

[2017-09-29 09:59] core23 commented on #4673
You can still override any template with symfony basic features: https://symfony.com/doc/current/templating.html#template-inheritance-and-layouts

[2017-09-29 09:59] #4673 closed

[2017-09-29 11:24] kosmodisk commented on #4673
I am aware of that. But there is no other way than to duplicate whole layout. Seems kinda overreacting. Moreover, the fix is relatively simple.

[2017-09-29 11:49] greg0ire commented on #4673
Probably. Can you make a PR? Also what other tags should / could this block contain?

[2017-09-29 12:36] jlamur opened #4674 "There are 2 pages of installation"
There are currently two documentation pages about the installation of the bundle.

A first one in [Getting Started](https://sonata-project.org/bundles/admin/3-x/doc/getting_started/installation.html) which is complete and currently works.
A second one in [Reference Guide](https://sonata-project.org/bundles/admin/3-x/doc/reference/installation.html) which is not complete and outdated.

There is als

[2017-09-29 14:26] kosmodisk commented on #4673
Cant think of anything else but those favicon/icon directives but basically everything else that doesn't go into meta, js and stylesheet. By default it could be empty.

Maybe :)

[2017-09-29 18:59] aLkRicha opened #4676 "No attached service to type named `choice`"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

I'm trying to add choice filter to list page, but i'm getting this:
Uncaught PHP Exception RuntimeException: "No attached service to type named `choice`" at /code/mpay/vendor/sonata-project/admin-bundle/Filter/FilterFactory.php line 57

## Steps to reproduce
[code]
## Expected result

[2017-09-29 19:18] core23 commented on #4676
You can't use the old form aliases like `choice` in symfony 3. Please try `ChoiceType::class` instead.

[2017-09-29 19:18] #4676 closed

[2017-09-29 19:32] aLkRicha commented on #4676
@core23 in that case i got:
[code]

conf:
[code]

what i'm doing wrong?

[2017-09-29 19:46] core23 commented on #4676
Please try `Sonata\AdminBundle\Form\Type\Filter\ChoiceType`, because this is a form filter.

[2017-09-29 19:48] aLkRicha commented on #4676
@core23 in that case:
[code]

maybe i miss some documentation?

[2017-09-30 07:10] core23 opened #4677 "[RFC] Create new ActionMapper for batch action"
Today we have several methods in the `AbstractAdmin` to configure something (e.g. a ListMapper for `configureListFields`, or a `ShowMapper` for `configureShowFields`).

Some configuration methods do still rely on fragile arrays, like `configureBatchActions`. This makes it very hard do change order or remove items on the list.

Refs https://github.com/sonata-project/SonataAdminBundle/pull/4259

[2017-09-30 09:37] jxamorro commented on #4485
I am watching the flow and I can see:

in CRUDController:

` public function batchActionDelete(ProxyQueryInterface $query)    {

        $this->admin->checkAccess('batchDelete');
        $modelManager = $this->admin->getModelManager();

        try {
            $modelManager->batchDelete($this->admin->getClass(), $query);
            $this->addFlash('sonata_flash_success', 'flash_batch_delete_suc

[2017-09-30 22:45] jlamur commented on #4485
Hello @jxamorro.

This problem has been reported many times.
There was an interresting discussion about it on this PR: https://github.com/sonata-project/SonataAdminBundle/pull/1318.

[2017-10-02 18:09] jxamorro commented on #4485
thanks @jlamur  I didn't know this discussion.

[2017-10-02 21:12] juansss opened #4679 "Double choice labels with choice type"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

Hello!
I'm getting double lables in my choice expanded (radio buttons)

Render
`<label class="required" aria-required="true">
	<div class="radio">
		<label class="required" aria-required="true">
			<input type="radio" id="admin_measure_test_0" name="admin_measure[test]" required="req

[2017-10-02 21:18] greg0ire commented on #4679
Hi, we try to keep Github issues for bug reports and feature requests only. If you have a question, please ask it on Stack Overflow or on #sonata on [the symfony-devs slack](https://symfony.com/slack-invite).

[2017-10-02 21:18] #4679 closed

[2017-10-03 18:01] lucciano opened #4681 "PHP Fatal error: Uncaught Symfony\Component\Debug\Exception\ContextErrorException: Warning: array_merge(): Argument #2 is not an array"
#### Sonata packages

[code]
sonata-project/admin-bundle              3.23.0 3.23.0 The missing Symfony Admin Generator
sonata-project/block-bundle              3.2.0  3.4.0  Symfony SonataBlockBundle
sonata-project/cache                     1.0.0  1.0.7  Cache library
sonata-project/core-bundle               3.4.0  3.5.1  Symfony SonataCoreBundle
sonata-project/datagrid-bundle           2.2    2.

[2017-10-03 18:12] core23 commented on #4681
Can you please provide a little more information instead of all technical details.

[2017-10-03 18:12] greg0ire commented on #4681
Can you please provide a full stack trace?

[2017-10-03 18:23] lucciano commented on #4681
[code]

[2017-10-03 18:29] greg0ire commented on #4681
Link for the lazy: https://github.com/sonata-project/SonataAdminBundle/blob/d796658ee47f36abe9f910b9b96dd74d94966772/DependencyInjection/Compiler/AddDependencyCallsCompilerPass.php#L362

[2017-10-03 18:39] jlamur commented on #4681
@lucciano Please check you've passed an array (and not a scalar) as the first parameter of the `setTemplates` method call in your `ftth.admin.onu` service definition.

[2017-10-03 18:41] dmarkowicz commented on #4681
Not covered by tests https://coveralls.io/builds/13529726/source?filename=DependencyInjection%2FCompiler%2FAddDependencyCallsCompilerPass.php#L362

[2017-10-03 18:48] lucciano commented on #4681
@jlamur I don't call setTemplate directlly, it get called when the admin is wired with the tag "sonata.admin"

[2017-10-03 18:53] greg0ire commented on #4681
Please `var_dump($method[1][0]);die();`

[2017-10-03 18:56] lucciano commented on #4681
@greg0ire
`string(38) "%sonata.admin.configuration.templates%"
`

[2017-10-03 19:02] lucciano commented on #4681
I patch the Line 362, with a cast and it looks ok, https://github.com/lucciano/SonataAdminBundle/commit/691217d41231c1b2e43279d51b4ca6fec410140b

[2017-10-03 19:18] greg0ire commented on #4681
Probably related to #4580

[2017-10-03 19:20] greg0ire commented on #4681
The right solution might be to reuse this condition to decide whether we should merge or not: https://github.com/sonata-project/SonataAdminBundle/blob/d796658ee47f36abe9f910b9b96dd74d94966772/DependencyInjection/Compiler/AddDependencyCallsCompilerPass.php#L392

[2017-10-03 19:33] lucciano commented on #4681
The other option is to change L 393 to
`  $definition->addMethodCall('setTemplates', array(array('%sonata.admin.configuration.templates%')));`

[2017-10-03 19:34] greg0ire commented on #4681
This makes a lot more sense.

[2017-10-03 19:36] greg0ire commented on #4681
Or does it? I'm not sure anymore...

[2017-10-03 19:37] greg0ire commented on #4681
That would mean the first argument of `setTemplates` would be `array('%sonata.admin.configuration.templates%')`, which should result into a 2-dimensional array... pretty weird.

[2017-10-03 19:39] greg0ire commented on #4681
Maybe the right solution would be to resolve the parameter before merging it

[2017-10-03 19:42] greg0ire commented on #4681
Or maybe: just don't merge if it's not an array.

[2017-10-03 21:19] dmarkowicz commented on #4052
Fixed in https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/621

[2017-10-03 21:41] #4052 closed

[2017-10-03 21:41] greg0ire commented on #4052
Thanks @dmarkowicz !

[2017-10-04 09:26] #4023 closed

[2017-10-04 12:44] jlamur opened #4682 "Menu badges"
An interresting feature that I would :heart: to see on Sonata is what I would call *menu badges* (the colored bubbles at the right of menu labels):

![menu-badges](https://user-images.githubusercontent.com/7054317/31176142-16201ec0-a912-11e7-8466-a0481dff73f4.png)

Ideally, we should be able to define the badge class, text and title attribute simply.

[2017-10-04 16:43] nerdyninja commented on #4682
I think no one is assigned, can I take this issue?

[2017-10-04 16:44] jlamur commented on #4682
Of course you can :)

[2017-10-04 16:48] jlamur commented on #4682
Please come to #sonata on https://symfony.com/slack-invite if you want to discuss about it or if you need help :)

[2017-10-05 09:11] gomcodoctor opened #4683 "base_array_macro.html.twig Twig Runtime Error: Impossible to invoke a method (“render_array”) on a string variable"
according to latest twig we should do

`{% from _self import render_array %}`

otherwise it give

`Twig Runtime Error: Impossible to invoke a method (“render_array”) on a string variable`

updated code is

[code]

added some improvement too

[2017-10-05 09:24] OskarStark commented on #4683
can you please provide a PR?

[2017-10-05 10:03] gomcodoctor commented on #4683
here it is

https://github.com/sonata-project/SonataAdminBundle/pull/4684

[2017-10-06 10:05] greg0ire opened #4685 "The build is broken"
https://travis-ci.org/sonata-project/SonataAdminBundle/jobs/284104804

[2017-10-06 10:06] greg0ire commented on #4685
There has been a recent release of Symfony: https://github.com/symfony/symfony/releases/tag/v3.3.10

[2017-10-06 10:18] greg0ire commented on #4685
Here is the changelog: http://symfony.com/blog/symfony-3-3-10-released

[2017-10-06 10:33] jlamur commented on #4685
Maybe we need to mock `render` instead of `renderResponse` here: https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Tests/Controller/CRUDControllerTest.php#L147

This change was introduced in SF here: https://github.com/symfony/symfony/pull/24431/files#diff-064e58dbe11951327d614e6922caaae5L234
And their tests were fixed the same way here: https://github.com/symfony/symfony/pull/24431/fil

[2017-10-06 10:39] jlamur commented on #4685
Tested. It works. I'll provide a PR.

[2017-10-06 11:30] #4685 closed

[2017-10-07 12:36] sujayjaju commented on #2591
This is still a problem in Sonata 3

[2017-10-09 09:22] icedevelopment commented on #3884
Any news regarding this issue?

[2017-10-10 16:15] dechadou commented on #3073
Im having the exact same problem on windows

`PS C:\work\aeg-live--bowery-ecosystem-rfp\source\backend> composer install --prefer-source
Warning: This development build of composer is over 60 days old. It is recommended to update it by running "C:\ProgramData\ComposerSetup\bin\composer.phar self-update" to get the latest version.
Loading composer repositories with package information
Installing de

[2017-10-10 16:18] RedPaes commented on #4266
Run into the same Issue.
I don't found this file on searching for it in the sonata-admin Repo.
Where should it come from?

[2017-10-10 16:18] greg0ire commented on #3073
That not the same issue at all. Update composer and try again.

[2017-10-10 16:21] dechadou commented on #3073
It is the same ZipArchive error:

`PS C:\work\aeg-live--bowery-ecosystem-rfp\source\backend> composer self-update
Updating to version 1.5.2.
    Downloading: 100%
Use composer self-update --rollback to return to version 40c14709f79f9d7ea35ac969cfbd7f41beb525bb
PS C:\work\aeg-live--bowery-ecosystem-rfp\source\backend> composer install --prefer-source
Loading composer repositories with package infor

[2017-10-10 16:24] greg0ire commented on #3073
This is different:

And this is different

So now, not the same error message. It's the same function call, but it fails for a different reason =>  different bug.

[2017-10-10 16:25] greg0ire commented on #3073
Also, please try the latest Sonata version.

[2017-10-10 16:31] greg0ire commented on #4266
@RedPaes I think it's an empty variable which causes that:

[code]

[2017-10-10 19:54] RedPaes commented on #4266
Yes this is the problem. Found the solution i use the sonata-admin-tree-bundle there i forgot to add the AdminController to the service:
`  admin.category:
      class: TopangeboteBundle\Admin\CategoryAdmin
      arguments: [~, TopangeboteBundle\Entity\Category,TopangeboteBundle:Admin\CategoryAdmin, 'name' ]
 `
( I know is not a problem from sonata-admin but maybe usefull for somewhere else.)

But

[2017-10-10 21:52] jlamur opened #4692 "Allow nested tabs / groups in all mappers"
Currently, mappers (i.e. `ShowMapper`, `ListMapper`, `FormMapper` and the parent class `BaseGroupedMapper` &mdash; `DatagridMapper` is not concerned of course) do not support nested tabs / groups.

You can only have one level of groups in tabs, no groups in groups, and no tabs in tabs.

It could be great to get rid of these limits.

[2017-10-10 22:04] greg0ire commented on #4266
Not sure. Please have a look at the history to see who introduced the tree feature and ping that person

[2017-10-11 07:35] shawe commented on #3884
@OskarStark I'm not sure now, but in my composer.lock appear version 3.18.2. I believe that for me, the problem start with 3.18.3, I remember that I need to downgrade one version of a package to 0.0.1 less, but some month after I don't remember it clearly and exactly what specific downgrade solve the issue for me now.

[2017-10-11 11:36] itemvirtual opened #4694 "Event ignored in batch action"
Events from persistency aren't fired when you use a batch action, for example if you try to delete one or more items from list view.

Anybody knows the reason why? I understand that those kinds of events must to be called in all persistency actions.

Anybody detects the same problem? And what can I do?

Thanks,
Fidel

[2017-10-11 11:44] jlamur commented on #4694
Duplicate of #4485

[2017-10-11 11:44] #4694 closed

[2017-10-11 14:53] ejkun commented on #3217
Same error with Sonata 3.23.0
I'm trying to create a ButtonType field and I'm getting this

The options "label_render", "property_path", "sonata_field_description" do not exist. Defined options are: "attr", "auto_initialize", "block_name", "disabled", "label", "label_format", "translation_domain"

[2017-10-11 15:00] core23 commented on #3217
AFAIK we don't support unmapped form fields. Maybe someone could create a PR with this feature?

[2017-10-12 01:24] joshua-s commented on #4031
Reserved!

[2017-10-12 10:58] dmaicher commented on #4652
@core23 I actually think this is a bug. Not sure if its here or on Symfony 3.4.

This also happens to one of my projects when trying the upcoming `3.4.x-dev` version.

[2017-10-13 09:13] fadoe commented on #4671
I found a solution by calling 'code':

[code]

It is not documented anywhere but works at the moment for me.

[2017-10-13 09:40] sonars commented on #2591
[code]

[2017-10-13 09:43] sujayjaju commented on #2591
The workaround posted by @MKhalidJunaid made it work. It should have worked without the additional code in the Admin, right?

[2017-10-17 19:18] tauanz commented on #4518
Hey, I am just new here, but I got a similar issue, and I have fixed by using this code instead of the original one.
I added a check for the existence of `$subject` (name changed from `$object`):

\Sonata\UserBundle\Security\Authorization\Voter\UserAclVoter:40
[code]

What I did for now was to create my own UserAclVoter with this code, and override the original one in the service definition.

[cod

[2017-10-17 20:32] greg0ire commented on #4518
Please do make a PR, it will be easier to see what you changed.

[2017-10-18 08:32] sagikazarmark commented on #3947
I like the idea of splitting logic from the abstract admin class, but not sure it will reduce complexity. Basically AbstractAdmin would become a facade...though reducing complexity was not the intent here.

[2017-10-18 08:35] greg0ire commented on #3947
@sagikazarmark the ultimate goal would be not to have that class at all in the end. IMO, the admin should just a series of services grouped together by a code (currently, the admin code), and you would only override (or, more accurately) replace some of them. The real issue with the abstract admin is that people keep doing PRs that want to add more methods to it. This is not viable in the long ter

[2017-10-18 10:00] sagikazarmark commented on #3947
How exactly do you imagine "grouping" those services?

As far as I can see either way you need some sort of control layer (which is the Admin class ATM). Whether you register services into it or extend it is an implementation detail from the library perspective.

To be a bit more specific: if I want to add feature X to my admin which does something with the listing (let's not be too specific, othe

[2017-10-18 10:04] greg0ire commented on #3947
@sagikazarmark a tag could be one way to do it. You would end up with something like this:

[code]
Only the second tag would actually be required if you use autoconfiguration

[2017-10-18 10:10] sagikazarmark commented on #3947
So you would still not allow *anything* to the user, there would still be a set of features which the user can alter with custom services, but adding new features would still require adding logic to the core admin, no?

[2017-10-18 10:13] greg0ire commented on #3947
As I said, ideally, there would be no core admin at all.

What do you mean by that? Do we not allow things to the user currently?

Ideally, you would alter said features by defining a service that would be used where needed instead of the default one. Inheritance would be discouraged by making default services final.

[2017-10-18 10:17] sagikazarmark commented on #3947
My point is: if there is no core admin, what manages the whole thing? If there is, and some feature is not supported, users would still be forced to add functionality ("new methods") to the core admin, otherwise being able to register custom services won't help.

I'm not saying your approach is not working, I'm just not sure it addresses the reason why people want to add new things to the core adm

[2017-10-18 10:33] greg0ire commented on #3947
services may depend on other services, but there should not be a big glue class that gives access to other services with the same admin_code. That's the job of the DIC. So when building the admin listing, you may be able to give it access to the admin routing service with the same admin code. Most services could be generic enough that you wouldn't actually need one service per admin code, but you

[2017-10-18 12:53] sagikazarmark commented on #3947
Sorry, I don't understand. "admin service", "admin services", "admin_code", "depending services" is just not clear terminology to me. It's quite hard to think about too abstract things, so I'm probably missing the concrete plan from this initiative.

The way I see things are now: there are "admin controllers" which are responsible for the request-response handling. Bellow them, there is "the admin

[2017-10-18 13:05] greg0ire commented on #3947
Compared to the state above, what are you suggesting? What should be broken into smaller services?

Yes, but only the one that are actually needed

That does not mean the admin suddenly becomes feature complete. What that means is that people will make PRs against the smaller services, hopefully for only 2 things if we respect the OCP:
- fixing bugs;
- adding extension points.

Ideally, when you m

[2017-10-18 13:06] greg0ire commented on #3947
If you want an example, have a look at the BreadcrumbsBuilder class, which was initially part of the AbstractAdmin class. I extracted it so now it is a component of the admin class, but ideally, in the future, "admin controllers" would access it directly without any facade.

[2017-10-19 14:23] javiereguiluz opened #4699 "Not implementing reset() from DataCollectorInterface is deprecated in Symfony 3.4"
I'm upgrading a Symfony app to 3.4 and I found this deprecation related to your `BlockDataCollector`:

[code]

[2017-10-19 14:25] javiereguiluz opened #4700 "FormPass is deprecated in Symfony 3.4"
Seen while upgrading a Symfony app to 3.4:

[code]

[2017-10-19 14:27] javiereguiluz opened #4701 "ControllerTrait::render() is final since Symfony 3.4"
Seen while upgrading a Symfony app to 3.4:

[code]

[2017-10-19 14:28] javiereguiluz opened #4702 "ControllerTrait::addFlash() is final since Symfony 3.4"
Seen while upgrading a Symfony app to 3.4:

[code]

[2017-10-19 15:32] javiereguiluz opened #4703 "Command autoregistration is deprecated since Symfony 3.4"
Spotted while running tests in an app updated to Symfony 3.4:

[code]

Same error for:

* `Sonata\AdminBundle\Command\ListAdminCommand`
* `Sonata\BlockBundle\Command\DebugBlocksCommand`
* `Sonata\AdminBundle\Command\GenerateObjectAclCommand`
* `Sonata\AdminBundle\Command\GenerateAdminCommand`
* `Bundle\CommanSonata\Admind\ExplainAdminCommand`
* `Sonata\AdminBundle\Command\CreateClassCacheCommand`

[2017-10-19 15:46] javiereguiluz opened #4704 "Getting private services from container is deprecated since Symfony 3.2"
Services that need to public need to explicitly marked as public starting from Symfony 3.4. See http://symfony.com/blog/new-in-symfony-3-4-services-are-private-by-default.

Deprecations spotted while running tests in an app upgraded to Symfony 3.4:

[code]

[2017-10-20 09:20] andrewmy opened #4707 "Admin classes: undefined method named "setRouteIdHandler""
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

On Application initialization you get an error "Attempted to call an undefined method named "setRouteIdHandler" of class AppBundle\Admin\FooAdmin"

Looks like it was broken by this commit: https://github.com/sonata-project/SonataAdminBundle/commit/59ade036b7eea215b67b040285e526f9e7cf

[2017-10-20 09:20] greg0ire commented on #4707
cc @catharsisjelly

[2017-10-20 10:17] aloupfor opened #4708 "User with ROLE_ADMIN is not able to edit his profile as user are managed by ROLE_SUPER_ADMIN"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject
- My project is only a backoffice so there is only users with ROLE_ADMIN and ROLE_SUPER_ADMIN.
- I am using ROLE_ADMIN on user who can perform the CRUD actions on an entity that I configured, he also has the role ROLE_SONATA_ADMIN_ENTITY_ALL configured from the edit user form.
- I am

[2017-10-20 12:07] jlamur commented on #4708
Hi @aloupfor,

Use this configuration if you want every user with `ROLE_ADMIN` to edit / show every user (not only himself):

[code]

If you want users to be able to show / edit its own profile, you'll have to write a [security voter](https://symfony.com/doc/3.4/security/voters.html) by yourself. Be aware that the user will be able to edit his own permissions if you grant him `EDIT`.

This issue i

[2017-10-20 12:07] #4708 closed

[2017-10-20 12:32] aloupfor commented on #4708
@jlamur Thank you for the answer.

I will take a look at your suggestions but from what I read it is not possible to really split the CRUD actions on users and the edition of the logged user. I though it could have been an existing feature.

Sorry if it was asked in the wrong place.
Also Thanks for this bundle by the way.

[2017-10-20 15:45] soullivaneuh opened #4710 "Sonata and Symfony 3.3+ new service system"
Symfony 3.3 comes with [several changes](http://symfony.com/doc/current/service_container/3.3-di-changes.html) on the DI system in order to simplify the configuration.

This is great, but absolutely not compatible with Sonata ATM.

I think we should take profit to simplify our admin definition too. I don't know yet if this will be BC or not.

I'll try to explain each issue, step by step.

## Curre

[2017-10-20 15:45] Soullivaneuh commented on #4646
@spacetraveller Please next time follow the issue template. Right now we don't have any information for your issue and can't help you at all.

This kind of issue are generaly closed if not updated.

For this one, please follow #4710

[2017-10-20 15:45] #4646 closed

[2017-10-20 15:50] greg0ire commented on #4710
The purpose of the admin_code is IIRC to be able to have several admins for a same entity, and be able to specify it. I think we should simply drop it in favor of the class name.

[2017-10-20 15:56] Soullivaneuh commented on #4710
Are you sure about that?

[code]

Two different admins, same targeted entity and no provided code.

Or maybe we are not talking about the same thing.

[2017-10-20 15:57] greg0ire commented on #4710
I said: `IIRC`

[2017-10-20 19:18] jlamur commented on #4710
There is no purpose to set an admin_code different from the service name.
It actually does not work because the pool tries to get the admin service from the container with... its admin_code.

https://github.com/sonata-project/SonataAdminBundle/blob/f3530bfd6929f3ba54e2f1396707605122ce4a73/Admin/Pool.php#L247-L254

[2017-10-20 20:53] greg0ire commented on #4710
Did you mean "its service id"?

[2017-10-20 21:38] jlamur commented on #4710
I don't know what I meant, I'm confused. Let me try to explain again:

When you call `Pool::getAdminByAdminCode($adminCode)`, it internally calls `$this->getInstance($adminCode)` which in turn calls `$this->container->get($adminCode)`.

However `Pool::getAdminByAdminCode()` is called with an admin code everywhere in the admin-bundle, never with a service id.
And of course, the container won't work

[2017-10-20 21:39] Soullivaneuh commented on #4710
Yes, this is definitely the issue. The question is: why? :smile: :thinking:

[2017-10-21 12:39] catharsisjelly commented on #4707
@greg0ire  Thanks, I've had a quick look and none of my changes that I can see add this function or even call it so I am guessing it's some sort of dependency thing that I don't quite understand. I'm happy to submit a fix but would like to understand the problem first 😁

[2017-10-21 13:03] jlamur commented on #4707
@catharsisjelly When you added this line,

https://github.com/sonata-project/SonataAdminBundle/blob/59ade036b7eea215b67b040285e526f9e7cf1d70/DependencyInjection/Compiler/AddDependencyCallsCompilerPass.php#L277

You made the compiler pass try to call `setRouteIdHandler()`:

https://github.com/sonata-project/SonataAdminBundle/blob/59ade036b7eea215b67b040285e526f9e7cf1d70/DependencyInjection/Compiler

[2017-10-21 16:23] Soullivaneuh commented on #4707
Feel free to remove the unconfirmed label when one of the @sonata-project/contributors will be able to reproduce the issue or if a PR is submitted with proof tests.

[2017-10-21 16:55] nidble commented on #4700
Hi all,

seems to be no anyone worked on this, can I take this issue? :-)

[2017-10-21 16:56] greg0ire commented on #4700
Absolutely! Go for it!

[2017-10-21 16:57] greg0ire commented on #4700
Things to determine :
1. what does this compiler pass do exactly?
2. do we really still need it, or could it be deprecated and removed?

[2017-10-21 20:33] agomat opened #4712 "sonata_type_admin and subClasses"
I have an entity 'OrderRow' and I embed an entity 'AbstractProduct' with 'sonata_type_admin' form type (many to one relation).

OrderRowAdmin class
[code]

'AbstractProduct' model is an abstract class (MappedSuperclass). 'AbstractCusomizedProduct' extends* AbstractProduct whilst 'CusomizedLettering' extends* AbstractCusomizedProduct:

`AbstractProduct` > `AbstractCusomizedProduct` > `CusomizedLett

[2017-10-22 17:01] #4707 closed

[2017-10-22 18:47] lllypa opened #4713 "Files in collection are nulled when updating entity"
- "symfony/symfony": "3.3.*"
- "sonata-project/admin-bundle": "3.23.0"
- "vich/uploader-bundle": "1.6.2"

I'm adding image upload in SonataAdminBundle. Images are multiple, so collection is used. I've implemented exactly the same code, I've used with Symfony 2.8 and VichUploadBundle 1.4, and everything works the same (fine), except for:

1. When I create new or open existing entity
2. I either see

[2017-10-23 07:35] sujayjaju opened #4715 "Nested Collection Fields: Intermitent error: Call to a member function getAssociationAdmin() on null"
### Environment
Windows and Linux, PHP 7, MySQL

#### Sonata packages
[code]

#### Symfony packages
[code]

#### PHP version

[code]

## Subject
Nested Collection Fields: Intermitent error: Call to a member function getAssociationAdmin() on null

## Steps to reproduce
Its difficult to reproduce always, but for an existing entity, when an optional one to many or many to many "Add" ajax action is ca

[2017-10-23 08:42] aloupfor commented on #4708
I think I have been able to come up with something (using the suggestions from this issue and [this stackoverflow question](https://stackoverflow.com/questions/40249100/remove-specific-routes-per-user-role-in-sonata-without-sonatauserbundle/40302296)).

I added a new voter which check that the logged user is the one he tries to show/edit.
[code]

I changed the `strategy` to `unanimous` to take int

[2017-10-23 21:20] mzstic commented on #4699
Seems like nobody started to work on this one yet. I'd be happy to take this one :)
I'm just not sure what's the correct way to persuade composer to install symfony 3.4. If you could give me some directions I'd be glad.

[2017-10-23 21:23] greg0ire commented on #4699
@mzstic I think you can try `composer require symfony/symfony ^3.4@dev`

[2017-10-23 22:01] mzstic commented on #4699
One more question this issue is written under SonataAdminBundle but the place that needs to be fixed is within SonataBlockBundle. So I should make PR for this issue into another project, right? I'm kinda confused by it :)

[2017-10-23 22:11] greg0ire commented on #4699
Indeed, I think @javiereguiluz wanted to centralize issues. You have no choice but to do it in the SonataBlockBundle then :)

[2017-10-24 11:33] featuriz opened #4717 "Warning: array_merge() expects at least 1 parameter, 0 given"
https://github.com/sonata-project/SonataAdminBundle/blob/caab4a84a2146c0109de7f22550a41af0be72706/Form/Type/ChoiceFieldMaskType.php#L38

If the second is null something like this: call_user_func_array('array_merge', array())
Next action is : array_merge()
Error: So this throws error

[2017-10-24 11:40] greg0ire commented on #4717
Can you please make a PR to fix this?

[2017-10-24 13:00] #4702 closed

[2017-10-24 15:20] #4674 closed

[2017-10-24 15:24] stefanides commented on #4530
Hi,
I'm facing the same issue,
[code]
embedded admin with `sonata_type_collection`, old rows have some fields disabled to stay not updated. When creating a new row in the collection the whole form gets submitted and recreated (little strange & complicated, but ok). Then all disabled inputs are not present in the form submit and even the fields are disabled+read_only, the form processes them as emp

[2017-10-25 09:06] skurovec commented on #4093
Problem is still present in the latest version (3.24.0) except links are wrong in edit action and correct in the show action.

I think, that problem is in DefaultRouteGenerator.php in method getCode where section `someone provide the fullname` should be before section `someone provide the fullname`, because I have embedded admin and child admin.

It should be like this PR https://github.com/sonata

[2017-10-25 13:32] terox commented on #4530
Same issue here with the next versions:

[code]

[2017-10-26 11:55] aLkRicha opened #4723 "reuse sonata admin form in symfony simple form."
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Reuse sonata admin form in simple symfony form

Hello. I need help from you, guys. I want to reuse sonata admin form in my custom symfony for. I have tried to use it like:
[code]
but in this way i can't enable "add" button, and inline styles don't work. Maybe somebody know how i could do it?

[2017-10-26 11:59] core23 commented on #4723
We try to keep github issues for feature requests and bugs only.

Please have a look at the [docs](https://sonata-project.org/bundles/) or use [StackOverflow](http://stackoverflow.com/questions/tagged/sonata) for general support and questions.

[2017-10-26 11:59] #4723 closed

[2017-10-26 12:05] aLkRicha commented on #4723
@core23 i have already looked for this question in docs and SO, and there is no information.

[2017-10-26 12:06] foji2 commented on #4671
I want use this but for $listMapper i try change $showMapper by $listMapper but this not work

[2017-10-26 12:12] core23 commented on #4723
The please ask for help on #sonata on [the symfony-devs slack](https://symfony.com/slack-invite).

Sorry, but this is not the right place for general questions.

[2017-10-26 19:35] core23 opened #4725 "jQuery.ui still relevant?"
I wanted to ask the question if we still need jquery.ui, because it nearly looks dead. The last release was a [year ago](http://blog.jqueryui.com/).

Refs: https://github.com/sonata-project/SonataAdminBundle/tree/3.x/Resources/public/vendor/jqueryui

Anybody knows why we added it as a dependency?

[2017-10-26 20:33] Soullivaneuh commented on #4725
Sonata admin is based on AdminLTE theme that currently requires jquery-ui: https://github.com/almasaeed2010/AdminLTE/blob/f0421f5b364d61809563bc971eef51fd510ac0ef/package.json#L52

I think the issue should be opened on this project.

If it's removed from AdminLTE, then we should check if we use it for custom code, then remove it.

[2017-10-26 20:35] core23 commented on #4725
Thanks for the information.

Closing this for now

[2017-10-26 20:35] #4725 closed

[2017-10-27 13:49] #4713 closed

[2017-10-27 13:49] lllypa commented on #4713
Looks like this is VichUploaderBundle related:
https://github.com/dustin10/VichUploaderBundle/issues/776

[2017-10-27 20:32] OskarStark commented on #4710
what about using our "old" service name like `app.admin.foo` as an alias?
does this fix the problem?

[2017-10-27 20:34] OskarStark commented on #4700
any news @nidble ?

[2017-10-27 20:39] OskarStark commented on #4699
any news on this @mzstic ?

[2017-10-28 18:31] ossinkine commented on #4700
Is it related to https://github.com/sonata-project/SonataCoreBundle/issues/403?

[2017-10-28 19:02] nidble commented on #4700
Sorry if I am being late! But I had a strong working week. :( I can involve in this issue from monday...

[2017-10-30 12:08] julienfastre opened #4733 "Allow to generate url in url field type with another parameter than `identifier`"
I am currently trying to generate an url column in a list, but the identifier should not be the id parameter.

This is my url: `/profile/{{ username }}`

The entity in the admin is a `Profile` class, with a One-to-One relationship with the `User` entity (`$profile->getUser()` returns a `User` instance).

This seems to be impossible to generate currently from SonataAdmin.

## The way I tryed:

(acc

[2017-10-30 12:22] jlamur commented on #4733
Hi @julienfastre,

A similar feature was added in this PR https://github.com/sonata-project/SonataAdminBundle/pull/4591, but was then reverted because the implementation was a little bit overlooked.

Maybe you can help @catharsisjelly to rewrite a new one.

[2017-10-30 15:19] nidble commented on #4700
@greg0ire @OskarStark,

1.  currently the compiler pass of SonataBundle works following this schema (vendor/sonata-project/core-bundle/Resources/config/core.xml):
[code]
while symfony core apply a different injection (vendor/symfony/symfony/src/Symfony/Bundle/FrameworkBundle/Resources/config/form.xml):
[code]

2. The different signature of class _DependencyInjectionExtension_, suggests, from my pe

[2017-10-30 15:46] greg0ire commented on #4700
@nidble do you understand what the point of this compiler pass is? Because I don't.
I think its purpose might be to still be able to create forms based on the service id rather than the FQCN, but I could be mistaken. It was introduced in https://github.com/sonata-project/SonataCoreBundle/commit/0bd414fc3b5aa9607768ee0785fa851b6f0dc2bb, along with a command I never tried.

[2017-10-30 15:49] greg0ire commented on #4700
I tried the command on one of my projects, here is what I get:

<details>

[code]

</details>

I think all this should be deprecated.

[2017-10-30 15:57] julienfastre commented on #4733
@jlamur : Hum, I am not sure that this is the same feature. From this PR:

``/product/af5/edit``

Here, I simply want to add an url in a column in the list view, using the `url` filter. Basically, the sample above should come in `configureListField` function of a `ProfileAdmin` in my example:

[code]

[2017-10-30 16:10] catharsisjelly commented on #4733
I see a similarity, whereas I was wanting to encode the ID that gets passed you want to use a totally different property for the ID. I can certainly see how a version of my solution would work where you create a RouteIdHandler that takes your ID parameter and instead of using the ID to get the object it uses the slug. Not 100% convinced it's the same but I can certainly see why the comparison was

[2017-10-30 16:18] greg0ire commented on #4733
We need a service that, given an url, can provide the corresponding object identifier. This sounds a bit stupid though because that would probably mean 2 SQL (or whatever) requests.

[2017-10-31 11:18] nidble commented on #4700
Just a side note,

@greg0ire: the command which you refer, `SonataListFormMappingCommand` implements `isEnabled` that restrict its execution for specific Symfony Kernel versions.

Maybe, If major version of Symony will be excluded, this layer can be removed. Am I right? :-)

[2017-10-31 11:24] greg0ire commented on #4700
Yes, but that is a big if. I think your proposal still holds. Can you please make a PR, so that we see a bit more code?

[2017-10-31 15:05] Soullivaneuh commented on #4710
@OskarStark Yes, but not in service definition.

I ended up with those two compiler passes:

[code]

It's usable for my project, but I can't ensure it's compatible with all.

In any case, admin service configuration should be simplified IMHO.

[2017-11-01 13:51] ketamina96 commented on #2761
Did anyone found any solution for this problem ?

[2017-11-01 14:12] Nadrshin commented on #2761
@ketamina96, add this code to from theme:

[code]

[2017-11-02 08:00] ketamina96 commented on #2761
@Nadrshin it doesn't work. It still shown twice.

[2017-11-02 09:16] nidble commented on #4700
@greg0ire after further investigate on compile pass process, instead to change service definition I opted to apply small a refactoring to the classes involved in this process. I can make a PR but this will affect on SonataCoreBundle...

[2017-11-02 09:17] greg0ire commented on #4700
Please make the PR, it will be easier to understand what you are talking about.

[2017-11-02 13:11] #4290 closed

[2017-11-02 16:03] PapsOu opened #4736 "CRUDController batchAction and batchActionDelete"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

## Steps to reproduce

Do a `batchDeleteAction` with a `preBatchAction` that will remove some items from `$idx` array that cannot be removed (e.g. Relations are still presents in DB). When removing all items in `$idx` array, the `call_user_func` in `batchAction` return's method is ca

[2017-11-03 07:23] #4569 closed

[2017-11-03 11:47] diedna opened #4739 "sonata_type_choice_field_mask : Argument 1 passed to Entity::set() must be an instance of Entity or null, string given"
#### Sonata packages

SonataAdminBundle

## Subject

I'm trying to use sonata_type_choice_field_mask, the render is fine and working, but when i try to insert into the database i'm getting the error above.

If i use add('typeContrat') without sonata_type_choice_field_mask everything is working but without the field mask, of course.

Thank you for your help! :'(

## Code
**EngagementsAdmin.php**
[c

[2017-11-03 12:18] jlamur commented on #4739
We keep github for bugs and features only.

Please ask your question on [stackoverflow.com](https://stackoverflow.com) or on the [symfony-devs slack](https://symfony.com/slack-invite) (in #sonata channel).

[2017-11-03 12:18] #4739 closed

[2017-11-05 20:10] #4712 closed

[2017-11-05 23:31] greg0ire commented on #4700
Anyone experiencing this, please try the following piece of configuration:

[code]

And use FQCNs wherever you can

[2017-11-07 04:24] grichards opened #4746 ""admin_code" for "sonata_type_model" not respected if configured from within an inline "sonata_type_collection""
I have an admin class which is configuring an inline "sonata_type_collection" for a one-to-many relationship.

The admin class representing the "sonata_type_collection" entity itself has a related many-to-one entity which is configured using "sonata_type_model", and a specific admin class to use for this context via "admin_code".

The admin class configured for this "sonata_type_model" via the "ad

[2017-11-08 04:46] ejkun opened #4748 "Editable Fields Bug - Remove TD cell on save"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

Editable fields don't retrieve the new content. If I try to edit one cell, it will persist the change to the database, but the content that comes back is broken. The return should be a `JsonResponse` with an array like:
[code]
But what I get is a raw html rendered as JSON. I believe

[2017-11-08 11:37] Clanver commented on #2810
This still persists, right? Using AdminBundle v.3.24, still wont create the tabs in the embedded admins.

[2017-11-08 12:24] davidfernandezperrino commented on #2810
@lopsided @Clanver I think it's still not working. I solved the problem overriding the template, but my solution was very specific for my situation and it's not generic. Good luck!

[2017-11-08 13:32] mlang38 opened #4750 "'View more...' or link to filtered list in global search results blocks"
As it seems that the global search only shows at max 10 results per Entity/Admin, it would be great to have a link to go to the full filtered list, keeping the global search filters parameters, for each Admin.

It could be a 'View more...' link at the end of the `<ul>` when there is more than 10 results.
And/or just customize the url of the little _list_ box tool link in each block header, next to

[2017-11-08 15:46] core23 commented on #4750
Can you provide a PR? @mlang38

[2017-11-08 16:03] mlang38 commented on #4750
Don't have much time for now, and I don't really have ideas on how to do it. By reading Sonata guts every day, I have to say it is quite complicated (hairy/messy?).

[2017-11-08 17:20] ger86 opened #4752 "Nested sonata_type_collection error: could not get id"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

If I have a Admin class with a sonata_type_collection and the associated admin for that collection has another sonata_type_collection, trying to add a element causes the following 500 error:

Could not get element id from s5a033b8528778_proposals_0_services Failing part: services

##

[2017-11-09 09:18] #4703 closed

[2017-11-09 12:14] fadoe commented on #3245
I have the same problem. Is there any solution after 2 years?

[2017-11-09 13:39] lopsided commented on #2810
I haven't checked since April as I've moved on to different projects. I just made some layout/template overrides to make it look OK at the time but nothing worth sharing really.

[2017-11-09 14:00] psyray commented on #2366
PR Created ;)

[2017-11-09 16:39] DavidGarciaCat opened #4754 "Allow to create new entities from an abstract class"
Hello,

This is more a feature request than a bug:

Given:
- `Symfony` uses `Doctrine` (by default, although not mandatory) to manage entities;
- These entities can be `Abstract Classes` so they can be extended;
- These classes can be managed by `Doctrine Discriminator Maps`

I don't think is useful when we cannot create new content unless we create many Admins, one for each extended entity. Let's

[2017-11-10 08:17] psyray commented on #2366
PR is ready to merge, functionality will be available soon ;)

[2017-11-10 10:37] FireLizard commented on #4332
I stumbled over a related issue and post my solution just for information.

I've got a many-to-many relation of A::$b and B::$a. When listing Entities of A, I want to be able to sort by properties of class B. Setting the FieldDescriptionOptions **sortable** to _true_ does not worked. So I tried to add the ORDER BY clause by using a HIDDEN select field but coming to the same issue as shown above.

[2017-11-10 10:44] greg0ire commented on #4332
Can you document it please?

[2017-11-10 13:45] yamitenshi commented on #4640
I second this issue. I'd like to add a dynamically generated breadcrumb item to some admins, which should be relatively easy, but it's unnecessarily difficult.

I can understand closing the BreadcrumbsBuilder class for extension - I'm actually all in favour of making everything final unless extension is a requirement.

What mostly makes this harder, however, is that the breadcrumbs builder is bein

[2017-11-10 13:49] greg0ire commented on #4640
Wrong. See https://symfony.com/doc/3.2/service_container/service_decoration.html

[2017-11-10 13:53] yamitenshi commented on #4640
I did not know about that, thank!

That does allow me to easily overwrite the breadcrumbs builder, but it would still mean applying a breadcrumbs builder I need for a very specific purpose in a very specific place over _all_ admin classes.

It works, I guess, but it does seem like a suboptimal solution.

[2017-11-10 13:56] greg0ire commented on #4640
I have no solution for this one, sadly... I think the way to go for this would be to have sonata admin create one alias per admin, and to allow the user to change that alias to what they want for any admin they want. What do you think?

[2017-11-10 14:11] yamitenshi commented on #4640
That seems like a very good solution to me. Though I do admit, it's a harder problem to solve than I initially would have thought (as is so often the case 😄).

I'm not sure what the performance impact of creating a lot of aliases would be though (I'd imagine it not to be that big, especially in production, with proper caching). And either way, I can't really think of another solution that doesn't

[2017-11-10 14:17] greg0ire commented on #4640
I think the impact would be really tiny. To implement the solution, I think all is needed is a new compiler pass that would be able to gather all admin services definitions, and create one alias for each of them. The alias could be changed to point to whatever you want by just adding something in the service definition tag.

cc @sagikazarmark with which I remember discussing similar things here: h

[2017-11-10 14:21] greg0ire commented on #4640
An alternative could be to tag your new service with the admin code, to tell the compiler pass that it needs to alias it to that service for that admin code.

[2017-11-10 14:23] greg0ire commented on #4640
cc @fbourigault who worked on extracting another component

[2017-11-10 14:31] fadoe opened #4755 "After rendering the filter form the choice names are not displayed."
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

The filter form renders the choice type not correct.

## Steps to reproduce

To filter a list I added a choice field to the filter:
[code]
## Expected results

When I drop out the choice I see the name from my ChoiceEntity.

## Actual results

* I see the keys from my ChoiceEntity-Co

[2017-11-10 17:34] DavidGarciaCat commented on #4754
https://sonata-project.org/bundles/admin/2-1/doc/reference/advance.html#inherited-classes

[2017-11-10 17:34] #4754 closed

[2017-11-10 21:48] fbourigault commented on #4640
The aliases solution would work. There would be no overhead as those are resolved at container build time. As `AbstractAdmin::setBreadcrumbBuilder` is deprecated since 3.2, I would introduce some registry or service locator to get the right breadcrumb builder for an admin and configure the service to use on the `sonata.admin` tag.

[2017-11-13 07:07] #2366 closed

[2017-11-14 09:11] 0l1v3r5 opened #4758 "Unable to load the "Symfony\Component\Form\FormRenderer" runtime after updating my project"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject
getting 'Unable to load the "Symfony\Component\Form\FormRenderer" runtime' after updating all packages of my project

## Steps to reproduce
I just updated my projects with :  ``` $ composer update ```

## Expected results
I was hoping that the project works as it did before the update

[2017-11-14 09:37] jordisala1991 commented on #4758
What version of symfony are you using?

[2017-11-14 09:38] jordisala1991 commented on #4758
Seems like between Symfony 3.3 and 3.4 they changed how to retrieve runtime ...

[2017-11-14 09:44] jordisala1991 commented on #4758
I will need to find time to test this properly on all SF versions, and how to fix them all... If you want to provide a fix or help investigating this issue, it will be helpful :)

[2017-11-14 10:11] OskarStark commented on #4758
this shouldn't happen, due to their BC promise.... 😢

[2017-11-14 10:17] jordisala1991 commented on #4758
Well, indeed it shouldn't happen, but it is happening because I am using 3.4 and it works perfectly fine for me with the actual code, and it wasn't working with the previous one :/

[2017-11-14 10:52] jordisala1991 commented on #4758
Other option would be revert my PR and find another solution. But until tonight I won't have time for anything

[2017-11-14 12:29] webdevilopers commented on #3245
Not here, sorry! I must confess I'm no longer using most of these features.

[2017-11-14 12:30] webdevilopers commented on #3245
@nlzet Do you know if anything happened - did the new version implement it?
Maybe I should close this issue anyway?

[2017-11-14 12:47] nlzet commented on #3245
@webdevilopers My PR was based on a completely new version of the plugin, and seemed incompatible with the current behaviour.

Unfortunately I do not have an idea how to do this either

[2017-11-14 15:46] psyray commented on #4758
A direction here https://github.com/symfony/symfony/issues/24533

[2017-11-15 05:57] ossinkine commented on #4700
@greg0ire This workaround does not work. Problematic compiler pass is created when the bundle builds the container https://github.com/sonata-project/SonataCoreBundle/blob/3.x/src/SonataCoreBundle.php#L30 but not on config processing.

[2017-11-15 08:51] greg0ire commented on #4700
Strange. Can you try removing that line, see what happens?

[2017-11-15 09:11] jordisala1991 commented on #4758
Not sure how to fix this.. @nicolas-grekas can you give us some help?

[2017-11-15 09:50] #4475 closed

[2017-11-15 09:50] #4517 closed

[2017-11-15 10:07] fracsi opened #4761 "[RFC] Twig namespaced paths"
In `symfony-flex` the directory structure is a little different than the normal symfony skeleton.

It uses the `templates` folder in the root directory for the twig templates. You can override third-party bundle templates in `templates/bundles/[BUNDLENAME]/`, but twig can only find templates if they are referenced with the new namespaced paths. (https://symfony.com/doc/2.8/templating/namespaced_pa

[2017-11-15 10:09] OskarStark commented on #4761
Would you like to create a PR?

[2017-11-15 10:21] fracsi commented on #4761
@OskarStark I just wanted to start a conversation about it first. Also it affects all Sonata Bundles as well.

[2017-11-15 10:24] OskarStark commented on #4761
yes I know, maybe should move the discussion to the centralized [dev-kit](https://github.com/sonata-project/dev-kit) repo and create a todo list with all affected bundles to get a clearer view.

WDYT @greg0ire ?

[2017-11-15 10:36] greg0ire commented on #4761
I think it's ok to do that since 2.8 is our lowest supported version now. A centralized issue would be great, a bash script to help finding occurences, and perhaps replacing them would be great too.

[2017-11-15 12:03] xabbuh commented on #4758
It looks to me that this is caused by the changes made in #4749. The class of the `twig.form.renderer` service from Symfony's TwigBundle is an instance of `Symfony\Bridge\Twig\Form\TwigRenderer` until Symfony 3.3. It only is an instance of `twig.form.renderer" class="Symfony\Component\Form\FormRenderer` as of Symfon 3.4.

[2017-11-15 20:59] Arkemlar commented on #2616
THIS IS STILL HAPPENING! Symfony 3.2.13. Is sonata that much retarded? Workaround shown above not work.

[2017-11-15 21:36] greg0ire commented on #2616
![k59iepb](https://user-images.githubusercontent.com/657779/32861422-e3c44208-ca54-11e7-9c0e-418a0ab24f8b.gif)

Dude, your yelling at software! Written by benevolent people! If there is an issue, fix it with your superior intellect and make a PR, otherwise, let me refund you the $0 you spend on this, and don't use Sonata ever again.

[2017-11-16 06:09] featuriz commented on #4717
My SonataAdminCode is this:
`->add('isActive', 'sonata_type_choice_field_mask', ['label' => 'Active?', 'choices' => FZ::activeChoice(), 'expanded' => TRUE, 'multiple' => FALSE, 'required' => TRUE, 'attr' => ['class' => 'list-inline']])`
I commit these two lines and added one
[code]
**I think the error at my admin code!**

[2017-11-16 20:44] Arkemlar commented on #2616
Well, it was impressive bombardment by me, too emotional actually, but it is cumulative effect of many silently silenced "WTF?!" exclamations. I refused to use Sonata but it is used in current project, so..
Cool gif tho))

[2017-11-16 21:42] #4758 closed

[2017-11-16 21:58] jordisala1991 commented on #4758
Fixed on #4762

[2017-11-17 07:43] fadoe commented on #4671
@foji2 You are right. This only works with the show mapper.

[2017-11-17 07:48] fadoe commented on #3245
Can everyone explain how I can debug this? I have no idea how the configuration came from the Admin class to the form. And where can I fin the place where the form is rendered to the template?

[2017-11-17 19:26] greg0ire commented on #4700
@ossinkine I just created a PR to fix this.

[2017-11-17 22:16] greg0ire commented on #4761
See https://github.com/sonata-project/SonataCoreBundle/pull/469

[2017-11-17 22:19] greg0ire commented on #4704
If anyone could get stack traces for those deprecations, that would help.

[2017-11-18 09:43] #4700 closed

[2017-11-20 05:23] fracsi commented on #4761
@greg0ire The PR you linked is not related to namespaced paths in twig.

[2017-11-20 07:21] greg0ire commented on #4761
Oh right it's something else completely 😅

[2017-11-20 08:11] OskarStark opened #4769 ""The options "choice_translation_domain", "choices" do not exist." after upgrade from 3.24.0 to 3.25.0"
The options "choice_translation_domain", "choices" do not exist.

I think this was introduced by: #4670

### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

After upgrading von admin bundle `3.24.0` to `3.25.0` the following error occured.

## Error

`The options "choice_translation_domain", "choices" do not exist. Defined options are

[2017-11-20 08:22] Hanmac commented on #4769
Hm I thought that it wasn't merged yet into the sonata user bundle yet or did a release happen?
I will try to fix it as soon I am on a pc

[2017-11-20 08:29] Hanmac commented on #4769
@OskarStark what kind of Form type did you try to create? If it was the Security Type, the change is in 3.* but not in Master for User Bundle yet

[2017-11-20 08:41] OskarStark commented on #4769
ah you mean this one https://github.com/sonata-project/SonataUserBundle/pull/951 is causing the issue?

Yes I am using dev-master of user bundle for now

@greg0ire could you perform a manual merge in UserBundle from `3.x` ➡️  `master` ❓

[2017-11-20 08:46] Hanmac commented on #4769
Yeah that's what I am thinking
I might do an extra pull request for Master for this change if you guys arent faster than lazy me

But I still might add a change for this That prevents this thing from crashing in case something happen

[2017-11-20 08:49] jordisala1991 commented on #4769
Manual merge for UserBundle is a bit hard (because of the folder refactor), I am handling it, but it won't be done until tonight (it might take some more time)

@OskarStark what kind of field are you using?

[2017-11-20 08:50] OskarStark commented on #4769
1.  I tried to move core-bundle from 3.7 to 3.6 (like @jordisala1991 said), but this does not fix the issue.
2. I uncomment the security roles type in UserAdmin, to see if this is causing the error, but still the same error.

I updated the PR header with the stack trace

[2017-11-20 08:58] jordisala1991 commented on #4769
Here is the problem (I think): https://github.com/sonata-project/SonataAdminBundle/pull/4727/files#diff-87a2ac19b26e59d370fce2df773ae451R110

[2017-11-20 08:59] jordisala1991 commented on #4769
Can you check before this commit @OskarStark ?

[2017-11-20 09:01] OskarStark commented on #4769
really, but why? I am using Sf 3.3

[2017-11-20 09:02] jordisala1991 commented on #4769
https://github.com/sonata-project/SonataAdminBundle/pull/4770

[2017-11-20 09:37] #4769 closed

[2017-11-20 09:40] elliotbouvier commented on #4769
Same issue here with `"sonata-project/user-bundle": "dev-master"` but don't know if it's related tho...

[2017-11-20 09:42] Hanmac commented on #4769
thanks guys! i thought i broke something

hm whould it be a good idea to use `choice_translation_domain | default(translation_domain)` to prevent maybe other bugs?

@elliotbouvier what stacktrace do you get?
is it related to security type?

[2017-11-20 09:43] OskarStark commented on #4769
New release is out: https://github.com/sonata-project/SonataAdminBundle/releases/tag/3.25.1

[2017-11-20 09:51] elliotbouvier commented on #4769
@OskarStark looks like it fixed the issue

[2017-11-20 09:52] elliotbouvier commented on #4769
Edit: not fixed

[2017-11-20 09:53] elliotbouvier commented on #4769
Edit2: fixed, ty

[2017-11-20 13:14] c0ntax commented on #4275
I can confirm that this has been fixed (in my codebase at least) by https://github.com/sonata-project/SonataAdminBundle/pull/4571

[2017-11-20 13:14] #4275 closed

[2017-11-20 13:35] Nightbr opened #4771 "Broken doctrine_orm_model_autocomplete in DatagridFilter"
Hey everyone, I noticed a little bug in sonataAdmin 3.25.x with doctrine_orm_model_autocomplete in DatagridFilter.

### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

Since sonata Admin 3.25.x all my list view throw 500 errors because of a problem in vendor/sonata-project/admin-bundle/src/Resources/views/Form/Type/sonata_type_model_a

[2017-11-20 13:37] greg0ire commented on #4771
@psyray can you please help with this?

[2017-11-20 17:23] napso opened #4773 "Froala Symfony bundle for (WYSIWYG) not working with Sonata-admin"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject
[KMSFroalaEditorBundle ](https://github.com/froala/KMSFroalaEditorBundle)is a symfony bundle that provides a custom formType to show the froala tich text editor.

normally in Symfony, you can just do the following:
[code]

however, when trying to add the froala type i get the followni

[2017-11-20 17:38] ventuc opened #4774 "Installation failure for versions 3.25.0 and 3.25.1 on PHP 5.6"
#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

Installation of the admin-bundle (both versions 3.25.0 and 3.25.1) with composer fails due to wrong `use` statements in the following files:

[code]

Version 3.25.0 fails only for the file `src\Form\Type\Filter\DateRangeType.php`. Version 3.25.1 fails also for file `src\Form\Type\Filter\DateType.php`

[2017-11-20 17:54] greg0ire commented on #4774
There is already a PR for that issue

[2017-11-20 17:55] greg0ire commented on #4774
I think

[2017-11-20 18:01] greg0ire commented on #4774
Or maybe not, see https://github.com/sonata-project/SonataAdminBundle/commit/a354f3482f74c97e74e920efd1095e9def2eaee3

[2017-11-20 18:32] greg0ire commented on #4774
Can you please make a PR for that?

[2017-11-20 19:01] psyray commented on #4771
Hi,

@Nightbr Fixed with PR #4775
Waiting to be merged.

[2017-11-20 20:36] ventuc commented on #4774
Yes, the issue is the same. But it's not only in `DateTimeType`. It's in all the following classes:
[code]

In can't make a PR because I don't know which `ChoiceType` class is the right one. The one from Symfony or the one from Sonata?

[2017-11-20 20:39] greg0ire commented on #4774
I'm eating right now, but he git history should help with that. Will keep you posted.

[2017-11-20 20:55] greg0ire commented on #4774
It was the Symfony one: https://github.com/sonata-project/SonataAdminBundle/pull/4118/files

[2017-11-20 22:33] psyray opened #4778 "Variable "base_template" does not exist"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject
This message is displayed when trying to access **sonata page or media CRUD elements only** from admin menu.
With admin from my bundle no problem, CRUD works as expected.

## Steps to reproduce
Install sonata 3.25.0 with sonata media or sonata page, access admin, click on a page or me

[2017-11-20 22:36] greg0ire commented on #4778
See #4772

[2017-11-20 22:37] psyray commented on #4778
:+1:
Didn't found this so ooooold issue :(

[2017-11-20 22:42] #4778 closed

[2017-11-20 22:43] psyray commented on #4778
I'm closing because issue is already reported here https://github.com/sonata-project/SonataPageBundle/issues/910

[2017-11-20 22:57] #4774 closed

[2017-11-20 23:07] greg0ire commented on #4701
This is reopened because the solution I found is not good enough: the plan was to rename the method, and to use `__call` to simulate several signatures, but this does not work with public methods, as illustrated here: https://3v4l.org/pPBhA

[2017-11-20 23:10] greg0ire commented on #4701
I might have a horrible solution, resorting to 2 parent classes for AbstractAdmin + class aliases dependent on the current sf controller class

[2017-11-20 23:12] greg0ire commented on #4701
A saner solution might be to drop sf 2 before adding support for sf 4: maintaining 3 major versions of Symfony is maybe not the best idea. That would imply releasing a major version of the admin bundle.

[2017-11-21 08:44] hroux commented on #1548
@mikeevstropov  It's better to use `$query->getRootAlias()` like this :

public function createQuery($context = 'list')
{
    $proxyQuery = parent::createQuery('list');
    $proxyQuery->addOrderBy($proxyQuery->getRootAlias().'.root', 'ASC');
    $proxyQuery->addOrderBy($proxyQuery->getRootAlias().'.lft', 'ASC');

    return $proxyQuery;
}

[2017-11-21 09:23] t-todorov opened #4781 "Fatal error after clean installation with Symfony 3.3.13 and Sonata 3.25.1"
**Sonata packages**

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject
After a fresh Symfony installation with Symfony installer and installing Sonata Admin Bundle (latest: 3.25.1), on the step that I clear the cache I get the following error:

[code]

If I comment _line 15_ of /vendor/sonata-project/admin-bundle/src/Form/Type/Filter/DateType.php and the _use_ statements