[2015-09-29 10:50] webdevilopers opened #3307 "CRITICAL Login no longer working - Unable to generate a URL"
I recently had to update production to `dev-master`. When clicking the login URL I get:
request.CRITICAL: Uncaught PHP Exception Twig_Error_Runtime: "An exception has been thrown during the rendering of a template ("Unable to generate a URL for the named route "sonata_user_admin_resetting_request" as such route does not exist.") in "SonataUserBundle:Admin/Security:login.html.twig" at line 60."

Ha

[2015-09-29 10:53] Soullivaneuh commented on #3306
Could you provide some cases? And yes this should be standardized. The issue is changing labels would be BC break.

But yes, we should write something about it on contribution doc (cc @rande).

Not agree. Some languages like french need a space before `:`, some don't. This need to be handled by translations files.

[2015-09-29 10:56] Soullivaneuh commented on #3307
@rande If this is a BC issue, commit should be reverted.

@OskarStark I think you manage a PR with route definitions, isn't it?

[2015-09-29 10:58] webdevilopers commented on #3307
Maybe this is related to a `SonataUser` issue otherwise?

I replaced
[code]
with
[code]
for now.

I'm still checking if my config causes this.

[2015-09-29 11:02] sagikazarmark commented on #3306
Actually, I might made a mistake here. I realized since that dot notation is used for some namespacing. For example: form.label_context vs label_context

Well, I think it would be better if the form library could handle this internally. What if you want to use a placeholder instead? Add a new string without the colon?

[2015-09-29 11:14] Soullivaneuh commented on #3306
We don't do it AFAIK. :-)

Seriously, I understand your issue, I got the same for project. Actually I make two translations for that (yes, not very nice).

I'm curious. Feel free to PR. :+1:

[2015-09-29 11:21] rande commented on #3306
@sagikazarmark dot notation is used by sonata admin using the underscore strategy: https://sonata-project.org/bundles/admin/2-3/doc/reference/translation.html#label-strategies

[2015-09-29 11:25] sagikazarmark commented on #3306
@rande thanks

[2015-09-29 11:28] sagikazarmark commented on #3307
Yes, the routing must be changed.

Check here: https://github.com/sonata-project/sandbox/blob/2.4-develop/app/config/routing_admin.yml#L12

Make sure to add the `qis` prefix.

[2015-09-29 11:29] sagikazarmark commented on #3307
@Soullivaneuh I already added this to the docs. How often do you build the documentation?

[2015-09-29 11:36] sagikazarmark commented on #3307
Actually, the right documentation for this problem should be here: https://sonata-project.org/bundles/user/master/doc/reference/installation.html#integrating-the-bundle-into-the-sonata-admin-bundle

@Soullivaneuh yes, this is some sort of BC issue, but I am not sure path generation can be implemented in a BC preserving way. Probably it should be mentioned in the upgrade guide.

[2015-09-29 11:42] webdevilopers commented on #3307
Thanks @sagikazarmark, the new config works fine. The `qis` prefix was my custom route, no problem there.

Thanks for the quick response! :+1:

[2015-09-29 11:44] sagikazarmark commented on #3307
@webdevilopers I know it is your custom prefix, but as I can see you replaced admin with that custom prefix. The full path to the admin resetting would be `/admin/resetting`, which in case would be `/qis/resetting`, wouldn't it?

Glad I could help!

[2015-09-29 11:46] sagikazarmark commented on #3307
Also, note that in the file I linked `sonata_user` route is renamed to `sonata_user_admin_security`. It is not used anywhere in the project, I am just pointing to make sure no confusion will be. :wink:

[2015-09-29 11:46] webdevilopers commented on #3307
My current config seems to work fine:
[code]

The "Forgotten password" leads to `/resetting/request` without `qis`.

Since it is based on `fos_user` it is good to have no `admin` relation inside that route / path.

[2015-09-29 11:52] sagikazarmark commented on #3307
It is completely fine. Just pointed that the name changed in the configuration and the sandbox.

No, it is not good. The PR which caused the issue for you implemented separate password resetting for the admin panel. This is especially good if you don't have user support on the frontend.

Also, I am not sure the separate routing configurations will not collide if you don't use them as intended. Cur

[2015-09-29 12:11] webdevilopers commented on #3307
Can you link the PR? Thanks!

[2015-09-29 12:12] sagikazarmark commented on #3307
Discussion: sonata-project/SonataUserBundle#618

sonata-project/SonataUserBundle#620

[2015-09-29 12:20] Soullivaneuh commented on #3307
This **should not**. This is completly BC break as you can see. BC break things like route name change should be done on major version.

That PR must be reverted to be reworked. cc @OskarStark @rande.

[2015-09-29 12:24] sagikazarmark commented on #3307
No need to revert, I will try to fix it.

[2015-09-29 12:36] rande commented on #3307
@sagikazarmark see related comment in your UserBundle PR.

[2015-09-29 12:40] sagikazarmark commented on #3307
Pushed a fix

[2015-09-29 12:55] #3307 closed

[2015-09-29 13:13] webdevilopers commented on #3307
Do I have to revert the changes suggestend by @sagikazarmark then?
With the PR merged and updating to current `dev-master` everything should work as before with my old config?

[2015-09-29 13:14] sagikazarmark commented on #3307
Yes, it should, but it's a deprecated way, you should use the new configuration.

[2015-09-29 13:18] tophsic commented on #3307
Many thx, I just updated to get the BC before you merged :wink: So I lost... 10 min :+1:

[2015-09-29 13:19] sagikazarmark commented on #3307
:wink:

[2015-09-29 13:19] webdevilopers commented on #3307
Which attempt is correct when *2.4* will be released?

[2015-09-29 13:20] Soullivaneuh commented on #3307
@webdevilopers The new one. As @sagikazarmark says, the old route works again but is deprecated. You will receive warnings with it.

[2015-09-29 13:20] sagikazarmark commented on #3307
The actual BC break will be introduced in 3.0, until then the old config is just deprecated. Actually not having the new routes in your config is.

[2015-09-29 13:21] sagikazarmark commented on #3307
@Soullivaneuh isn't it 2.3? :wink:

[2015-09-29 13:21] Soullivaneuh commented on #3307
@sagikazarmark It is, for user-bundle. Here, we are in admin-bundle. See the tags! :-)

[2015-09-29 13:22] sagikazarmark commented on #3307
Oh, crap, I missed the repo change.

[2015-09-29 13:23] webdevilopers commented on #3307
Ok, because using the new routes I get this when trying to send a new password:
[code]

Any more routes to update?

[2015-09-29 13:27] sagikazarmark commented on #3307
What is your current config?

[2015-09-29 13:29] webdevilopers commented on #3307
[code]

[2015-09-29 13:33] sagikazarmark commented on #3307
Try prefixing `sonata_user_admin_security` and `sonata_user_admin_resetting` prefixing with `/qis`. Also, `sonata_user` is not needed anymore.

[2015-09-29 13:43] webdevilopers commented on #3307
Using
[code]

Redirects me to the login page. Which is the same page where I came from clicking "forgotten password".
Because the link / route is behind the `qis` aka `admin` firewall it wants me to login in order to send my a forgotten password! ;)

[2015-09-29 13:45] sagikazarmark commented on #3307
Ah, sorry, this is a firewall issue. See the linked PR for correct setup.

[2015-09-29 13:58] webdevilopers commented on #3307
PR is https://github.com/sonata-project/SonataUserBundle/pull/620 right?
I will deliver the current project before *2.4* release so I will not change anything at the moment.

Will check this when starting a new project!

[2015-09-29 13:59] sagikazarmark commented on #3307
Right. You just need to add a new item to the acces_control list.

[2015-09-29 14:00] sagikazarmark commented on #3307
If you are using the master branch the you already have the changes.

[2015-09-30 08:45] jvasseur commented on #3306
Maybe the ":" could get its own translation, that would be appended to the label.

[2015-09-30 13:33] welcoMattic commented on #3130
:+1:

[2015-09-30 20:23] bezdelnique commented on #3249
[composer update] of my Symfony project help's for me! =)

[2015-10-01 09:51] tophsic commented on #2419
Same as my comment on #3190

[2015-10-01 12:23] OskarStark commented on #2419
@greg0ire would you like to provide a PR?

[2015-10-01 12:41] greg0ire commented on #2419
Ok, I'll work on it this week-end!

[2015-10-02 08:08] remoteclient opened #3313 "related entities and collections in show view"
First of all I had a few projects with symfony 1.4 and the sfGuard plugin. There I use the show view to show an entity and also the related entities with all fields. Additionally there I have edit buttons for all of the visible entities. If I click on one of those buttons a modal is opening and I can make necessary changes if needed.

Now I have a new project using symfony 2.7 with the sonata admi

[2015-10-03 11:52] Soullivaneuh opened #3316 "Doc tests failure"
Doc tests are failing: https://travis-ci.org/sonata-project/SonataAdminBundle/jobs/83322828#L500

@OskarStark Maybe related to your PRs about docs. Could you please take a look?

[2015-10-03 12:48] #3316 closed

[2015-10-03 12:50] OskarStark commented on #3316
Thank you guys, good catch :+1:

[2015-10-03 12:51] greg0ire commented on #3316
No problem :)

[2015-10-03 14:28] greg0ire opened #3320 "Tests are broken on branch 2.3"
See [this build](https://travis-ci.org/sonata-project/SonataAdminBundle/jobs/83453730#L129), for instance.

[2015-10-03 14:29] greg0ire commented on #3320
Only the 5.6 jobs work now.

[2015-10-03 14:34] greg0ire commented on #3320
Idea : `composer global require $PHP_PLATFORM $PHP_VERSION` . Are there any built-in variables that might match this ?

[2015-10-03 14:35] greg0ire commented on #3320
BTW, this looks like a Composer bug. How come it installs something incompatible with the platform in use ? It could detect that php 5.3 is used…

[2015-10-03 14:45] greg0ire commented on #3320
[Issue reported](https://github.com/composer/composer/issues/4474)

[2015-10-03 14:47] greg0ire commented on #3320
It appears that [the php version is available](http://docs.travis-ci.com/user/environment-variables/#Default-Environment-Variables) through `TRAVIS_PHP_VERSION`

[2015-10-04 23:23] alcohol commented on #3320
`composer require 'phpunit/phpunit:@stable'` will also work just fine. Please see comments I left on your reported issue (composer/composer#4474) for the reasons why `require` works as it does.

[2015-10-05 08:13] greg0ire commented on #3320
Thanks @alcohol ! @Soullivaneuh How come auto-close did not work on this issue. I'm closing.

[2015-10-05 08:13] #3320 closed

[2015-10-05 08:14] Soullivaneuh commented on #3320
My fault I guess, forgot to specify issue on the PR.

And BTW, auto-closing works only for default branch AFAIK.

[2015-10-05 08:24] greg0ire commented on #3320
I specified it on mine, that's what I am surprised about.

Guess this explains that.

[2015-10-05 08:34] Nexotap opened #3325 "Multiple admin classes of one Entity"
Quite some time ago there has been an issue with multiple admin classes of one Entity: https://github.com/sonata-project/SonataAdminBundle/issues/1899

At the end of the conversation cjgordon mentioned that one has to add the admin_code for each field. This works so far, but looks very clumsy to me. Now I modified the FormMapper class. Added a setter function for setting a general admin_class and

[2015-10-05 08:45] OskarStark commented on #3325
:+1: for PR

Thank you @Nexotap

[2015-10-05 11:52] Nexotap commented on #3325
Please bear with me. Alltought I've worked at home a bit with git, I've never used github for anything else than downloading tarballs.
I'm willing to try out creating a PR.
Can you give me some hints for doing so?

[2015-10-05 14:53] bdebon opened #3329 "Search Bar : Unable to find a valid admin"
Hey !

I've recently update all my sonata stuff from `~2.2` up to `dev-master`.
Everything is working great except the search engine.

When I search something, I get the following exception :
`An exception has been thrown during the rendering of a template ("Unable to find a valid admin for the class: Application\Sonata\UserBundle\Entity\User, there are too many registered: author.admin,lector.adm

[2015-10-05 16:05] npotier commented on #2366
:+1:

[2015-10-05 16:52] hanikesn commented on #3107
@Soullivaneuh Can you backport this to 2.2?

[2015-10-05 21:54] dvapelnik opened #3330 "form action is `update` instead `create`"
Form action is `update` instead `create` when part of composite primary key is defined.
I'm using `Post` entity with composite primary key: (`id` and `context`)

[code]

I override `Admin::getNewInstance` method with next code

[code]

[code]

After this I see action attribute on rendered page as **edit** `/admin/post/articles/articles/edit?uniqid=...` instead **create**.

I'm using hidden field `

[2015-10-06 07:08] OskarStark commented on #3330
ping @rande

[2015-10-06 20:58] webdevilopers opened #3332 "Batch action breaks when coming from list view with filter using `doctrine_orm_model_autocomplete`"
Coming from a regular LIST view with URL
`admin/employmentcontract/list`
without further filtering I mark some rows and submit the `delete` batch action
which leads me to the following URL:
`admin/employmentcontract/batch?filter[_sort_order]=ASC&filter[_sort_by]=id&filter[_page]=1&filter[_per_page]=32`

This is the expected behaviour.

When coming from the same list but using a `doctrine_orm_model

[2015-10-07 13:12] ElectricMaxxx opened #3341 "Using sonata_type_model_autocomplete throws exception"
We are trying to use `sonata_type_model_autocomplete` for the first time and are getting the follwoing Exception:

[code]

The form builder is getting this add:

[code]

The admin defintion looks like:

[code]

What am a i doing wrong? We are using the orm version.

[2015-10-07 13:35] ElectricMaxxx commented on #3341
I solved the problem by adding the current model manager, which can be wrong (i konw):

[code]

For some reasons the model manager isn't set automatically based on the the referenced admin definition.

[2015-10-07 13:43] Soullivaneuh opened #3342 "Unknow database error on cache:clear if database not exists"
This was a bug affected on symfony-standard that was fixed.

But not for with admin-bundle: https://github.com/doctrine/DoctrineBundle/issues/351#issuecomment-146189887

According to the [stack trace](https://github.com/doctrine/DoctrineBundle/issues/351#issuecomment-146189887) and @stof comment, the admin-pool try to loads the ORM mapping for classes. That produce the issue.

What solution for th

[2015-10-07 13:50] stof commented on #3342
@Soullivaneuh you opened this issue too fast: see my next comment: https://github.com/doctrine/DoctrineBundle/issues/351#issuecomment-146198527

[2015-10-07 13:55] Soullivaneuh commented on #3342
So, what is the problem actually? `@ORM\GeneratedValue(strategy="AUTO")` on my entities?

I don't think this is an issue but the earlier loading of them AFAIK.

If this is the problem, I don't think removing the strategy is the solution.

[2015-10-07 14:48] npotier commented on #2366
Hello,

I've created a quick fix for a project of mine, in order to allow **add** button in **autocomplete** fields. You can see it here : https://gist.github.com/npotier/a7b2b34f0daae7205f86.

Hope this helps

[2015-10-07 15:52] jbultmann opened #3345 "sonata_type_collection with subclasses does not update the view on create"
Hi,
I am using a simple SonataAdmin configuration with
"sonata-project/core-bundle" : "2.3.6" and
"sonata-project/admin-bundle": "2.3.9"

I have the following (shortened) Entities

[code]

One Landingpage can have many Modules.
The Modules are subclassed, so the Module Entity is abstract.
My ModuleAdmin Class is configured with the available subclasses

[code]

The Landingpage Admin Class is rende

[2015-10-08 07:35] webdevilopers opened #3346 "Disable submit buttons after clicking - multiple entries issue"
Since the submit buttons come from bootstrap I guess this could end up being a bootstrap issue.

I recently published a new project and users create the strangest issues as we know.
One user is a heavy mouse user and he is clicking quickly.

Suddenly he reported that some of his entries appeared twice.
It's not a display problems - the submitted entity / row was indeed created twice.

**He was eve

[2015-10-08 08:08] clytemnestra opened #3347 "Advanced filters disappear after filtering"
Hi, I've described the issue [here](http://stackoverflow.com/questions/33009932/advanced-filters-disappearing-after-filtering-in-sonata-admin), as well.

I've installed Sonata Admin Bundle in my Symfony2 project. Here is my composer.json's require:

[code]
I'm using the dev-master version, but this issue seems to appear for the 2.3 version, too.

I have some posts made by users, and whenever I wan

[2015-10-08 08:38] webdevilopers commented on #3346
PS.: The user just informed me that this started to happen recently. We recognized the bug **6** days ago.

[2015-10-08 09:00] fatmah opened #3348 "Embedded form with sonata_type_choice_field_mask jQuery Error"
Hi,
I tried to use sonata_type_choice_field_mask in an embedded Admin form with oneToMany relation
but I get " jQuery is not defined " error !!
 the {% block sonata_type_choice_field_mask_widget %} have a jquery script but it seems that jquery is not loaded there.

Thank you

[2015-10-08 12:27] ElectricMaxxx opened #3350 "Ability to render blocks in the form view"
I would like to have the ability on the `FormMapper` to render simple text instead of form fields. The best solution would be to render the sonata blocks, to create customized html blocks inside my form view (between form field, tabs, ...).

The use case is to render custom data beside the mapped properties on the entity like additional information. Atm i show those data in `read_only` text fields

[2015-10-08 13:42] OskarStark commented on #3350
sound great, would like this feature, too :+1:

[2015-10-08 13:56] Soullivaneuh commented on #3350
Don't know what to think about it.

No. All new feature must be on a new minor version, not a patch.

[2015-10-08 14:01] ElectricMaxxx commented on #3350
yea i know it would be a mixture between content rendering and form
handling. But actually in my current project i would love to use it.

[2015-10-08 14:03] Soullivaneuh commented on #3350
I understand but we wont brake semver just because some users want it to them projects. :-)

[2015-10-08 14:07] ElectricMaxxx commented on #3350
No that wasn't the reason for my last comment, just to support the
feature at all. I understand the semver thing :-)

[2015-10-08 14:08] OskarStark commented on #3350
The ability to render Blocks with the $formMapper sounds like a mayor feature, so 3.0 IMO

[2015-10-08 14:16] Soullivaneuh commented on #3350
Major version is only for BC breaks. If this feature could be provided with BC, it could be on a new minor.

[2015-10-09 07:44] rewotec commented on #3346
:+1: 1

[2015-10-09 07:46] rewotec commented on #3301
:+1:

[2015-10-09 07:47] rewotec commented on #2581
:+1:

[2015-10-09 08:31] rewotec commented on #2366
:+1:

[2015-10-09 08:32] #2881 closed

[2015-10-09 12:51] Brah0um opened #3351 "Get master dependency in composer.json"
I am working with this `composer.json` file:
[code]

I'm facing an issue. Indeed I'm using Single Table Inheritance and I want to display a dropdown list or showdialog for children.
This feature was added in `master` branch ([PR #2917](https://github.com/sonata-project/SonataAdminBundle/pull/2917)) but it's still not added in `2.3.6` branch.

When I edit the `composer.json` file and set the depend

[2015-10-09 13:05] whitewhidow commented on #3347
same here :

    /* Advanced filters */
    if (jQuery('.advanced-filter :input:visible', subject).filter(function () {     return jQuery(this).val() }).length === 0) {
        jQuery('.advanced-filter').hide();
    };

I have no clue why they are doing this ...

It occurs in `vendor/sonata-project/admin-bundle/Resources/public/Admin.js`

[2015-10-09 14:02] Soullivaneuh commented on #3271
Fixed in #3267.

[2015-10-09 14:02] #3271 closed

[2015-10-11 08:34] pulzarraider commented on #3351
If you want to try `dev-master` of `SonataAdminBundle`, you should set also `sonata-project/doctrine-orm-admin-bundle` to `dev-master`.

[2015-10-11 16:50] rifeman2007 opened #3358 "Form name changed."
Hi Guys,

Why is it the form name is changed after the submission?

Before submitting the form

array(1) { ["s561a8ad02ac5f"]=> array(4) { ["note"]=> string(6) "ewrewr" ["_token"]=> string(43) "aExeXfHPi0df4qkd-S3IA1Vr3LoxcI-0WuqvoNSELd4" } }

And after the submission.
s561a8ad79e1ca

Any idea what's wrong with it? I am using a custom controller btw,

Any help is greatly appreciated.

Thanks.

[2015-10-11 18:58] pulzarraider commented on #3341
The `model_manager` is added to `sonata_type_model_autocomplete` automatically in `SonataDoctrineORMAdminBundle`. Which version of `SonataDoctrineORMAdminBundle` and `SonataAdminBundle` do you use?

[2015-10-12 00:52] aaronkmiller commented on #3072
I have the same problem. It seems like it's not possible to add a button at all:

    ->add('myButton', 'button')

gives the error:

[2015-10-12 00:53] aaronkmiller commented on #1416
I have the same question as pcoipeault. Is the "button" type also not supported?

[2015-10-12 04:43] pulzarraider commented on #3347
@clytemnestra @whitewhidow thank you for reportign the issue. Can you please test PR #3359?

[2015-10-12 07:37] rewotec commented on #3290
:+1:

[2015-10-12 07:40] Brah0um commented on #3351
It works! Thanks a lot!

[2015-10-12 07:40] #3351 closed

[2015-10-12 09:19] webdevilopers opened #3360 "Wrong value in show template for percent"
Came from:
https://github.com/sonata-project/SonataAdminBundle/pull/2573

My percent value defined in entity:
[code]

Which results in an `INT(11)` - should be INT(3) btw.

In my `list` and show `mapper` I use type `percent`.

Then my *30* percent becomes `3.000 %`. German format with `.` as thousands seperator.
Shouldn't it be `30 %` or `30.00 %` depending on precision?

The current template simp

[2015-10-12 12:49] clytemnestra opened #3362 "Lists with big width overflow not showing bottom scrollbar"
I generated a module for modifying my users. The table is pretty big so it is very long. Currently, there is no way to scroll, except using Shift+mousewheel. There is no scrollbar. The only way to see the rest of the table is to zoom out, but that's not really a good option.

[code]

This is how it looks, as you can see I am lacking a lot of fields, hidden to the right

![image](https://cloud.gith

[2015-10-12 14:00] pulzarraider commented on #3351
You're welcome @Brah0um

[2015-10-12 18:55] TaqiOfficial opened #3366 "Display Fields Error Messages"
I have a form configure wiht sonata admin bundle. On the form field field i have done error handling using `assert/regex`. I want to display errors just below the error field. The issue whenever a field has error the error is just shown for a `nano second` and disappers  and rouine errors comes `An error has occurred during update of item "345345".`

Why it is, is there any setting needed to be do

[2015-10-12 19:30] clytemnestra opened #3367 "Navbar moving along with sidebar on collapsing the sidebar"
Collapsing the left sidebar, the navbar containing the filters and the list type collapses at the same time with it, then fits back into place.
![image](https://cloud.githubusercontent.com/assets/7060048/10436652/7c8f6416-7130-11e5-873a-60207b26508e.png)

Here you can see it is getting dragged along with the left menu. You can see on the right side of it that it doesn't occupy that space anymore.

[2015-10-13 10:45] webdevilopers opened #3368 "Global search ads wrong condition to custom query"
My `CompanyAdmin` uses the `createQuery` method:

[code]

The `where` condition is not added with an `AND` operator but an `OR`:

[code]

This only happens when using the `createQuery`  method and seems to be a problem of the global search adding it.

Without that method it is generated correctly:

[code]

[2015-10-13 12:11] janhapke commented on #3341
I am getting the same Exception.

I am using SonataDoctrinePhpcrAdminBundle version 1.2.3 and SonataAdminBundle version 2.3.6

[2015-10-13 12:19] fracsi commented on #3091
The `AdminPoolLoadeWhy does the `AdminPoolLoader` class extend the `\Symfony\Component\Config\Loader\FileLoader`? The simple `Symfony\Component\Config\Loader\Loader` would be sufficient (i did not run the tests). Thus the deprecation warning would be gone.

[2015-10-13 12:39] clytemnestra commented on #2551
Any update on this? Manipulating the URL still works.

[2015-10-13 13:36] gnorby88 opened #3369 "Doctrine Embeddables"
How to use Doctrine Embeddables in create/edit view?

[code]

In other class:
[code]

In admin class:
[code]

And the error:
```Please define a type for field `address` in ...```

I tried sonata_type_admin, sonata_type_collection, then:
``` The current field `address` is not linked to an admin. Please create one for the target entity : ```

[2015-10-13 13:40] EmmanuelVella commented on #3369
You can create an `AddressType` and then do `->add('address', 'address')`

[2015-10-13 14:08] gnorby88 commented on #3369
Thanks. It's working now :)

[2015-10-13 14:08] #3369 closed

[2015-10-13 14:23] shubaivan opened #3370 "Custom Action"
I use Sonata Admin and in list entity I need add my action I did like the document, but when I use filter field or click for page pagination my action disappears, and I have button select. How add custom action and how to make that is not lost?

    class CRUDController extends Controller
    {

    public function cloneAction()
    {
        $object = $this->admin->getSubject();
        $id = $ob

[2015-10-14 07:48] 2b3ez opened #3373 "Relation oneToMany and ajax create"
I can not create a contact from my company service.

symfony : 2.7
sonataAdmin : 2.4

my Entity Company (Parent)

[code]

my Entity Contact (Children)

[code]

my class Admin Company (Parent)

[code]

my class Admin Contact (Children)

[code]

My services

[code]

When I want to add a new contact from company no default value was selected for company select in my embed form contact.

If I selected

[2015-10-14 08:41] clytemnestra opened #3374 "Date-range filters are possibly not displayed properly"
[code]

[code]

Should the first input field be aligned up so high?
![image](https://cloud.githubusercontent.com/assets/7060048/10478685/05452ef2-7268-11e5-98ad-c767b5b2f680.png)

Here is without an error
![image](https://cloud.githubusercontent.com/assets/7060048/10478708/2ecc8298-7268-11e5-9a90-bd04d21e3090.png)

Simple date looks almost ok, just the delete button is a bit too much to the right

[2015-10-15 15:31] fatmah commented on #1731
@rand I use sonataMediaBundle and I have the same problem; if i try to add three new element, files of the first one  are removed after the click add for the third one

[2015-10-16 11:07] webdevilopers commented on #3368
I also recognized that the link to the list views of the result is no passing the original filter.
The list view will display regular unfiltered results. I think the filter should be passed.

[2015-10-16 11:08] rewotec commented on #3368
:+1:

[2015-10-16 13:27] MortisQc opened #3376 "Variable "admin" does not exist when not on prod env"
I'm trying to add a custom controller with custom route, action and view to show reports and stats.
When accessing it in dev env (app_dev.php/admin/report/index) I get this error message:

[code]

But when I access it on prod env (/admin/report/index) then it works perfectly,
I cleared cache, tried on other work stations,

I did not see anything about that on cookbooks and tutorials about custom c

[2015-10-19 12:12] ureimers commented on #3107
Until this is patched you may simply override the `ModelType` to use a patched `ModelsToArrayTransformer`.

[code]

This way you avoid changing patching your vendor-files directly (which you should never do) and you still use the latest Symfony 2.7 version. Also, if it eventually gets patched, you can easily disable/remove your patch.

Good luck!

[2015-10-19 12:18] Soullivaneuh commented on #3107
@hanikesn Only last stable version is supported for maintenance. No backport possible.

[2015-10-20 00:58] pulzarraider commented on #3376
In dev mode more notices are reported directly to help the developer improve his code.

Your custom controller should extend the Sonata's  `CRUDController` or you should define all variables that are used in the template.
The `admin` variable is defined in the [`render` method](https://github.com/sonata-project/SonataAdminBundle/blob/2.3/Controller/CRUDController.php#L176).

[2015-10-20 00:58] #3376 closed

[2015-10-20 07:52] tashanta opened #3377 "[Feature] Add GraphBlockService"
I would like to make a PR to provide a new block service in dashboard : GraphBlockService.
This block is able to generate some kind of graphs with Graph Js libray (http://www.chartjs.org/).

![graph](https://cloud.githubusercontent.com/assets/5037520/10600814/8f88b53a-770d-11e5-8943-8ac6e8e9f9d3.png)

This Block service permits to define what kind of graph you want, and what data to consolidate on

[2015-10-20 07:56] OskarStark commented on #3377
This looks very nice :+1:

@qsomazzi @rande can please support @tashanta

Oskar

[2015-10-20 08:16] qsomazzi commented on #3377
I think this could be great but maybe you can create a Widget inside `https://github.com/sonata-project/SonataDashboardBundle` ?

[2015-10-20 08:35] Soullivaneuh commented on #3377
I understand the goal but I don't really like to add a new js vendor dependency.

What about people who wants hightcharts instead for example?

Could this be more generic?

At least, please give a more specific name like `ChartJSBlockService`

[2015-10-20 09:03] rande commented on #3377
This will not part of SonataAdminBundle it does not require the AdminBundle to work. I will prefer to link to an external bundle in the documentation.

[2015-10-20 10:34] camdarley commented on #1958
Hi,
Did you find a solution to this? I know this post is more than one year old but I have exactly the same issue.

[2015-10-20 12:25] dnagirl commented on #1958
Sorry no. I decided that Sonata wasn't a good solution for that project.

[2015-10-20 12:40] Soullivaneuh opened #3378 "Autocomplete type as a component"
The auto-complete type is very useful on admin, but could be useful on another sections too.

BTW, some users could get interested by this auto-complete type without admin-bundle.

Would be great to made it as a symfony-form component.

I have the idea for this type, but maybe another could have the same thing.

What do you think?

cc @pulzarraider

[2015-10-20 12:59] ElectricMaxxx commented on #3378
:+1:

[2015-10-20 17:46] mihai-stancu commented on #3378
Doesn't an auto-complete type require an action to return the values?

Separating them implies adding some logic regarding the action itself.

[2015-10-20 21:19] tashanta commented on #3377
I agree, it does not require AdminBundle to work.
+1 @Soullivaneuh for the ``ChartJSBlockService`` name and vendor dependency.

@qsomazzi can i make a PR for SonataDashboardBundle ? Maybe, i can add chartjs asset if the ChartJsBlock is used in configuration. I have to try.

[2015-10-21 02:57] hieuit7 commented on #263
Great, thanks for help!!

[2015-10-21 07:40] qsomazzi commented on #3377
For sure you can make a PR :)

[2015-10-21 07:46] Soullivaneuh commented on #3377
@tashanta I think @rande would say that you should do this on an external bundle, not dashboard or admin. Am I wrong?

[2015-10-21 07:48] Soullivaneuh commented on #3378
Yes I think so. We have to check if the logic could be separated or not.

[2015-10-21 07:55] rande commented on #3377
@tashanta yes create a dedicated bundle. It is just a matter of how we can support on the long run this block. As I said, it will be possible to add a dedicated section on the Sonata's website to include linked projects. Your case is not isolated.

[2015-10-21 08:11] tashanta commented on #3377
Oups, misunderstanding... So, i will add a bundle on my repo.
Thank you, i close :-)

[2015-10-21 08:11] #3377 closed

[2015-10-22 09:40] #3347 closed

[2015-10-22 12:38] ureimers commented on #3107
Hmm... that means that if we need to update to Symfony 2.7 and put more than a year's work into extending the 2.2 layout, we're now forced to either update everything to work with 2.3's new layout/design or patch all patchable classes/components of Sonata 2.2 like I did above.

[2015-10-23 06:33] clytemnestra commented on #3345
I have the same issue, so I think it's bugged.

[2015-10-23 06:57] clytemnestra opened #3384 "Possible javascript bug on using sonata_type_collection for users(FOSUser) with multiple Media(from MediaBundle)"
I've used [this answer](http://stackoverflow.com/questions/28921077/symfony-sonata-media-bundle-add-images-videos-to-a-user?rq=1#29066210) to add multiple images to my users, like a sort of personal portfolio. The answer does specify that there is no form to edit galleries, so I can't make a one to one with the Gallery entity.

I have a similar issue with [this](https://github.com/sonata-project/S

[2015-10-23 13:54] reypm opened #3387 "Get more verbose message when something fails in Sonata Admin"
I am curious about the way in which Sonata Admin handle and displays error messages as I need them to be a little more descriptive. For instance when the message comes from DB because a constraint fails I got a message like this:

But if I leave a required field empty the error is the same. I want to know if it's possible to handle this in some way in order to be more descriptive. Any advice or he

[2015-10-23 20:00] linkito commented on #2551
Again.... Any update?

For now, i have a javascript extending standard_layout.html.twig with:

[code]
But please, any better solution?

[2015-10-26 10:18] clytemnestra commented on #2551
I think

[code]

could be a temporary solution. This disables any other mode(like tree) or custom ones, if you've made any. How's that?

[2015-10-27 06:51] TaqiOfficial opened #3391 "No entity manager defined for class Doctrine\Common\Collections\ArrayCollection in Many to One relation."
I have ``1:M`` relationship between `coursesLevels` and `Courses`.

I have added following attribute, in my courses class. it works when i set ``multiple => true``, but I don't want to add ``multiple => true`` because each course record should have only one course level not multiple. and when i do so, i get:

`No entity manager defined for class Doctrine\Common\Collections\ArrayCollection` error.

[2015-10-27 07:32] OskarStark commented on #3391
try this:
[code]

[2015-10-27 07:34] TaqiOfficial commented on #3391
the same error `No entity manager defined for class Doctrine\Common\Collections\ArrayCollection`

[2015-10-27 07:37] OskarStark commented on #3391
do you have an AdminClass for your ``CourseLevel``Entity?

[2015-10-27 07:39] TaqiOfficial commented on #3391
Yes.

[2015-10-27 07:43] TaqiOfficial commented on #3391
Do you need to readout my code?

[2015-10-27 07:46] OskarStark commented on #3391
what is the output of

``composer show -i | grep sonata``

[2015-10-27 07:47] TaqiOfficial commented on #3391
[code]

[2015-10-27 07:49] OskarStark commented on #3391
could you please post the Entity and the Admin Class of the ``Course`` and the ``CourseLevel``?

[2015-10-27 07:49] rewotec commented on #2334
:+1:

[2015-10-27 08:00] TaqiOfficial commented on #3391
**Course Entity **
[code]
** CourseLevel Entity **
[code]
** CourseLevel Admin Class **
[code]
** Course Admin **
[code]

[2015-10-27 08:09] OskarStark commented on #3391
[code]

this is wrong i gues

[2015-10-27 08:12] TaqiOfficial commented on #3391
Yes, it works now. Can you explain why?

[2015-10-27 09:03] OskarStark commented on #3391
what works?

did you remove the line?

[2015-10-27 09:30] TaqiOfficial commented on #3391
yes. I remove the line. and the `->add('courseLevel', 'sonata_type_model_list')` is working.

[2015-10-27 09:48] OskarStark commented on #3391
it was because you st them as a collection, but it wasn't one

but this is nothing sonata related, it is doctrine related

please close this issue then

[2015-10-27 10:07] #3391 closed

[2015-10-27 13:42] OskarStark commented on #3360
yes it should IMO

[2015-10-28 13:33] edouardtiret commented on #3073
@Soullivaneuh no... XD

[2015-10-28 14:07] webdevilopers opened #3393 "Bottom checkbox in list view should behave like top checkbox to select all items"
Inside the `list` there are a top and a bottom checkbox to check all elements.
![sonata_admin_list_view_bottom_checkbox_issue](https://cloud.githubusercontent.com/assets/3479626/10790794/96963ec8-7d85-11e5-9350-806e7d3e7eda.png)

The bottom one does not work for this purpose in current `dev-master`.

A crazy thing happened once when I checked it anyway and submitted a batch action e.g. `delete`.
A

[2015-10-29 10:09] bartoszmalec commented on #2366
@npotier Why template added in array doesn't work? I get an error: The option "template" does not exist. Defined options are: ...

[2015-10-30 13:03] core23 commented on #3053
Is there any roadmap when we can expect the next mayor version for the sonata projects? I wrote some pr's for new features in the last months but it seems that everything would become a bc break for now.

Today every change in an Interface would resolve a break. As mentioned in https://github.com/sonata-project/SonataSeoBundle/pull/106 I like the symfony approach http://symfony.com/doc/current/con

[2015-11-01 04:32] pulzarraider commented on #3360
This template expects number with decimal fraction (float or decimal), e.g. `0.3`, not the integer.

This template is replaced with [the extended version](https://github.com/sonata-project/SonataIntlBundle/blob/master/Resources/views/CRUD/list_percent.html.twig) if you use the [`SonataIntlBundle`](https://github.com/sonata-project/SonataIntlBundle). In that case [PHP NumberFormatter](http://php.ne

[2015-11-01 04:33] #3360 closed

[2015-11-02 11:48] CharlyP commented on #3342
Hi everyone,

I have got a similar issue on my current project. My application specific behaviour (loading roles from the database) make this bug really blocking.

Issue observed: When clearing the cache or running a composer install on a new project instance (no database created yet) a PDOException is raised stipulating that the database is unknown.

Issue origin: The `RoutesCacheWarmUp` should b

[2015-11-02 17:31] 2b3ez commented on #1916
Why is this issue closed while it is not solved ?
Your link pointed on the addIndentifier for the current admin but when an entity embed like a child in listmapper, the only link is edit.

[code]

do not work and disable the link.

Could you explain me a way to make a working show link ?

Thanks !

[2015-11-03 14:18] javiereguiluz opened #3401 "Issues with the deprecated initRuntime() Twig method"
I'm getting this deprecation message while upgrading a Symfony app to 2.8:

[code]

The problem is located here: https://github.com/sonata-project/SonataAdminBundle/blob/master/Twig/Extension/SonataAdminExtension.php#L57

[2015-11-03 14:36] javiereguiluz opened #3402 "Issues with the deprecated return value of getExtendedType()"
I'm getting this deprecation message while upgrading a Symfony app to 2.8:

[code]

The problem is located in multiple files at https://github.com/sonata-project/SonataAdminBundle/tree/master/Form

[2015-11-04 10:22] Soullivaneuh commented on #3401
Not related to Symfony but Twig: https://github.com/twigphp/Twig/blob/fd84403ac725fe1a053a0a109e26ecdb9928c912/CHANGELOG#L5

[2015-11-04 10:57] kamilwozny commented on #3384
Hi
It's not even related to MediaBundle, I've got a custom Address entity with the same relation as yours and have the same problem. My admin class handles FOS user model too (but I don't think that changes anything)

Exception content
[code]
On every 2.3.* version it is the same

[2015-11-04 12:23] TaqiOfficial opened #3404 "Render SontaUserAdmin Forms/Pages on FrontEnd"
my site is currently using sonata admin. now i have to also display it on my fronted application with custom templates. I need to know is there any way that i can display ' Users List/Crud Action' as in sonata admin site to my front end application with all facilities `search/filters`.

[2015-11-04 16:34] wadjeroudi commented on #2294
:+1:

[2015-11-05 07:56] kamilwozny commented on #3384
The problem was at my UserAdmin side, there was badly designed role select field which sonata wrongly interpreted and deny access later in ajax request (thats why I was not able to add new entity to sonata_type_collection)

[2015-11-05 08:54] OskarStark commented on #3384
Can you close this issue please?

[2015-11-05 08:56] clytemnestra commented on #3384
But how can I solve the problem?

[2015-11-05 09:16] kamilwozny commented on #3384
I have no idea, it depends. My problem was caused by this statement
[code]
When I clicked to add new entity to collection, sonata grabbed whole fields in entity I was editing and then tried to perform ajax request with those values. But the field 'role' in my UserAdmin don't have SUPER_ADMIN_ROLE as option (we can say it was the lead problem) so sonata grabbed the less powerfull ROLE_STUFF and whe

[2015-11-05 13:54] OskarStark commented on #2294
:+1:

[2015-11-06 07:42] DevMaster112 opened #3405 "How to get variables of custom CRUD controller in admin class?"
Hello guys.

I have following problem:

I rendering in my TimekeepingAdminController.php an template with an array of parameters.

TimekeepingAdminController.php:
[code]
The user can export the rendered week-view. The export button render a custom twig template and create an pdf with knpsnappypdf and an custom pdfExport class. (http://cristian-radulescu.ro/article/add-pdf-export-functionality-in-s

[2015-11-06 08:23] maurermax opened #3406 "Type name check prevents extension of autocomplete model"
A check that is done here that checks for the type name of the form component disallows me from extending the sonata_type_model_autocomplete myself because autocomplete requests are then denied.

https://github.com/sonata-project/SonataAdminBundle/blob/master/Controller/HelperController.php#L465

This should perhaps be removed or replaced with a check that also allows any parent to be of type "son

[2015-11-06 09:21] pulzarraider commented on #3406
Duplicate of #3164

[2015-11-06 09:21] #3406 closed

[2015-11-06 09:56] maurermax commented on #3164
Okay, I just had the same problem and the most non invasive fix that I found was redirecting the `/core/get-autocomplete-items` route to a controller that I created myself extending the HelperController and just overriding the `retrieveAutocompleteItemsAction` `retrieveFieldDescription` and creating the `$pool` variable locally as this accessed without a getter.

Then I removed the lines checking

[2015-11-06 10:41] ElectricMaxxx commented on #3164
Maybe @rande can give us a hand with that, cause https://github.com/sonata-project/SonataAdminBundle/issues/3341 is related to that and cause by re-implementing stuff like that: https://github.com/sonata-project/SonataDoctrineORMAdminBundle/issues/493

[2015-11-06 10:54] pulzarraider commented on #3164
Fixed with #3407. @MM-Psiiirus @maurermax thank you for reporting the issue.

[2015-11-06 10:54] #3164 closed

[2015-11-07 01:14] mpoiriert commented on #3072
The problem is related to the fact that sonata set default option (label_render, mapped) for all "form" type. But reading the documentation of symfony the button are not part of the "form" type.

A work around that I am building is to create do a custom extension for button that just configuration the option resolver.

[code]
Configure your extension alias to be "button"
Just follow those instruct

[2015-11-09 14:26] ticlekiwi commented on #1138
I had the same problem, and after debug it, I think I found a solution :
Problem is there is an error if you don't add default "ORDER BY" in your admin class :
Just add this in your admin class resolve the problem for me :
`
public function __construct($code, $class, $baseControllerName) {
        parent::__construct($code, $class, $baseControllerName);
        if (!$this->hasRequest()) {

[2015-11-10 11:28] s1yamuza opened #3411 "Add Timepicker widget to a field"
Is there any posibility to show only the TimePicker for a field instead of DateTimePicker?

I have not found any information about this in documentation.

[2015-11-10 12:55] AntonioCS opened #3412 "Unable to generate a URL for the named route "admin_sonata_user_user_create""
So I was trying to got to the admin page (sonata admin bundle) and I was getting this:

The only way to fix this was to add this to the routing.yml:

[code]

But where is this in the documentation????

[2015-11-10 13:43] jvasseur commented on #3412
It's explained here : https://sonata-project.org/bundles/admin/2-3/doc/reference/getting_started.html#step-1-define-sonataadminbundle-routes

It look like we have 2 installation pages in the doc since #2649, and the new one is missing some information (adding the sonata_admin route).

[2015-11-10 13:44] OskarStark commented on #3412
could you please provide a PR @jvasseur

[2015-11-10 13:45] jvasseur commented on #3412
Yes i will do this.

I noticed the doc on adding the sonata_admin route is in the "creating an admin" page, probably not the most intuitive place.

[2015-11-10 13:52] brossdu commented on #2850
Any news concerning this issue ?

[2015-11-10 14:37] AntonioCS commented on #3412
@jvasseur No its not in the best place.

Crucial information like that I would expect it to be in the installation place with all the steps, and I would expect one installation page :)

[2015-11-13 10:19] core23 opened #3418 "Code format"
Sometimes the ``php-cs-fixer`` does something confusing stuff. So wanted to ask if there is a way how code should be formatted to reduce failures and increase readability.

Option 1
[code]

vs

Option 2
[code]

[2015-11-13 10:24] rande commented on #3418
In general case, I would prefer option 1, but it his particular sample,I will prefer option 2.

[2015-11-13 10:29] OskarStark commented on #3418
:+1:  for option 2 in this case, its much more readable

[2015-11-13 10:29] OskarStark commented on #3418
ping @sonata-project/contributors

[2015-11-13 10:33] core23 commented on #3418
Option 2 sometimes brings some trouble when calling cs fixer and could end in something like:

[code]

[2015-11-13 10:36] OskarStark commented on #3418
@core23 as i said, this is a bug in php-cs-fixer:
https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/1450

but this should be fixed already, i think you are using the wrong version, can you show the output of ``composer show -i | grep php-cs-fixer`` ?

[2015-11-13 10:53] core23 commented on #3418
@OskarStark It is the latest version
``` PHP CS Fixer version 1.10.2 by Fabien Potencier (e8b3c4e) ```

[2015-11-13 10:59] OskarStark commented on #3418
any idea @Soullivaneuh

@core23 can you pease add a reference to the PR here?

[2015-11-13 12:21] #3248 closed

[2015-11-13 17:24] AntonioCS opened #3420 "Boolean field showing red image for true fields"
I have set a field to by doing:

[code]

In the database the field focPaint is set to 1 (and is of type tinyint which translates to boolean in doctrine)

This is what I am seeing in the list page:
![sonta_wront_display](https://cloud.githubusercontent.com/assets/1086401/11152555/2ee1fe9a-8a2b-11e5-8142-37a13c210a29.png)

This is what I have in the database:
![table_contents](https://cloud.githubus

[2015-11-14 12:05] core23 commented on #3420
Can you show your doctrine mapping file?

[2015-11-14 13:52] AntonioCS commented on #3420
Here is the relevant part of the entity

[code]

Hope this is enough if not I will paste any other part you might need

[2015-11-15 03:07] pulzarraider commented on #3053
As I mentioned in the sonata-project/SonataCoreBundle#191. New branches should be created ONLY if the next version contains some BC breaks. So if no BC break is created, no new branch is needed.

The minor versions (e.g. 2.x) should be released more often. Nice exmaple of this release process is [Twig](https://github.com/twigphp/Twig).

@core23 the 2.4 shoud be finished first. After that we can ta

[2015-11-15 03:35] pulzarraider commented on #3420
@AntonioCS do you have some custom template defined in your `config.yml` for `boolean` field? The default value should be [`'SonataAdminBundle:CRUD:list_boolean.html.twig'`](https://github.com/sonata-project/SonataAdminBundle/blob/master/DependencyInjection/AbstractSonataAdminExtension.php#L40).

I have tested the current `dev-master` of `SonataAdminBundle` and `SonataDoctrineORMAdminBundle`. Whic

[2015-11-15 03:56] pulzarraider commented on #3411
There is a [WIP PR for a timepicker](https://github.com/sonata-project/SonataCoreBundle/pull/64) in the SonataCoreBundle.

[2015-11-15 06:24] pulzarraider commented on #3393
@webdevilopers I have tried the current `dev-master` and the batch `delete` action, but I can't reproduce your issue. Please check if it's not related to your ORM mapping (object A was deleted, but maybe some object B is still referencing to the deleted object A).

[2015-11-15 09:24] webdevilopers commented on #3393
I no longer have access to the project. Besides the ORM the initial issue was that one of the "mark all"
checkboxes did not work. I think.

[2015-11-15 09:42] core23 commented on #3053
@pulzarraider I agree that minor releases should come more often. But are you sure that BC breaks are allowed in minor version? According to http://semver.org @rande and @Soullivaneuh say that no BC breaks are allowed.

When I see the open issues and pull requests... that should be a long way to the next big major release. I would like help you to reduce the amount of tickets. Maybe you could add

[2015-11-15 10:14] AntonioCS commented on #3420
I do not have any custom template for any types. I just started this project so I don't have much in it.
This is my composer file:

[2015-11-15 14:02] pulzarraider commented on #3393
I am closing this issue, if you will get more informations that can help reproduce the issue, we can reopned it.

[2015-11-15 14:18] #1980 closed

[2015-11-15 14:33] pulzarraider commented on #3420
@AntonioCS can you please do some debugging to help us find the problem? Please start in the file `your-project/vendor/sonata-project/admin-bundle/Resources/views/CRUD/list_boolean.html.twig` and write in the `field` block: `{{ dump(value) }}`.

After refreshing your  the page, you sholud see `bool(true)` in every column if your value `1` is correctly transformed into boolean true.

[2015-11-15 14:39] pulzarraider commented on #2324
Thank you for reporting the issue @alex844, but I cannot reproduce the problem in current `dev-master` (upcoming 2.4). Editable option for boolean types for as expected.

[2015-11-15 14:39] #2324 closed

[2015-11-15 14:42] pulzarraider commented on #2191
I am closing the issue for now. @johnkrovitch if you will have more informations how to reproduce the error later, I can reopen it.

[2015-11-15 14:42] #2191 closed

[2015-11-15 14:46] pulzarraider commented on #2175
I am closing this issue as there is no more feedback to reproduce the issue. `sonata_type_date_picker` works correctly in dev-master (upcoming 2.4).

[2015-11-15 14:46] #2175 closed

[2015-11-15 15:07] pulzarraider commented on #3405
You can try use persistentParameters:

[code]
The generated export links should not contain the `weeks` parameter.

[2015-11-15 17:25] pulzarraider commented on #3404
Sonata is ready to be used on backend.
If you want to use it on frontend, it's more work, because you have to overload more templates to fit in yoru page design and also handle the security (what can anonymous user do).

[2015-11-15 17:34] pulzarraider commented on #3358
Form name is defined by `uniqid` parameter. If this value is not available, it`s [generated](https://github.com/sonata-project/SonataAdminBundle/blob/master/Admin/Admin.php#L2040).

Your target action of your custom form should contain the `uniqid` parameter to make the form name the same, e.g.:  `<form action="/some-custom-form/1/edit?uniqid=s123"  method="POST">`

[2015-11-15 17:34] #3358 closed

[2015-11-16 02:24] JHGitty opened #3421 "Integration of SonataAdmin in own admin system"
I cannot find any documentation how to integrate SonataAdmin into an own admin system.

We don't want to use the "Full Stack" of SonataAdmin. We have own templates and own controllers.

**We just want to replace our CRUD to be handled with SonataAdmin**. We like to use our own controllers and templates without a lot of extra work.

Reason: We like the idea of "admin" classes. The filter system of

[2015-11-16 09:50] AntonioCS commented on #3420
Well there is something wrong with the value because I am only seeing null.

Also, something I noticed, all the other fields have their title clickable, the focPaint is the only one (besides the actions) that is not clickable.

I might have made a mapping error somewhere but I am just not seeing it.

[2015-11-16 10:30] AntonioCS commented on #3420
So to just make sure doctrine was returning the correct data I did the following:

[code]

I got the following results:

[code]
As you can see doctrine is turning that field into a boolean. So, I think, we can exclude some doctrine mess up.

[2015-11-16 10:43] AntonioCS commented on #3420
There seem to be nothing wrong with the boolean field.
I just turned another field into a boolean and it is showing the yes icon.

There does seem to be something wrong with the mapping. Don't know what exaclty but I guess this issue can be closed as this is not a boolean specific issue. (sorry about that and I will close it if nobody objects)

[2015-11-16 10:46] #3420 closed

[2015-11-16 11:14] lucasgranberg commented on #3078
I have the same problem. I debugged the types array in filter factory and it looks like this:

[code]

As you can see it is called ```doctrine_orm_model_autocomplete``` so something has changed somewhere. I suspect its not in sonata admin but in doctrine-orm-admin-bundle.

[2015-11-16 11:32] AntonioCS opened #3422 "Entity field not being mapped"
Hello,

So I am having a few issue showing a boolean field. Initially I thought there was something [wrong with the boolean type](https://github.com/sonata-project/SonataAdminBundle/issues/3420), but it seems that is not the case.

So to recap, I have a field that is mapped in the entity as a boolean in the database (which is a tinyint) but the data is not being retrieved from sonatas end.

I have

[2015-11-16 11:41] AntonioCS commented on #3422
Please ignore. After all this work, it was a typo ::blush::

[2015-11-16 11:41] #3422 closed

[2015-11-16 18:26] fenusa0 opened #3423 "Global search throws exception on dev"
Hi,
Every time I perform a global search on dev environment throws the exception ' An exception has been thrown during the rendering of a template ("Class does not exists") in SonataAdminBundle:Core:search.html.twig at line 40'.
On prod environment works fine, but keeps breaking on dev.
I'm using the latest version, on top of Symfony 2.7.
Thanks!

[2015-11-17 09:24] webdevilopers commented on #3393
I can now confirm that with current `dev-master` the top checkbox inside `listView` does select all checkboxes but the bottom one DOES NOT.

The firebug console throws no error. Can you please re-open @pulzarraider ?

[2015-11-17 11:23] pulzarraider commented on #3393
@webdevilopers  the bottom checkbox is not here to check all checkboxes. It's an option to do some batch operation on ALL items, not just on those, which are displayed on current page.

[2015-11-17 11:30] OskarStark commented on #3393
@pulzarraider but you have to know this, this is not documented somewhere, isn't it?

IMO this is not an expected behaviour

i would prefer a button next to the ``OK`` Button
![bildschirmfoto 2015-11-17 um 12 29 28](https://cloud.githubusercontent.com/assets/995707/11210229/e7af75a8-8d26-11e5-8445-6084b7a573bf.png)

``Box`` ``Dropdown`` ``Selected Items`` ``All Items``

[2015-11-17 12:01] pulzarraider commented on #3393
It has the label `All elements` (maybe `All items` will be better) with the number that tells you the number of all items on which the batch action will be applied. I think it's self-explaining.

To improve it we can add there some help message (help tooltip) that can explain what this feature do.

[2015-11-18 06:47] webdevilopers commented on #3393
Unfortunately none of my customers understands this "feature".

When selecting single checkboxes manually or selecting them all they are done - they simple submit the (batch) action.

Everyone yet expected the bottom checkbox to do the "select all" behaviour.

If they want a batch action on all elements - like in your explanation @pulzarraider - they let the list view show more items thanks to the

[2015-11-18 09:21] webdevilopers opened #3424 "Filtering numbers instead of string property behaves different with sonata_type_model_autocomplete"
I have an `Employee` entity and a filter that searches all properties:

[code]

Looking up an employee with __toString e.g. "Web Deviloper (1234)" works fine for 'Web' or 'Dev' but NOT for '123'. It works with the full number '1234' though.

Since the `number` column is an integer inside the database `sonata_type_model_autocomplete` does not query with `LIKE` like with `string`s but it uses the `=

[2015-11-18 21:06] Yaghiyah opened #3425 "Basic HTTP Authentication Fails in Production"
Hi.

Using SonataBundle Basic HTTP Authentication works in DEV, when I deployed to production it keeps prompting for  username and password.. Ive been struggling all day.

What can it be ? I'm running symphony in a shared hosting environment.

[code]

[code]

[2015-11-19 07:02] pulzarraider commented on #3425
@Yaghiyah http_basic authentication is part of Symfony Security. It's not related to SonataAdmin.

Maybe this can help you: http://stackoverflow.com/questions/9880943/symfony-authentication-cant-get-past-login-page-in-production

[2015-11-19 07:02] #3425 closed

[2015-11-19 10:46] DevMaster112 commented on #3205
By adding `format('d.m.Y')` to `dp_default_date' => $dateStart` is working for me to set a default value to field_type `sonata_type_date_range_picker`:

[code]

[2015-11-19 11:27] webdevilopers commented on #3205
Closing as this seems to be the official approach.

[2015-11-19 11:27] #3205 closed

[2015-11-19 13:00] beni0888 opened #3426 "Error trying to customize form rendering"
I'm experiencing an error trying to customize the rendering of a single form field. I'm following the instuctions of http://symfony.com/doc/2.3/cookbook/form/form_customization.html#method-1-inside-the-same-template-as-the-form but I get the following error:

My code is quite simple until now, I have a custom edit template and I am trying to implemente the field rendering customization in it. It i

[2015-11-20 11:37] DevMaster112 opened #3427 "Is it possible to add a EventListener at a DatagridMapper?"
I want to build a dynamic filter in configureDatagridFilters.
So if the user select an value in the choice-list of the filter some additional filters should be displayed.

E.g.

It's important that the user cannot change the filters so the filter is static to the user.

It is possible to add a form listener event for the formmapper (see: https://gist.github.com/webdevilopers/fef9e296e77bb879d138)

[2015-11-20 13:11] ruscon commented on #2943
ping ?

[2015-11-20 13:24] OskarStark commented on #3427
to be honest, i don't know this.. sorry :(

[2015-11-20 14:04] ruscon opened #3428 "Bug: Method "get-autocomplete-items" with subclass"
[code]

When using subclasses, need to call method with GET param &subclass=xxx

[2015-11-20 15:30] DevMaster112 commented on #3427
I got an little workaround for it:
Doing it by jQuery and change()-Function in the twig-template. (See: https://api.jquery.com/change/)

So if the user will change the choice-value in "evaluation" the div-tags of the filters will get `display: none` style and filter-forms the user should edit will get `display: block` style.

I think its a kind dirty of doing it in twig directly with javascript an

[2015-11-20 16:01] OskarStark commented on #3427
what about throwing some events when the filters are changed?
afterwards you can register on these listerns to perform some actions

[2015-11-20 16:06] DevMaster112 commented on #3427
im doing the handling of changes in filters by javascript now in the twig template.
was the fastest and easiest way to do what i want to have.

but i didn't found any solution by doing it with the configureDatagridFilters in my admin class.

[2015-11-20 16:06] #3427 closed

[2015-11-20 16:07] OskarStark commented on #3427
Thanks for your feedback @DevMaster112

[2015-11-20 17:58] Siddharth22 opened #3430 "How to Auto Post on Facebook Page in Admin"
I am using Symfony2.6 + Sonata Admin in my project. I want to know that How I can auto post my video blogs on facebook page when admin create video blogs in admin ? It's possible with sonata admin ?

[2015-11-20 20:09] sagikazarmark opened #3431 "Use Crowdin for translations"
Opening this issue here as this seems to be the main repository:

I mentioned in sonata-project/SonataMediaBundle#891 that we could use Crowdin for translation management.

https://crowdin.com/page/open-source-project-setup-request

[2015-11-20 20:13] OskarStark commented on #3431
ping @sonata-project/contributors

[2015-11-20 20:13] OskarStark commented on #3431
i like this idea, but don't know how to implement it in a way that works

[2015-11-20 20:20] sagikazarmark commented on #3431
Several other projects use it: Akeneo, Cachet.

[2015-11-21 13:40] pulzarraider commented on #3430
@Siddharth22 There is no direct support for Facebook API in SonataAdmin. You should use Facebook PHP SDK (or some other library) than can help you communicate with Facebook API.

Inside your Admin you can use the [`postPersist` saving hook](https://sonata-project.org/bundles/admin/master/doc/reference/saving_hooks.html#saving-hooks). In this method you can do anything with the object after it's st

[2015-11-21 13:41] #3430 closed

[2015-11-21 15:32] mihai-stancu opened #3432 "Allowing Symfony 3.0"
Testing a migration to Symfony 3.0 (BETA) is currently not possible due to the version requirements of sonata-project packages.

I've seen many Symfony related packages requiring symfony packages via  `~2.3|~3.0` in order to cover both the 3.0 migration (ex. in their dev branches).

[2015-11-21 17:18] rande commented on #3432
Can you create a PR ?

[2015-11-21 17:29] mihai-stancu commented on #3432
I'm working on one.

[2015-11-21 18:29] OskarStark commented on #3432
:+1: thank you @mihai-stancu

[2015-11-22 17:20] mihai-stancu commented on #3432
`knp-menu-bundle` allows Symfony 3.0 in its master but doesn't have a dev branch/tag pointing to master. What should branch should I reference?

[2015-11-22 17:21] mihai-stancu commented on #3432
Using a fictitious `2.2@dev` branch seems to work.

[2015-11-22 18:10] mihai-stancu commented on #3432
Wow this is such a house of cards, forking sonata-project/... admin, doctrine-orm, block, core, cache, exporter and still going.

[2015-11-23 10:00] Koc opened #3433 "[Batch] Provide possibility easy creation of extended confirmation page with form, for example"
Currently we have page for batch editing of the products with custom form. We should set `ask_confirmation = false` and handle confirmation manually in our action. Also a lot of templates code duplicates. I think, that this part can be improved a lot.

[2015-11-23 10:01] Valod2015 opened #3434 "filter in sonata_type_model_list Pop-Up"
When I use sonata_type_model_list
[code]
In List Pop-Up Filter button does not work (show current url content)
What can i do to make Filter work in Pop-Up?

[code]

[2015-11-23 10:07] amine2z commented on #3434
@Valod2015 can you explain more please? you can add the admin class content, the entity...

[2015-11-23 10:11] amine2z commented on #3433
@Koc can you explain more? with some code exemple

[2015-11-23 10:56] Valod2015 commented on #3434
Admin Class
[code]

[2015-11-23 13:02] amine2z commented on #3434
i dont know what you want to say by "Filter work in Pop-Up", but if you want to filter by parent. you have to add the field into the dataGridMapper (into configureDatagridFilters function) ;)

[2015-11-23 13:54] Valod2015 commented on #3434
Field edit to the dataGridMapper

step 1
![step 1](https://cloud.githubusercontent.com/assets/15943358/11338032/a273001e-9202-11e5-8341-d909f7bc5d9b.png)

step2
![step 2](https://cloud.githubusercontent.com/assets/15943358/11338034/a2755dc8-9202-11e5-9e48-bd27d0b8967a.png)

step 3
![step 3](https://cloud.githubusercontent.com/assets/15943358/11338035/a279b774-9202-11e5-9014-b85057fecb2c.png)

[2015-11-23 14:28] Valod2015 commented on #3434
I changed Composer json and it will work

[code]

[2015-11-24 21:44] #3434 closed

[2015-11-24 21:44] OskarStark commented on #3433
sounds good to me :+1:

[2015-11-25 04:57] Siddharth22 commented on #3430
Thanks for help :+1:

[2015-11-26 09:15] tubssp opened #3438 ""sensio/generator-bundle": "v3.0.0" is not allowed"
Problem 1
    - sonata-project/admin-bundle 2.3.7 requires sensio/generator-bundle ~2.3 -> no matching package found.
    - sonata-project/admin-bundle 2.3.7 requires sensio/generator-bundle ~2.3 -> no matching package found.
    - Installation request for sonata-project/admin-bundle v2.3.7 -> satisfiable by sonata-project/admin-bundle[2.3.7].

if i install "sensio/generator-bundle": "v3.0.0" beco

[2015-11-26 13:17] QuentinPolantis commented on #3130
I'm facing the same problem.

I add "header_class" =>"col-md-5" like it is explained in the documentation, but like @webdevilopers , nothing change. (https://sonata-project.org/bundles/admin/master/doc/reference/action_list.html#visual-configuration)

[2015-11-26 14:07] paquitodev commented on #2753
@Soullivaneuh is this already merged on SonataAdmin? If not I would like to use it, could you help me to achieve this?

[2015-11-26 14:54] Soullivaneuh commented on #2753
@paquitodev Admin-LTE 2 is running on Sonata 2.4.

[2015-11-27 11:30] ethernal commented on #1550
@krewetka Any changes that you could add some info to the docs about Exports or show examples from your project? I am very interested in that, if I manage to learn I can add the docs myself I just need to know where to start and maybe few examples.

[2015-11-27 13:49] tim96 opened #3442 "Admin.js trigger sonata-collection-item-deleted call before remove element"
In Admin.js exist this code:
[code]
@OskarStark hello. Can we add trigger after element was remove successfully?

[2015-11-29 00:46] austinh commented on #3428
I have also experienced this bug and it is very frustrating. It looks like subclass is supported in sonata_type_model but not sonata_type_model_autocomplete

[2015-11-29 02:00] johnpancoast opened #3446 "sonata_type_model_autocomplete causing "An invalid form control with name='' is not focusable""
I have a category entity with a parent_id field linking child categories to their parents. The entity is setup similar to Doctrine's example here: http://doctrine-orm.readthedocs.org/projects/doctrine-orm/en/latest/reference/association-mapping.html#one-to-many-self-referencing

I want the category admin to be able to specify a category's parent *or* its children although the former is irrelevant

[2015-11-29 06:38] OskarStark commented on #3438
can you please provide a PR with this change?

Thank you @tubssp

[2015-11-30 05:54] OskarStark commented on #3442
why not, can you provide a PR?

[2015-12-01 15:23] Soullivaneuh opened #3452 "[SF 2.8] Argument 1 passed to Symfony\Component\Form\Extension\Core\Type\ChoiceType::normalizeLegacyChoices() must be of the type array, null given"
On Symfony 2.8 only, with the following form config:

[code]

I got the following error:

[code]

Seems to be related to this config line: https://github.com/sonata-project/SonataAdminBundle/blob/09cb3bf45b4c662059c668173f3c85234d825767/Form/Type/ModelType.php#L105

If i replace `null` by `array()`, no error thrown but my choice form is empty.

Don't know wait if it's a Symfony or a Sonata issue,

[2015-12-01 15:35] Trip09 opened #3453 "sonata_type_model compatible with Symfony 2.8"
normalizeLegacyChoices Forces the use of an array in Defaults 'choices', this will be only supported until version 3.0

[2015-12-01 15:40] Trip09 commented on #3452
@Soullivaneuh, same here>> (sorry) https://github.com/sonata-project/SonataAdminBundle/issues/3453 PR is open

[2015-12-01 15:43] Trip09 commented on #3453
normalizeLegacyChoices(array &$choices, $choiceLabels, &$nextKey = 0)
if &$choices == null an error is thrown
PR::
https://github.com/sonata-project/SonataAdminBundle/pull/3454

[2015-12-01 17:35] Trip09 commented on #3452
@Soullivaneuh fix in PR https://github.com/sonata-project/SonataAdminBundle/pull/3455

[2015-12-01 19:34] lancersps opened #3456 "New model does not display in the left panel"
I have a problem when creating a new model.
The link is working.
app_dev.php / admin / davinci / taxi / privacy / Creative
but, in the left panel this model does not display.
http://joxi.ru/v29lwp9hGGLNqm

[2015-12-01 20:22] Trip09 commented on #3456
@lancersps there is not enough information to help you.... looks like you forget something... have you tag it and add it to the menu??
also if it's not really a bug you shouldm't open a issue... don't use github to questions... there is groups / stackoverflow and IRC...

hints::
(check your configurations)
https://sonata-project.org/bundles/admin/2-3/doc/reference/getting_started.html
 also if you

[2015-12-02 06:55] OskarStark commented on #3438
close because of:
https://github.com/sonata-project/SonataAdminBundle/pull/3451#issuecomment-161200360

[2015-12-02 06:55] #3438 closed

[2015-12-02 07:41] milokmet commented on #2971
Facing the same issue. Anyway thanks for you proposal to use annotation validation in the Entity.

[2015-12-02 07:49] OskarStark commented on #2971
could you provide a PR with the Annotation @metamaker ?

[2015-12-02 07:50] OskarStark commented on #2971
or a fix :smile:

[2015-12-02 09:30] ruscon commented on #3428
duplicate

[2015-12-02 09:30] #3428 closed

[2015-12-02 10:14] ipalo commented on #2349
+1

[2015-12-02 10:18] ipalo commented on #3209
+1
Same problem here: https://github.com/sonata-project/SonataAdminBundle/issues/2349

[2015-12-02 11:17] trihtm commented on #3453
@Trip09 Hi, you can find the answer here: https://github.com/sonata-project/SonataClassificationBundle/pull/165

[2015-12-02 11:27] sagikazarmark opened #3459 "[BC] KNP Menu Bundle ends up in an uninstallable set of packages"
Introduced here:

https://github.com/sonata-project/SonataAdminBundle/commit/d9c85b2a76f72e23b861e33d0f67abdc4ea2c963#diff-b5d0ee8c97c7abd7e3fa29b9a27d1780L40

[code]

[2015-12-02 11:29] sagikazarmark commented on #3459
Solution: `"knplabs/knp-menu-bundle": "^2.1@dev"` in composer.json

[2015-12-02 13:18] Trip09 commented on #3453
@trihtm you can look into the solution on https://github.com/sonata-project/SonataAdminBundle/issues/3455 this PR is close

[2015-12-02 13:18] #3453 closed

[2015-12-02 14:25] cosf87 opened #3460 "sonata_type_admin form type issue"
I have an entity 'Employee' and I embed an entity 'User' with 'sonata_type_admin' form type (one to one relation).
[code]
When I create a new Employee object I want to set default values to User object, but User __construct() or getNewInstance() method is never called.
Maybe it is a bug?

Thanks.

[2015-12-02 14:30] sagikazarmark commented on #3431
Any news?

[2015-12-02 16:26] pulzarraider commented on #3459
We are waiting here for releasing stable version of `knplabs/knp-menu-bundle`, that supports Sf 3.0. Until it's done you have to specifiy the `"knplabs/knp-menu-bundle": "dev-master",` in your composer.json.

[2015-12-02 16:53] sagikazarmark commented on #3459
Yeah, that's OK. Just wanted to report it, so that others find the issue quickly. Also, this is a BC breaking scenario, even if it is only true for a short time.

[2015-12-03 09:20] marvoh opened #3462 "Unrecognized option "knp_menu_template" under "sonata_admin.templates""
I just updated my version on sonata-admin and getting the error above.

[2015-12-03 10:05] davidromani commented on #3075
@OskarStark did you achieve it? It is possible to add a custom column?

[2015-12-04 07:03] OskarStark commented on #3075
is use something like this:

this one is used as collection:
[code]

here:
[code]

hope this helps

[2015-12-04 09:04] davidromani commented on #3075
More or less... I'm looking for something more customized like this:

<img width="1038" alt="captura de pantalla 2015-12-04 a les 9 58 48" src="https://cloud.githubusercontent.com/assets/698779/11585725/5945006c-9a6e-11e5-82b9-ff40e7d979fb.png">

I think that it would be interesting to define a sonata_type_button, I can try to make a PR. @Soullivaneuh @rande is this feature interesting enough?

[2015-12-04 10:14] DavidG04 commented on #3460
Hi, can you post your user admin configureFormField method code and  your orm configuration for the oneToOne relation ?

[2015-12-04 10:47] DavidG04 commented on #3125
Hi, can you post orm file for your user entity ? And confirm the BaseUser table is present in pdone database after an app/console d:s:u --force

[2015-12-04 11:11] cosf87 commented on #3460
Hi @DavidG04
I extended my user entity from SonataUserBundle (FOSUserBundle).
[code]

My Employee entity is in AppBundle.
[code]

[code]

I also noticed that user validation constraints don't work when I edit an Employee (for instance, if I edit an employee and I try to set an username that already exists, validation constraint is not displayed on username field). If I edit an user, __construct(),

[2015-12-04 12:10] DavidG04 commented on #3460
Ok, i m sorry but i don t test your code now because i don t have my computer with me. But you can make two simple test :

First, try to invert your bidirectional relashionship (inversedby and mappedby) notre the cascade.

Second: change the type admin by a type collection for test and try to add a new user in your employee (maybe you must change your oneToOne in manytoone for this test)

[2015-12-04 12:11] DavidG04 commented on #3460
Not manytoone sorry onetomany is better in your case

[2015-12-04 14:09] OskarStark commented on #3075
i would like this PR :+1:, maybe we can handle a possible BC break and use this for the current action buttons

[2015-12-04 14:19] OskarStark commented on #3462
can you please post the output of ``composer show -i`` ?

[2015-12-04 15:29] marvoh commented on #3462
Here it is:

cocur/slugify                            v1.4               Converts a string into a slug.

doctrine/annotations                     v1.2.7             Docblock Annotations Parser

doctrine/cache                           v1.5.1             Caching library offering an object-oriented API for ma...

doctrine/collections                     v1.3.0             Collections Abstraction lib

[2015-12-04 16:12] DevMaster112 commented on #3459
Same issue. Thanks @sagikazarmark for the fast workaround!

[2015-12-04 18:17] sagikazarmark commented on #3431
@ping @OskarStark @rande

[2015-12-04 20:14] Koc commented on #3091
Looks like related PR was merged and this issue can be closed. @phansys can you verify?

[2015-12-05 10:25] #3091 closed

[2015-12-05 10:26] rande commented on #3431
@sagikazarmark we are busy on migrating the code base to work on sf2.8 and 3.0. We might look at this solution after this work.

Thanks.

[2015-12-05 15:06] reypm opened #3467 "SonataAdmin and it's bundles Symfony 2.8/3.0 support, docs?"
As specified in [this][1] document SonataAdmin supports Symfony 2.8/3.0 but what about the rest of the bundles? I mean: SonataDoctrineORMAdminBundle, SonataUserBundle and so on? They are compatible too or is a work in progress? I would like to start a new fresh project using Symfony 2.8 LTS but I need to know first if I can use SonataAdmin as I did in Symfony 2.7 meaning without problems. Also whe

[2015-12-05 15:44] reypm opened #3468 "Is not Symfony 2.8 same as 3.0 but with warnings and deprecated? Why SonataAdmin fails with Symfony 2.8 fresh project?"
I'm trying to install latest SonataAdmin (dev-master) bundle in a Symfony 2.8 project but surprise I can't I don't even be asked about choose a branch or tag as said in [docs][1]. See the output below:

    composer require sonata-project/admin-bundle
    Using version ^2.3 for sonata-project/admin-bundle
    ./composer.json has been updated
    Loading composer repositories with package informati

[2015-12-06 08:57] rande commented on #3468
depends on the dependency tree you might not success to install sonata's bundles with sf2.8. So just wait a bit.

[2015-12-06 17:57] pulzarraider commented on #3446
@johnpancoast can you please specify which version of SonataAdmin and SonataDoctrineORMAdmin do you use? And also which browser and version trhrows this js error?

[2015-12-06 18:08] pulzarraider commented on #3424
This behavior is caused by the number filter that is called in the dependent admin. The default type for [NumberFilter](https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/master/Filter/NumberFilter.php) is [`NumberType::TYPE_EQUAL`](https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/master/Filter/NumberFilter.php#L50), so `=` is used in the query. I am not sure if

[2015-12-06 19:41] muspelheim opened #3471 "Autoactive cusrom item on navbar"
look comments on config
[code]

[2015-12-06 20:00] pulzarraider commented on #3421
SonataAdmin has it's own templates for filters, forms, datagrid and a lot of other features. We don't know how your own admin works, so such documentation will be too general.

The easiest way how to start integrating SonataAdmin into your existing admin is overloading [standard_layout.html.twig](https://github.com/sonata-project/SonataAdminBundle/blob/master/Resources/views/standard_layout.html.t

[2015-12-06 22:24] mihai-stancu commented on #3432
@rande appears to have added support for sf3 across most sonata projects.

I'll close this issue.

[2015-12-06 22:24] #3432 closed

[2015-12-06 23:40] johnpancoast commented on #3446
This was awhile back. I was in a rush and was unable to provide it at the time, unfortunately and I don't remember versions. Switching to master resolved it so I'm going with that for now (although I locked to a specific commit).

[2015-12-06 23:40] #3446 closed

[2015-12-07 03:03] reypm opened #3472 "KtwDatabaseMenuBundle and SonataAdmin integration, how to properly setup project?"
I'm working a **Symfony 2.8** project so I started by setting up everything. I am using SonataAdminBundle (dev-master) and it's dependencies: KnpMenuBundle and so on. I'm using also [KtwDatabaseMenuBundle][1] for store menu items at DB. After get SonataAdmin working I am trying to setup an Admin class for `KtwDatabaseMenuBundle` so I have defined services as follow:

    // Clanmovil\PlatformBundl

[2015-12-07 05:16] pulzarraider commented on #3189
Closing as there is no more feedback. @shubaivan If you will provide more informations for your problem, I will reopen the issue.

[2015-12-07 05:16] #3189 closed

[2015-12-07 08:58] tim96 commented on #3442
@OskarStark create new PR.

[2015-12-07 10:41] ThibautAlgrin commented on #3468
It's working for me.
This is my composer.json:

[code]

[2015-12-07 13:02] paquitodev commented on #3468
@ThibautAlgrin mine looks like below and doesn't work:

    "require": {
        "php": ">=5.3.9",
        "symfony/symfony": "2.8.*",
        "doctrine/orm": "^2.4.8",
        "doctrine/doctrine-bundle": "~1.4",
        "symfony/swiftmailer-bundle": "~2.3",
        "symfony/monolog-bundle": "~2.4",
        "sensio/distribution-bundle": "~5.0",
        "sensio/framework-extra-bundle": "^3.0.2",

[2015-12-07 13:22] jvasseur commented on #3468
@ThibautAlgrin from your composer logs, the problem is with ``"sensio/generator-bundle": "~3.0"`` composer is trying to install the 2.3 version of the admin bundle that wants the ~2.3 version of the generator bundle.

You can try doing ``composer require sonata-project/admin-bundle:dev-master`` that would make composer try to install the last version of the bundle that is compatible with the new a

[2015-12-07 13:28] paquitodev commented on #3468
@jvasseur lol ;) I think you want to advise me and not @ThibautAlgrin and yes, that's the fix I have found and I am using as you can see on the `composer.json`. @ThibautAlgrin just try my composer config with this line `"sonata-project/admin-bundle": "^2.3",` and you will see errors coming up.

[2015-12-07 13:31] jvasseur commented on #3468
@paquitodev yes it was you i wanted to mention.

The other solution would be to go back to an older version of the generator bundle (<3).

[2015-12-07 15:46] andrewtch commented on #3468
@rande , which version if Sonata bundles is expected to work with 3.0? 2.4 or 3.0?

[2015-12-07 15:48] rande commented on #3468
@andrewtch https://docs.google.com/spreadsheets/d/1fSpS10nzlEj9HE-GdZ-BHcxileEzHwRIzLlNfdNtZ2k/edit?pli=1#gid=0&vpid=C4 some information here

[2015-12-07 15:54] andrewtch commented on #3468
So, apart from Intl 2.4@dev seems to work fine. Excellent!

[2015-12-07 20:12] rafrsr opened #3474 "The extended type specified for the service "sonata.admin.form.extension.field" does not match the actual extended type. Expected "Symfony\Component\Form\Extension\Core\Type\FormType", given "form""
After update a project (with sonata 2.4@dev) to symfony 2.8 got this error

[code]

I cannot open any admin page.

Looking for information about symfony changes, I found this:

All sonata fields throw this exception with SF2.8+.

For example `Form/Extension/Field/Type/FormTypeFieldExtension.php` has the following _(not compatible with SF2.8+)_ statement .

[code]

The proposed trick to keep compat

[2015-12-07 23:11] rafrsr opened #3475 "Filter multiple sub entity properties has errors"
After update a project (with sonata 2.4@dev) to symfony 2.8 when try to add filters for multiple sub entity properties, only the last property appear in the filter.

eg.
[code]
the filters appears:

- town
- town
- town

and only one field appear in the filter form.

[2015-12-07 23:13] rande commented on #3475
@rafrsr Can you try to dig into the issue ? this is probably a template issue.

Thanks

[2015-12-08 10:17] SkyAgency opened #3477 "symfony 2.8.*@dev problem with 'sonata_type_model'"
$formMapper
...
->add('category', 'sonata_type_model', array('required' => false, 'expanded' => false, 'multiple' => true, 'btn_add' => false))
...

When I use symfony 2.8.*@dev, I have error:

Catchable Fatal Error: Argument 1 passed to Sonata\AdminBundle\Form\DataTransformer\ModelsToArrayTransformer::__construct() must be an instance of Sonata\AdminBundle\Form\ChoiceList\ModelChoiceList, instanc

[2015-12-08 10:22] SkyAgency commented on #3477
In symfony 2.8.*@dev second error fixed: https://github.com/symfony/symfony/issues/16792

[2015-12-08 13:54] sylvaindeloux commented on #3467
I think this is coming, just wait a few days more… #soon

[2015-12-08 14:22] imilyukov opened #3479 "Catchable Fatal Error: Argument 1 passed to Sonata\AdminBundle\Form\DataTransformer\ModelsToArrayTransformer::__construct() must be an instance of Sonata\AdminBundle\Form\ChoiceList\ModelChoiceList, instance of Symfony\Component\Form\ChoiceList\LazyChoiceList given, called in /home/imilyukov/www/vtb.archive/vendor/sonata-project/admin-bundle/Form/Type/ModelType.php on line 43 and defined"
https://github.com/sonata-project/SonataAdminBundle/blob/master/Form/DataTransformer/ModelsToArrayTransformer.php#L49

Just remove ModelChoiceList type hint from __construct().

[2015-12-08 14:33] paquitodev commented on #3467
@sylvaindeloux great, I can waits a few days

[2015-12-08 14:47] rande commented on #3467
@paquitodev the more occurate doc about bundles version support is : https://docs.google.com/spreadsheets/d/1fSpS10nzlEj9HE-GdZ-BHcxileEzHwRIzLlNfdNtZ2k/edit#gid=0

[2015-12-08 14:51] paquitodev commented on #3467
@rande I know I shouldn't ask for ETA but in a big word how many time will you plan to release a stable Symfony 2.8/Symfony 3.0 release of SonataAdmin bundle and Features (I mean for example UserBundle)? I did see here https://docs.google.com/spreadsheets/d/1GOxJ2lNpLxN12YyZ87Bhsxb0iLAQ7e4UDZbJSly8Sy8/edit#gid=0 that Sonata is already fully compatible with SF 3.0 but I don't think so, I am wrong?

[2015-12-08 14:56] rande commented on #3467
The core bundles : Core, Block, Admin and DoctrineOrm should work with SF2.8 and 3.0 with potentials regressions but I least I have something working (https://twitter.com/sonataproject/status/673895649386057728).

Other feature bundles does not work with SF3.0 due to dependencies issues. They should work with 2.8.

[2015-12-08 15:00] paquitodev commented on #3467
@rande can you share a working `composer.json` (if possible with Sonata User) since I am trying to get all working on Symfony 2.8 but I can't get it to work as should be

[2015-12-08 16:23] FrancoisMartin commented on #3475
I had the same problem since 5443959ecea1b77fb6b0e053f49a1f657d76c70c.

This pull request solve the issue :
https://github.com/sonata-project/SonataAdminBundle/pull/3481

[2015-12-08 17:28] #3475 closed

[2015-12-08 17:58] Emirii commented on #3479
Thank you, this will work until next fix.

I am running Symfony 2.7.7 with dev Sonata.

[2015-12-08 18:33] paquitodev opened #3482 "Incompatibilities between SonataAdmin, SonataUser and Symfony 2.8"
I'm using SonataAdmin with SonataUser in a Symfony 2.8 project and when I tried to edit a user I got this error:

This is how my `composer.json` looks like:

    "require": {
        "php": ">=5.3.9",
        "symfony/symfony": "2.8.*",
        "doctrine/orm": "^2.4.8",
        "doctrine/doctrine-bundle": "~1.4",
        "symfony/swiftmailer-bundle": "~2.3",
        "symfony/monolog-bundle": "~2.4

[2015-12-09 10:32] Trip09 commented on #3482
This is a known problem is related to https://github.com/sonata-project/SonataAdminBundle/pull/3455

[2015-12-09 10:33] Trip09 commented on #3477
this is related to https://github.com/sonata-project/SonataAdminBundle/pull/3455

[2015-12-09 10:33] #3482 closed

[2015-12-09 10:34] #3452 closed

[2015-12-09 16:12] cosf87 commented on #3460
@DavidG04, I was on holidays last days so I couldn't test your tests.
If I change 'sonata_type_admin' field type to 'sonata_type_model_list' or  'sonata_type_model' (I have to change one-to-one relationship to many-to-one), construct and validation work fine when I try to add new object (in a popup which is displayed).
However, I would like to understand why is not working on one-to-one relationsh

[2015-12-10 07:26] kemor opened #3484 "Not implemented, please send us your usecase"
Entity:
[code]

Admin:
[code]
The above throws an Exception.

I need also add a "context" filter to this field (like I can do in 'sonata_type_model_list' ). How can I do it?

[2015-12-10 09:01] DevMaster112 opened #3485 "Usage of Bootstrapper Modals in SonataAdmin"
Hello community,

I want to use the modals of bootstrapper in sonata. so if the user hit the "create" button at listview the create form should be shown in the modal.
See:
* https://almsaeedstudio.com/themes/AdminLTE/pages/UI/modals.html
* http://getbootstrap.com/javascript/#modals

I have seen something of this for e-commerce bundle of sonata:
* https://sonata-project.org/bundles/ecommerce/master

[2015-12-10 09:23] DavidG04 commented on #3460
Ok, no problem, can you post the service declaration for employee admin class. I test your code in my environment and reply to you

[2015-12-10 09:30] imilyukov commented on #3479
Thank you=)

[2015-12-10 09:50] cosf87 commented on #3460
Here my service declaration for Employee admin
[code]
Thanks.

[2015-12-10 10:09] DavidG04 commented on #3460
Ok, i have test your code in my environment. it's work fine when I create an Employee. I have the same composer.json , but i just declare the admin code in the user field in employee admin

[code]
Test this

[2015-12-10 11:16] cosf87 commented on #3460
Construct and validation still not working. For instance, if I set default values in User entity construct
[code]
When I create new Employee object 'enabled' field of user embedded form is set to false, but if I create  new User object 'enabled' field is set to true.
Also, if  I create new Employee object and I don't fill 'username' field a global error is only displayed, but if I do this in new U

[2015-12-10 11:19] mediamonks-robert commented on #3452
Can a new tag be created for this?

[2015-12-10 12:13] ethernal commented on #3484
I have the same issue - any Entity that references another will throw that error when trying to edit it in Admin panel. It should instead get values of that entity and return them to Admin as choices - that was the usual behavior.

How can we fix this or is this sonata error?

[2015-12-10 12:20] ejkun commented on #3221
As far as I know, you will have to rewrite the buildBreadcrumbs function. You can find it in the Admin class.

[2015-12-10 12:28] rande commented on #3484
This is generated by https://github.com/sonata-project/SonataAdminBundle/blob/d9c85b2a76f72e23b861e33d0f67abdc4ea2c963/Form/ChoiceList/ModelChoiceLoader.php#L132-L143 ... Can you try to implement those methods ? I don't have yet the current use cases ? Can help a lot...

[2015-12-10 12:39] ejkun opened #3486 "Get Entity Label from AdminClass"
Is there any way to get the label from the admin service of a entity?

I'm trying to rewrite the buildBreadcrumb function, since the "List" part of the breadcrumb doesn't work for portuguese. I've managed to create a label, so I can give the translation to the breadcrumb. But the label that SonataAdmin Class use is the name of the entity class, and I want to use the label that I created when decla

[2015-12-10 12:40] ethernal commented on #3484
I just wanted to add a stack trace that points to this file.

RuntimeException: Not implemented, please send us your usecase
    at n/a
        in D:\dev\server\www\Apache24\htdocs\symfony28\vendor\sonata-project\admin-bundle\Form\ChoiceList\ModelChoiceLoader.php line 142

    at Sonata\AdminBundle\Form\ChoiceList\ModelChoiceLoader->loadValuesForChoices(array(null), null)
        in D:\dev\server\

[2015-12-10 12:43] rande commented on #3484
I have not look yet at this, maybe @webmozart can provide some tips ;)

[2015-12-10 12:58] ejkun commented on #3486
Nevermind, just found out that I can translate the name that goes in the breadcrumb. Closing the issue.

[2015-12-10 12:58] #3486 closed

[2015-12-10 13:35] webmozart commented on #3484
I can't help much here :) Seems like your throwing an exception in ModelChoiceLoader?

[2015-12-10 13:51] ethernal commented on #3484
@webmozart

ModelChoiceLoader looks like this:

/**
     * {@inheritdoc}
     */
    public function loadChoicesForValues(array $choices, $value = null)
    {
        throw new \RuntimeException('Not implemented, please send us your usecase');
    }

    /**
     * {@inheritdoc}
     */
    public function loadValuesForChoices(array $choices, $value = null)
    {
        throw new \RuntimeExceptio

[2015-12-10 13:54] DavidG04 commented on #3460
Ok, For your first problem it's normal. Sonata don't instanciate a new user on employee create because it's don't know if the property is nullable or not (it's different if you create a user because if you create a user the user is required). if you want instanciate a new user on employee create you must push the data on field
[code]

and for the error bubble i try and i reply to you

[2015-12-10 14:16] DavidG04 commented on #3460
For the error it's normal again, because the subject is not the same and the user admin in employee admin is a clone. In your case the sonata_type_admin is not the best way. you may create a formType for your user and call this form type in user admin and employee admin. After you can manage data and error in the form type

[2015-12-10 15:05] rande commented on #3484
@webmozart I guess that ;) but what I add a hard time trying to get what is a ``choice`` and the ``values`` . ``Key`` is the ``choice`` and ``value`` the ``label`` ? So I am not sure what to do in those functions ;)

[2015-12-10 15:09] webmozart commented on #3484
"choice" = model representation of your choices
"value" = string representation of your choices (used in the `value` attributes)
"key" = arbitrary array keys (string or integer)
"label" = string labels displayed in the UI

[2015-12-12 12:20] cosf87 commented on #3460
@DavidG04 thanks for your answer for the first problem.
Finally, I found the answer to solve field validation on embedded User entity. I had to add Valid constraint on user mapping on Employee entity and add validations groups related to FOSUserBundle in EmployeeAdmin.
[code]

[code]

[2015-12-12 12:20] #3460 closed

[2015-12-13 00:39] paquitodev commented on #3477
@Trip09 is this already merged in `@dev` branch? I am updating constantly my project and still seeing this issue all the time I am on SF 2.8

[2015-12-14 18:30] tdujmic commented on #291
Excellent,
Works perfect without 'multiple'=>true, that is all I need...
Thanks

[2015-12-14 21:59] andrewtch commented on #3150
confirmed )

[2015-12-14 22:10] lipiluk opened #3492 "SimpleChoiceList"
class ModelChoiceList extends ArrayChoiceList instead of SimpleChoiceList in ModelChoiceList.php from Symfony 2.8/+ .

[2015-12-14 22:11] andrewtch commented on #3492
yes, +1 (after installing manual dependency to symfony-acl I see this error)

[2015-12-15 01:15] justi commented on #2943
+1

[2015-12-15 08:05] ethernal commented on #3484
@rande
Are there any required changes to *Admin classes? If the error is caused by improper implementation on our side then there should be a notice added to Upgrade 2.4.md but I could not find anything there.

I had to checkout the version before Symfony3 integration and sonataAdmin works again properly. Could you explain why the changes where introduced that break fetching the data from related

[2015-12-15 09:26] andrewtch commented on #3492
Seems like that ```Sonata\AdminBundle\Form\ChoiceList\ModelChoiceList``` should extend now ```Symfony\Component\Form\ChoiceList\ArrayChoiceList```.

@rande , can you confirm?

[2015-12-15 13:39] ejkun commented on #3467
I'm trying to use Symfony 3.0 with SonataAdmin but apparently SonataAdmin is trying to use a interface that don't exist in Symfony 3.0.

[2015-12-15 13:43] rande commented on #3467
@ejkun Can you named the interface ?

[2015-12-15 13:44] ejkun commented on #3467
DomainObjectInterface

[2015-12-15 13:46] rande commented on #3467
The Interface is part of https://github.com/symfony/security-acl/blob/master/composer.json

[2015-12-15 14:06] hason commented on #3471
This bug is resolved in #3065.

[2015-12-15 15:56] tim96 commented on #3442
Close. Done in #3473

[2015-12-15 15:56] #3442 closed

[2015-12-15 18:33] imilyukov opened #3494 "Wrong naming for Pager methods"
Please, look at this:
https://github.com/sonata-project/SonataAdminBundle/blob/master/Datagrid/Pager.php#L254
https://github.com/sonata-project/SonataAdminBundle/blob/master/Datagrid/Pager.php#L268

Is it correct??
Maybe there: Pager::getFirstIndex() and Pager::getLastIndex()??

Thanks.

[2015-12-16 08:10] musicthebee opened #3495 "REST interface"
While all the URLs are rest compliant, what I see is that the response is not JSON but full HTML.

For ex: http://localhost:8000/admin/app/category/list?filter%5B_sort_order%5D=DESC&filter%5B_sort_by%5D=name&filter%5B_page%5D=1&filter%5B_per_page%5D=32

brings back full HTML and results in complete page refresh rather than JSON and XMLHTTPRequest.

Any ideas, how i can plug-in to make it rest and

[2015-12-16 10:17] AienTech opened #3496 "ContextErrorException in Custom Sonata admin batch action"
followed by batch action documentation in sonata admin's website, created this custom batch action called AnalayseController.php:

[code]

but I'm getting this error:
[code]

[2015-12-16 12:21] ibasaw opened #3497 "chrome broken caracters"
since few days, i got this in sonata admin and chrome

![bug sonata chrome](https://cloud.githubusercontent.com/assets/313704/11840673/00e516b4-a3ce-11e5-89e2-69dd16bd1c2a.jpg)

sf2.8.1 dev

[2015-12-16 12:48] ibasaw commented on #3497
this is very strange, got it only on one of my computers

[2015-12-16 13:12] ibasaw commented on #3497
i uninstall chrome, clean and re install it, and problem disapear

[2015-12-16 13:12] #3497 closed

[2015-12-16 13:54] rande commented on #3497
@ibasaw you had probably change characters encoding in your browser.

[2015-12-16 13:56] ibasaw commented on #3497
@rande : i had verified, and no, i had changed nothing ;) i got an os updated and my chrome installation was old. problem solved

[2015-12-16 16:44] paquitodev commented on #3484
I am on the same as you, trying to find how to fix this issue but without help I think I can't be so helpful so @webmozart @rande give us some tips in order to help you guys.

@ethernal `loadChoicesForValues()` and `loadValuesForChoices()` doesn't exists on 2.3 branch, take a look [here](https://github.com/sonata-project/SonataAdminBundle/blob/2.3/Form/ChoiceList/ModelChoiceList.php) I think those

[2015-12-16 16:52] rande commented on #3484
@webmozart cannot provide much information as it is related to sonata. Now, I am currently working on fixing sonata's bundles to work with sf2.8 and sf3.0. This is not an easy task.

If you want to help, just remove the exception and try to implements the related methods. Then send a PR.

[2015-12-16 17:19] paquitodev commented on #3484
@rande yes I can do that but could you explain me or at least give me a light in what to implement?

[2015-12-16 18:10] fernandopg commented on #998
Hi @adyballa!

I have the problem that you said, I have a OneToMany collection and I want to be able to delete the associations but not to delete the children...

In your comment you said that we need to implement the remove-method and set the association to NULL...

I don't know if I understand well, I have the removeEntity function in my Entity class but never is called...

Ej:

User Entity:

[2015-12-16 18:37] OskarStark commented on #2943
could you please create a PR?

[2015-12-16 20:53] Id4v commented on #3492
+1 same problem as @andrewtch
Created a PR for this.
Seems to break compatibility with sf2.3 but not sure this is a problem though.

[2015-12-16 21:26] rande commented on #3492
The ``choice_list`` option should not be used with sf2.7+. You must use the ``choice_loader`` options. See https://github.com/sonata-project/SonataAdminBundle/blob/9e8f0e60c78b6b410ed896079a6f86ecde491e42/Form/Type/ModelType.php#L85-L114

[2015-12-16 21:26] #3492 closed

[2015-12-17 09:36] andrewtch commented on #3492
@rande , it is not about "usage", this error happens just after installing Sonata on 3.0 because of mailformed "Use". Consider reopening.

[2015-12-17 09:47] greg0ire commented on #3190
see #3319

[2015-12-17 09:47] greg0ire commented on #2419
see #3319

[2015-12-17 09:53] Id4v commented on #3492
+1 @andrewtch
Having the same exception on a fresh Sf3.0 install.

After some investigation.
`Sonata\AdminBundle\Form\ChoiceList\ModelChoiceList` is being listed in `./var/cache/classes.map`
Don't know why though, but it's clearly not linked with a misuse of `choice_list` option in custom code.

Anyway, with the use case that @rande described, making `Sonata\AdminBundle\Form\ChoiceList\ModelChoice

[2015-12-17 10:06] rande commented on #3492
@ld4v ok got it. I need to alter the SonataAdminExtension.

[2015-12-17 10:44] fsanter commented on #2476
One year after, the easiest solution:
Instead of:
[code]
Just do:
[code]

[2015-12-17 10:49] rande commented on #3492
done!

[2015-12-17 10:49] rande commented on #3492
For reference: https://github.com/sonata-project/SonataAdminBundle/commit/d499812e8fe7c33cd322addd35d6b669fe00d4b5

[2015-12-17 11:16] Id4v commented on #3492
:+1:  Thanks @rande

[2015-12-17 11:22] andrewtch commented on #3492
Checked, works fine. Thank you!

[2015-12-17 12:54] rande commented on #3492
@Id4v please note, 3.0 support has not been properly tested. Unit test are ok, but it might have some issues.

[2015-12-17 14:52] Id4v commented on #3492
@rande Yes I know, I am just trying it on a test project.
If I can help reporting/correcting some bugs in the process, it's a plus.

[2015-12-17 20:26] AienTech commented on #3496
solution:
```services.yml```:
[code]

[2015-12-17 20:26] #3496 closed

[2015-12-18 09:12] rodrigobb commented on #1550
@krewetka, it's quite an obscure feature, but export headers (labels) can be overwritten by using keys in getExportFields method. It can even be translated!!

I don't know where to modify Bundle doc by including this information, but you can code something like the following:
[code]

[2015-12-18 17:07] binarious commented on #3452
I'm also waiting for a tag.

[2015-12-21 05:53] OskarStark commented on #3442
Thank you @tim96

[2015-12-21 14:09] yuriricci opened #3502 "Sonata_type_admin without 'embedded style'"
The default behaviour when using sonata_type_admin is that the embedded admin is "tabbed", i.e it is shifted to the right with respect to the embedding one.
I would like to have the two entities at the same level, meaning that the embedded admin fields are displayed exactly the same as the embedding one. Also removing the global label does not help, since the label+field of the embedded admin have

[2015-12-21 14:53] blogrammierer commented on #3484
With commit https://github.com/sonata-project/SonataAdminBundle/commit/b039fd706d6b89936a37b11ff9d2abb47ec0af9c my AdminInterface crashed. The commit changed the "block-bundle" version range, so I assume this issue depends on Sonata Block Bundle - or?

[2015-12-22 05:01] OskarStark commented on #3494
changing this name would be a BC break..., but we can schedule this for the next major.

Are you willing to provide a PR?

[2015-12-22 13:59] Koc opened #3503 "Add possibility create custom list fields types that linked to templates and which checks options"
There are a lot of list field types available in the `AbstractSonataAdminExtension` https://github.com/sonata-project/SonataAdminBundle/blob/master/DependencyInjection/AbstractSonataAdminExtension.php#L33 . But currently it is too hard add your own type, like `image`. Also would be nice provde some kind of validation: for example my own `image` type require pass option `image_pattern`.

[2015-12-22 14:48] imilyukov commented on #3494
PR?

[2015-12-23 09:40] #3479 closed

[2015-12-23 09:43] rande commented on #3477
should be fixed by https://github.com/sonata-project/SonataAdminBundle/pull/3504

[2015-12-23 09:43] #3477 closed

[2015-12-23 09:43] rande commented on #3484
should be fixed by https://github.com/sonata-project/SonataAdminBundle/pull/3504

[2015-12-23 09:43] #3484 closed

[2015-12-23 16:33] blogrammierer commented on #3484
The exception is fixed, but now "no results" message is shown on "sonata_type_model" without any options added.

My fieldconfiguration in adminClass:
`->add('field', 'sonata_type_model', array(), array())`

[2015-12-23 16:35] DavidG04 commented on #3329
Hi,

Please can you post your two admin code (author and lector) and your admin declaration service

Thx.

[2015-12-24 03:52] marvoh opened #3506 "How to check whether user has permission in Admin"
I need to disable downloading lists and also customize the query depending on user permission in Sonata Admin

This limits results returned in the list results based on user Role
[code]
Then this should ideally hide the download button based on role
[code]
However, my application breaks and gives the following error
[code]

[2015-12-25 03:36] valerymelou commented on #3468
This worked for me:
* Change the required version of  `sensio/generator-bundle` from `~3.0` to `~2.3`
* Run `composer install`
* And finally `composer require sonata-project/admin-bundle`

[2015-12-25 04:08] reypm commented on #3468
Merry christmas to everyone here, now

@valerymelou can you share your complete `composer.json`?

@rande can you share with us a properly *working* version of `composer.json`?

[2015-12-26 07:22] valerymelou commented on #3468
@reypm this is my complete `composer.json` after I installed the `sonata-project/admin-bundle`

[code]

[2015-12-26 16:55] reypm commented on #3468
@valerymelou and which guide did you follow to setup the bundles? the current online at site or docs from here (the repo)? also did you try any other bundle as EasyExtend or SonataUser?

[2015-12-27 07:41] valerymelou commented on #3468
@reypm I followed [this guide] (https://sonata-project.org/bundles/admin/2-3/doc/reference/installation.html). I did try EasyExtendBundle and SonataUserBundle + FOSUserBundle but I couldn't get it to work. Actually I'm moving on with my project without the AdminBundle.

[2015-12-27 18:44] reypm opened #3508 "No entity manager defined for class Doctrine\Common\Collections\ArrayCollection"
I am trying to setup a `ManyToMany` field using `sonata_type_model_list` but I can't get it to work perhaps is part of a **todo** since I am using Symfony 2.8 and this is not complete ready/migrated. Here is my code:

[code]
Can any give me some advice? What I am doing wrong? Is this not ready yet?

[2015-12-28 04:28] Enleur opened #3509 "2.4 Release"
Any plans of a new stable release?

[2015-12-28 06:15] OskarStark commented on #2476
@TheKassaK did this help?

If yes, please close this issue, thank you!

[2015-12-28 06:18] tim96 commented on #3508
@reypm hello, can you try ```sonata_type_model``` instead of ```sonata_type_model_list```? Is it work?

[2015-12-28 06:39] OskarStark commented on #3497
which OS?

[2015-12-28 11:42] ibasaw commented on #3497
win 10 64

[2015-12-28 11:59] reypm commented on #3508
@tim96 tried, same result as before

[2015-12-28 12:46] tim96 commented on #3508
@reypm Do you have ```AliasAdmin``` class ? You can try add model_manager or class as describe here:
https://sonata-project.org/bundles/admin/master/doc/reference/form_types.html#sonata-type-model
Or you can try:
[code]

[2015-12-28 13:58] vikramparihar commented on #998
Thanks  esion

[2015-12-28 14:19] reypm commented on #3508
@tim96 that's worked. Can you tell me what I was doing wrong?

[2015-12-28 16:11] tim96 commented on #3508
@reypm could you check it on symfony 2.7?

[2015-12-28 16:12] reypm commented on #3508
@tim96 already checked in a previous project and it works the problem is on Symfony 2.8+

[2015-12-28 16:27] tim96 commented on #3508
@reypm  maybe ModelChoiceLoader is not ready? https://github.com/sonata-project/SonataAdminBundle/pull/3504/files

[2015-12-28 16:30] reypm commented on #3508
Ohhh let's wait until this got merged, thanks for the tip I will close the issue for now and will take a closer look to this commit

[2015-12-28 16:30] #3508 closed

[2015-12-30 06:31] OskarStark commented on #3494
Pull Request

[2015-12-30 08:06] gliderShip opened #3511 "Declare bundle symfony/security-acl as a dependency for SonataAdmin"
Acl's which are not part of Symfony Standart Edition any more and have been extracted in their own bundle.

[2015-12-30 10:36] pmithrandir commented on #3467
Hello,
This is indeed a bug then... as symfony/security-acl should be required by sonata if it's a dependency in composer.json.

Pierre

[2015-12-30 11:46] mcwebb commented on #329
@lu4e3ar's solution seems to already be implemented, just as `admin_code` rather than `association_admin` however this doesn't seem to work for `sonata_type_collection`.
The point being that there doesn't seem to be a way to include an unmapped `sonata_type_collection`, which is sometimes quite useful.

[2015-12-30 13:54] reypm opened #3516 "Where did create and add in sonata_type_model goes?"
I am setting up `sonata_type_model` for a `ManyToMany` relationship and I am doing as follow:
[code]
And this is the column definition at entity:
[code]
I can add a new Alias from within Command create as you can see in the pic below:

![2015-12-30_8-51-43](https://cloud.githubusercontent.com/assets/627886/12051486/a8ae06a8-aed2-11e5-8877-04c915fd3b5d.png)

But I am missing `Create and add` button

[2015-12-31 08:13] Th3Mouk commented on #3509
https://github.com/sonata-project/SonataAdminBundle/issues?q=is%3Aopen+is%3Aissue+milestone%3A2.4

[2015-12-31 08:42] davidromani opened #3517 "Email field type in list & show views"
Anyone interested in a new email field type? It can be useful if you want to open a new email window directly from the list view.

I can provide a PR.

[2015-12-31 12:07] OskarStark commented on #3517
great idea :+1:

[2015-12-31 16:17] ibasaw opened #3518 "sonata_type_datetime_picker wrong date persist to DB"
[code]

I type 30/12/2015 and got 30/01/2015 in DB

sf2.8.2

[2016-01-04 10:36] ping86 opened #3519 "Sonata admin bundle crash with symfony 2.3"
When I do composer update in my symfony proyect my application crash. I am using symfony 2.3 and this sonata version:

If I force to use last sonata version in my composer.lock all work.

Is this version (sonata 2.3.*) still symfony 2.3 compatible?

[code]

[2016-01-04 10:47] rande commented on #3519
Yes, the error does not seems to be related to Sonata, but to your configuration.

[2016-01-04 10:47] #3519 closed

[2016-01-04 13:14] OskarStark commented on #2366
@npotier could you provide your fix as a PR

[2016-01-04 15:11] ping86 commented on #3519
But before the application work with the same configuration. I need more configuration due to new bundles instaled in the new version?

[2016-01-05 05:23] chenxiaolong1994 commented on #985
士大夫

[2016-01-05 06:48] Enleur commented on #3509
@Th3Mouk thanks, i saw it. Most of the milestone's issues have been stuck since the end of 2014 and 2.3.x versions don't provide support for symfony 3.0 and contain a lot of deprecated usages, meanwhile sonata's master branch already have support for such things

[2016-01-05 09:12] Th3Mouk commented on #3509
All my productions are on 2.3, and i can't move to 2.4 that IMO is more a 3.0 version.
This is a link for the current dependences issues : https://docs.google.com/spreadsheets/d/1fSpS10nzlEj9HE-GdZ-BHcxileEzHwRIzLlNfdNtZ2k/edit?pli=1#gid=0
The main problem is about the symfony form component.

[2016-01-05 16:55] IwfY opened #3520 "Filtering data by string that ends on underscore does not work"
I have a data set that contains string values which use underscores as separators.

That is why I want to filter by strings like 'A_'. When I do so all entities are returned that contain 'A' (also e.g. 'AB'). To get the filters to show what I want I have to insert 'A_'.

Filtering by e.g. 'A_B' works as expected.

Is this wanted behaviour? Can this be configured somehow?

[2016-01-06 15:32] Hoannv opened #3522 "Get exception when try to export a list to csv, xml file"
I'm using SF2.3, Sonata Admin 2.2.*. I update dependencies today and getting this exception when try to export a list to csv, xml file

Fatal error: Class 'Symfony\Component\Form\Util\PropertyPath' not found in /vendor/sonata-project/exporter/lib/Exporter/Source/DoctrineORMQuerySourceIterator.php on line 47

[2016-01-07 13:58] pulzarraider commented on #3522
Sonata Admin 2.2 is not supported. Can you please try Sonata Admin 2.3?

[2016-01-07 14:13] pulzarraider commented on #3520
@IwfY thank you for reporting the problem.

In MySQL underscore `_` with ``LIKE` operator searchs for any single character. We have to escape `%` and `_` in [StringFilter.php](https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/master/Filter/StringFilter.php).

[2016-01-07 15:08] Hoannv commented on #3522
thanks @pulzarraider

[2016-01-07 15:08] #3522 closed

[2016-01-07 20:13] npotier commented on #2366
hi @OskarStark thanks for your message. I could make a PR, but i'm not sure how to propose a definitive solution:
- should I add an "allow_add" option to the ModelAutocompleteType ?
- should I create a new Type ModelAutocompleteTypeWithAdd ?
- should I just PR the template file and add in the documentation an entry to show how to configure the form Admin when you want the "add" feature ?

What do

[2016-01-07 21:53] OskarStark commented on #2366
thanks for your answer @npotier, IMO this would be   the best solution:

ping @sonata-project/contributors

[2016-01-07 23:21] npotier commented on #2366
ok ! i'll wait for other opinions from @sonata-project/contributors and make the PR

[2016-01-08 07:44] webdevilopers commented on #2366
Definitely :+1: for "allow_add" option.

[2016-01-08 07:46] OskarStark commented on #2366
i think you can start the PR :smile: :smile:

2016-01-08 8:44 GMT+01:00 webDEVILopers <notifications@github.com>:

[2016-01-08 08:05] webdevilopers commented on #2366
You should wait for @pulzarraider and @rande - they are "the voice"! ;)

[2016-01-08 14:34] OskarStark commented on #3502
maybe you could add an option to the sonata_type_admin and use this in the dedicated template to modify cols

[2016-01-09 05:38] EricSivilog opened #3524 "Adding tabs without groups in Admin Forms"
Hi there !

I am using Sonata Admin to develop the backend of my website, and came accross some strange behaviour yesterday. I am basically trying to have a form with two tabs, but do not need groups in each of these tabs. Hence I used in configureFormFields :

[code]

When doing so, I get an error that says: You should close previous tab "Infos" with end() before adding new tab "Jaquettes". If I

[2016-01-09 15:18] SkobelevIgor commented on #3468
According https://sonata-project.org/bundles/admin/2-3/doc/reference/installation.html you just need to specify "dev-master" version of bundle.

[2016-01-11 14:31] andrewtch opened #3528 "Let's make choice_widget_collapsed compatible with 3.0"
Current implementation states:

[code]

as per http://symfony.com/doc/current/reference/forms/types/entity.html, this field should support  ```placeholder``` option to render empty field. Consider changing it to this:

[code]

if ok I'll PR.

[2016-01-11 15:09] webdevilopers commented on #2993
I tried some other variations without success:

[code]

Some of them end up with a **Notice: Undefined index: default** in `app/cache/dev/classes.php at line 13033`
[code]

[2016-01-11 21:31] OskarStark commented on #3528
seems legit, but we have to stay BC of course and a test would be awesome @andrewtch

@core23 what do you think?

[2016-01-11 21:37] andrewtch commented on #3528
Not sure what/how to test here (never actually tested twig form rendering), actually, but I'll try to run in on 2.7 / 2.8 tomorrow.

[2016-01-12 06:32] OskarStark commented on #3528
i think you can found some examples in the symfony core, but not sure yet

thank you @andrewtch

[2016-01-12 08:19] sbooker opened #3529 ""Undefined index: choice_list" with Symfony 3.0"
I use `sonata_type_model` for many to many relation.
[code]
And have error "Undefined index: choice_list". Stack trace:
[code]
As I can see `$options['choice_list']` never not initialized for Symfony 2.7+.
I offer change line 43 in `sonata-project/admin-bundle/Form/Type/ModelType.php` to
[code]

[2016-01-12 10:49] gallart commented on #2905
UP !

[2016-01-12 12:09] andrewtch commented on #3528
@OskarStark , they have very... shallow tests for templates (and they are not a part of form bundle, these are part of Twig Bridge: https://github.com/symfony/symfony/blob/master/src/Symfony/Bridge/Twig/Tests/Extension/FormExtensionBootstrap3HorizontalLayoutTest.php).

The only thing I can imagine is to render blocks with some pre-set values and (like render FormView with single element?) and chec

[2016-01-12 12:47] OskarStark commented on #3528
sounds interesting :smile: , but yes, this is what i already saw.

[2016-01-12 13:17] andrewtch commented on #3528
@OskarStark , I did some minor research and this is how it looks like:

[code]

is it ok for you and @rande (after major cleanup, of course?).

The other question is how to check for symfony version - bind to SYMFONY_VERSION and execute tests depending on that? Very ugly IMHO, need an advice here.

[2016-01-12 13:42] webdevilopers commented on #2476
Tried the solution provided by @cassianotartari with `null`, `false` etc., didn't work out.
Solution by @fsanter works just fine.

Please close @TheKassaK !

[2016-01-12 13:58] OskarStark commented on #2476
@webdevilopers would you create a PR for the docs? i think many people could use this trick

[2016-01-12 13:59] OskarStark commented on #3528
looks ok to me, but don't know how we can solve the SYMFONY_VERSION stuff...
how does the Symfony guys maintain there tests for different versions of components?

[2016-01-12 14:18] andrewtch commented on #3528
Oskar, they BC, and actually test only master / 3.0 branch (as I see in Travis).

poking @rande , we kinda need to discuss how to handle tests for different symfony versions. Catch an exception and fallback? Check for some changes / new classes? Use version_compare in tests against \Symfony\Component\HttpKernel\Kernel::VERSION?

[2016-01-12 15:55] OskarStark commented on #3528
Not recommended, because you can use different HttpKernel Versions in the same Symfony version

[2016-01-12 15:55] webdevilopers commented on #2476
Sure. Maybe @pulzarraider or @rande can confirm that this approach is best / only practice for this issue?

[2016-01-12 15:58] andrewtch commented on #3528
Oskar, it is for tests where version is determined by env SYMFONY_VERSION.

[2016-01-12 22:02] OskarStark commented on #3528
ok

[2016-01-13 11:42] andrewtch commented on #3528
I'll bake a PR soon - seems like we need to test really a lot of stuff here.

Who will review / merge it, you or Tomas?

[2016-01-13 13:57] alzubaidi opened #3533 "Input text collection JavaScript issue"
I am trying to add collection of input texts with add/delete buttons on admin block.

The problem is when I hit add button I get new 3 or 4 or even 5 new input fields instead of one!

The js function setup_collection_buttons called more than once hence attached more click events on HTML element .sonata-collection-add

Before click
![screenshot from 2016-01-13 13-26-25](https://cloud.githubusercont

[2016-01-13 13:58] OskarStark commented on #3528
ping me for review, if a test is included i feel more save to press the merge button

[2016-01-13 13:59] OskarStark commented on #3533
can you show the output of `composer show -i` ?

[2016-01-13 14:01] alzubaidi commented on #3533
behat/behat                              v2.5.5             Scenario-oriented BDD framework for PHP 5.3
behat/common-contexts                    v1.2.0             Commonly used contexts for Behat
behat/gherkin                            v2.3.5             Gherkin DSL parser for PHP 5.3
behat/mink                               v1.7.0             Browser controller/emulator abstraction for PHP
beha

[2016-01-14 09:13] OskarStark commented on #2203
Same Problem, i can keep this in my Entity:

[code]

but i have to remove all
[code]
from my admin... :confused:

[2016-01-14 09:34] OskarStark commented on #2203
i renamed everything to ``$numberOfChildren`` and now it works

[2016-01-14 09:35] OskarStark commented on #2203
@rande can you explain WHAT is the problem here?

[2016-01-14 15:42] ibasaw commented on #1502
how to solve this ? neeed prePersist() and preUpdate() in my collections sub forms

[2016-01-14 15:53] andrewtch commented on #3528
Let's continue on #3535.

[2016-01-14 15:53] #3528 closed

[2016-01-15 07:59] OskarStark opened #3536 "how to put sonata nav to the top?"
is there a setting?

[2016-01-15 08:53] rande commented on #3536
Nop, you cannot do than, unless you rewrite template and css.

[2016-01-15 08:53] #3536 closed

[2016-01-15 08:58] OskarStark commented on #3536
ok, are you interested in a config way, so i can create PR, because we need this for one of our customer

[2016-01-15 09:02] rande commented on #3536
Does the theme support this feature ? Also, it will be great to check if nothing break also it will be harder to maintain 2 layouts, so maybe just a cookbook might be a good solution.

[2016-01-15 09:06] javiereguiluz commented on #3536
@rande AdminLTE2 template supports the top navigation via the `layout-top-nav` option (see https://almsaeedstudio.com/themes/AdminLTE/documentation/index.html#layout).

[2016-01-15 09:42] #3509 closed

[2016-01-15 10:35] OskarStark commented on #3536
yes the theme supports it like javier said, but i'm not sure if this is simple, we have to check that

or did you used it in this way @javiereguiluz ?

[2016-01-15 10:38] OskarStark commented on #3536
btw. are we using the version 2 of the theme?

[2016-01-15 10:47] javiereguiluz commented on #3536
@OskarStark these days I'm battling to integrate the AdminLTE2 in a bundle ([details](https://github.com/javiereguiluz/EasyAdminBundle/pull/791)), so I'm not an expert in this template. However, as you can see in https://almsaeedstudio.com/themes/AdminLTE/pages/layout/top-nav.html  the "top nav layout" is as easy as adding `.layout-top-nav` class in the `<body>` and putting the menu contents in th

[2016-01-15 13:41] JacerOmri commented on #1304
any update?

[2016-01-16 13:43] Uplink03 opened #3538 "OneToMany, subclasses, inline editing"
I'm doing some work to get subclassed entities (Doctrine ORM inheritance based on discriminator column) working correctly with the one-to-many inline editor. See these forked repositories: https://github.com/Uplink03/SonataDoctrineORMAdminBundle and https://github.com/Uplink03/SonataAdminBundle

It's almost working, but I've hit a wall and I hope somebody (original author?) could help me finish th

[2016-01-18 08:04] OskarStark commented on #2366
@npotier a PR would be great, if no one else raised there hands :smile:

[2016-01-18 14:33] j0k3r commented on #3452
By upgrading to Symfony 2.7.9 or 2.8.2, it should be ok without that change: https://github.com/symfony/symfony/commit/f3c2a9bedaad10633874b6bf89a95d0eb4a0c7fc

[2016-01-20 09:45] zajca opened #3542 "Unable to transform value for property path "tags": Expected an array. In ChoiceType"
Hi, I have problem with choice using multiple choice, if I use ```'multiple'=>false``` it works but it's useless for collection.

 * Symfony 3.0.1
 * DoctrineODM

Document:
[code]

Admin (FormFields):
[code]

I try to use ```sonata_type_model``` but that ends with ```Notice: Undefined index: choice_list``` which is related to https://github.com/sonata-project/SonataAdminBundle/issues/3529

I also

[2016-01-20 19:42] sylnsr commented on #3519
:+1: same issue and I agree with @ping86 .. my config has not changed ..and it worked before.. but now there is this new exception

[2016-01-21 17:53] reypm opened #3545 "SonataAdmin and Symfony 2.8.x|3.0.x current status"
I know the team or the people behind Sonata has been working hard to get this done, I know there is a [document][1] talking about it (which I think it's outdated since has been a lot of PR on these past days) but, what's is the real status of the bundle on this moment? It's recommended for a new fresh backend project where I need to use FOSUserBundle and ACLs? Which is the status of the other Sona

[2016-01-21 19:48] andyHobbs commented on #1887
@AlmogBaku can leave only the choice of hours and minutes without the year?

[2016-01-22 07:48] ajgarlag commented on #3529
@sbooker Your proposed patch works form me. Maybe you could submit a PR.

[2016-01-22 08:26] sbooker commented on #3529
@ajgarlag PR: https://github.com/sonata-project/SonataAdminBundle/pull/3546

[2016-01-22 12:17] VBelozyorov commented on #2059
[Here](https://sonata-project.org/bundles/admin/master/doc/reference/form_types.html#sonata-type-model-autocomplete) in the docs the `width` option is specified:

But when I trying to use it:
[code]
It says

What I'm doing wrong?

part of my `composer.lock`:
[code]
As far as I understand (2.3.7)[https://github.com/sonata-project/SonataAdminBundle/commits/2.3.7] was released at the end of October 2

[2016-01-22 12:59] VBelozyorov opened #3547 "Width option for sonata_type_model_autocomplete"
[Here](https://sonata-project.org/bundles/admin/master/doc/reference/form_types.html#sonata-type-model-autocomplete) in the docs the `width` option is specified:

But when I trying to use it:
[code]
It says

What I'm doing wrong?

part of my `composer.lock`:
[code]
As far as I understand [2.3.7](https://github.com/sonata-project/SonataAdminBundle/commits/2.3.7) was released at the end of October 2

[2016-01-22 14:12] VBelozyorov commented on #3547
Just found version select on docs site, and there is no `width` option for 2.3

[2016-01-22 14:12] #3547 closed

[2016-01-22 16:54] Nexotap commented on #2879
I have a line like this in composer:

        "sonata-project/admin-bundle": "2.3.*"

I cant see this fix in the code. Do I have to get a dev version for this fix?

[2016-01-24 09:41] ju1ius commented on #1076
3 years later, this bug still exists.

The `Admin.add_pretty_errors()` function blindly removes all errors to try and show them in a popover.
Not only does it fail on certain types of fields (most commonly icheck), but hiding errors on a form and showing them on HOVER only is _really_ bad for UX (what about touchscreens, disabled users...)

IMO this anti-feature should be removed entirely, as it d

[2016-01-24 12:21] OskarStark commented on #1076
@core23 could you check this behavior? I'm not so familar with JS

[2016-01-25 10:53] debach commented on #3524
I came accross the same issue and

    ->tab('Infos')
        ->add('name')
    ->end()
    ->end() // what the heck?
    ->tab('Jaquettes')
    ->end();

works as you have said.

Basically, what happens is this:

* [Calling `add()` invokes `addFieldToCurrentGroup`.](https://github.com/sonata-project/SonataAdminBundle/blob/master/Form/FormMapper.php#L90)
* [Calling `addFieldToCurrentGroup` calls `

[2016-01-25 11:23] debach opened #3554 "Optional one-to-one and sonata_type_admin"
I have an _optional_ one-to-one relationship (say, a _Person_ might have one or none _Certificate_) and want to embed a form for the inverse side (Certificate) into the form for the owning side (Person) with `sonata_type_admin`. Certificate has a couple of required and a couple of optional fields.

If I go ahead and use

[code]

then all requried fields of Certificate will be required in the form

[2016-01-25 12:45] Nexotap commented on #3325
I'm still willing to contribute. But I have no clue how this works with PR and such. It would be nice to get some help; at least if you're interested in my PR.

[2016-01-25 12:48] reypm commented on #3325
@Nexotap it's easy, fork the repo, create a branch for your contributions, make PR and stay sync with upstream. All you have to do is hit the button **Fork** on top of the repo page and Github will do the rest. You should take care of PR and syncing since this are tasks of the developer. Github have pretty good docs about this. Good luck

[2016-01-25 19:21] mpoiriert commented on #3345
Did you find any solution ?

[2016-01-25 20:05] mcwebb commented on #3345
I ended up having to create a custom (rather janky) solution using jQuery. Couldn't figure out a way to fix Sonata's code unfortunately.

[2016-01-25 20:07] mpoiriert commented on #3345
And wich one did you fix ? With or without the inline edit ?

[2016-01-25 20:31] mcwebb commented on #3345
The inline table version of `sonata_type_collection`

[2016-01-25 20:34] mpoiriert commented on #3345
Have you manage to have a way to edit field that are different from the sub class ?

[2016-01-25 21:48] mcwebb commented on #3345
The issue I solved was when using an inline table type `sonata_type_collection` with an association which has subclasses the "Add New" button was allowing me to select the correct subclass in the modal, but after creation the created entity was not immediately added to the parent collection.
After a refresh the created entity would be there, but obviously that isn't good enough for a client.

@mpo

[2016-01-25 21:50] mpoiriert commented on #3345
No you can't have a different list of fileds in a inline edit...

[2016-01-27 00:59] sc0rp10 commented on #3545
+1

[2016-01-27 00:59] Icewild commented on #3545
+1

[2016-01-29 00:14] tape88 commented on #3545
+1

[2016-01-29 08:44] goran-luledzija-sm commented on #2888
I'm also curious, because of the conflict with LiipFunctionalTestBundle and Sonata Admin 2.3 version..?

[2016-01-29 09:10] sylvaindeloux opened #3560 "Tag 2.4 status (stable for Symfony 2.8/3.0)"
Hi !
I have some issues with Sonata version on a Symfony 2.8 version. I can't use ```dev-master``` because my project only accept stable vendors.
I've found [this file](https://docs.google.com/spreadsheets/d/1fSpS10nzlEj9HE-GdZ-BHcxileEzHwRIzLlNfdNtZ2k/edit#gid=0) but I don't understand the colors (and the 2.4.x does not exist).
Any feedback about the 2.4 release?
Thanks :)
(ping @rande)

[2016-01-29 10:12] nickpro commented on #3560
+1, cant setup with symfony3

[2016-01-30 16:53] sylvaindeloux commented on #3545
+1

[2016-01-31 12:18] greg0ire commented on #3511
Also see : https://github.com/sonata-project/SonataDoctrinePhpcrAdminBundle/pull/357#issuecomment-177485012

[2016-02-01 08:18] Allchi commented on #3545
+1

[2016-02-01 11:26] Koc opened #3564 "[Travis] Failed to download fabpot/php-cs-fixer from dist: Could not authenticate against github.com"
Something wrong with github oauth token https://travis-ci.org/sonata-project/SonataAdminBundle/jobs/106188028#L493

[2016-02-01 13:06] Chrysweel commented on #3519
+1 I have the same problem.

I dont change anything in my config, only I did composer update !

@rande I think that you must re-open the issue !

And I get the following error:

[code]

It is my composer.json

[code]

[2016-02-01 16:25] python1807 opened #3566 "Issue whit sonata on cache clear"
Hello,

I have an issue when cache  clear on symfony with this error :
[code]

Can you help ?

[2016-02-02 09:42] greg0ire commented on #2505
I had the same problem and worked around it by moving the child service definition before the parent service definition.

[2016-02-02 09:54] peter-gribanov opened #3569 "Impossible filter a list by empty value"
For example:
- I want to find all users who do not have group
- I want to find all users who have not specified a surname

Now, if you leave the filter empty, it does not apply. If you search for a null value via callback, it always applies, even if i did not choose filters.

[2016-02-02 10:27] peter-gribanov opened #3570 "Not sticky navigation bar on mobile"
Portrait screen orientation

![Portrait screen orientation](https://cloud.githubusercontent.com/assets/1954436/12746288/ead01642-c9ae-11e5-9873-961ea8f7acc3.png)

After scroll bottom

![Portrait screen orientation after scroll bottom](https://cloud.githubusercontent.com/assets/1954436/12746286/eacad01a-c9ae-11e5-9d3f-65da9e233a78.png)

Landscape screen orientation

![landscape screen orientation](

[2016-02-02 11:19] peter-gribanov commented on #3560
+1, we want use Symfony 3

[2016-02-02 12:26] whitewhidow commented on #3560
+1

[2016-02-02 13:05] sylvaindeloux commented on #3560
The 2.4 is coming : https://github.com/sonata-project/SonataAdminBundle/milestones/2.4 but missing some PR

[2016-02-02 15:46] redactuk commented on #3545
+1

[2016-02-03 07:33] peter-gribanov commented on #3570
screenshots from Sony Xperia Z2

[2016-02-03 10:24] core23 commented on #3570
IMO this is hard to fix, because there are to many different screen resolutions on mobile devices

[2016-02-03 16:54] aglemakinafr opened #3575 "The option "property" does not exist."
Hello,

I am following the documentation for sonataadminbundle, and I am at this point : https://sonata-project.org/bundles/admin/2-3/doc/getting_started/the_list_view.html

Trying to do the last change to my code, I have the exception : The option "property" does not exist.

Is there an error in the documentation ? How can I fix this ?

Thank you for reading.

[2016-02-04 08:15] peter-gribanov commented on #3570
For screens width less than [767px](https://github.com/sonata-project/SonataAdminBundle/blob/master/Resources/public/vendor/admin-lte/dist/css/AdminLTE.css#L72) can be turned off sticky navigation bar.

[2016-02-04 16:01] #3511 closed

[2016-02-05 08:54] edrush commented on #2068
+1

Any plans on when v2.4 will be released (see #2496)?

@xenursXX Thank you, but does not work for me. And seems quiet a risk for our production system.

[2016-02-05 10:04] aistis- commented on #3560
Also waiting for 2.4! :)

[2016-02-05 10:05] edrush commented on #3560
+1

[2016-02-05 10:26] dmitry-php commented on #3545
+1

[2016-02-05 15:23] peter-gribanov commented on #3570
Example solution for my project
[code]

[2016-02-05 15:34] peter-gribanov opened #3576 "Impossible use dropdown menu on mobile"
Impossible use dropdown menu on mobile, in portrait screen orientation

![screen](https://cloud.githubusercontent.com/assets/1954436/12850587/88d13bf8-cc36-11e5-8c9f-71c907ce9377.png)

Example solution

[code]

[2016-02-06 15:32] snroki commented on #3575
Hi,

I assume you're using symfony 3, got the same error.
It's because the entity field doesn't use the option "property" anymore (cf http://symfony.com/doc/current/reference/forms/types/entity.html) you should use the option "choice_label" instead.

[2016-02-07 16:27] reypm commented on #3545
@core23 @rande guys any advice on this *"issue"*?

[2016-02-07 18:56] core23 commented on #3545
As far as I know... There will be a Symfony 2.8+ support in the next 2.4 release, but there are some open issues https://github.com/sonata-project/SonataAdminBundle/milestones/2.4

@rande Can give you more informations, because he is the owner of this project ;)

[2016-02-08 07:58] OskarStark commented on #3545
One big problem is, that we don't have a stable FOSUserBundle which works with 2.8/3.0 ... :(

[2016-02-08 08:12] aglemakinafr commented on #3575
Thank you very much.
This was exactly my problem. I suspected some changes due to v3, but I could not find which option replaced property.

[2016-02-08 09:12] redactuk commented on #3545
@OskarStark Has anyone had any private communication with lead developer for FOSUserBundle? A stable v2 was promised in December but still nothing. Perhaps lead developers are having issues or need some help? Getting a stable FOSUSerbundle really needs to happen soon.

[2016-02-08 09:19] OskarStark commented on #3545
@redactuk the have a milestone for the 2.0 but IMO not all of the things are really needed.

no direct contact from my side, maybe @rande, but i don't know

[2016-02-08 10:05] acrobat commented on #3545
Yeah someone [is asking](https://github.com/FriendsOfSymfony/FOSUserBundle/issues/1951#issuecomment-173972645) for a 2.0 beta milestone. So hopefully they get that milestone setup soon, so we can help getting things done for a 2.0 release!

@OskarStark are there any other deps you know which block us from having 2.8/3.0 support? If we have a list of blocking deps we can create issues for it in the

[2016-02-08 10:08] OskarStark commented on #3545
yes we have:
https://docs.google.com/spreadsheets/d/1fSpS10nzlEj9HE-GdZ-BHcxileEzHwRIzLlNfdNtZ2k/edit?pli=1#gid=0

but i don't know WHAT is the exact problem of the nelmio stuff...

[2016-02-08 10:21] acrobat commented on #3545
Ok, geat! Is that spreadsheet still up to date?

[2016-02-08 10:40] sylvaindeloux commented on #3545
But FosUserBundle is not required by AdminBundle

[2016-02-08 10:50] OskarStark commented on #3545
No but an admin bundle without the possibility so secure it via the SonataUserBundle...

[2016-02-08 18:00] GyniO commented on #3560
+1

[2016-02-08 20:01] dlondero opened #3579 "sonata_top_nav_menu contents are always visible"
Am I missing something or shouldn't `sonata_top_nav_menu` contents be visible only when there's an `app.user` available?

[2016-02-09 13:33] srokatonie opened #3580 "List many to many sort order"
Is it possible to have many to many sorted somehow in list view?
[code]
So it's sorted here:
![medyj](https://cloud.githubusercontent.com/assets/12460055/12917469/81a6b332-cf31-11e5-99af-3f5c03cf3017.png)

[2016-02-10 07:41] edrush opened #3581 "Custom default CRUDController?"
I want so specify a custom default CRUDController for all my admins. Admins are to use this Controller unless another one is specified in the service. I did not find an issue or documentation on that? Is it possible?

[2016-02-10 08:34] OskarStark commented on #3581
when you generate an admin class, the wizard asks you wheather you want to use the default or a custom controller

[2016-02-10 09:14] edrush commented on #3581
Right, but what if I want to change it afterwards, for all my admins?

Am 10.02.16 um 09:34 schrieb Oskar Stark:

[2016-02-10 10:04] OskarStark commented on #3581
manually :smile:

[2016-02-10 10:06] edrush commented on #3581
@OskarStark Ok, that's what I thought. Thank you!

Would be a new nice feature though...

[2016-02-10 10:06] #3581 closed

[2016-02-10 18:01] peteruu opened #3582 "two parameters with route on configureListFields"
hello,

i have this

[code]

where id is identificator from campaigns table, in this table i have also column member_id and i need pass it to route It is this possible in ListFields?

[2016-02-11 08:27] nielvrom opened #3583 "Nested collection fields"
I'm having problems creating my form for creating a course. This is a part of my database scheme for which I'm trying to create a form:

<img width="352" alt="schermafbeelding 2016-02-11 om 09 20 31" src="https://cloud.githubusercontent.com/assets/2797731/12971923/c01f21ba-d0a0-11e5-85bb-42a526c7cda8.png">

So which I'm trying to do is create a course where I can create sessions and dates attached

[2016-02-11 13:40] efiorello commented on #2989
i have the same error.

composer info -i | grep sonata

sonata-project/admin-bundle              dev-master ceffa13 Symfony SonataAdminBundle
sonata-project/block-bundle              2.3.9              Symfony SonataBlockBundle
sonata-project/cache                     1.0.7              Cache library
sonata-project/core-bundle               2.3.10             Symfony SonataCoreBundle
sonata-projec

[2016-02-11 16:00] sylvaindeloux commented on #3545
Are [these issues](https://github.com/sonata-project/SonataAdminBundle/milestones/2.4) really needed by the next stable release?

It blocks the compatibility with Symfony 2.8/3.0, and I think this is more urgent (last tag was on october 2015…)

Ping @rande :)

[2016-02-11 16:00] core23 commented on #3167
:-1: IMO an admin is only a definition class which has no concreate actions.

[2016-02-11 17:50] OskarStark commented on #3167
:-1: too

[2016-02-11 17:50] #3167 closed

[2016-02-11 22:07] muspelheim commented on #3580
@srokatonie in DB hours is a string?

[2016-02-11 22:10] muspelheim commented on #3575
@aglemakinafr, why you don't close issue?

[2016-02-11 22:16] reypm commented on #3545
@OskarStark and why we're waiting on a stable release? Could not the team work based on the alpha and then move things if needed on the stable? They are working on this from September, 2015 and we're on February, 2016, if we still waiting on this we will never get out a stable release of Sonata and it's bundles, don't you think?

Also will be nice if someone can share a kind of *"working"* sandbox

[2016-02-12 03:26] srokatonie commented on #3580
Yes, it is. Would it make a difference if it was time field?

On Thursday 11 February 2016, Evgeny <notifications@github.com> wrote:

[2016-02-12 08:04] aglemakinafr commented on #3575
Just because I forgot. Sorry, done now ;)

[2016-02-12 08:04] #3575 closed

[2016-02-12 08:36] #2631 closed

[2016-02-12 08:46] core23 commented on #657
ping @tristanbes

[2016-02-12 08:47] core23 commented on #640
Ping @pulzarraider  Ticket is very old. Has this been solved?

[2016-02-12 08:50] core23 commented on #543
Please have a look at the ClassificationBundle or the PageBundle. They have tree lists.

[2016-02-12 08:50] #543 closed

[2016-02-12 08:50] #633 closed

[2016-02-12 08:50] #490 closed

[2016-02-12 08:53] #343 closed

[2016-02-12 08:54] core23 commented on #343
If this is an active issue please give some more information.

[2016-02-12 09:30] #3150 closed

[2016-02-12 09:33] core23 commented on #3423
Can you say something more? I think this is a local problem, not related to this bundle.

[2016-02-12 09:33] #3423 closed

[2016-02-12 10:01] tristanbes commented on #657
Closing the issue and will reopen with more details if that happens again.

[2016-02-12 10:01] #657 closed

[2016-02-12 10:07] core23 commented on #955
@EnergieZ @ibasaw Can you recheck this issue?

[2016-02-12 10:08] core23 commented on #919
@frankdavid Issue still active?

[2016-02-12 10:19] core23 commented on #835
@sibok Can you check this issue?

[2016-02-12 10:19] core23 commented on #854
@suncat2000 Issue still active?

[2016-02-12 10:22] core23 commented on #977
Yes, please have a look at the docs

[2016-02-12 10:22] #977 closed

[2016-02-12 10:22] core23 commented on #845
Issue still ative? @tristanbes

[2016-02-12 10:23] core23 commented on #751
Please have a look at https://github.com/sonata-project/SonataDatagridBundle

[2016-02-12 10:23] #751 closed

[2016-02-12 10:23] #727 closed

[2016-02-12 10:58] core23 commented on #768
I think this is fixed. Can you check this please @viliam-husar

[2016-02-12 11:00] core23 commented on #43
@rande Can you check this old issue?

[2016-02-12 11:03] tristanbes commented on #845
it dates back so much (Symfony 2.0), closing and re opening if still occurs.

[2016-02-12 11:03] #845 closed

[2016-02-12 11:05] #849 closed

[2016-02-12 11:09] core23 commented on #407
Refs https://github.com/sonata-project/SonataAdminBundle/pull/2286

[2016-02-12 11:10] #145 closed

[2016-02-12 11:12] #482 closed

[2016-02-12 11:13] core23 commented on #567
@vlabmichl Please check

[2016-02-12 11:17] #1806 closed

[2016-02-12 11:17] core23 commented on #1806
Yes, they are

[2016-02-12 11:18] core23 commented on #2583
Think this is fixed

[2016-02-12 11:18] #2583 closed

[2016-02-12 11:23] #2020 closed

[2016-02-12 11:26] core23 commented on #2911
Refs https://github.com/sonata-project/SonataAdminBundle/issues/3173

[2016-02-12 11:27] OskarStark commented on #407
@zhil you can control this via the translations

[2016-02-12 11:29] #2655 closed

[2016-02-12 11:38] core23 commented on #2401
If the issue still exists, please reopen @webspin

[2016-02-12 11:38] #2401 closed

[2016-02-12 11:40] core23 commented on #1894
If this is an active issue, please reopen @MrGreenStuff

[2016-02-12 11:40] #1894 closed

[2016-02-12 11:40] core23 commented on #2024
If this is an active issue, please reopen @belmasine

[2016-02-12 11:40] #2024 closed

[2016-02-12 11:40] core23 commented on #1269
If this is an active issue, please reopen @overfuse

[2016-02-12 11:40] #1269 closed

[2016-02-12 11:41] core23 commented on #326
If this is an active issue, please reopen @supdeva @teu

[2016-02-12 11:41] #326 closed

[2016-02-12 11:45] core23 commented on #1835
@nicolas-bastien Can we close this?

[2016-02-12 11:45] core23 commented on #2435
If this is an active issue, please reopen @zzforg

[2016-02-12 11:45] #2435 closed

[2016-02-12 11:46] core23 commented on #2461
If this is an active issue, please reopen @na-ji

[2016-02-12 11:46] #2461 closed

[2016-02-12 11:47] core23 commented on #1281
If this is an active issue, please reopen @Stefun

[2016-02-12 11:47] #1281 closed

[2016-02-12 11:48] core23 commented on #2298
If this is an active issue, please reopen @odeg36

[2016-02-12 11:48] #2298 closed

[2016-02-12 11:48] core23 commented on #2709
If this is an active issue, please reopen @seb0zz

[2016-02-12 11:48] #2709 closed

[2016-02-12 11:49] core23 commented on #2638
If this is an active issue, please reopen @nielvrom

[2016-02-12 11:49] #2638 closed

[2016-02-12 11:50] core23 commented on #1983
If this is an active issue, please reopen @Tocacar

[2016-02-12 11:50] #1983 closed

[2016-02-12 11:52] core23 commented on #1177
If this is an active issue, please reopen @sstok

[2016-02-12 11:52] #1177 closed

[2016-02-12 11:52] core23 commented on #1277
If this is an active issue, please reopen @tiagojsag

[2016-02-12 11:52] #1277 closed

[2016-02-12 11:52] core23 commented on #1292
If this is an active issue, please reopen @siciarek

[2016-02-12 11:52] #1292 closed

[2016-02-12 11:53] core23 commented on #1295
If this is an active issue, please reopen @grichards

[2016-02-12 11:53] #1295 closed

[2016-02-12 11:53] core23 commented on #1326
If this is an active issue, please reopen @Chrysweel

[2016-02-12 11:53] #1326 closed

[2016-02-12 11:53] core23 commented on #1324
If this is an active issue, please reopen @zion03

[2016-02-12 11:53] #1324 closed

[2016-02-12 11:53] core23 commented on #1335
If this is an active issue, please reopen @dduuch

[2016-02-12 11:53] #1335 closed

[2016-02-12 11:54] core23 commented on #1312
If this is an active issue, please reopen @zion03

[2016-02-12 11:54] #1312 closed

[2016-02-12 11:54] core23 commented on #1366
If this is an active issue, please reopen @idhard

[2016-02-12 11:54] #1366 closed

[2016-02-12 11:54] core23 commented on #1403
If this is an active issue, please reopen @laherreria

[2016-02-12 11:54] #1403 closed

[2016-02-12 11:55] core23 commented on #1227
If this is an active issue, please reopen @maikelohcfg

[2016-02-12 11:55] #1227 closed

[2016-02-12 11:55] core23 commented on #1161
If this is an active issue, please reopen @WouterJ

[2016-02-12 11:55] #1161 closed

[2016-02-12 11:56] core23 commented on #1344
If this is an active issue, please reopen @dsoms

[2016-02-12 11:56] #1344 closed

[2016-02-12 11:56] core23 commented on #1401
If this is an active issue, please reopen @76200

[2016-02-12 11:56] #1401 closed

[2016-02-12 11:56] core23 commented on #1411
If this is an active issue, please reopen @marco-loche

[2016-02-12 11:56] #1411 closed

[2016-02-12 11:56] core23 commented on #1454
If this is an active issue, please reopen @tiagojsag

[2016-02-12 11:56] #1454 closed

[2016-02-12 11:56] core23 commented on #1459
If this is an active issue, please reopen @76200

[2016-02-12 11:56] #1459 closed

[2016-02-12 11:56] core23 commented on #1468
If this is an active issue, please reopen @Tocacar

[2016-02-12 11:56] #1468 closed

[2016-02-12 11:57] core23 commented on #1474
If this is an active issue, please reopen @lsmith77

[2016-02-12 11:57] #1474 closed

[2016-02-12 11:57] core23 commented on #1489
If this is an active issue, please reopen @tautrimas

[2016-02-12 11:57] #1489 closed

[2016-02-12 11:57] core23 commented on #1469
If this is an active issue, please reopen @Tocacar

[2016-02-12 11:57] #1469 closed

[2016-02-12 11:57] core23 commented on #1559
If this is an active issue, please reopen @caponica

[2016-02-12 11:57] #1559 closed

[2016-02-12 11:57] core23 commented on #1609
If this is an active issue, please reopen @unusorin

[2016-02-12 11:57] #1609 closed

[2016-02-12 11:57] core23 commented on #1641
If this is an active issue, please reopen @goetas

[2016-02-12 11:57] #1641 closed

[2016-02-12 11:58] core23 commented on #1300
If this is an active issue, please reopen @zion03

[2016-02-12 11:58] #1300 closed

[2016-02-12 11:58] core23 commented on #1329
If this is an active issue, please reopen @arthurlm

[2016-02-12 11:58] #1329 closed

[2016-02-12 11:58] unusorin commented on #1609
Haha .. I will. More than 2 years passed since I've submitted this issue.

[2016-02-12 11:58] core23 commented on #1751
If this is an active issue, please reopen @Faustop

[2016-02-12 11:58] #1751 closed

[2016-02-12 11:59] core23 commented on #1752
If this is an active issue, please reopen @Faustop

[2016-02-12 11:59] #1752 closed

[2016-02-12 11:59] core23 commented on #1767
If this is an active issue, please reopen @zhil

[2016-02-12 11:59] #1767 closed

[2016-02-12 11:59] core23 commented on #1827
If this is an active issue, please reopen @drscre

[2016-02-12 11:59] #1827 closed

[2016-02-12 12:00] core23 commented on #1841
Fixed in latest master

[2016-02-12 12:00] #1841 closed

[2016-02-12 12:00] core23 commented on #1609
That's why I closed this ;) No response in the last years

[2016-02-12 12:01] core23 commented on #1881
If this is an active issue, please reopen @jurgenf

[2016-02-12 12:01] #1881 closed

[2016-02-12 12:01] core23 commented on #1702
If this is an active issue, please reopen @greenphp

[2016-02-12 12:01] #1702 closed

[2016-02-12 12:02] core23 commented on #1888
If this is an active issue, please reopen @gagarine

[2016-02-12 12:02] #1888 closed

[2016-02-12 12:02] core23 commented on #1872
If this is an active issue, please reopen @virgileb

[2016-02-12 12:02] #1872 closed

[2016-02-12 12:02] core23 commented on #1903
If this is an active issue, please reopen @vazgen

[2016-02-12 12:02] #1903 closed

[2016-02-12 12:02] core23 commented on #1893
If this is an active issue, please reopen @MrGreenStuff

[2016-02-12 12:02] #1893 closed

[2016-02-12 12:03] core23 commented on #1910
If this is an active issue, please reopen @dbu

[2016-02-12 12:03] #1910 closed

[2016-02-12 12:03] core23 commented on #1783
If this is an active issue, please reopen @spezifanta

[2016-02-12 12:03] #1783 closed

[2016-02-12 12:03] core23 commented on #1956
If this is an active issue, please reopen @samyazza

[2016-02-12 12:03] #1956 closed

[2016-02-12 12:04] core23 commented on #1964
If this is an active issue, please reopen @olrandir

[2016-02-12 12:04] #1964 closed

[2016-02-12 12:04] core23 commented on #1972
If this is an active issue, please reopen @codecowboy

[2016-02-12 12:04] #1972 closed

[2016-02-12 12:04] core23 commented on #2006
If this is an active issue, please reopen @ConneXNL

[2016-02-12 12:04] #2006 closed

[2016-02-12 12:05] core23 commented on #1313
If this is an active issue, please reopen @KingCrunch

[2016-02-12 12:05] #1313 closed

[2016-02-12 12:13] #2012 closed

[2016-02-12 13:10] sstok commented on #1177
No problem :) I'm not using the SonataAdminBundle anymore.

[2016-02-12 16:18] OskarStark commented on #3545
@reypm we are working on it here:
https://github.com/sonata-project/SonataUserBundle/tree/add_support_for_fos_user2

depending on ` "friendsofsymfony/user-bundle": "~2.0@dev",`

would be glad if you could help to get this working, testing and reporting bugs would be great too.
We are accepting PR's on this Branch :exclamation:

Thank you (all) very much!

[2016-02-13 07:37] tim96 commented on #3545
would be glad if you could help to get this working, testing and reporting bugs would be great too.
We are accepting PR's on this Branch :exclamation:

@OskarStark do you have list tasks, issues or PR where you heed help?

[2016-02-13 11:32] core23 commented on #3053
Refs https://github.com/sonata-project/SonataCoreBundle/issues/229

[2016-02-13 11:52] core23 commented on #1314
Please check this issue again and reopen if this is still active @Chrysweel

[2016-02-13 11:52] #1314 closed

[2016-02-13 11:52] core23 commented on #1334
Please check this issue again and reopen if this is still active @BraisGabin

[2016-02-13 11:52] #1334 closed

[2016-02-13 11:52] core23 commented on #1389
Please check this issue again and reopen if this is still active @zion03

[2016-02-13 11:52] #1389 closed

[2016-02-13 11:56] core23 commented on #1770
Please check this issue again and reopen if this is still active @brunoroux

[2016-02-13 11:56] #1770 closed

[2016-02-13 11:56] core23 commented on #1928
Please check this issue again and reopen if this is still active @smilesrg

[2016-02-13 11:56] #1928 closed

[2016-02-13 11:56] core23 commented on #2046
Please check this issue again and reopen if this is still active @ElectricMaxxx

[2016-02-13 11:56] #2046 closed

[2016-02-13 11:56] core23 commented on #2050
Please check this issue again and reopen if this is still active @Uriziel

[2016-02-13 11:56] #2050 closed

[2016-02-13 11:56] core23 commented on #2096
Please check this issue again and reopen if this is still active @yuriricci

[2016-02-13 11:56] #2096 closed

[2016-02-13 11:56] core23 commented on #2167
Please check this issue again and reopen if this is still active @klb-rodriguez

[2016-02-13 11:56] #2167 closed

[2016-02-13 11:56] core23 commented on #2207
Please check this issue again and reopen if this is still active @dirkluijk

[2016-02-13 11:56] #2207 closed

[2016-02-13 11:57] core23 commented on #2210
Please check this issue again and reopen if this is still active @abbood

[2016-02-13 11:57] #2210 closed

[2016-02-13 11:57] core23 commented on #2217
Please check this issue again and reopen if this is still active @koyaan

[2016-02-13 11:57] #2217 closed

[2016-02-13 11:58] core23 commented on #1267
Please check this issue again and reopen if this is still active @Pop-Code

[2016-02-13 11:58] #1267 closed

[2016-02-13 11:58] core23 commented on #1659
Please check this issue again and reopen if this is still active @Cethy

[2016-02-13 11:58] #1659 closed

[2016-02-13 11:58] core23 commented on #1955
Please check this issue again and reopen if this is still active @Koc

[2016-02-13 11:58] #1955 closed

[2016-02-13 11:59] core23 commented on #2224
Please check this issue again and reopen if this is still active @Chrysweel

[2016-02-13 11:59] #2224 closed

[2016-02-13 11:59] core23 commented on #2243
Please check this issue again and reopen if this is still active @Elakioui

[2016-02-13 11:59] #2243 closed

[2016-02-13 11:59] core23 commented on #2272
Please check this issue again and reopen if this is still active @adyballa

[2016-02-13 11:59] #2272 closed

[2016-02-13 12:01] core23 commented on #2492
Can you provide a PR for this @spolischook

[2016-02-13 12:01] core23 commented on #2450
Please check this issue again and reopen if this is still active @ENDaZONELT

[2016-02-13 12:01] #2450 closed

[2016-02-13 12:01] remoteclient commented on #1314
@Chrysweel if your livecycle events don't work from your admin controllers, you can still use symfonys entity listeners.

[2016-02-13 12:02] core23 commented on #2405
Please check this issue again and reopen if this is still active @odimodugno

[2016-02-13 12:02] #2405 closed

[2016-02-13 12:03] core23 commented on #2531
Please check this issue again and reopen if this is still active @oonxt

[2016-02-13 12:03] #2531 closed

[2016-02-13 12:03] core23 commented on #2543
Please check this issue again and reopen if this is still active @laSyntez

[2016-02-13 12:03] #2543 closed

[2016-02-13 12:04] core23 commented on #2579
Can you check this again @Soullivaneuh

[2016-02-13 12:04] core23 commented on #2592
Please check this issue again and reopen if this is still active @nepfrank

[2016-02-13 12:04] #2592 closed

[2016-02-13 12:04] core23 commented on #2598
Please check this issue again and reopen if this is still active @AlmogBaku

[2016-02-13 12:04] #2598 closed

[2016-02-13 12:05] core23 commented on #2606
Please check this issue again and reopen if this is still active @he-li

[2016-02-13 12:05] #2606 closed

[2016-02-13 12:05] core23 commented on #2608
Please check this issue again and reopen if this is still active @asctSoftware

[2016-02-13 12:05] #2608 closed

[2016-02-13 12:08] core23 commented on #2610
Feel free to create a docs update @webdevilopers

[2016-02-13 12:09] core23 commented on #2605
Ping @webdevilopers

[2016-02-13 15:10] spolischook commented on #2492
@core23 if you find this issue maybe you can?

[2016-02-13 15:31] core23 commented on #2492
Sorry, I am only cleaning up tickets ;) Never used the REST bundle.

[2016-02-13 15:43] spolischook commented on #2492
you can close if you wish? I don't need it anymore.

[2016-02-13 16:04] webdevilopers commented on #2610
After **2.4** release if that is ok with you?

[2016-02-13 17:09] webdevilopers commented on #2605
I'm no longer maintaining the project with the example. Will close issue for now but keep an eye on it. I have a similar project coming up.

[2016-02-13 17:09] #2605 closed

[2016-02-14 01:03] anacona16 opened #3588 "Reorder fields after form events"
What is the best way to reorder fields after add fields through events?

I notice a reorder method at FormMapper class but there is not documentation about it.

I found this bundle https://github.com/egeloen/IvoryOrderedFormBundle but this need a different FormFactory.

I'am following this guide for add the form events: https://gist.github.com/webdevilopers/fef9e296e77bb879d138

If not is posible

[2016-02-14 09:07] core23 commented on #2492
Can you confirm that this issue doesn't occur anymore? @spolischook

[2016-02-14 09:13] spolischook commented on #2492
I don't use SontaAdmin anymore, so I can't. Don't care about it - if something went wrong next time, I will make a PR, For now, please, close this issue.

[2016-02-14 09:13] #2492 closed

[2016-02-14 09:14] spolischook commented on #2492
oh I can close it ))

[2016-02-14 19:36] OskarStark commented on #3545
not yet, but you can please use this branch, try it out please and give us feedback

thank you :+1:

[2016-02-14 19:55] reypm commented on #3545
@OskarStark I would be glad to help but I am still looking for the right `composer.json` dependencies for current Sonata WIP version and also the rest of the bundles so if any can share this, will be very helpful, anyone?

[2016-02-14 19:56] OskarStark commented on #3545
ping @rande can you help?

[2016-02-15 09:14] tobemedia commented on #2571
you could also use a datepicker. See: http://stackoverflow.com/questions/14443558/sonata-admin-bundle-datepicker-range

[2016-02-15 09:41] OskarStark commented on #2571
thank you @tobemedia :+1:

[2016-02-15 09:41] #2571 closed

[2016-02-15 10:56] stivenllupa commented on #3582
This is an "old" feature that is not there unfortunately. You can find a [SO](http://stackoverflow.com/questions/23987403/sonta-admin-bundle-list-url-customization) question also asked in mid 2014.

I encountered this also on my own, and the way to overcome this for me was **assigning a custom template** for that mapped field only.

But, reading the [doc](https://sonata-project.org/bundles/admin/m

[2016-02-15 11:03] OskarStark commented on #3582
i would prefer option 1 as both are parameters, but its hard to find out which of both is a callback, and which is a hardcoded value, if we would use the property accessor, this could fail if a `getXml`-method exists... :(

@core23 @rande what do you think?

[2016-02-15 11:36] muspelheim opened #3594 "Question about related fields"
Hello, I have form for entity1, this form contains 2 related fields (Device and DeviceContacts), how i can make in form, so when selecting Device automatically loads the value of DeviceContacts in form for entity1

i find in FormTypes ModelReferenceType and ModelAutocompleteType but in my case it's doesn't work.

[2016-02-15 13:48] adyballa commented on #2272
sry - its too long ago. I cannot reproduce

[2016-02-15 15:37] anacona16 commented on #3594
You can use https://github.com/shtumi/ShtumiUsefulBundle

[2016-02-15 21:09] #3594 closed

[2016-02-15 21:09] muspelheim commented on #3594
@anacona16, Thank you, that works!

[2016-02-16 09:21] iBasit commented on #2630
+1

[2016-02-16 15:15] frankdavid commented on #919
@core23 Sorry, I no longer develop Symfony apps, hence I cannot confirm. I think let's close it for now and reopen it if someone encounters the problem later on.

[2016-02-16 15:15] #919 closed

[2016-02-16 20:51] ychoucha opened #3596 "Using sonata with Symfony 2.8 and 3 ?"
hello,

well i can't install sonata on my frech install of symfony2 can explain me what is wrong please ?

[code]

and :

[code]

[2016-02-17 09:20] greg0ire commented on #3596
Sonata 2.3 is not compatible with symfony 3.0. Sonata 2.4 might be.

[2016-02-17 09:45] nlzet commented on #3596
@greg0ire the issue mensions Symfony 2.8

@ychoucha
The error occurs because symfony 2.8 by default requires (dev) : `sensio/generator-bundle": "~3.0"`

I'm not sure if this minimum requirement is correct, you can fix this by first executing:
`composer require sensio/generator-bundle "~2.3" --dev`

And then you can install the admin bundle with:
`composer require sonata-project/admin-bundle "2.3.*

[2016-02-17 09:57] greg0ire commented on #3596
Oh my bad, the dependency is correct, the ~3.0 version is marked as compatible with symfony "~2.7". I think sonata should allow it.

[2016-02-17 15:52] #3418 closed

[2016-02-17 17:19] ychoucha commented on #3596
ok so sonata is not compatible with stable release of symfony 2.8 with  end of support Nov. 2018 ??

so we have to use Sonata with a old symfony framwork version ? like the 2.4 but we can't install it :

[code]

so so so how use sonota please ?

[2016-02-17 17:25] greg0ire commented on #3596
I was speaking about sonata 2.4 . Not symfony 2.4 ;)

[2016-02-17 17:28] ychoucha commented on #3596
ok so what symfonyé version we need to instal to play with sonata

[2016-02-17 17:30] greg0ire commented on #3596
You can use sf 3.0 and sonata 2.4@dev I guess, but there are more stable choices like sf 2.7, sonata 2.3

[2016-02-17 17:31] ychoucha commented on #3596
well thanks,

that's not cool to start a project with no sf stable version ?

[2016-02-17 17:37] greg0ire commented on #3596
sf 3.0 is stable, but sonata 2.4 is not stable yet. Starting a project with any dependency unstable is risky (you must be ready to change your code as soon as you upgrade the dependency). I would advise to start with sf 2.8 and sonata 2.3, and then upgrade sf and sonata when sonata 2.4 is ready.

[2016-02-17 17:51] ychoucha commented on #3596
ok so i try the install with sf 2.8 and sonata 2.3 :
i do this terminal video --> https://asciinema.org/a/cm5035hej5u0565b3wvb73c2w

and no way to install it :/

[code]

[2016-02-17 17:57] greg0ire commented on #3596
The generator bundle requirement should probably be changed to `~2.3|~3.0` on the 2.3 branch of Sonata. @sonata-project/contributors ? What do you think?

[2016-02-17 19:01] efiorello commented on #3583
I think your problem is caused by not having created the method public function __toString() in your entity.

[2016-02-18 12:18] nielvrom commented on #3583
All my entities have a __toString() function ... .

[2016-02-18 13:50] napestershine opened #3602 "Unable to find a valid admin for the class"
I am getting following error:

Unable to find a valid admin for the class: AdminBundle\Entity\Category, there are too many registered: admin.category,admin.admin.category

Any solution? TIA

[2016-02-18 14:37] greg0ire commented on #3602
I think you can specify the admin code, have a look at the code. If it is the case, can you please make a P.R. to improve the error message?

[2016-02-18 14:53] napestershine commented on #3602
@greg0ire  What is admin_code?

[2016-02-18 14:54] greg0ire commented on #3602
`grep -rn admin_code vendo/sonata-project/admin-bundle` shoud answer your question ;)

[2016-02-18 14:56] napestershine commented on #3602
How will I run it in windows?

[2016-02-18 14:57] greg0ire commented on #3602
grep is a search tool. Do you know how to search for code in a directory under Windows? I don't.

[2016-02-18 15:19] napestershine commented on #3602
Problem solved, thanks :)

[2016-02-18 15:19] #3602 closed

[2016-02-18 15:27] greg0ire commented on #3602
Can you post your solution for others? And perhaps make the PR I asked for?

[2016-02-18 15:41] greg0ire commented on #3602
Please @napestershine . Think of the children…

[2016-02-18 16:02] ychoucha commented on #3596
Si i have to found sf 2.4 with so 2.3

[2016-02-18 16:07] greg0ire commented on #3596
What?

[2016-02-18 16:14] Soullivaneuh commented on #3596
It's already the case for 2.4.x.

I'm not sure we can easily change this on 2.3 without breaking anything... cc @rande

[2016-02-18 16:17] greg0ire commented on #3596
The generator bundle does not have an upgrade file :(

[2016-02-18 16:54] dbu commented on #3596
does sonata admin actually need the generator bundle? i thought that is about creating bundles in a command and similar things...

[2016-02-18 16:55] jvasseur commented on #3596
Sonata admin use it for the generate:admin command.

[2016-02-18 17:17] greg0ire commented on #3596
Looks like there is a test for it. We should just make a P.R. and let the tests run.

[2016-02-18 17:36] greg0ire commented on #3596
Looks like tests are passing.

[2016-02-19 04:34] napestershine commented on #3602
HI @greg0ire

Sorry, The problem was I was using sonata.admin.generate command from console. And at same time I was following the sonata project documentation.

So problem was in services.yml. According to documentation I should put services in app/config/services.yml

But common put them into src/bundle/resources/config/services.yml

This was creating a conflict. Also Need to use __toString() in

[2016-02-19 07:41] greg0ire commented on #3602
Thanks @napestershine !

[2016-02-19 08:31] zajca commented on #3545
I'm actually using current master with 3.0 and mongo driver, it's working with some issues, only bigger problem that I run to is this: https://github.com/sonata-project/SonataAdminBundle/issues/3529
but I'm not using FOSUserBundle

[2016-02-19 14:08] core23 commented on #3570
Feel free to supply a PR for this @peter-gribanov

[2016-02-19 14:26] core23 commented on #1076
Could you create a PR for this @ju1ius ?

[2016-02-19 16:00] OskarStark opened #3605 "Upgrade Font-Awesome icons from 4.4 to 4.5"

[2016-02-19 19:59] spezifanta commented on #1783
Sorry, I am no longer assigned to this project. Have no chance of testing.

[2016-02-19 20:26] OskarStark commented on #1783
Thanks for the feedback @spezifanta

[2016-02-20 04:03] ju1ius commented on #1076
@core23, @OskarStark, @rande: I Would love to :heart:
The one thing that prevent me (and I guess many other people) from doing it atm is a more general issue: I have no idea how do you core-guys work on this project. There are many bundles, some of which are inter-dependent. What's your dev setup ? How do you test that a commit in one bundle didn't introduce a regression in another one ? I'd love

[2016-02-20 05:48] tim96 commented on #3605
@OskarStark hi. I'm not sure but as far as I remember SonataAdminBundle using _font-awesome.css_ from SonataCoreBundle, and if you want to upgrade them you need to do it there.

[2016-02-20 09:17] peter-gribanov commented on #3570
@core23 I'm not sure that my decision is acceptable. Perhaps you can do it better

[2016-02-20 11:57] nkl90 opened #3608 "How can i get who created entity?"
Hellow. In my SonataAdmin install ACL security and FOSUserBundle. How can i get in list of entities who create this entity? I dont understand, what be kept in this table:
`acl_classes`, `acl_entries`, `acl_object_identities`, `acl_object_identity_ancestors`, `acl_security_identities`
How can i use this data to get what I need?

[2016-02-20 14:53] greg0ire commented on #1076
Personally, I have a project, and I contribute fixes by working inside the vendor directory of that project if I feel there is a need for manual tests. If you don't, there is [the sandbox](https://github.com/sonata-project/sandbox), I think it can help you with that.

[2016-02-20 14:59] greg0ire commented on #3608
The ACLs are not part of Sonata, but of Symfony, read the Symfony docs, and make sure you really need the ACLs, because they are quite painful to manage.

[2016-02-20 15:15] reypm commented on #3545
@rande any advice for a *working* `composer.json` file in order to test?

[2016-02-20 19:20] rapemer commented on #2203
I have the same problem when I use $children inside Entity. Try to only rename $fuckingChildren and it works fine....

[2016-02-21 15:12] ychoucha commented on #3596
ok so i have try to install sonata and i m stuck :/

I have triend with symfony 2.8 and sonata 2.3 :

[code]

[2016-02-21 15:13] ychoucha commented on #3596
and on the web site of symfony i can"t get a old symfony version :!

https://symfony.com/roadmap?version=2.4#checker

[2016-02-21 15:24] dbu commented on #3596
well, 2.4 was not a long term support version, so its not maintained
anymore. afaik 2.3 is about to end, but 2.7 will be maintained for a
while still.

[2016-02-21 15:49] ychoucha commented on #3596
im sorry, but even the 2.7 not working with symfony :

show what i do :

https://asciinema.org/a/3uslv0wktz9cr2b2g1o5vs789

i finish with the error :

Your requirements could not be resolved to an installable set of packages.

[2016-02-21 16:06] greg0ire commented on #3596
Try again after running what @nlzet recommended : `composer require sensio/generator-bundle "~2.3" --dev`. Alternatively, you

And please stop using asciinema, it is very pretty, but brings nothing to the table and prevents at least me to see what exactly you used when requiring `sensio/generator-bundle`. Use it if you really need to show us color or progress bars.

[2016-02-21 16:32] greg0ire commented on #3596
#3604 has been fixed, which means you should be also be able to install the 2.3@dev version of the admin bundle without changing the generator requirements.

[2016-02-21 16:40] ychoucha commented on #3596
ok cool works with :+1:

ok i will never use again asciinema (but he looking cool :/)

[2016-02-21 16:45] greg0ire commented on #3596
I know, it's really nice, but should not be overused :)

This does not do what you think it does, it adds `sonata-project/admin-bundle` 2.3 to your dev requirements (have a look at your composer.json), you'll see what I mean

Shoud be `php composer require sensio/generator-bundle "~2.3" --dev`

I don't know what you have now, but if it works, guess you can play with Sonata and sort that out later.

[2016-02-21 17:25] ychoucha commented on #3596
well well well i talk to fast :

this i do to install symfony 2.7 an sonata 2.3 :

[code]

and i have this error when i logging :

`FatalErrorException in AdminListBlockService.php line 0: Compile Error: Declaration of Sonata\AdminBundle\Block\AdminListBlockService::validateBlock() must be compatible with Sonata\BlockBundle\Block\BlockAdminServiceInterface::validateBlock(Sonata\CoreBundle\Validato

[2016-02-21 18:13] ychoucha commented on #3596
ok works with that :

[code]

[2016-02-21 20:29] greg0ire commented on #3596
Great! I'm sure the `pwd`s helped a lot :stuck_out_tongue_winking_eye:

[2016-02-21 20:33] ychoucha commented on #3596
well i m hope sonata will be more stable

[2016-02-21 21:21] ychoucha commented on #3596
ok  i m trying the first sonata exemple ---> https://sonata-project.org/bundles/admin/master/doc/getting_started/creating_an_admin.html

i have this error :

`
An exception has been thrown during the rendering of a template ("Unable to generate a URL for the named route "admin_app_category_create" as such route does not exist.") in SonataAdminBundle:Block:block_admin_list.html.twig at line 39.
`
i

[2016-02-21 21:53] greg0ire commented on #3596
Everyone does, @ychoucha , everyone does…

[2016-02-23 01:56] xmon commented on #2994
:+1:

[2016-02-23 02:17] reypm commented on #3545
@OskarStark could you or any other ( @core23 ) provide a *functional* `composer.json` file? I have a project stopped waiting on this so I want to help as much as I can but again docs are outdated so I don't know where to go. Here is my `composer.json` file:

    "require": {
        "php": ">=5.3.9",
        "symfony/symfony": "2.8.*",
        "doctrine/orm": "^2.4.8",
        "doctrine/doctrine-b

[2016-02-24 20:55] #3605 closed

[2016-02-25 10:26] Spomsoree opened #3614 "List embedded fields"
I'm trying to display the embedded geoLocations of my class Review like this:

[code]

This works fine with the FormMapper

If I try to do this with the ShowMapper or ListMapper, all I get is a empty field.

[2016-02-25 14:48] estebannovo commented on #1104
thanks!

[2016-02-25 19:22] kakawi commented on #2494
Hello,

I have the same problem, but I can't understand how you solved the problem
Could you explain decision for noob, please?

[2016-02-25 21:36] rapemer opened #3615 "Autocomplete - error when trying mapped = false"
It's not possible to create autocomplete type where `mapped = false` and filled `admin_code`

[code]

Giving error:
`The current field`page`is not linked to an admin. Please create one for the target entity:`

[2016-02-26 09:17] guidoheckmann commented on #2494
Hi Kawaki,

this issue is one and a half year old and was about a template feature
of SonataAdminBundle which has got removed in newer versions. It was a
mouseover dropdown where you could choose single filter items.
My problem was about an incompatibility between my own custom extension
of standard_layout.html.twig and its parent after an update of
SonataAdminBundle.

I suggest you to open a new

[2016-02-26 19:50] ychoucha opened #3616 "Nothing in field in control list"
hello,

well i m discovery sonata and i m stuck now with my datas  :

i have this dataBase :

School <----OneToMany ----> ControlWorks

So my entity is :

School :
     libelleSchool  text

ControlWorks
      libelleControlWorks text
      dateStartingControlWorks date
      dateOverControlWorks date

so it's one to many relation so i add this to my entity :

School : (no change)
     libelleSchoo

[2016-02-27 01:31] chalasr commented on #3583
Possible duplicate of #262, #1228, #1327 and #1971 .

[2016-02-27 03:33] billsworld opened #3618 "Symony3 sonata.admin.doctrine_phpcr.form.collection_type_extension service issue"
Trying to update to Symfony3 so using the master version of SonataAdminBundle and I am getting the following error. Still need to do some digging but wanted to see if anyone had an idea.

[code]

[2016-02-27 12:42] ychoucha commented on #3618
well, like i see sonata is not yet compatible with sf3

[2016-02-27 14:44] billsworld commented on #3618
Sorry fogot to mention that I am running the master version

[2016-02-27 15:54] #3616 closed

[2016-02-27 16:26] ychoucha opened #3619 "Adding referencing manyToOne in configureListFields"
how i can add a manyt ot one reference in configureListFields please ?

i have this admin files :
[code]

but when i show my form i have this :

![sonata](https://cloud.githubusercontent.com/assets/301074/13373975/1763300a-dd77-11e5-95d5-b3f2c2456a4e.jpg)

like u see i have the school reference in the left panel, but in th tab i can see the school refenrence i don't know how add it please ?

[2016-02-27 17:07] ychoucha commented on #3619
ok to make works what i need :

First : adding this function in the entity :

Entity School :
[code]

Entity FolderControl:
[code]

and in the FolderControlAdmin.php :

in configurListFields Function :

u add this line :
`          ->add('school', null, array('associated_property' => 'libelleSchool'))`

[code]

thanks to all

[2016-02-27 17:07] #3619 closed

[2016-02-29 09:40] greg0ire opened #3622 "The build is failing"
The build is failing with this message :

Probably a BC-break problem.

[2016-02-29 10:49] #3622 closed

[2016-02-29 14:37] fnagel commented on #3115
@edouardkombo Could be related to https://github.com/sonata-project/SonataMediaBundle/issues/680

[2016-03-01 08:01] OskarStark commented on #3545
@core23 can you help, i am using dev-master

[2016-03-01 14:29] javiereguiluz commented on #3230
Closing it as fixed. Using the current `master` version fixed the issue. Thank you all for the help!

[2016-03-01 14:29] #3230 closed

[2016-03-01 15:46] calinpristavu commented on #3426
:+1: I am getting the same error now.
I looked into it a bit, but can't seem to find why.
I also tried having both _self as a theme and also the OrmAdmin theme included via
`{% form_theme form with ['SonataDoctrineORMAdminBundle:Form:form_admin_fields.html.twig', _self] %}`

can't really figure out why wouldn't it chain the themes.
Any ideas?

[2016-03-01 17:59] core23 commented on #3545
Sorry, I'm using dev-master too

[2016-03-02 11:38] SukachVitally opened #3629 "Transform phone number in ListMapper"
I  use misd-service-development/phone-number-bundle for phone number in my application. Phone number persist in model as object.
In FormMapper it's okay. I just set field type.
`$formMapper->add('cell', PhoneNumberType::class, ['required' => false])`
And get normal text

But in list I have some problem. My field doesn't converted.
`$listMapper->add('cell', PhoneNumberType::class) `

How can I form

[2016-03-02 12:32] greg0ire commented on #3629
`$listMapper->r->add('cell', PhoneNumberType::class)`

I don't get what the `r` part is about.

About your problem, this is not a support forum, so if you want it to be taken into account, you must show us there is a bug and what you expect. I guess your package has some sort of transformer you would expect to be called when displaying a list element, why not talk directly about that?

[2016-03-02 12:54] tim96 commented on #3629
@greg0ire maybe it is only mistake when @SukachVitally create a new issue?

$listMapper->r->add('cell', PhoneNumberType::class)

@SukachVitally I'm not sure, but in ListMapper I use _template_ option to change format field.
`$listMapper->add('status', null, array('template' => 'MyCoolBundle:Status:status_list.html.twig'))`

[2016-03-02 16:04] SukachVitally commented on #3629
Sorry. I update my question.

[2016-03-02 18:42] tim96 commented on #3629
@SukachVitally sorry, but I don't find information about how to using custom class type for list field type.
https://sonata-project.org/bundles/admin/master/doc/reference/action_list.html#available-types-and-associated-options
https://sonata-project.org/bundles/doctrine-orm-admin/master/doc/reference/list_field_definition.html#types-available

[2016-03-02 18:44] greg0ire commented on #3629
Right, but it looks like it works anyway… hidden feature?

[2016-03-02 19:04] greg0ire commented on #3629
Seems that this is used by the ORM bundle to choose a template matching the type of relation, see https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/3751e894e658ca9c6b59deda696019840494de15/Builder/ListBuilder.php#L134

[2016-03-02 19:08] greg0ire commented on #3629
After the right relation is done, this is executed : `$admin->attachAdminClass($fieldDescription);`. It finds PhoneNumberAdmin if it exists, and attaches it to the field description. This is probably used later for display…

[2016-03-02 19:10] greg0ire commented on #3629
My bad, it is used for linking : https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/3751e894e658ca9c6b59deda696019840494de15/Resources/views/CRUD/list_orm_many_to_one.html.twig#L18

[2016-03-03 00:01] ju1ius commented on #1076
@greg0ire Hi, So I should install the sandbox, fork ze bundles & update composer deps to point to my master branch ? Is  2.4-develop the most up-to-date sandbox version ?

[2016-03-03 03:25] ju1ius commented on #1076
@core23 Done!

[2016-03-03 05:53] tim96 commented on #3629
@greg0ire can you explain how it works? @SukachVitally say that it doesn't work.

[2016-03-03 08:59] greg0ire commented on #3629
Hardly. By "it works", I just mean that obviously, @SukachVitally is not getting a 500. It does not work as expected, but it "works" in the sense that the phone number is displayed.

[2016-03-03 09:02] greg0ire commented on #1076
I don't know for sure, but I think I would proceed like that.

The [network view](https://github.com/sonata-project/sandbox/network) seems to say so.

[2016-03-04 11:37] webdevilopers opened #3633 "Twig Cache file generates Parse Error: syntax error"
I get a strange debug error for some days now with `dev-master`. When trying to access a sonata admin list view I get:
**request.CRITICAL: Uncaught PHP Exception Symfony\Component\Debug\Exception\FatalErrorException: "Parse Error: syntax error, unexpected '.', expecting '&' or variable (T_VARIABLE)" at /app/cache/prod/twig/a7/a7a9af7119e75eb8391ea0c72b3b43e98ddf88c723e92565488abffefeb9c3fe.php lin

[2016-03-04 12:04] greg0ire commented on #3633
Apparently, twig generate php that is not compatible with your version of php (namely, the variadic parameters). I would says it is purely a twig issue. When you installed / updated `twig/twig`, were you using the same version of php as when you are executing this piece of code?

[2016-03-04 12:36] webdevilopers commented on #3633
Good catch, @greg0ire ! Indeed there are different versions. My DEV is more uptodate.

DEV:
PHP 5.5.9-1ubuntu4.14 (cli) (built: Oct 28 2015 01:34:46)

PROD:
PHP 5.5.30 (cli) (built: Dec 16 2015 06:09:55)

Still strange because when deploying the command is executed on the server:
[code]

When I remove the cache manually and simply reloading the page - no command - shouldn't the generated cache fil

[2016-03-04 12:44] webdevilopers commented on #3633
Nope, both version are PHP Version *5.5.30*.

Is there anything else that could be different when using the warmup command or removing the files manually and generate them by the "apache" "www-data / web" user?

Anyways I should update to *5.6* on the server too.

[2016-03-04 12:49] nlzet commented on #3633
Do you have a php versioned defined in composer.json by using https://getcomposer.org/doc/06-config.md#platform ?

I believe this overrides your php version to force the behaviour of using the same minimal PHP version.

[2016-03-04 13:06] webdevilopers commented on #3633
My `composer.json` requires:
[code]

My `composer.lock` for `twig`:
[code]

Anywhere else I should look @nlzet?

When were the `the variadic parameters` introduced, @greg0ire - > php *5.5.30*?

[2016-03-04 13:18] greg0ire commented on #3633
It wouldn't make sense to introduce a feature like that and not bump the middle number.

[2016-03-04 13:20] greg0ire commented on #3633
What version of twig are you using ? `composer show --installed|grep twig`

[2016-03-04 13:21] webdevilopers commented on #3633
[code]

[2016-03-04 13:22] greg0ire commented on #3633
It requires php >= 5.2.7, that's strange. Look for variadic params in the code source.

[2016-03-04 13:25] greg0ire commented on #3633
Do you have the name of the twig template?

[2016-03-04 13:27] greg0ire commented on #3633
What do you have when printing `PHP_VERSION_ID`

[2016-03-04 13:29] greg0ire commented on #3633
Maybe you should debug [this line](https://github.com/twigphp/Twig/blob/v1.24.0/lib/Twig/Node/Macro.php#L57)

[2016-03-04 13:37] webdevilopers commented on #3633
Looks like the `knp_menu.html.twig`:
https://gist.github.com/webdevilopers/3029aaccf1b7ddbac48f#file-a9f4d476b68d309ff919ce927ebe438582abbff7232497b2079d47159e04d5d4-php

[2016-03-04 13:50] webdevilopers commented on #3633
I debugged the line inside the `vendor` file but it is not called at call when warming up cache on the server. Neither when reloading page.

[2016-03-04 15:10] DavidGarciaCat opened #3635 "Fatal Error installing stable packages using composer"
Hey there,

I am trying to update my packages (from previous/old `dev-master` to the latest stable versions) and I am getting an error. Composer is installing all packages without any problem but looks like there is an issue between `AdminBundle` and `BlockBundle`.

These are the packages that I have on my project:

[code]

Please have a look to the error message:

[code]

Given security reasons,

[2016-03-04 15:51] greg0ire commented on #3633
[The corresponding line](https://github.com/KnpLabs/KnpMenu/blob/master/src/Knp/Menu/Resources/views/knp_menu.html.twig#L3) ?

[2016-03-04 15:54] greg0ire commented on #3633
Maybe you're debugging the wrong file ? Can you grep `varargs` in the whole project?

[2016-03-04 16:11] greg0ire commented on #3635
I have no time for this right now, but maybe you can help ?

Can you :

- look at the block bundle issue tracker to make sure the bug isn't already reported?
- look at both signatures and tells us in which way they are incompatible ?
- tell us when they ceased to be compatible with each other, provided they ever were?
- tell us which versions of both bundles can work together when it comes to this

[2016-03-04 19:23] webdevilopers commented on #3633
Since the `twig` cache is not created in `dev` I checked the `prod` version and found 4 files:

[code]

The related templates are:
* knp_menu_base.html.twig
* SonataAdminBundle:CRUD:base_acl_macro.html.twig
* SonataAdminBundle:CRUD:base_edit_form_macro.html.twig
* SonataAdminBundle:CRUD:tree.html.twig

Looks like this could be Sonata Admin related. I've updated the complete files to the gist:
http

[2016-03-04 19:26] webdevilopers commented on #3633
Maybe something went wrong here @OskarStark ? 3 days ago would fit.
https://github.com/sonata-project/SonataAdminBundle/pull/3621/files

[2016-03-05 10:06] chalasr commented on #262
Fixed by PR #3553 .

Same for those possible duplicates

- #262
- #1228
- #1327

[2016-03-05 14:20] greg0ire commented on #3633
Well you can use git bisect if you suspect the admin bundle, but frankly, I don't see how this can be a Sonata issue.

Also :

Can you please grep the whole project, not just the production cache ?

[2016-03-05 16:19] webdevilopers commented on #3633
Missed that, sorry. Result:

[code]

[2016-03-05 16:31] greg0ire commented on #3633
Just wanted to make sure there were no other possibility than ./vendor/twig/twig/lib/Twig/Node/Macro.php in your project. Can you slightly change line 57 (change the number of dots for instance), just to see what happens?

[2016-03-05 17:06] webdevilopers commented on #3633
Removing the dots in line **257** immediately fixes the issue.

[2016-03-05 17:07] greg0ire commented on #3633
I was talking about line 57 of vendor/twig/twig/lib/Twig/Node/Macro.php , not line 257 of the generated file.

[2016-03-05 17:08] greg0ire commented on #3633
The goal is to see if both file have anything to do with each other.

[2016-03-05 17:12] greg0ire commented on #3633
Remove one dot (not all dots) line 57, and see if your error message has one or two dots. If it has 2, you'll know you are looking at the right file.

[2016-03-05 17:33] greg0ire commented on #3635
Wow, thanks for the help!

1. Nothing found
2. I think what differs is the namespace of `ErrorElement`
3. They ceased to be compatible with each other since [this commit](https://github.com/sonata-project/SonataBlockBundle/commit/06fac2531ac872ea94a650a345331e14c4da9eb0), and were compatible again since [this commit](https://github.com/sonata-project/SonataAdminBundle/commit/0c9439f01e85842f267cdd

[2016-03-05 17:34] greg0ire commented on #3635
I think the best solution for you is to use block bundle  ~2.3.9

[2016-03-05 17:51] webdevilopers commented on #3633
Removing a dot doesn't change the error, it is still line *253*:
`/app/cache/prod/twig/3c/3c517fe0d83ac6b34f22fb34cd3fa5c8398007ea0caed7a6156abdd9d881cdb1.php line 253`

[2016-03-05 17:53] webdevilopers commented on #3633
Instead of removing the cache folder manually I know used the cli and look what happens:
[code]

Now what is this about?

[2016-03-05 18:13] greg0ire commented on #3633
/app/cache/prod/twig/3c/3c517fe0d83ac6b34f22fb34cd3fa5c8398007ea0caed7a6156abdd9d881cdb1.php line 253

So, even after removing the cache ?

The error you're getting is probably about the two dots when warming up the cache.

I guess you no longer have the 3 dots line 253 after trying to remove the cache folder with the cli, do you?

[2016-03-05 18:14] greg0ire commented on #3633
You could try doing a syntactically valid change, like changing the variable name instead of removing a dot.

[2016-03-05 18:22] webdevilopers commented on #3633
* Deploy app that updates vendor and warms up cache
* Removedone dot from the Macro.php
* Error remains the same in twig template at line 253 in cache folder

A:
* Remove the cache folder
* Clear cache
* Three dots are gone - fixed

B:
* Clear cache
* Additional Twig Environment error

[2016-03-05 18:29] greg0ire commented on #3633
A: Three dots ? When you removed one?!?
B: To clear the cache, the current cache is used, hence the error you get probably.

[2016-03-05 18:30] greg0ire commented on #3633
Maybe you should stop deploying and try to reproduce this locally (with ca:cl --env=prod , and by using app.php instead of app_dev.php).

[2016-03-05 18:40] webdevilopers commented on #3633
Checked PROD on my machine now and there are no problems and no `...` anywhere! ;)
Corrected my list above.

[2016-03-05 18:48] greg0ire commented on #3633
@hason can you help ? I'm out of ideas. Can you for example tell us if you think this is a sonata or twig bug?

[2016-03-05 19:01] webdevilopers commented on #3633
A PHP Update on our server will still take some weeks. But maybe our provider can update the CLI version to **5.5.9**. Then we can see if the problem is the PHP version.

[2016-03-05 19:11] greg0ire commented on #3633
PHP 5.5.30 (cli) (built: Dec 16 2015 06:09:55)

[2016-03-05 19:24] webdevilopers commented on #3633
Sorry?

[2016-03-05 22:06] greg0ire commented on #3633
You said production was using 5.5.30, and no you talk about upgrading it to 5.5.9 ???

[2016-03-06 11:44] webdevilopers commented on #3633
Stupid me, mixed up the version. Read **5.5.3**. I will update `dev` and check for the issue.

[2016-03-06 11:50] webdevilopers commented on #3633
I'm now using `PHP 5.5.32-1+deb.sury.org~trusty+1 (cli)` in `dev`, still **5.5.30** in `PROD`.
No issue w/ warming up or clearing cache.

My `dev` runs on Ubuntu and the `prod` on FreeBSD. Had several issues on FreeBSD w/ deployment tools and cli commands. But can't imagine anything related to php.

[2016-03-06 13:15] greg0ire commented on #3633
Really?

[2016-03-06 13:16] greg0ire commented on #3633
What do you have when printing PHP_VERSION_ID ?

[2016-03-06 14:55] webdevilopers commented on #3633
Where should I echo it? CLI or app*.php?

[2016-03-06 14:56] greg0ire commented on #3633
Both I guess, unless you figured out if you have the problem only with CLI or web?

[2016-03-06 15:30] Cethy commented on #1659
@core23 Sorry, I don't work on the project anymore.

[2016-03-06 15:41] josegarzi2 opened #3637 "sonata_type_model_autocomplete. The field "student" does not exist."
Good Morning

I'm trying to implement a field autoplente ManyToMany with sonataadmin bundle.

entity students

[code]

Entity AccountsHeader

[code]

Class AccountHeaderAdmin

[code]

Class StudentsAdmin

[code]

When performing a search of a student, the Ajax call is executed, but it returns the error "The field "student" does not exist."

I have taken many turns but I can not see that I can have

[2016-03-07 08:58] DavidGarciaCat commented on #3635
@greg0ire sorry for the delay, but that was an issue related to the company, and I was out.

Looks like if I use the last releases of those bundles (`admin-bundle 2.3.7` and `block-bundle 2.3.9`) I get the error. However if I use the `admin-bundle 2.3.7` and `block-bundle 2.2.7` it works as expected.

I hope this can help.

[2016-03-07 09:39] greg0ire commented on #3635
The last releases of the bundles are not supposed to work together. Can you please close this issue?

[2016-03-07 10:26] DavidGarciaCat commented on #3635
:+1:

[2016-03-07 10:26] #3635 closed

[2016-03-07 11:37] webdevilopers commented on #3633
Sorry for the late answer, we are experiencing serious problems with our server and provider now.
I can't even really deploy or PUSH to our git.

All I could find out for PHP_VERSION_ID so far is:
* PROD: web = 50530, cli = 50606
* DEV: web + cli = 50618 after update

Our provider agrees that it shouldn't be the php version. Maybe a permission problem with the cache files.

[2016-03-07 12:22] greg0ire commented on #3633
Ha!!!! 50606!!! For PROD cli! There's your bug!

[2016-03-07 12:23] greg0ire commented on #3633
[code]

[2016-03-07 14:20] webdevilopers commented on #3633
I'm totally confused because there is a lot going on in this project.

Is it just the PHP Version conflict that causes the issue?

Since our provider won't downgrade everything should work fine if CLI and WEB are upgraded to **5.6**?

[2016-03-07 14:25] greg0ire commented on #3633
Breathe :)

The PHP version conflict causes the issue for sure and BTW, it isn't a Sonata problem, nor is it a Twig problem.

Things you need to get straight :

- is your PROD CLI version really 5.3.30 ?
- if yes, is your PROD CLI `PHP_VERSION_ID` really 50606 ?
- if yes, ask your provider why the f*** .

Good luck :)

[2016-03-07 15:07] greg0ire commented on #3637
If you use plural names for your entities (or any other class really), you are going to have lots of unexpected bugs. Doesn't `new Student` sound better than `new Students` ?

[2016-03-07 15:18] alleswasrechtist opened #3639 "Filter in sonata_type_model or other Selects"
Hey,

I startet using this Bundle and really like it so far. I wonder if it is possible somehow to show Filter-Options in normal Selectboxes (Select2), especially when using sonata_type_model as form element. I know that there is a sonata_type_model_autocomplete, but I think my list is too small for this and I want to show the values right from the beginning (without having to enter 3 chars).

Is

[2016-03-07 15:31] greg0ire commented on #3639
I think doing that is as simple as that : `$datagridMapper->add('your_linked_entity')`. Works for me, at least.

[2016-03-07 15:36] alleswasrechtist commented on #3639
Ah that was too easy - in my testing env there were just too few objects. As soon as the list gets longer, the field for filtering appears! Thank you!

It really seems like doc would need some updates. Is it possible to contribute?

[2016-03-07 15:36] #3639 closed

[2016-03-07 15:40] greg0ire commented on #3639
I was just going to ask you :)

I looked at [the current doc](https://github.com/sonata-project/SonataAdminBundle/blob/master/Resources/doc/getting_started/the_list_view.rst), and there are several things you could fix :

1. Add a simple example like yours
2. Regarding the "Filtering by Category" § I think simply doing `add('category.name')` would work just as well, wouldn't it @WouterJ ?
3. Maybe

[2016-03-07 15:56] greg0ire commented on #3639
I see this would be your first contribution on github, so if you need more details, read [the specific §](https://github.com/sonata-project/SonataAdminBundle/blob/master/CONTRIBUTING.md#contributing-to-the-documentation), and do not hesitate to ask for help if you need more details.

[2016-03-07 16:03] philippsahrmann opened #3640 "Sorting sonata_type_model choices"
Hello,

one more question: Is there an easy way to sort the choices offered by the sonata_type_model form field? Unfortunately, it seems like the field is only sorted by id. Of course, I could create a custom query and provide it, but this would be quite awful since I want to set the sort order on every x to One Relationship that I use. It would even be okay to sort the resulting array of choices,

[2016-03-07 16:16] greg0ire commented on #3640
I think [using the OrderBy doctrine mapping](http://doctrine-orm.readthedocs.org/projects/doctrine-orm/en/latest/tutorials/ordered-associations.html) on your entity should do the trick (provided you are using the ORM).

[2016-03-07 16:25] alleswasrechtist commented on #3640
Unfortunately, this only seems to work for a To-Many Relation. I have a Customer who can have a certain Contract. Now I want to show all Contracts in alphabetical order (form field type for selecting the Contract is sonata_type_model).

(actually, I want to sort by Contract->Provider->name Contract->name)

[2016-03-07 16:27] greg0ire commented on #3640
Please fix this sentence

[2016-03-07 16:29] greg0ire commented on #3640
If you one a One-To-One association, there is nothing to order, your list will always have one element, won't it?

[2016-03-07 16:32] alleswasrechtist commented on #3640
Oh sorry for that. Each Contract is connected to a Provider (Many To One). In the Customer-Admin, the contracts in the dropdown selection are shown by the name of their Provider and their name. E.g.:

Vodafo Superflat
T-Mibole Magenta
Vodafo XY

Now in my Customer admin, I can choose one contract for a customer. I have a sonata_type_model field, in which all Contracts are shown in the way explaine

[2016-03-07 16:35] greg0ire commented on #3640
I think you might indeed have to use custom code for this one.

Unless all your relationships displayed in filters are indirect, you won't have to.

[2016-03-07 16:43] alleswasrechtist commented on #3640
So if I only wanted to sort by the Contracts name, what would be the easy solution for this?

[2016-03-07 16:54] greg0ire commented on #3640
My bad, after a quick look, it seems you would have to do something like this :

`->add('offer', null, [], null, ['query_builder' => 'your query builder')`. I see no sort option in Symfony itself.

[2016-03-07 16:59] greg0ire commented on #3640
BTW, I'm not sure this really is a Sonata issue, in fact. How would you do that with the `entity` form type in Symfony?

[2016-03-07 20:36] josegarzi2 commented on #3637
thanks for appreciation.

by methodology in my country entities are plural and singular variables.

sonata not find the "student" field in the AccountHeader entity. it is normal that the field this not an table to be a ManyToMany relationship.

someone has managed to operate sonata_type_model_autocomplete relative ManyToMany.

thanks

[2016-03-07 21:25] webdevilopers commented on #3633
Thanks for all the help @greg0ire ! I will close this issue and check it as soon as the server was updated.
But our provider still wants to wait some weeks because they regard **5.6** as "stable" enough. Ouch!

[2016-03-07 21:25] #3633 closed

[2016-03-07 22:51] greg0ire commented on #3637
Really? And in what country does this make sense ?

[code]

Tell me, because it must be fun to visit.

[2016-03-07 23:01] josegarzi2 commented on #3637
thanks for your help.

I try to solve a problem, discuss what to name classes or variables.

[2016-03-07 23:20] greg0ire commented on #3637
If you want to get help, naming your classes and variables right is the first step : it makes your code understandable to others, and even to you, because frankly, I doubt even you can make sense out of this.

You should fix your naming and more importantly, quit this kind of dubious nonsense if you want some help.

[2016-03-08 12:59] #2630 closed

[2016-03-08 17:33] greg0ire commented on #3640
ping @alleswasrechtist

[2016-03-08 17:37] greg0ire commented on #3618
Shouldn't you report that bug to the phpcr bundle?

[2016-03-08 17:39] greg0ire commented on #3615
Shouldn't an autocomplete field have a source (the database), and thus, be mapped to a field of the entity?

[2016-03-08 17:40] greg0ire commented on #3614
You could try to find the template that is in use and debug it.

[2016-03-08 18:58] rapemer commented on #3615
If I use @ManyToMany or some mapping metadata, autocomplete is ok. But if I want use `mapped` => false, then autocomplete don't work :-)

[2016-03-08 22:41] greg0ire commented on #3615
Why isn't `app.admin.page` associated with the `Application\AppBundle\Entity\Page` entity ?

[2016-03-08 23:02] rapemer commented on #3615
It is associated ;-) that's the problem ...