[2016-09-16 07:17] zajca commented on #4132
@core23 updated

[2016-09-16 12:26] lightglitch commented on #4139
I will see what I can do.

[2016-09-21 08:00] betaglop opened #4140 "Have you ever thought using SonataAdmin without writing a line of PHP?"
The basic idea is: why writing a code that I cannot reuse and extend easily when I'm configuring a SonataAdmin in my bundle ?... Especially if I target an ultra-reusable design, a many years lifespan for my piece of software, an optimized maintainability, etc.

For the moment, AFAIK SonataAdmin cannot go really far in that direction.
That's why we developed a bundle (and a set of bundles actually)

[2016-09-21 08:14] greg0ire commented on #4140
This should go to https://www.reddit.com/r/titlegore

My advice, if you want your project to be better than Sonata : write the documentation before writing the code, and make sure

[2016-09-21 08:21] betaglop commented on #4140
We are more working in a RAD intention (we do not separate doing and thinking)... We write things as we need them, so we cannot really write the doc before being sure it will be realized as it was designed. But sure: it's a pain, but it's also rewarding to crystallize what you did correctly.

Then the idea is not to do something better than Sonata but more to improve Sonata using it in the better

[2016-09-21 08:22] greg0ire commented on #4140
Yes, it's a subreddit dedicated to wrong titles :wink: Look at the title of your issues.

Yeah I understood that a bit late. Cool project!

[2016-09-21 08:25] Soullivaneuh commented on #4014
@cassianotartari I reproduced the bug. Are you working for a PR?

Not totally true. ATM, this is showing always the **last** revision of the entity.

[2016-09-21 12:24] alexandrubau opened #4141 "Field type "sonata_type_collection" not saving the foreign key"
Hi guys, I've ran in a bit of a problem with "sonata_type_collection" field type. Here's the story:

I have an entity entitled Game and an entity entitled Game Builds.
A Game can have multiple Game Builds (one-to-many).

In the administration page of the Game, I would like to also manage the builds.
I've thought the way to do this is through an **sonata_type_collection** field.
So in my *GameAdmin

[2016-09-21 13:20] alexandrubau commented on #4141
I fixed this like so:

I. In **Game** entity, in method **addBuild** I've added the following line:
[code]

II. Added *by_reference* field to sonata:
[code]

The issue can be closed, thank you.

[2016-09-21 13:20] #4141 closed

[2016-09-21 14:42] cassianotartari commented on #4014
No, I've just override the issue template in my project.

Maybe the solution is revert @nlzet commit to remove ``macro``

[2016-09-21 14:54] Soullivaneuh commented on #4014
@cassianotartari Maybe, but as @nlzet said:

I would like to avoid this and find an alternative.

Could you please post your code of your solution? This could be helpful finding a final solution.

[2016-09-21 16:53] cassianotartari commented on #4014
I was looking to my code right now, I did the only way I found that time, duplicate blocks. But as I'm using tabs didn't check the ``elseif`` of ``has_tab``. The ``show_helper`` macro can't be used here...

My ``show_compare`` template is extending my own ``base_show``. And I'm using tabs, so I've commented:
[code]

And added in same place:
[code]

[2016-09-22 18:45] ejkun opened #4142 "[Form] 'required' option is always true if the type of a field is passed."
### Environment

Symfony 2.8.8 & Sonata Admin 3.4.0 with Doctrine ORM
#### Sonata packages

[code]
#### Symfony packages

[code]
#### PHP version

[code]
## Subject

When adding a field on the FormMapper, even if the field has nullable=true and no assert, it will be show as required field if the type (second argument) is passed.

Tried with date and float field, using Symfony's MoneyType and sonat

[2016-09-23 14:27] ruslan-naryzhniy commented on #4142
You should pass `'required' => false` in third argumet
[code]

[2016-09-23 14:38] ejkun commented on #4142
@ruslan-naryzhniy, that's what I'm doing to fix it, but the option should be guessed automatically, don't you think?

[2016-09-23 15:00] ruslan-naryzhniy commented on #4142
@ejkun egree with you, it's not conveniently!

[2016-09-23 20:54] Koc opened #4143 "Use namespaced notation for the templates instead of old syntax"
Templating subsystem can be removed in the future, see also https://github.com/symfony/symfony-docs/issues/7003 for details

[2016-09-25 23:09] ReactiveRaven commented on #4015
`Doctrine\Common\Util\ClassUtils` appears to be correct. There are other instances of it being used in previous PRs

* #1747 Use ClassUtils::getClass instead of get_class
* #1601 use ClassUtils::getClass() instead of get_class

[2016-09-26 11:55] syeo66 opened #4147 "Checkboxes do look odd after Ajax-call when using sonata_type_collection inline-tables."
### Environment
#### Sonata packages

[code]
#### Symfony packages

[code]
#### PHP version

[code]
## Subject

Checkboxes do look odd after Ajax-call when using sonata_type_collection inline-tables.

![icheck_before_ajax](https://cloud.githubusercontent.com/assets/1178021/18833434/df01bf08-83f0-11e6-9c8c-1c963f8028bf.png)

![checkboxes_after_ajax](https://cloud.githubusercontent.com/assets/117802

[2016-09-26 13:05] greg0ire commented on #4147
Thanks for reporting this @syeo66 !
Can you please compare the html in both cases, and find the template(s) involved? They should appear in the symfony profiler, or maybe just use `grep` to find them. Also, you kind find the profile for the ajax query in the symfony profiler by using the built-in form there is.

[2016-09-27 06:26] #4072 closed

[2016-09-27 12:13] syeo66 commented on #4147
Well, I tried to find as many information as I could. The HTML (extracted from Chromes inspector - so after any Javascript-Processing took place) looks like this at first (correct version):

[code]

The code after the Ajax call looks like this:

[code]

The involved templates are in both cases those two:
SonataDoctrinePHPCRAdminBundle:CRUD:edit_phpcr_one_to_many.html.twig

[2016-09-29 19:52] aurelijusrozenas commented on #3554
+1

[2016-09-30 08:38] gremo commented on #2402
What about this approach?

[code]

[2016-09-30 15:26] ph538834 commented on #3554
+1

[2016-09-30 15:59] core23 commented on #3554
Instead of posting stupid +1 comments, could someone create a PR?

A simple +1 would create an auto PR by some magic fairy

[2016-09-30 19:56] ruslan-naryzhniy commented on #4142
#3554 the same issue

[2016-10-03 08:28] zajca opened #4151 "Export translate value"
### Environment
#### Sonata packages

[code]
#### Symfony packages

[code]
#### PHP version

[code]
## Subject

I'm trying to replace "enum" in database to translated string.
When I do this by replace value in `getDataSourceIterator()` and use pager I only can iterate over first page.
## Steps to reproduce

[code]

based on pager setting I can only translate first page
## Expected results

all val

[2016-10-03 14:13] mdstorage opened #4152 "CRUD Controller tries to access private property Symfony\Bridge\Twig\Extension\FormExtension::$renderer"
Environment
Symfony 3.2.0-dev
SonataAdminBundle 3.x-dev
StackTrace
[1] Symfony\Component\Debug\Exception\FatalThrowableError: Cannot access private property Symfony\Bridge\Twig\Extension\FormExtension::$renderer
    at n/a
        in .../vendor/sonata-project/admin-bundle/Controller/CRUDController.php line 108

[2016-10-03 14:22] core23 commented on #4152
Can you supply a PR?

Refs https://github.com/sonata-project/SonataAdminBundle/issues/4088

[2016-10-03 14:30] Soullivaneuh commented on #4027
Bug reproduced and confirmed.

@greg0ire I have this problem with a `IpV4` -> `Server` relation, both audited, so I don't think so.

@soerenbernstein Concerning https://github.com/sonata-project/SonataAdminBundle/issues/4027#issuecomment-236136644, where did you make this modification?

Did you find a final solution? Or more clues?

[2016-10-03 14:31] razbounak opened #4153 "How have default value in filter with session"
I would like have a dynamic value of session for the default value of filterParameters

This code working :
`
    /**
     * Default Datagrid values
     *
     * @var array
     */
    protected $datagridValues = array(
        'applications' => array('value' => 'Sport TV'),
        '_sort_order' => 'ASC'
    );

    // Fields to be shown on filter forms
    protected function configureDatagridFi

[2016-10-03 14:33] core23 commented on #4153
We try to keep github issues for feature requests and bugs only.

Please have a look at the [docs](https://sonata-project.org/bundles/) or use [StackOverflow](http://stackoverflow.com/questions/tagged/sonata) for general support and questions.

[2016-10-03 14:33] #4153 closed

[2016-10-03 19:02] ejkun commented on #4142
I think it is different. That one is a problem related to one_to_one relations and sonata_type_admin.
I'm trying to figure out which files are related to this problem, when I do, I will start creating a PR for it.

[2016-10-03 21:11] ruslan-naryzhniy commented on #4142
@ejkun Symfony Form component set fields required by default. I think we should customize Sonata Form. What about to use doctrine annotation render? Now I am working on it.

[2016-10-04 09:18] javiereguiluz opened #4155 "Deprecations related to AdminBlockServiceInterface"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

When using the latest version of Sonata, I see two deprecation messages:

![sonata-deprecations](https://cloud.githubusercontent.com/assets/73419/19068666/c21755d6-8a23-11e6-8399-a20ee4bf93fa.png)

I don't use the block service directly, so this deprecation may be caused by Sonata it

[2016-10-04 09:32] OskarStark commented on #4155
Hey @javiereguiluz

You are right, we need to extend `AbstractBaseBlockService` here and increase the dependency to 3.2 of the block-bundle.

I am working on a PR right know and let you know when its fixed! 👍

[2016-10-04 10:01] Soullivaneuh commented on #4027
This is already fixed by https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/631.

Release is coming soon.

[2016-10-04 10:01] #4027 closed

[2016-10-04 15:23] #4155 closed

[2016-10-06 14:35] OskarStark commented on #4155
@javiereguiluz we release AdminBundle 3.9.0 -> https://github.com/sonata-project/SonataAdminBundle/releases/tag/3.9.0

[2016-10-08 09:34] #4112 closed

[2016-10-09 23:36] eduardoconceicao commented on #2724
@greg0ire The problem happens if you have non mapped column ins the list view and if you need to sort the list by the non mapped field. You cannot sort the column on the database because the column doesn't exist in the database level.

[2016-10-09 23:52] neo-james commented on #3947
Hi everyone,
I'm new to symfony and of course new to SonataAdmin, So hope I'm suggesting a good thing.

How about making a bit featured/thin AbstractAdmin using following ideas:
**1 Make use of configuration by doing:**
1. Make a new AbstractAdmin (let's call it AbstractAdmin2) to load the (FormFields / $formMapper) , 'DatagridFilters' and other a like from configuration files like yaml or xml.
2.

[2016-10-10 00:16] neo-james commented on #3947
2. Current methodology using current "AbstractAdmin" limit the views by mean of what if multiple list views is required for different scenarios like:
    1. Having one list view for desktop and one for mobile.
    2. Having one list view (grid) and view shows entities on map
So by allowing/introducing ViewLoader and in future ViewPresenters on entity can have unlimited views and presenters (a new

[2016-10-10 01:13] neo-james commented on #3947
**3** Suggestion to add a config file ( yaml or xml) per entity to define UI related attributes in config file. Like doctrine-mapping file but with more info that help in UI like validations
Ex: a yml file might look like
Sonata\NewsBundle\Entity\BasePost
    icon: '<i class="fa fa-users"></i>'
    fields:
        title:
            type: string
            label: 'Tilte'
            template: 'xy

[2016-10-10 01:24] neo-james commented on #3947
**4** using the above idea about having a config file ( yaml or xml) per entity will help to eliminate the dependency of the 'AdminBuilder' in #4103 on "AbstractAdmin" which I see is good to remove

[2016-10-10 07:15] greg0ire commented on #2724
Yeah but you can still compute the status in the query and sort by that, right?

[2016-10-10 08:43] foolskill opened #4160 "Link to another entity in my entity list"
Hello team,

I use sonata for the administration of my database and now I face a problem I can not solve. In fact I have in my database Post a related entity to entity User (ManyToOne) and I would like in the list of User entity add a link that points to the Post entity in one click.

Thank you for the quality of your application, to solve many of my problems.

Thank you

[2016-10-10 08:59] peter-gribanov opened #4161 "How remove LEFT JOIN on entity list page"
### Environment
#### Sonata packages

[code]
#### Symfony packages

[code]
#### PHP version

[code]
## Subject

How i can optimize queries generated by SonataAdminBundle?
I understand that it is made for the use of filters, but why use `LEFT JOIN` where it is not necessary?
## Steps to reproduce

Show list entities page
[http://localhost/admin/acme/demo/movie/list](http://localhost/admin/acme/demo

[2016-10-10 09:06] greg0ire commented on #4160
Hi, we try to keep Github issues for bug reports and feature requests only. If you have a question, please ask it on Stack Overflow.

[2016-10-10 09:06] #4160 closed

[2016-10-10 12:13] eduardoconceicao commented on #2724
No, there it could be some cases where you can but for the most of the non mapped fields you can't.

Imagine that you have an Entity

[code]

Then you have a list view from an admin that includes the someNonMappedField:

[code]

How can you sort this? That's impossible with a query since the value is not queryable.

[2016-10-10 12:30] greg0ire commented on #2724
Well yeah if you tell the problem like that there is literally no hope to solve that. And if you can't do it with SQL, I don't think it's reasonable to do it in php, right? You're not going to fetch all rows and sort them manually, are you?

[2016-10-10 13:35] eduardoconceicao commented on #2724
Well, imagine that sonata admin allows you to implement some manual sort on your records.

My first thought was to have a postLoadResults or something like that, that allows you to sort the results on PHP level. But then i realise that this solution only sorts the results of a page.

In this in mind, a possible solution (although not so efficient) could be have a way to register some custom sortin

[2016-10-10 13:57] greg0ire commented on #2724
Yeah, that's the core of the issue: imagine if the table has a billion rows. Fetching all the results, then sorting them in php will be incredibly inefficient. This must be done in SQL, your solution is not an option I'm afraid. Doing like this should be discouraged, so I'd say it's just fine the way it is.

[2016-10-10 19:44] greg0ire commented on #3947
Thanks for caring @neo-james! I think there already is bundle that uses configuration file, I'll try to find it again. I think we should start by making it easier to do, and then maybe support one format (XML?) then maybe several

[2016-10-10 20:13] greg0ire commented on #3947
[Found it](https://github.com/libre-informatique/SymfonyLibrinfoCoreBundle/blob/master/Resources/doc/README-Usages.md). So the first step would be to look at this bundle and see what we can do to make there life easier (i.e. define an interface that they could implement) cc @marcoslibre

[2016-10-10 22:22] neo-james commented on #3947
Thanks for sharing the bundle, I'm looking at it right now.
But do you think the ability to construct a view (like listview, fromview and others) should be in core bundle, I mean by default, And so the default path for new apps.

[2016-10-11 06:24] greg0ire commented on #3947
I personally think it would be a great improvement, but I'm not sure if we should support several formats: for instance Doctrine is planning on dropping yml support b/c maintaining it is a pain. Anyway, it does not change step 0 : making life easier for the bundle I referred to.

[2016-10-12 08:07] amirbaqdadi opened #4165 "RTL css style for admin bundle"
i did not find any guide about changing admin style from ltr to rtl ?
any advice ?

[2016-10-12 14:43] neo-james commented on #3947
Thanks for your reply,
I agree with you regarding it's 'a great improvement'.
Regarding 'yml support' ? Sorry to say but I don't know, I'm still new symfony so I can't judge.

I agree the bundle is good, But I was thinking about one yml per view per entity and as I seen so far in the bundle 'SymfonyLibrinfoCoreBundle' it has configuration in one file

[2016-10-12 14:49] core23 commented on #4161
We need this joins, when filtering the list with some child fields.

Maybe you could provide a PR which improves the `JOIN`s, which joins only needed tables?

[2016-10-12 15:01] greg0ire commented on #3947
Not such a big deal… in the end you will still have something that loads metadata from a yaml block, whether it is in one or several files will not change much on our end.

[2016-10-12 21:40] greg0ire commented on #4165
Maybe this was completely overlooked… personally, I don't know anything about rtl (apart what it is), but we're open to contributions on that.

[2016-10-13 04:43] amirbaqdadi commented on #4165
many countries use it like this link http://thevectorlab.net/adminlab-rtl/

i try to put rtl bootstrap css but i get nothing on sonata admin , i guess its complicated and more than only changing css ...

[2016-10-13 04:47] amirbaqdadi commented on #4165
i try to find best way to change it , if you help me i will be grateful

[2016-10-13 06:26] greg0ire commented on #4165
We try to keep Github issues for bug reports and feature requests only. If you have a question/want help, please ask it on Stack Overflow.

[2016-10-13 06:26] #4165 closed

[2016-10-13 13:04] Th3Mouk commented on #4099
PR are merged and released 👍

[2016-10-13 13:04] #4099 closed

[2016-10-13 23:59] neo-james commented on #3947
Agree

[2016-10-14 02:13] neo-james opened #4171 "Edit form with nested tabs and groups"
For the need for an edit form like following, I suggest to allow for nesting form groups and tabs. So group or tab can contain tabs.

![edit_form](https://cloud.githubusercontent.com/assets/22734109/19373457/ab2e13e0-91cc-11e6-970f-44258429d434.png)

[2016-10-14 02:25] neo-james commented on #4140
@betaglop thanks for sharing your efforts.

Yes I have some ideas, Can you please look at  #3947

[2016-10-14 07:07] OskarStark commented on #4171
Sounds great 👍

And great pictograms btw. 👍

[2016-10-14 12:19] #4139 closed

[2016-10-15 13:22] neo-james commented on #4171
Thanks,
If you agree I suggest (if I'm not wrong) in the the file `Show/ShowMapper.php`

- By default there is a root group within it we can add `field` or `group` or `tabgroup`
- So in `ShowMapper' We add a method `addTabGroup()` that return `TabGroup` class.
- `TabGroup' class has only two methods `addTab`, `removeTab` (or `addGroup` and `removeGroup` as it simplify things )

So based on above w

[2016-10-17 10:15] fracsi opened #4175 "Absolute admin routes in menu"
Is there a specific reason why the generated routes in the sidemenu are absolute?

In the [`Configuration.php`](https://github.com/sonata-project/SonataAdminBundle/blob/3.x/DependencyInjection/Configuration.php#L161) the route_absolute: true is hardcoded when using admin ids as items, thus cannot be changed.

[2016-10-17 10:22] OskarStark commented on #4175
@rande can you help?

[2016-10-17 10:23] greg0ire commented on #4175
@fracsi what does the git log say about this?

[2016-10-17 10:36] fracsi commented on #4175
@greg0ire Not much. I only found this PR: #3578

[2016-10-17 10:41] OskarStark commented on #4171
Why not just `Group`, `Tab` and `Field` ?

[2016-10-17 10:44] OskarStark commented on #4175
@fracsi what is you exact problem?

[2016-10-17 10:46] fracsi commented on #4175
It is just a question. Why is it needed? Or if it is needed, then why it cannot be configured?

[2016-10-17 10:53] OskarStark commented on #4175
always +1 for configuration, would you provide a PR?

[2016-10-17 10:59] greg0ire commented on #4175
Not sure it isn't configurable. The PR you linked to says it is a default value

[2016-10-17 10:59] fracsi commented on #4175
@OskarStark I think it needs more conversation about how it should be done.

Currently:
1. route_absolute can be configured if using a direct configuration for menu item (not admin), by providing label, route
2. route_absolute is always true if admin is used, only providing admin service id.
3. If both admin and route is defined, admin is ignored. ([`Configuration.php`](https://github.com/sonata-p

[2016-10-17 11:08] fracsi commented on #4175
@greg0ire If you check the usage of groupDefaults, it is passed to the Pool (setAdminGroups), and that is it. The only solution to modify it would be to get the adminGroups from Pool, modify them and reset them.

[2016-10-17 13:29] neo-james commented on #4171
I suggest that `Tab` is just a group but nested directly inside a `Tabgroup` this way a group can be moved inside or outside `TabGroup` easily and without change .
Also from code perspective a sample form tree will be like:
[code]
Also what will be the difference between `Tab` and `Group` from code perspective (IMHO both are same). Also a tab is also a group of fields.

[2016-10-17 19:03] Padam87 commented on #3582
For anyone who needs this asap: https://gist.github.com/Padam87/835a7025635d5ebc712421a50eec89d7

[2016-10-18 10:08] DavidGarciaCat opened #4176 "Empty file properties when uploading files"
Hello guys,

I have a little problem uploading images to my Symfony project. I hope you can help me.
### Environment

This is my local dev environment.
I am working with my macOS Sierra + Homebrew.
#### Sonata packages

[code]
#### Symfony packages

[code]
#### PHP version

[code]
## Subject

I have read these docs to know how to manage uploaded files:
https://sonata-project.org/bundles/admin/mast

[2016-10-18 11:23] fracsi commented on #4175
@OskarStark @greg0ire
One quick solution would be to remove `$items[$key]['admin'] = '';` line from [`Configuration.php`](https://github.com/sonata-project/SonataAdminBundle/blob/3.x/DependencyInjection/Configuration.php#L154), this way we can configure the menu item as array with an admin id.
E.g.:
[code]
Any thougths?

[2016-10-18 11:32] greg0ire commented on #4175
@amine2z , can you help? Also, can you link your ekino.com email address to your github account?

[2016-10-18 12:08] rande commented on #4175
I don't see the need of an absolute url... but I don't see the issue with absolute url too. If the url is not correct, it just mean the RequestContext is wrong, and should be correctly set either with settings the correct http headers in your RP or changing the value at the php level.

[2016-10-18 12:10] fracsi commented on #4175
@rande There is no issue. I just ran across this "feature"/"bug" and found an inconsistency. Because there is a configuration option, but it cannot be configured if using admin service ids. That is it.

[2016-10-18 13:01] amine2z commented on #4175
as @rande said i dont see what is wrong with this. For the moment route_absolute is not used for admin menu items https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Menu/Provider/GroupMenuProvider.php#L129.
@greg0ire i don't see why im pinged too, and why you talk about email adresse 😆

[2016-10-18 13:02] greg0ire commented on #4175
@amine2z : I pinged you because you're the main author of this piece of code, and I had a hard time finding you because you did not link the email address you make your commits with with your github account (and thus, your username).

[2016-10-19 10:46] hoffereka commented on #4014
Is there any official fix for this? It'd be nice to use compare functionality out of the box. Or could someone describe in a couple of steps how to get working it? What to override, what to remove or something? Thanks in advance!

[2016-10-19 12:05] Kaijiro opened #4177 "Impossible to create a OneToOne relation without having an Admin linked to it"
Hey,

I would like to create my application around Sonata but I'm encountering some problems ...

I extended the BaseUser to create my own User and I did the same for the UserAdmin.
I created an other entity on which the User has a relation OneToOne BUT I don't want this entity to be manageable by the user with an Admin linked to this entity.

The only way I want the user to fill those entities wi

[2016-10-19 12:07] greg0ire commented on #4177
Hi, we try to keep Github issues for bug reports and feature requests only. If you have a question, please ask it on Stack Overflow.

[2016-10-19 12:07] #4177 closed

[2016-10-19 15:57] Matheuss-oliveira commented on #931
@rande, I might have the same problem but I didn't understand very well the solution you proposed.

Could you give a little example of what it could be missing in the code? Thank you very much.

[2016-10-20 09:32] fracsi commented on #4175
@amine2z As you can see route_absolute is used for admin: https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Menu/Provider/GroupMenuProvider.php#L110

[2016-10-24 11:33] OlegBabakov commented on #3954
Maybe my article will help you:
http://logicm.beget.tech/2016/10/20/sonata-admin-3-filter-panel-right-side/

[2016-10-24 13:45] Mentos93 commented on #530
How can I remove a route depending on the user who's logged in. I want to remove the create route from my userAdmin so that people can't add users. Only the super admin should be able to add users.

If tried this;

[code]

But I get an error;

I can't think that there is no firewall configured.

Because this works to hide specific fields from my forms for only super admins.

[2016-10-24 20:32] caponica commented on #530
@Mentos93 - I think you're coming from the wrong angle. You don't remove the route for different users, just set the user permissions sensibly. E.g. if your general users do not have "CREATE" permissions on this object then they will not see any links to add/create and if they guess the URL they will be bounced.

See: https://sonata-project.org/bundles/admin/3-x/doc/reference/security.html

[2016-10-25 08:41] squizzypouet commented on #3896
Thanks for your solution !
Could you tell me where `$container` is coming from ?

[2016-10-25 08:45] mistris commented on #3896
`$container = $this->getConfigurationPool()->getContainer();`

[2016-10-25 12:16] Mentos93 commented on #530
@caponica I am completely aware of that, but I don't use the SonataUserBundle. I only use FOSUserBundle directly with SonataAdminBundle with Symfony 3. So I don't know another way.

[2016-10-25 13:43] caponica commented on #530
@Mentos93 - however your users are being authenticated, they will have some kind of permissions. If they have ROLE_SONATA_ADMIN_YOURADMIN_CREATE then they will see the add/create links and be able to access the route. If they do not have this persmission then they will not.

However, I suggest you open a ticket on stackoverflow and post a link to it here. The git tickets are not really the place f

[2016-10-25 14:44] Mentos93 commented on #530
@caponica OK, will do, thanks.

[2016-10-31 07:10] nykopol opened #4186 "Printing value only should be possible in specific template"
In a custom template, the twig helper `render_view_element` display a field inside a table row. But when we write a custom template we usually want more control.

It's possible to overwrite the template of the field, but it's not the most obvious way to do it in a custom template. The solution of printing the value with something like `{{object.attribut}}` is easy. But you lose the automatic trans

[2016-10-31 08:57] greg0ire commented on #4186
Isn't there a way to change the value before it is passed to the templates? Custom templates are useful if they contain markup image,  but if it is just values, not so much.

[2016-10-31 09:09] javiereguiluz commented on #4155
@OskarStark I've updated Sonata packages (and Symfony to 3.2-beta1):

[code]

And I'm still getting deprecation messages like this one:

![deprecated_log_message](https://cloud.githubusercontent.com/assets/73419/19849184/07c8f682-9f52-11e6-9c70-dbbb51fbc960.png)

Should I reopen this issue or create a new issue? Thanks.

[2016-10-31 09:37] greg0ire commented on #4155
Related PR : https://github.com/sonata-project/SonataBlockBundle/pull/338

[2016-10-31 10:14] nykopol commented on #4186
The `render_view_element` take as parameters the `FieldDescription` and the object. The only way to change the way it's displayed is by changing the template defined in the FieldDescription. But so, you must define a template for this specific attribute.

For example ,if you want a custom `show` template to display you beautiful blog post, a raw table listing the attributes of you entity is not so

[2016-10-31 10:26] greg0ire commented on #4186
I think it's a great idea. Maybe these helpers could rely on a new valueformatter or nameformatter class that could be associated with a field type, and overriden for a specific field?

[2016-11-03 11:20] Carteni opened #4188 "[Proposal] Edit inline with Entities Reference in choice field type."
Hi guys, congrats for your awesome work!
I'd like to inline-edit in list view injecting in the choice fields an entity id.

For example, in [HelperController::setObjectFieldValueAction method, before row 286](https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Controller/HelperController.php#L285):

[code]

This can be done with some tricks (overriding `sonata.admin.controller.admin` serv

[2016-11-03 11:22] greg0ire commented on #4188
I edited your message, you need to learn about triple backticks :wink:

[2016-11-03 11:32] greg0ire commented on #4188
Please edit your message to make this a link.

[2016-11-03 11:45] greg0ire commented on #4188
Hmmm… I think this piece of code could grow into a huge switch if we start trying everything we can to understand the client data. This sounds like an OCP violation, and I think there should be a better design than a bunch of ifs… maybe have an option to explicitely explain what is to be used instead of guessing it from the input? At least, the guessing part should be extracted from the controller

[2016-11-03 11:58] Carteni commented on #4188
Maybe before ajax request arrives to HelperController::setObjectFieldValueAction method, we could convert `$request->get('value')` in Entity (for example catching the ajax request into a Listener and set the Entity into the value's request).

[2016-11-03 12:34] greg0ire commented on #4188
You mean with a `ParamConverter`?

[2016-11-03 13:37] Carteni commented on #4188
Something like this:

[code]

HelperController is untouched.

[2016-11-03 13:41] greg0ire commented on #4188
It's a good start but it would have to be more generic : you're searching in the ORM right now, but maybe you should be looking into the ODM (or any other persistence system supported by Sonata). IMO relying on a `class` option might not be enough

[2016-11-03 13:53] Carteni commented on #4188
You are right. Maybe with a new type field which extends 'choice' type?

[code]

[2016-11-03 13:56] greg0ire commented on #4188
I would something more like what happens in the form mapper : define the new field type in the doctrineormbundle, which means the name wouldn't be 'entity_choice', but 'doctrine_something', and you wouldn't need to specify the manager.

[2016-11-03 14:02] Carteni commented on #4188
Ok, and the ParamConverterListener in the doctrineormbundle too.

[code]

[2016-11-03 14:04] greg0ire commented on #4188
Yes. Have a look at how the form mapper does this, after all, it's almost the same thing, right?

[2016-11-03 14:14] Carteni commented on #4188
But if i change 'choice' type field to 'doctrine_inline_edit' (fox eample), the column in ListMapper does remains editable or it converted in link?

[2016-11-03 14:29] greg0ire commented on #4188
I don't know, maybe it will have to be something separate like `inline_form_type` instead of just `type`

[2016-11-04 11:00] sruj opened #4189 "How do I know what options are available as 3rd argument of ListMapper->add()"
...same with DatagridMapper and FormMapper.

[2016-11-04 11:07] greg0ire commented on #4189
Hi, we try to keep Github issues for bug reports and feature requests only. If you have a question, please ask it on Stack Overflow.

[2016-11-04 11:07] #4189 closed

[2016-11-04 11:10] sruj commented on #4189
ok, sorry for that
http://stackoverflow.com/questions/40421034/how-do-i-know-what-options-are-available-as-3rd-argument-of-listmapper-add-in

[2016-11-04 13:50] #4147 closed

[2016-11-04 15:00] Carteni opened #4190 "ACL in SonataAdmin"
Hi guys,
i'm working with ACL in SonataAdmin, configs are all done but the dashboard is empty for a Guest User.
I'm not used SonataUserBundle because is not compatible).

Thanks.

[code]

### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

[2016-11-04 16:23] core23 commented on #4190
We try to keep github issues for feature requests and bugs only.

Please have a look at the [docs](https://sonata-project.org/bundles/) or use [StackOverflow](http://stackoverflow.com/questions/tagged/sonata) for general support and questions.

[2016-11-04 16:23] #4190 closed

[2016-11-04 16:25] Carteni commented on #4190
@core23 Ok, thanks. Unfortunately i don't found any solutions... seems that permissionMap not be linked to Sonata\AdminBundle\Security\Acl\Permission\AdminPermissionMap...

[2016-11-06 19:03] jlamur opened #4194 "Is the suffix "id : (%s)" in ModelChoiceLoader a really good choice ?"
A screenshot explains better than my words, so :
![capture du 2016-11-06 19-49-03](https://cloud.githubusercontent.com/assets/7054317/20040603/8fdc28e8-a45a-11e6-81a4-f70495567264.png)

The code that cause this behavior is here : https://github.com/sonata-project/SonataAdminBundle/blob/5745cdbfe377761caa0277ff2a5ed98772199c96/Form/ChoiceList/ModelChoiceLoader.php#L124

It is obvious in my opinion

[2016-11-06 19:37] greg0ire commented on #4194
That if you do that, there is no way to tell both items apart. So why do it?

[2016-11-06 19:49] jlamur commented on #4194
@greg0ire because it's ugly, and you should let the developer choose if he want to display an unique identifier for its entities. This is not about if it's technically or not doable.

With this approach, there's no choice. In my case, the **__toString()** function will return a string which is always unique. So there is absolutely no need to display an id.

[2016-11-06 19:50] greg0ire commented on #4194
But if it is really unique, the id does not get displayed, right?

[2016-11-06 19:57] jlamur commented on #4194
@greg0ire Well... You're absolutely right !
I only tested with identical values and I had not understood right the code that I mentioned...
Sorry for the waste of time.

[2016-11-06 19:57] #4194 closed

[2016-11-06 20:26] greg0ire commented on #4194
Haha no biggie

[2016-11-06 23:17] caponica opened #4195 "updating jquery and jqueryui"
Hi,

what are the plans relating to upgrading the jquery/jqueryui libraries?

jquery is now on 3.1.1 but I think SonataAdmin uses 2.1.4, and jqueryui is on 1.12.1 but SonataAdmin uses 1.10.4, both of which I think are from 2014?

In particular:

 - Are there any known Sonata issues with upgrading these to the latest versions?
 - How will any future library upgrade be managed? (since some people wi

[2016-11-07 07:04] greg0ire commented on #4195
If jQuery UI uses semver, I think we can upgrade it just fine. jQuery itself however should have to be upgraded on the next major version (so the master branch), and since we have no tests manual check should be done :/

[2016-11-07 10:12] caponica commented on #4195
That's what I thought... scary!

P.S. I don't think jqueryui uses semver... there are breaking changes betweeen 1.11 and 1.12 and methods deprecated in 1.10 were removed in 1.11.

[2016-11-07 10:12] Mentos93 opened #4196 "Render forms in a Sonata 'show' template."
I've already asked this question on Stack Overflow, but I've noticed that Sonata support on SO isn't really great. I desperately need support from someone please.
___

I need to implement a form inside my show template of a specific admin. In the original demo of Symfony a great example is shown. Please take a look at it here;

- [Controller](https://github.com/symfony/symfony-demo/blob/master/src

[2016-11-07 10:15] Mentos93 commented on #4196
@webdevilopers I saw a blog post from you where you override the list template and add a little form there (if I understand correct). I was hoping that you could help me here too please.

[2016-11-07 10:18] greg0ire commented on #4196
You didn't respect the issue template dude. If you want help, at least respect the rules. You can link to your question on SO, but I'm closing this.

[2016-11-07 10:18] #4196 closed

[2016-11-07 15:19] sruj opened #4198 "How do I know what options are available as 3rd argument of ListMapper->add() in SonataAdminBundle"
for 3 days nobody answer at [stack ](http://stackoverflow.com/questions/40421034/how-do-i-know-what-options-are-available-as-3rd-argument-of-listmapper-add-in)so I put it here

How do I know what options are available as 3rd argument of ListMapper->add() in SonataAdminBundle

You says there is a link with options http://symfony.com/doc/current/bundles/SonataAdminBundle/reference/action_list.html#o

[2016-11-07 15:22] greg0ire commented on #4198
Hi, we try to keep Github issues for bug reports and feature requests only.

I don't have time to look into this, so I'll just add a bounty on your SO question.

[2016-11-07 15:22] #4198 closed

[2016-11-07 15:43] sruj commented on #4198
thank You.

[2016-11-07 15:57] Spomsoree opened #4199 "I can't access /admin with https://"
Hi

I'm getting redirected to
http://

I tried to add `requires_channel: https` to the `^/admin/`path
Adding `schemes [https]`didn't help either.

As soon as I'm on the dashboard I can put https:// in front of the URL without getting redirected.

The same problem exists on demo.sonata-project.org

[2016-11-07 16:32] greg0ire commented on #4199
Does `debug:router` show anything about this ?

[2016-11-08 08:50] webdevilopers commented on #4196
Sorry for the late response @Mentos93 . I no longer use Sonata for "complex" cases, only for pure CRUD operations.

The only place I know where `_sonata_admin` appears is in the `routing` file e.g.:
[code]

And your error indeed shows an empty route:

Good luck!

Maybe some of my older blog entries can help you with other cases:
* http://blog.webdevilopers.net/category/php/frameworks/symfony2/bund

[2016-11-08 08:57] OskarStark commented on #4199
Could you solve your problem @Spomsoree ?

[2016-11-08 08:59] Mentos93 commented on #4196
Good day @webdevilopers, no problem at all. Geg0ire has helped me in the mean time, and we got a solution. It is on SO (with a link in the issue above). I still have to write an official answer for the question on SO, but it can be read in the comments. Thanks for your willingness to help anyway.

[2016-11-08 09:21] Spomsoree commented on #4199
debug:router | grep /admin returns:
- sonata_user_admin_security_login                                    ANY        ANY      ANY    /admin/login

- sonata_user_admin_security_check                                    POST       ANY      ANY    /admin/login_check

- sonata_user_admin_security_logout                                   ANY        ANY      ANY    /admin/logout

- sonata_admin_redirect

[2016-11-08 09:22] greg0ire commented on #4199
The `sonata_admin_redirect ` route seems interesting. Maybe try `app/console debug:router sonata_admin_redirect  `

[2016-11-08 09:23] Spomsoree commented on #4199
![image](https://cloud.githubusercontent.com/assets/14187981/20093499/53e81ff6-a59d-11e6-9186-b4472fe384be.png)

Is there a reason why this happens on the demo-page too?

[2016-11-08 09:26] greg0ire commented on #4199
You need to learn how to copy/paste from a terminal and use markdown. Not sure if this route is responsible for this redirection after all… maybe have a look at your symfony logs to see if there is anything interesting.

[2016-11-08 10:34] Spomsoree commented on #4199
I cannot find any hint on why I'm getting redirected.

The strange thing for me is that `/admin/login` works find, same for `/admin/dashboard`
The reason why I made this issue is the fact, that https://xxxxx.demo.sonata-project.org/admin also redirects to an unsecure connection.

Sorry about my use of markdown

[2016-11-08 10:41] greg0ire commented on #4199
Do you see two parts for the two requests in the sf logs? If not, the problems comes from your webserver.

[2016-11-08 11:22] Spomsoree commented on #4199
<img width="1063" alt="screen shot 2016-11-08 at 12 19 49" src="https://cloud.githubusercontent.com/assets/14187981/20097263/dfc5d832-a5ad-11e6-9f98-772c3c55667f.png">

This is my request.

[2016-11-08 12:37] greg0ire commented on #4199
I see no https request. The redirection from `admin/` to `admin` is done by the route we discussed earlier.

[2016-11-08 13:01] greg0ire commented on #4199
Maybe show use your tls setup? Maybe you're using a proxy?

[2016-11-08 13:30] Spomsoree commented on #4199
My first request was `https`, we host it on AWS, so there is definitely a proxy.
But thats not a problem on every other route.

I'll try to debug the route you told me.
Thanks

[2016-11-08 13:31] greg0ire commented on #4199
Have you configure the trusted proxies?

[2016-11-08 13:33] Spomsoree commented on #4199
No, I didn't. Will try this later.
Thanks

[2016-11-08 15:05] blaues0cke commented on #4199
The connection using https is working on our systems, only the route `/admin` seems to have a special behavior. We can reproduce this in the demo environment on http://demo.sonata-project.org/ and even in every project that is using Sonata Admin, on aws, on localhost, everywhere. Should not be related to proxy settings since other urls (regardless whether behind `/admin` or in the "frontend") are

[2016-11-08 15:21] greg0ire commented on #4199
Maybe b/c it is the only one that tries to forces https ?

[2016-11-09 13:59] sr972 opened #4203 "FormMapper->add with 'sonata_type_model_autocomplete' uses ACL, while 'sonata_type_model' doesn't"
Hi,

i've found an interesting behaviour on using ACL in the Admin Bundle and when ACL seems to be respected and when not.

Info on versions:

- Symfony 2.8
- AdminBundle 3.8
- FOS UserBundle 1.3.6
- Using sonata.admin.security.handler.acl (in combination with CoopTilleulsAclSonataAdminExtensionBundle)

Situation:
You have 2 entities, lets call them `Users` and `Groups`. There is a OneToMany (Grou

[2016-11-09 14:30] auipga opened #4204 "Can't create object with allow_if_object_identity_unavailable = false"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

New objects can't be created when `security.acl.voter.allow_if_object_identity_unavailable` is set to `false`.
It makes sense, but when an object isn't persisted yet, there can't be an object identity to allow it's own creation.

## Steps to reproduce
Change your security.yml to
[cod

[2016-11-09 14:36] auipga commented on #4204
A possible solution is to remove the `$object` as parameter in https://github.com/sonata-project/SonataAdminBundle/blob/2.x/Controller/CRUDController.php#L616 but I don't know, if this breaks other functionality.

[code]

[2016-11-10 15:36] KevinM2k commented on #3727
@ju1ius @a1ku are we any further with this, we are getting a similar issue when trying to use autocomplete in blocks (so no related entity) - same error message for us too.

[2016-11-13 11:14] davidromani commented on #2066
There is somebody still working on this issue?

[2016-11-13 11:33] core23 commented on #2066
Feel free to be the first one 👍

[2016-11-13 13:26] sajad-kioumarsi commented on #1263
But that is not the solution if you want to use acl and not roles to handle security. I have the same problem and still trying to find the solution

[2016-11-13 14:28] greg0ire commented on #1263
Argument 2 isn't supposed to be this, what outdated version of Sonata are you using?

[2016-11-13 17:00] sajad-kioumarsi commented on #1263
I recieve this which ask about Argument 3:

`Type error: Argument 3 passed to Sonata\AdminBundle\Security\Handler\AclSecurityHandler::__construct() must be an instance of Symfony\Component\Security\Acl\Model\MutableAclProviderInterface, null given`

[2016-11-13 17:03] greg0ire commented on #1263
Here is the [service definition](https://github.com/sonata-project/SonataAdminBundle/blob/240ecbd02d453f9acaf81e00112ff5d8dae4459b/Resources/config/security.xml#L25). I notice there is an `on-invalid="null"` attribute, might be the problem here.

[2016-11-13 17:05] greg0ire commented on #1263
You should use `debug:container` to check whether `security.acl.provider` is defined.

[2016-11-13 17:13] sajad-kioumarsi commented on #1263
yes it was not on services!

I just add this in my config file and it is working:

`    acl:
        connection: default`

[2016-11-13 17:15] greg0ire commented on #1263
Good job! Can you maybe improve the docs?

[2016-11-15 14:36] verheyenkoen commented on #3368
The default `AND` condition is switched to `OR` [here](https://github.com/sonata-project/SonataAdminBundle/blob/240ecbd02d453f9acaf81e00112ff5d8dae4459b/Search/SearchHandler.php#L57).

Fixing that won't be sufficient though, since you want an `OR` condition between the `global_search` filters so that would only work for admins with only one `global_search` filter.

[2016-11-15 15:53] #1073 closed

[2016-11-15 16:19] core23 opened #4205 "Deprecate `header_style`"
We should drop the `header_style` option in https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Resources/views/CRUD/base_list.html.twig#L62, because styling should be done with CSS, not in the html DOM.

[2016-11-16 12:07] BenjaminBeck commented on #3474
I do still get this error using ``sonata-project/admin-bundle`` / ``3.9`` and symfony ``3.1.6``.

The exact error message is: ``The extended type specified for the service "sonata.admin.form.extension.field.mopa" does not match the actual extended type. Expected "Symfony\Component\Form\Extension\Core\Type\FormType", given "form".``

In the code of ``Sonata\AdminBundle\Form\Extension\Field\Type\Mop

[2016-11-16 12:50] greg0ire commented on #3474
The line you're linking to should read `return Symfony\Component\Form\Extension\Core\Type\FormType` when symfony >=2.8 is in use. Can you make a PR?

[2016-11-16 13:00] BenjaminBeck commented on #3474
I am not confident that changing that line is correct.
Here is another Example:
https://github.com/sonata-project/SonataAdminBundle/blob/3.9.0/Form/Extension/ChoiceTypeExtension.php#L67

I got it running without exception - my error was, that i only registered ``SonataAdminBundle``. After also registering the other bundles the error is gone.

There seems to be a additional config/mapping for the f

[2016-11-16 13:04] greg0ire commented on #3474
You could just try, maybe ?

Closing this again then.

[2016-11-16 13:04] #3474 closed

[2016-11-16 13:08] BenjaminBeck commented on #3474
I tried, but then there was the same exception with the ChoiceType..

[2016-11-16 13:09] greg0ire commented on #3474
Then maybe it needs to be changed too?

[2016-11-16 13:11] BenjaminBeck commented on #3474
Yes - but i am really not so deep into symfony and the config system.. I dont feel like i should make a PR.
Maybe this could be some kind of backward compatibility thing for symfony 2.x ..

[2016-11-16 13:13] greg0ire commented on #3474
Ok, drop it then… someone else will surely fix this… surely.

[2016-11-17 13:56] paoloCastroPullmedia opened #4207 "GEt the id of curent element in configureListFields class Admin"
Hello,

How I can get the Id of the current Object In ConfigureListFields?

$this->getSubject() return me null

THank you

[2016-11-17 13:56] greg0ire commented on #4207
Hi, we try to keep Github issues for bug reports and feature requests only. If you have a question, please ask it on Stack Overflow.

[2016-11-17 13:56] #4207 closed

[2016-11-20 15:19] fliespl commented on #2080
I haven't found the resolution to this in docs. Probably still valid request.

[2016-11-22 08:37] aurelijusrozenas opened #4208 "Choice values not translated for list and show fields when 'choices_as_values' => true is used (as in Symfony 3 is standard)"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject
I am updating admins to future proof choice arrays with `'choices_as_values' => true`. Form fields and Datagrid filter fields - works as expected. Show and list fields - ignores `'choices_as_values' => true,`.

## Steps to reproduce
[code]

## Expected results
I would expect value to

[2016-11-22 19:01] Okimbellum commented on #3073
I have same problem. I tried different versions (`^3.9`  `^3.8`  `3.x-dev`) different keys (`--prefer-source`  `--prefer-dist`  `--prefer-stable`) and all their combinations. Tried to install it in new project. Nothing helps.  Does not matter `install` or `require`. I get same result any time.
Composer cannot to open file `vendor/composer/841ba6bd/sonata-project-SonataAdminBundle-7008fa8\Resources

[2016-11-22 19:34] #4014 closed

[2016-11-22 20:09] greg0ire commented on #3073
I think I have already seen this bug, it has to do with the length of the path,which is too long on Windows, sadly. Have a look at the composer issues.

[2016-11-22 20:10] greg0ire commented on #3073
I think you could work around it by forcing composer to use the source instead of the dist

[2016-11-23 10:23] vasilvestre opened #4212 "Missing argument 1 for FOS\UserBundle\Model\Group::__construct() when trying to add FOSGroup"
### Sonata 3, FOS 2, Symfony 3

#### Basic Sonata package ORM

sonata-project/admin-bundle              3.9.0 The missing Symfony Admin Ge...
sonata-project/block-bundle              3.2.0 Symfony SonataBlockBundle
sonata-project/cache                     1.0.7 Cache library
sonata-project/core-bundle               3.1.1 Symfony SonataCoreBundle
sonata-project/doctrine-orm-admin-bundle 3.1.1 Symfo

[2016-11-23 10:23] Okimbellum commented on #3073
@greg0ire Do you mean "ZipArchive::extractTo() Full extraction path exceed MAXPATHLEN (260)"? It was my previos problem. I fixed it using mklink /j in cmd. But this error seems something else.

[2016-11-23 10:32] greg0ire commented on #3073
[code]

You're right it's "only" 207 chars. But I think this really is an issue you should report to Composer (or even to whoever wrote ZipArchive).

[2016-11-23 10:34] Okimbellum commented on #3073
ok.
Thanks.

[2016-11-23 10:42] greg0ire commented on #4212
Can you show us a strack trace?

[2016-11-23 11:09] vasilvestre commented on #4212
@greg0ire that's the only one left, I clean my logs so often, sorry !

[2016-11-23 11:11] greg0ire commented on #4212
What? I don't understand… please reproduce the bug on your development environment and provide us with a stack trace.

[2016-11-23 11:22] vasilvestre commented on #4212
`[2016-11-23 12:21:44] php.INFO: This class is deprecated since 3.2 and will be removed with the 4.0 release.Use Sonata\BlockBundle\Block\Block\Service\AdminBlockServiceInterface instead. {"type":16384,"file":"/home/vsilvestre/Projets/DemandAdministratorApp/var/cache/dev/classes.php","line":14776,"level":28928,"stack":[{"function":"handleError","class":"Symfony\\Component\\Debug\\ErrorHandler","ty

[2016-11-23 11:28] greg0ire commented on #4212
from `CONTRIBUTING.md` :

Is this what you did? Because this stack trace is very hard to read.

[2016-11-23 12:15] vasilvestre commented on #4212
@greg0ire Sorry you just leaned me stack trace..
`[1] Symfony\Component\Debug\Exception\ContextErrorException: Warning: Missing argument 1 for FOS\UserBundle\Model\Group::__construct(), called in /home/vsilvestre/Projets/DemandAdministratorApp/vendor/sonata-project/doctrine-orm-admin-bundle/Model/ModelManager.php on line 516 and defined
    at n/a
        in /home/vsilvestre/Projets/DemandAdminist

[2016-11-23 12:48] BenjaminBeck commented on #4022
I needed a quick solution:
[code]

[2016-11-23 13:45] fracsi commented on #4208
Why do you want to use a `FormType` for list and show?

[2016-11-23 14:33] aurelijusrozenas commented on #4208
Yeah, sorry, not using that anymore, old code. Updated.

[2016-11-23 14:43] fracsi commented on #4208
@aurelijusrozenas My previous comment is still valid. Why should show and list choice fields need to flip the choices?

[2016-11-23 14:47] aurelijusrozenas commented on #4208
So you can use single choice array without thinking about it. Otherwise you should pass one array to form and datagrid and flipped one for list and show. `'choices_as_values' => true` is default from symfony 3.0. Did I miss anything?

[2016-11-23 14:55] fracsi commented on #4208
@aurelijusrozenas At the moment, that is right.

[2016-11-23 16:09] lushc commented on #2651
I came across this issue while upgrading an existing project from 2.2 due to the changes in b35581139a0e110adc11aad20258339b983746bc. You'll encounter this error when the admin is a child and its route pattern doesn't follow the expected format of having both `id`  and `childId` request attributes present, e.g. editing a customer's order: `/customer/{id}/orders/{childId}/edit`. Since I had base ro

[2016-11-23 17:55] greg0ire commented on #2651
Thanks for sharing @lushc

[2016-11-23 18:47] greg0ire commented on #4208
Just to make sure I got it right : list and show should be aware of what convention is in use for the `ChoiceType` because people probably want to provide the same source array with the same convention for list, show, and form, is that right?

[2016-11-23 22:29] greg0ire commented on #4212
I've edited your message and deleted our exchange about the stack trace to make this a bit more readable.

[2016-11-23 22:36] greg0ire commented on #4212
Your fix is exactly what is done in [SonataUserBundle](https://github.com/sonata-project/SonataUserBundle/blob/3.x/Admin/Model/GroupAdmin.php#L35). Why not point out you were not using it, and instead say "Typical installation" ? It's not typical at all… Closing.

[2016-11-23 22:36] #4212 closed

[2016-11-23 22:38] greg0ire commented on #4199
@Spomsoree @blaues0cke any news? It's been 15 days… closing this, but feel free to ask for a reopening if you still think this is a bug on our end.

[2016-11-23 22:38] #4199 closed

[2016-11-23 23:29] blaues0cke commented on #4199
We workarounded this issue using a kernel event subscriber so far, but the basic issue/problem still exists.

[2016-11-24 07:16] greg0ire commented on #4199
Did you check the things I asked you to check? Namely, is there an https requirement on the route, and did you configure trusted proxies?

[2016-11-24 08:35] fracsi commented on #4208
I think `choices_as_values` option exists in `ChoiceType` because there was a need to be able to duplicate values with different labels.

E.g.:
[code]

But when showing the value in the list or show views there should only be one resolution for one value. How can you determine which label to show for the previous example, if the database holds only the value of the selected option (1)?

[2016-11-24 08:50] greg0ire commented on #4208
Any label should do, right? So just take the first one, problem solved. That's probably how they do it in symfony when editing an existing object.

[2016-11-24 08:57] fracsi commented on #4208
@greg0ire I guess so. I think it could be implemented, but with respecting BC. I think a developer could choose to use different arrays for displaying and for forms.

In my opinion:
If the `choices_as_values` option gets implemented in `ListMapper` and `ShowMapper`, then the default value for it should be `false`, marking in the docs that `true` would mean a similar behaviour as `ChoiceType`. I'm

[2016-11-24 09:19] greg0ire commented on #4208
On the contrary, I think there should be a warning, since the sensible thing to do is to be consistent with symfony, which implies with should move towards choices as values, and deprecate choices as keys

[2016-11-24 09:24] fracsi commented on #4208
@greg0ire And what if i would like to display in list and show views same labels for different values? E.g value 1 and 2 means the same thing for the user, but in the application there should be a difference.

[2016-11-24 09:27] greg0ire commented on #4208
I can't imagine a case where that would make sense. Can you show me a concrete example? Because if the user can't tell the difference, all they will see in your choice list is the same label twice. And they won't be able to know which to choose, which is weird to me.

[2016-11-24 09:30] fracsi commented on #4208
I use it for payment statuses.

1 - Created
2 - Processed
3 - Payment in progress
4 - Payment captured

But for the user:
1 - Created
2 - In progress
3 - In progress
4 - Completed

2 and 3 are for only internal and logging. The user should only see "In progress", and in the logs he can check the exact description.

[2016-11-24 09:34] greg0ire commented on #4208
Ok so in your form, you will have different translations for different labels, and in your show, you will have the same translation, but the labels will still be different (otherwise it means you have two enumerations for the same thing in your model, which means your model is not the same internally and for the client).

[2016-11-24 09:36] fracsi commented on #4208
@greg0ire I guess it could be a solution.

[2016-11-29 20:12] Lednick opened #4217 "What I need to do?"
Remaining deprecation notices (4)
The Sonata\AdminBundle\Admin\AbstractAdmin::setTranslator method is deprecated since version 3.9 and will be removed in 4.0: 4x
    4x in DefaultControllerTest::testIndexAction from Tests\AppBundle\Controller

I have symfony 3.1.7 and SonataAdminBundle 3.10

[2016-11-29 20:36] core23 commented on #4217
Please use the issue template!

[2016-11-29 20:36] #4217 closed

[2016-12-01 06:35] mba242 opened #4218 "Dropdown arrows in left-tree-menu position is wrong"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]
## Subject
Dropdown arrows in left-tree-menu position is wrong

Browser: Firefox 34.0 perhaps others too

## Steps to reproduce

All pages

## Actual results

After comparing HTML-Structure with https://almsaeedstudio.com/themes/AdminLTE/index2.html

Solution:
./Resources/views/Menu/sonata_menu.h

[2016-12-01 07:12] greg0ire commented on #4218
Can make a PR with before and after screenshots?

[2016-12-01 10:16] mba242 commented on #4203
Just confirm, i think not so many uses CoopTilleulsAclSonataAdminExtensionBundle.
sonata_type_model_list have same behavior like sonata_type_model_autocomplete.

[2016-12-01 14:21] auipga commented on #4204
Can someone please review this?

[2016-12-01 14:24] greg0ire commented on #4204
I can't find `allow_if_object_identity_unavailable` anywhere in the project. Can you link to the relevant piece of code in the relevant repo.

[2016-12-01 14:55] greg0ire commented on #4204
Can't find relevant docs though… can you ?

[2016-12-03 15:29] Arkemlar opened #4220 "The list view custom data mapping is not supported or never explained + solution"
I wasted a tonn of time to find out a way to make custom mapping for list view. It is never explained or I just not found it using google.
Setting castom DataMapper instance for edit view was easy:
[code]
But list view doesn't use DataMapper // symfony Forms to show list data - it is used only for filters.
My solution was to create my own FieldDescription class and override getFieldValue method:
[

[2016-12-03 15:50] greg0ire commented on #4220
Hi.

What are data mappers? I can't find anything on them in the Symfony docs… how do they compare to data transformers?

I think all the PRs you could contribute would be very welcome. I'm not guaranteeing they will be merged but I can tell you they will be at least reviewed.

[Some info on DTOs](https://github.com/sonata-project/SonataDoctrineORMAdminBundle/issues/501).

If you want, you can sta

[2016-12-03 16:53] Arkemlar commented on #4220
@greg0ire check this [nice post](https://webmozart.io/blog/2015/09/09/value-objects-in-symfony-forms/) about ValueObjects and DataMappers (it goes in second half after VO explanation) or [this slides](https://speakerdeck.com/webmozart/3-steps-to-symfony2-form-mastery?slide=61). It's awesome, but not covered in Symfony docs (strange). They are very useful as bridges between objects and form's model

[2016-12-03 17:59] greg0ire commented on #4220
Sadly I didn't use them much more than described in the link I provided. Plus, I'm not sure it's relevant, b/c the link is about doctrine DTOs, not DDD DTOs…

The post you provided is nice indeed, and someones asks in the comment about the difference, but webmozart says he'll reply in another post.

[2016-12-03 18:09] Arkemlar commented on #4220
@greg0ire yes, speaking about DataMapper the post is not all-sufficient, thats why I continued searches and found slides and then found youtube lecture ([here](https://youtu.be/Vnvn7VLAu8I)) on similar slides. These slides and reading setData method of Form class gave me strong understanding of how form component works.

[2016-12-03 18:13] Arkemlar commented on #4220
Btw my issue is still open. I would like to read more feedbacks from contributors, especially about using data transformations / DTOs in order to make sonata friendly with DDD.

[2016-12-03 18:39] greg0ire commented on #4220
hey! Shame on me, I actually sat through this lecture! Get I'll watch it again, I remember it was very interesting.

@sonata-project/contributors , can you give your opinion on this matter. I personally think that being more
DDD-friendly would be a great thing.

[2016-12-03 18:52] greg0ire commented on #4220
Ok so I think I understand the difference :

- use a data transformer when you have standard getters/setters, but need to "deserialize" the request data, which is strings, integers, and so on, into more complicated types like a value object
- use a data mapper when you have non-standards getters/setters (when you do DDD)

[2016-12-05 11:17] eldiablo62 commented on #4152
I have the same problem with symfony 3.2 and sonata 3.x dev and 3.10.0 :(

[2016-12-05 11:25] greg0ire commented on #4152
Well then carry #4216 yourself

[2016-12-06 12:05] ureimers commented on #3130
According to https://sonata-project.org/bundles/admin/master/doc/reference/action_list.html#visual-configuration you have to use `header_style`, so you would end up with:

[code]

That actually worked for me.

[2016-12-06 13:05] webdevilopers commented on #3130
Can you confirm this indeed does work for you @QuentinPolantis ? Then we can close this issue.

[2016-12-06 14:16] QuentinPolantis commented on #3130
Hello,

Yes, this issue seems to have been fixed now and it's working for me as well.

[2016-12-06 14:20] falexis77 opened #4224 "Access on private property : Symfony\Bridge\Twig\Extension\FormExtension::$renderer"
### Environment
Linux 16.04
#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject
I have seen that many have come across this error when trying to create or add a new object.
I have the latest version of Sonata Admin and I want to know when the correction of this bug will be done

`$this->get('twig')->getExtension('Symfony\Bridge\Twig\Extension\FormExten

[2016-12-06 14:20] greg0ire commented on #4224
See #4216

[2016-12-06 14:21] #3130 closed

[2016-12-06 14:21] greg0ire commented on #3130
Thanks for figuring that one out.

[2016-12-06 14:24] greg0ire commented on #4224
Closing in favor of #4152

[2016-12-06 14:24] #4224 closed

[2016-12-06 18:20] antoinefortin commented on #1231
Still relevant six years later guys. If you would like to share a trick would be really appreciated.

[2016-12-06 22:31] greg0ire commented on #1231
You mean 3, right?

[2016-12-09 16:54] Arkemlar commented on #4220
@greg0ire you are right. Also there is mine +1 for using some sort of data mappers for list mode. I need more understanding on internal execution flow of sonata admin to do that properly.

Realisticly speaking, the right way there is to povide some **easy** technique to let developers manually write a middle layer which is responsible for interaction with custom services/repositories which are fet

[2016-12-09 17:02] greg0ire commented on #4220
One big thing you understood is that by using `getFormBuilder` on a sonata form mapper, you end up with a regular Symfony form builder. If this is not documented I think maybe you could contribute it? Also, having a cookbook entry on how to use Sonata with DDD methodology would be very nice. Not saying you can, but starting something to show what is possible and what is unresolved would help some

[2016-12-09 17:33] Arkemlar commented on #4220
That `$formMapper->getFormBuilder()->setDataMapper($this);` is tricky and might be documented, I agree. But with DDD I still investigating solution. Currently I am trying to cheat letting sonata bypass the Domain and work directly with entities in its native CRUD style. It compleatly brokes DDD doctrine (meaning not Doctrine ORM) but my time is stronly limited and it is temporary solution. When I

[2016-12-11 14:25] greg0ire commented on #4220
Ok so let's try to see how it works. The entrypoint is the [CRUDController::editAction](https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Controller/CRUDController.php#L231).

It starts by retrieving the object from the database, and then asks, the admin for a form. And by that, I mean, a regular Symfony form, nothing fancy. The form is then bound to the request. If the form is valid, t

[2016-12-12 09:51] QuentinPolantis opened #4227 "File upload in collection"
Hi all,

I'm facing a weird issue. I'm trying to have a file upload in sonata_type_collection field.
For this i've to perform an upload method for each item of the collection.

The issue looks like a front-end issue.

<img width="1235" alt="capture d ecran 2016-12-12 a 10 41 06" src="https://cloud.githubusercontent.com/assets/14995853/21094528/a8407290-c057-11e6-815b-f893c2d5e4ad.png">

At the ver

[2016-12-12 13:12] #4152 closed

[2016-12-12 15:27] GCalmels opened #4229 "How do I remove translations from admin class?"
Hi,

Since v3.9, translations no longer have to be managed by the class admin but is it possible to have examples of how to do it via the controller or via the template?

It is understandable that you want to decrease the dependency of the admin class but it does not complicate things to quickly have a functional bundle for a dev?

Before it was possible to add only one admin class and everything

[2016-12-12 15:30] greg0ire commented on #4229
You mean things are no longer translated when you add a new admin? I doubt that… have you checked the Symfony profiler? It shows what the translator tries to translate.

[2016-12-12 15:32] GCalmels commented on #4229
No no sorry, there are just deprecated notices! And I tried to remove them

[2016-12-12 15:33] greg0ire commented on #4229
What kind of deprecation notice do you get? Can you give an example?

[2016-12-12 15:34] GCalmels commented on #4229
Yes of course :
The Sonata\AdminBundle\Admin\AbstractAdmin::setTranslator method is deprecated since version 3.9 and will be removed in 4.0.

[2016-12-12 15:35] greg0ire commented on #4229
Not sure if this answers your question, but I think that to translate things, you will have to create translation files, like before… and that's all.

[2016-12-12 15:41] GCalmels commented on #4229
In fact, everything works fine but I have some deprecated notices. For example :
[code]

If I understood correctly: "trans" will be deleted so I wanted to know how to correct it

[2016-12-12 15:45] greg0ire commented on #4229
Not sure why `setTranslator` is called at all… Can you edit this method , throw an `\Exception` in it, and post the resulting stack trace?

[2016-12-12 15:50] greg0ire commented on #4229
[Here is the related PR](https://github.com/sonata-project/SonataAdminBundle/pull/4124/files) if you're interested.

[2016-12-12 15:52] GCalmels commented on #4229
Ok, I will take a look!
I have this notice too : The Sonata\AdminBundle\Admin\AbstractAdmin::trans method is deprecated since version 3.9 and will be removed in 4.0

[2016-12-12 16:55] GCalmels commented on #4229
When I clear the cache, I have 0 deprecated notice but if I change one thing in my admin class, all notices returns!

Normally the notice should only appear if I call setTranslator, trans ... in php in the Admin class?

[2016-12-12 16:56] greg0ire commented on #4229
No, it doesn't matter if you call it directly or indirectly, through Sonata. Did you try getting a stack trace?

[2016-12-12 16:59] GCalmels commented on #4229
<img width="985" alt="capture d ecran 2016-12-12 a 17 58 31" src="https://cloud.githubusercontent.com/assets/5655839/21108195/a2060d30-c094-11e6-88aa-7998cc7130d9.png">

[2016-12-12 17:01] greg0ire commented on #4229
Are you sure you're not calling `setTranslator` yourself, in `ClassifiedAdmin` line 227? Or is it where you are throwing the exception? Or did you override `setTranslator` there? Also, please note that there is a text version of the stack trace below, no need for a screenshot next time.

[2016-12-12 17:07] GCalmels commented on #4229
Ok, sorry!
No, I'm throwing the exception l.227. I never call setTranslator anywhere...
And my class has configureShowFields with $showMapper :
[code]

[2016-12-12 17:09] greg0ire commented on #4229
What I'm asking is "where is setTranslator called?". To answer that, edit the `SonataAdminBundle\Admin\AbstractAdmin::setTranslator` method, and throw an exception in it. This should provide you with a stack trace showing where it is called

[2016-12-12 17:11] bgaleotti commented on #4229
Could it be this lines (deleting them seems to remove the deprecation)?

[Translation1](https://github.com/sonata-project/SonataAdminBundle/blob/d8fc2edae14bc22d32e7d99990bcea54b626d01a/DependencyInjection/Compiler/AddDependencyCallsCompilerPass.php#L211)
[Translation2](https://github.com/sonata-project/SonataAdminBundle/blob/d8fc2edae14bc22d32e7d99990bcea54b626d01a/DependencyInjection/Compiler/Ad

[2016-12-12 17:12] greg0ire commented on #4229
Yes! The fact that they are dynamic explains that they were missed during the refactoring. Good catch! Not sure what the right thing to do is though… @core23? Help?

[2016-12-12 17:20] greg0ire commented on #4229
If it still works after removing the lines, maybe we should introduce a config none to enable the translator injection, set to true by default, and let people set it to false if the think they are ready for the migration? Feels a bit cumbersome though.

[2016-12-12 17:23] GCalmels commented on #4229
If I delete this 2 lines : I have the error "Call to a member function trans() on null"
because of AbstractAdmin ->trans ('Product', array(), 'RMOAdminBundle')
and it is the "Product" in `->with('Product')`
Maybe it is why I have these deprecated notice but I can not remove this!

[2016-12-12 17:25] greg0ire commented on #4229
Ok so the bundle is not ready yet it seems. Would be great to have a full stack trace if you can provide it.

[2016-12-12 17:59] bgaleotti commented on #4229
There are some templates that are still using the deprecated Admin::trans method.

These are the ones I could find:

[SonataAdminBundle](https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Resources/views/CRUD/base_show.html.twig#L86)
[SonataDoctrineORMAdminBundle](https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/46fbc45fbdeab4fac88041db94cacb3e8f9d3c67/Resources/views/

[2016-12-12 18:02] greg0ire commented on #4229
Would you guys like to make PRs for that?

[2016-12-13 02:19] nilov commented on #1911
// show active tab on reload
    if (location.hash !== '' && location.hash.substring(1, 5) == 'tab_') {
        var currentTabNumber = location.hash.substring(5);
        var adminUniqid      = '{{ admin.uniqid }}';

        $('a[href="#tab_' + adminUniqid + '_' + currentTabNumber + '"]').tab('show');
    }

    // remember the hash in the URL without jumping
    $('a[data-toggle="tab"]').on('show

[2016-12-13 08:44] Arkemlar commented on #4220
With edit action things are clear because it uses symfony forms, but show and list actions are not. Btw  even in edit action by default we have no easy ways to take control of how objects fetched and persisted to database.
Retrieving object(-s) - that is a main problematic part with sonata for me, I would like to retrieve data in my custom way, then may be convert it into DTO to avoid getters/sett

[2016-12-13 16:42] auipga commented on #4204
Google does not find anything. Only some [code usages](https://www.google.de/search?q=site:symfony.com+allow_if_object_identity_unavailable) but no explanation.
Thanks anyway.

[2016-12-13 16:50] greg0ire commented on #4204
You're welcome :)

Maybe you should create and issue on symfony/symfony-docs?

[2016-12-13 18:24] core23 commented on #1911
Can you provide a PR @nilov ?

[2016-12-14 01:07] nilov commented on #1911
@core23 This is fast solution, it is not ready for repository.

[2016-12-14 05:17] quiquegarcia opened #4231 "Broken 'sonata_type_collection' in version 3.10.1"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

When composer update sonata-project/admin-bundle package to version 3.10.1 fields using 'sonata_type_collection' stop working, label still appears but 'add button' disappeared.

## Steps to reproduce
In composer.json set: ```"sonata-project/admin-bundle": "3.10.1"```, run: ```compose

[2016-12-14 05:40] marvoh commented on #4231
I'm encountering this issue too.

The form styling is also off too

[2016-12-14 08:26] jvandesande commented on #4231
It's caused by this commit: https://github.com/sonata-project/SonataAdminBundle/commit/d8fc2edae14bc22d32e7d99990bcea54b626d01a, I'm working on a PR to fix this.

[2016-12-14 10:03] #4231 closed

[2016-12-14 22:34] aserratorta opened #4233 "Wrong behaviour sonata-project/admin-bundle version 3.10.1"
### Environment

#### Sonata packages

[code]

#### PHP version

[code]

## Subject
I upgraded vendors yesterday. It removed sonata-project/admin-bundle version 3.10.0 and instaled 3.10.1. I show you the desconfiguration of some templates below.

 Expected results. version 3.10.0

![image](https://cloud.githubusercontent.com/assets/12971681/21203738/2aeb2b60-c254-11e6-9330-a51e84303ee8.png)

![ima

[2016-12-15 08:02] StudioMaX commented on #4233
This was fixed in https://github.com/sonata-project/SonataAdminBundle/pull/4232, wait when it will be tagged.

[2016-12-15 08:11] davidromani commented on #4233
👍

[2016-12-15 11:45] jordisala1991 commented on #4233
Fixed in 3.10.2

[2016-12-15 12:35] #4233 closed

[2016-12-15 20:59] greg0ire commented on #4220
Honestly, I don't know how hard this is going to be without trying. So maybe that's what you should do : try and if you fail, you can always bypass Sonata where it fails to play well with DDD. If you do that, please post your findings, maybe we can help you and make Sonata DDD-compatible.

[2016-12-15 21:19] aserratorta commented on #4233
Good!!

[2016-12-15 23:28] greg0ire commented on #4229
Reopening since this is not really fixed. But it will be soon, see #4235

[2016-12-16 12:33] #4229 closed

[2016-12-16 19:42] CyrilleGuimezanes opened #4236 "sonata_collection unable to add row via modal way"
### Environment
Windows 10 - Chrome 54
#### Sonata packages

sonata-project/admin-bundle              3.10.0
sonata-project/block-bundle              3.2.0
sonata-project/cache                     1.0.7
sonata-project/core-bundle               3.1.1
sonata-project/datagrid-bundle           2.2
sonata-project/doctrine-extensions       1.0.2
sonata-project/doctrine-orm-admin-bundle 3.1.1
sonata-proj

[2016-12-16 19:44] greg0ire commented on #4236
When you use the profiler form to find your ajax request in it, is there anything interesting?

[2016-12-16 19:51] CyrilleGuimezanes commented on #4236
The POST request is OK
All parameters are in the request body plus _xml_http_request: true param.
But there is no "sequence_id" in the body but it's seem normal as this sequence is not created yet...

So the request seems to be complete and correct.

[2016-12-16 19:53] greg0ire commented on #4236
Is `addModule` called?

[2016-12-16 19:59] CyrilleGuimezanes commented on #4236
Hum apparently no, I put some logs in addModule method but nothing is written in logs.

I also get a request to in the profiler that I have not mentioned:

admin/core/get-form-field-element?code=app.admin.module_sequence&elementId=s585446f43dd5b_modules&uniqid=s585446f43dd5b

[2016-12-16 20:05] greg0ire commented on #4236
What about `setModules` ?

What controller does this map to? Can you link to it?

[2016-12-16 20:16] CyrilleGuimezanes commented on #4236
setModules is not call too

When I call the URL I get an empty page with:
![image](https://cloud.githubusercontent.com/assets/5911548/21276861/a4622662-c3d3-11e6-9e35-706bba521831.png)

When I click the link I'm redirected to sonata admin on module/create action

[2016-12-16 20:27] greg0ire commented on #4236
What I meant by that is : "what happens when you run `router:match` with that url?"

[2016-12-16 20:30] CyrilleGuimezanes commented on #4236
The controller/action is: sonata.admin.controller.admin:retrieveFormFieldElementAction

[2016-12-16 20:31] greg0ire commented on #4236
Can you please link to it on github?

[2016-12-16 20:33] CyrilleGuimezanes commented on #4236
https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Controller/HelperController.php#L125

[2016-12-16 20:37] greg0ire commented on #4236
Hmmm… this method seems to retrieve a sub form corresponding to just one element of the object being edited. Probably it's the part that corresponds to the collection, hence the "add" button.

[2016-12-16 20:43] CyrilleGuimezanes commented on #4236
Yes, this request list is:

GET admin/app/module/create?uniqid=s5854512577170&code=app.admin.module&pcode=app.admin.module_sequence&puniqid=s5854512530df4
 **=> Get the modal view**

_** CLICK on add btn **_

POST admin/app/module/create?uniqid=s5854512577170
 **=> Create the module without sequence_id**

POST admin/core/get-form-field-element?code=app.admin.module_sequence&elementId=s585446f43dd5

[2016-12-16 20:53] greg0ire commented on #4236
I think you should first fix your model. Can a module really live without a sequence? If not, you should specify the join column as not nullable (there is a `JoinColumn` annotation I think).

How can it be set if the `sequence_id` does not exist yet? Does all the form data get posted when you do that?

[2016-12-16 21:09] CyrilleGuimezanes commented on #4236
Ok, constraint added, you're right.

So I get a NullContraintException with a stacktrace copied here: http://pastebin.com/MEWmD9YJ

I add the  'inline' & 'table' options and now I get the NullContraintException ... maybe I was wrong at the beginning inline editing is no working too :/

[2016-12-16 21:13] greg0ire commented on #4236
Ok so how is this supposed to work at all? I mean maybe the modules subform shouldn't even get displayed until the sequence is saved, right?

[2016-12-16 21:16] CyrilleGuimezanes commented on #4236
With the modal or inline way I get the form displayed but when I save, I get the exception (not sure to answer to your question...)

[2016-12-16 21:18] greg0ire commented on #4236
Sure, but why even display the modules subform when you are on the *create* action? It only makes sense on the *edit* action, right? Or mabye the constraint was a bad idea and things are supposed to get linked afterwards? Or maybe both ways work, it depends on what you want most : data integrity or user experience?

[2016-12-16 21:22] greg0ire commented on #4236
I have bad memory, but I think I hit that bug myself… and maybe several others. It would be great to make a cookbook article about this if we solve this. [Here is a frenchman getting the same problem early may](https://openclassrooms.com/forum/sujet/symfony-sonataadmin-form-collection)

[2016-12-16 21:23] CyrilleGuimezanes commented on #4236
In the app the classique use case is:

A user will create a module_sequence (let say a module is a game) that contains, for exemple, 3 modules.

So, to be more user friendly I tried to allow the user to create the sequence and the modules on the same page... but if you tell that's not possible, I can accept it ;)

[2016-12-16 21:25] greg0ire commented on #4236
Here is the thing, I don't even know, it would be great to dig a bit on the way, find out, and document. Let's gather all related issues.

Here is one : #4111

[2016-12-16 21:26] greg0ire commented on #4236
Here is another one : http://stackoverflow.com/questions/21420380/entitys-id-of-parent-is-not-saved-in-a-onetomany-relationship-in-sonataadmin

[2016-12-16 21:28] greg0ire commented on #4236
Here is another, proposing the same solution : http://stackoverflow.com/questions/21141673/onetomany-relation-entity-does-not-save-id-field

[2016-12-16 21:29] greg0ire commented on #4236
They are saying Sonata and Doctrine are saying it is each other's problem…

[2016-12-16 21:31] greg0ire commented on #4236
And another one : https://github.com/sonata-project/SonataDoctrineORMAdminBundle/issues/50

[2016-12-16 21:35] greg0ire commented on #4236
And another one : https://github.com/sonata-project/SonataDoctrineORMAdminBundle/issues/371 , linking to this one : https://github.com/sonata-project/SonataAdminBundle/issues/2890 Jesus… how deep does this go?

[2016-12-16 21:38] CyrilleGuimezanes commented on #4236
Well this one solved the problem into inline editing mode but not in the modal mode

:)

So, I will keep this solution but, I think, we have pointed I real trouble with collection form type that need to be discuss by the Sonata Team ;)

[2016-12-16 21:43] greg0ire commented on #4236
If you want to repay me, please make a PR to document this (in the doctrine ORM bundle). @damienalexandre [suggested it 2 years ago](https://github.com/sonata-project/SonataDoctrineORMAdminBundle/issues/50#issuecomment-5841645), but nobody reacted… would you be the awesome guy that breaks the circle?

Yeah… @sonata-project/contributors , thoughts on this?

[2016-12-16 22:14] greg0ire commented on #4236
[Here the doc that should be improved](https://sonata-project.org/bundles/doctrine-orm-admin/3-x/doc/reference/form_field_definition.html#advanced-usage-one-to-many) IMO

[2016-12-16 22:16] CyrilleGuimezanes commented on #4236
Ok, added to my todo list :)

[2016-12-17 15:49] #4218 closed

[2016-12-20 07:08] ahbaqdadi opened #4242 "Sonata Media Bundle"
### Environment
mac os

#### Sonata packages
sonata-project/admin-bundle              3.10.2
sonata-project/block-bundle              3.2.0
sonata-project/cache                     1.0.7
sonata-project/classification-bundle     3.x-dev
sonata-project/core-bundle               3.1.2
sonata-project/datagrid-bundle           2.2
sonata-project/doctrine-extensions       1.0.2
sonata-project/doctrine-o

[2016-12-20 08:01] greg0ire commented on #4242
There's a template for issues, why did you ignore it?

[2016-12-20 08:47] ahbaqdadi commented on #4242
is it OK  now ?

[2016-12-20 09:06] greg0ire commented on #4242
Yes it is. But now, if your issue is with the media bundle, why do you report it on the admin repository?

[2016-12-20 11:41] #4242 closed

[2016-12-20 12:43] fbourigault opened #4243 "[RFC] FormMapper : decouple display logic from building logic"
In symfony-cmf, the plan is to provide alongside each Model a FormType which would be reused by anybody building an user interface for those model edition.

A reusable FormType was built few month ago for the StaticContent model but, using this FormType within sonata was a little bit painful because of the coupling between form building logic and form display logic (tabs/groups) in sonata's FormMa

[2016-12-20 13:32] greg0ire commented on #4243
I think there should be a new method in [the `BaseGroupedMapper` class](https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Mapper/BaseGroupedMapper.php) for this use case, allowing to redefine the groups from a simple hash associating a group label with field names.

[2016-12-20 13:40] fbourigault commented on #4243
More or less something like making `BaseGroupedMapper::setTabs` public?

IIRC, there is an other problem: you can't add a single FormType without calling first `FormMapper::with`.

[2016-12-20 13:51] greg0ire commented on #4243
Are you sure?

What about [this line](https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Mapper/BaseGroupedMapper.php#L286) then ?

[2016-12-20 13:57] greg0ire commented on #4243
I don't think you have to, because you're inheriting from this class when you are in an admin…

[2016-12-20 14:41] Soullivaneuh commented on #3342
@greg0ire The MR of @CharlyP didn't solve the issue for my case:

[code]

[2016-12-20 14:54] greg0ire commented on #3342
Can you try simply `app/console -vvv ca:cl` ? It should provide a better output.

[2016-12-21 10:25] Jerome1337 commented on #3342
@greg0ire I tried with `-vvv` and this is the exception trace I get.

[code]

I found another weird case, I still getting the error when I'm trying to reproduce with this commands :
* `app/console cache:clear`
* `app/console cache:clear --no-warmup`
* `app/console -vvv cache:clear`

But when I'm trying with
* `app/console -vvv cache:clear --no-warmup`

The error is gone and I get
[code]

[2016-12-21 10:33] greg0ire commented on #3342
For me, the culprit is here : ` FOS\UserBundle\Doctrine\UserManager->__construct()`

[2016-12-22 11:15] fbourigault commented on #4243
I think we must have a look at `Sonata\AdminBundle\Admin\AbstractAdmin::setFormTabs()`, `Sonata\AdminBundle\Admin\AbstractAdmin::setFormGroups()`

[2016-12-22 11:18] greg0ire commented on #4243
Might be a solution indeed, but I don't know if the usage is as simple as you wish.

[2016-12-23 09:30] mba242 commented on #2425
Are there any news about it?

[2016-12-23 09:49] greg0ire commented on #2425
I don't know. @OskarStark , @jvasseur how about reopening #3296 or #3336

[2016-12-23 09:56] jvasseur commented on #2425
My version was a bit hacky but if you want i could rebase it on the last master. This is still a feature that i think is needed. A workaround (that i use) is to keep the config to its default value and add the other assets by extending the sonata layout.

[2016-12-23 10:00] greg0ire commented on #2425
Maybe you could even reopen it on the latest 3.x? Or was there a BC-break?

[2016-12-23 10:05] jvasseur commented on #2425
No, there wasn't any BC break.

[2016-12-23 10:05] greg0ire commented on #2425
Then you should rebase it on 3.x, you will see your changes sooner ;)

[2016-12-30 17:13] florentdestremau commented on #3629
Still looking for an anwser, this is pretty annoying by sonata not to basically display an actual phone number... :(

[2016-12-31 12:07] stefnoten opened #4251 "Admin annotation is not picked up"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

When using JMSDiExtraBundle, the `Sonata\AdminBundle\Annotation\Admin` annotation is not picked up. The reason is a wrong condition for prepending the JMSDiExtraBundle configuration.

## Steps to reproduce

- Add JMSAopBundle and JMSDiExtraBundle to the kernel
- Create an entity clas

[2016-12-31 12:09] greg0ire commented on #4251
Can you elaborate on this / show us the piece of code where the mistake happens? If you know how to fix that, can you make a PR?

[2016-12-31 12:18] stefnoten commented on #4251
Wow, I had a PR ready but did not expect a reply in those few minutes in between ;)

[2017-01-02 16:57] greg0ire commented on #1077
It's not a basic feature, because you cannot sort by a virtual field without introducing a major performance issue : if you do it, you are supposed to compute the virtual field value for every row in the table before being able to sort.

Also, I would recommend changing your tone, we owe you nothing, do we?

[2017-01-02 17:16] greg0ire commented on #1077
[unless you use a function-based index](http://use-the-index-luke.com/sql/where-clause/functions/case-insensitive-search), but [this is not supported by doctrine yet](https://github.com/doctrine/dbal/issues/980) , [it might be supported in doctrine 3.x though](https://github.com/doctrine/dbal/pull/2392)

[2017-01-02 19:24] florentdestremau commented on #1077
hi,

I apologize for being rude, I spent nearly 2 hours trying to get something to work, and ended up here a bit angry. I shouldn't have posted this comment.

As it is for statistics purpose I do not mind having a performance issue for now, and i wanted to avoid creating an index just for this. I guess I'll have to think about it again :sweat_smile:

[2017-01-02 20:21] greg0ire commented on #1077
No worries, you're a great person for admitting this. You may post this as a question on stack overflow, and I will put a bounty on it as soon as allowed :)

[2017-01-03 19:27] jordisala1991 commented on #4227
Yes, someone tried to solve it for the SonataDoctrineOrmAdminBundle here: https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/590

It is working that way to ensure that the new row added is on the right position (depending on the order by it may not be the last one), but the files and some other behavior: https://github.com/sonata-project/SonataAdminBundle/issues/2383 is not mantai

[2017-01-03 21:19] Nexotap commented on #3325
I think, problem solved now. Will close this.

[2017-01-03 21:19] #3325 closed

[2017-01-05 10:46] benrcole opened #4254 "ChildrenVoter affects non Sonata Menus"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### Other

[code]

## Subject

The `ChildrenVoter` included as part of `SonataAdminBundle` is affecting other `KnpMenus` in different parts of applications.

Building a breadcrumb as per the `KnpMenuBundle` documentation relies on  which returns `true` for the root node based on the `ChildrenVoter` result.

As per the r

[2017-01-05 10:49] greg0ire commented on #4254
[Link to ChildrenVoter for the lazy](https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Menu/Matcher/Voter/ChildrenVoter.php)

[2017-01-05 10:50] greg0ire commented on #4254
Can you `var_dump` `$item` in a sonata menu, to see if there is anything specific to sonata we could use to do the restriction suggested by stof?

[2017-01-05 10:55] benrcole commented on #4254
[code]

[2017-01-05 10:57] greg0ire commented on #4254
Well, for one, the `extras` array is full of Sonata-specific things… could you make a PR doing the restriction based on it?

[2017-01-05 11:51] benrcole commented on #4254
[code]
The above seems to work although it's premised on every relevant `current` node having an attached `Admin` class.

Looking at the [MenuBuilder ](https://github.com/sonata-project/SonataAdminBundle/blob/master/Menu/Provider/GroupMenuProvider.php) it looks like some `Items` may not. In that case we only currently have `translation_domain` that could be matched and that can be overridden by us

[2017-01-05 11:54] greg0ire commented on #4254
I think adding something else, like a marker, just for that would be the way to go. But you're right, it would be great to have a dedicated thing for that.

[2017-01-05 11:58] greg0ire commented on #4254
The best course of action IMO would be to hack something, raise an issue in knp/menu, and mark the hack for "removal when the issue is solved".

[2017-01-05 12:00] benrcole commented on #4254
OK - happy to do this. Will submit a PR later - am hacking on a VPS at the moment

[2017-01-05 14:37] RomainSanchez opened #4255 "Default options for filter types"
Hi, here is my use case:

I need a custom query for a `doctrine_orm_admin_filter` and it works fine by passing a callback field option.

However, i'd like to be able to make a type that would have this callback by default as it is generic so that i can use it as filter type directly without providing the same callback in `field_options` every where i need it (various admins).

I tried making a for

[2017-01-05 14:40] greg0ire commented on #4255
Hi, we try to keep Github issues for bug reports and feature requests only. If you have a question, please ask it on Stack Overflow.

[2017-01-05 14:48] RomainSanchez commented on #4255
This is an actual feature request as predefined options in the field used in the filter are not taken into account (to the best of my knowledge)

[2017-01-05 15:15] greg0ire commented on #4255
Ok. Please edit your message to add some punctuation and github flavored markdown… I tried to read it and was like : ![wat](https://i.imgur.com/3Gmiifk.gif)

[2017-01-05 15:21] RomainSanchez commented on #4255
Ok will do.Nice reference BTW

[2017-01-05 15:24] greg0ire commented on #4255
Way better, let me re-read that.

[2017-01-05 15:28] greg0ire commented on #4255
There is a `getFieldOptions()`, is that what you are looking for?

[2017-01-05 15:40] RomainSanchez commented on #4255
i don't think so.Take a look at `HelperController::retrieveAutocompleteItemsAction()` the callback is retieved from the filter description before any of the filter type methods get called.At this point the only options are the ones passed to `datagridMapper->add()` so the callback that i provided in the form type is ignored.

To make this as simple as possible and avoid blurring the problem with m

[2017-01-05 15:57] greg0ire commented on #4255
[Link for the lazy](https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Controller/HelperController.php#L317)

[2017-01-05 18:20] greg0ire commented on #4255
In the Symfony profiler, in the template panel, there should be a tree showing all the templates involved in displaying your filter. Can you show us the part that you think is relevant to the problem at hand? Also, maybe show us some code.

[2017-01-06 13:36] RomainSanchez commented on #4255
### The form type:

`
class SearchIndexAutocompleteType extends ModelAutocompleteType
{
    /**
     * {@inheritdoc}
     */
    public function buildForm(FormBuilderInterface $builder, array $options)
    {
        $builder->setAttribute('callback', $options['callback']);
        $builder->setAttribute('minimum_input_length', $options['minimum_input_length']);
        $builder->setAttribute('item

[2017-01-06 13:47] greg0ire commented on #4255
Dude, you need to learn how Github Flavored Markdown works… I'm not reading that.

[2017-01-06 14:10] RomainSanchez commented on #4255
Of course didn't mean to post that i was just starting to edit it.

[2017-01-06 14:48] RomainSanchez commented on #4255
### The filter type

[code]

As you can see i tried to pass the callback in `getdefaultOptions()` and `getFieldOptions()`

### Filter type service

[code]

[2017-01-06 14:51] greg0ire commented on #4255
Are you aware you can edit your messages?

[2017-01-06 15:13] featuriz commented on #2732
Issue not fixed yet. In SonataAdminBundle3.x same error.

I'm using HWIOAuthBundle and SonataAdminBundle-3.x

I have 4 roles ROLE_FZ, ROLE_SUPER_ADMIN, ROLE_ADMIN, ROLE_USER

This error occurs only at backend. If a user logged in by oauth(facebook,twiiter), in the debug_toolbar the user name occus. I can't access /admin/dashboard but i can access /home /contact etc (frontend).

hwi_oauth:
    fire

[2017-01-06 16:25] greg0ire commented on #2732
# The initial error

# Your error

Do yo not see the difference? This isn't the same error at all… you should file a new issue, and if you do, make sure to provide a stack trace.

[2017-01-06 19:46] greg0ire commented on #4255
You should really address that. It's hard to help without knowing what templates are used with.

[2017-01-06 22:00] epci opened #4258 "configureDatagridFilters => error with ManyToOne Results "Invalid parameter number""
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

for a school management project, I have a relation ManyToOne relation between evaluation an level entities, i want to filtrer evaluation by level in my AdminClass

[code]

## Steps to reproduce

My List view has no problem, i can select a level in filter list, but when i try to searc

[2017-01-06 23:46] greg0ire commented on #4258
Please add a stack trace, as described in the issue template.

[2017-01-06 23:51] epci commented on #4258
[1] Doctrine\DBAL\Exception\DriverException: An exception occurred while executing 'SELECT count(DISTINCT p0_.id) AS sclr_0 FROM post p0_ LEFT JOIN category c1_ ON p0_.category = c1_.id WHERE c1_.id IN (?, ?, ?)' with params [1, 1, "un"]:

SQLSTATE[HY093]: Invalid parameter number: parameter was not defined
    at n/a
        in /srv/users/serverpilot/apps/tools-starter3/tools-starter3/vendor/doct

[2017-01-06 23:55] greg0ire commented on #4258
That's really weird because the number of parameters is matching…

[2017-01-07 00:03] epci commented on #4258
When i try sql request in phpmyadmin, it works, strange ...
i try on 2 different computer, same result

[2017-01-07 00:03] greg0ire commented on #4258
Did you try the request with `PREPARE` and `EXECUTE`?

[2017-01-07 00:04] epci commented on #4258
the problem seems to be in list view (not in datagridfilter)

i have the same problem when i go to : http://localhost:3000/app_dev.php/admin/app/post/list?filter[category][type]=&filter[category][value]=1

[2017-01-07 00:07] epci commented on #4258
Sorry but how i can do that in symfony/sonata context ?

[2017-01-07 00:10] greg0ire commented on #4258
It's pure SQL, no need for symfony/sonata/php, just use phpMyAdmin : http://dev.mysql.com/doc/refman/5.7/en/sql-syntax-prepared-statements.html

[2017-01-07 00:15] epci commented on #4258
Ok, thank you, i try in phpmyadmin with PREPARE and EXECUTE, it works

PREPARE stmt1 FROM 'SELECT count(DISTINCT p0_.id) AS sclr_0 FROM post p0_ LEFT JOIN category c1_ ON p0_.category = c1_.id WHERE c1_.id IN (?, ?, ?)';
SET @a = 2;
SET @b = 2;
SET @c = "deux";
EXECUTE stmt1 USING @a, @b, @c;

[2017-01-07 00:30] epci commented on #4258
in a controller i try do this

`
        $em = $this->getDoctrine()->getEntityManager();
        $connection = $em->getConnection();
        $statement = $connection->prepare("SELECT count(DISTINCT p0_.id) AS sclr_0 FROM post p0_ LEFT JOIN category c1_ ON p0_.category = c1_.id WHERE c1_.id IN (?, ?, ?)");
        $statement->execute([2, 2, "deux"]);
        $result = $statement->fetchAll();
`

i h

[2017-01-07 12:02] greg0ire commented on #4258
Maybe, still in a controller, try something lower level from the stack trace :

`Doctrine\DBAL\Connection->executeQuery('SELECT count(DISTINCT p0_.id) AS sclr_0 FROM post p0_ LEFT JOIN category c1_ ON p0_.category = c1_.id WHERE c1_.id IN (?, ?, ?)', array('AppBundle\Entity\Categoryid' => 1, '*posts' => 1, 'AppBundle\Entity\Categoryname' => 'un'), array(1, 1, 1), null)`

Notice the third argument,

[2017-01-07 14:19] epci commented on #4258
I reinstall a fresh instance of symfony and sonata, and it WORKKKKS

PS en français, merci greg0ire pour ton aide, je t'envoie un peu de chaleur et de soleil depuis la Guadeloupe en échange !!

[2017-01-07 14:20] greg0ire commented on #4258
Wow that's quite strange, but happy you found a solution!

Merci pour la chaleur et le soleil, on en manque cruellement ici! 🌥

[2017-01-09 08:24] RomainSanchez commented on #4255
here is the rendering call graph for the filter

[code]

[2017-01-09 13:27] RomainSanchez opened #4261 "autocomplete input of sonata_type_model_autocomplete getting required attribute"
### Environment
DEV
#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

When editing an object with a REQUIRED form field of type `sonata_type_model_autocomplete` and using `by_reference => false` the form can't be submitted as the autocomplete input from the select from `sonata_type_model_autocomplete` has the required attribute, hence html5 validati

[2017-01-09 16:05] RomainSanchez commented on #4255
Well noted

[2017-01-09 19:09] #3494 closed

[2017-01-10 09:13] RomainSanchez commented on #2425
:+1:

[2017-01-10 09:43] OskarStark commented on #2425
Yes, why not?

[2017-01-11 16:12] slissner commented on #3072
The line:
[code]
Should it not be the implementation instead of the interface? I am receiving errors passing the interface as argument.
[code]

[2017-01-11 16:25] vmtzkr opened #4266 "Template not found list_outer_rows_tree.html.twig"
### Environment
MacOS Sierra / XAMPP

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

## Steps to reproduce
Download the 3.x branch and try to find the template under the defined location. This location is specified in the config yaml (https://sonata-project.org/bundles/admin/master/doc/reference/configuration.html).

## Expected results
The templ

[2017-01-11 16:43] greg0ire commented on #4266
You should format that properly.

[2017-01-12 16:17] Zuhayer commented on #263
@tiagojsag Thanks for the reference.

[2017-01-13 10:01] floriansemm opened #4267 "Admin-Generator ignore question answer"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

Admin Generator updates `services.yml` even if I answer the question with no.

## Steps to reproduce

Run `./bin/console sonata:admin:generate`
Answer the question `Do you want to update the services YAML configuration file [yes]?` with no.

## Expected results

If I answer with no t

[2017-01-13 10:03] greg0ire commented on #4267
Wow. That's weird… can you please look into it and submit a PR?

[2017-01-13 11:53] floriansemm commented on #4267
Done, see PR #4268.

Btw: you must fix the mocked answers in `GenerateAdminCommandTest`:

[code]
The question must return a boolean. For example https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Command/GenerateAdminCommand.php#L202 will always true

[2017-01-13 15:26] RomainSanchez opened #4270 "Triggering a JQuery event in Admin.setup_list_modal in Admin.js"
## Subject

It would be usefull (at least to me) to trigger a jquery event (something like 'sonata-admin-setup-list-modal') in the `Admin.setup_list_modal()` function of Admin.js.

It makes sense as such an event ('sonata-admin-append-form-element') is triggered when `sonata_type_model` adds a children form 'inline' so this new event would correspond to when `sonata_type_model` sets up the childre

[2017-01-13 15:28] greg0ire commented on #4270
Please do submit a PR (with docs please).

[2017-01-13 18:57] gido commented on #4254
I dealed with this exact same issue last week. I found the same hack as [commented by](https://github.com/sonata-project/SonataAdminBundle/issues/4254#issuecomment-270627356) @benrcole but as said before for now we don't a clear way to identify each MenuItem for sure.

I was on my way to create a PR (#4272) to simplify to overriding of Menu Voter shipped with Sonata by exposing classnames as param

[2017-01-14 11:11] #4270 closed

[2017-01-16 13:08] fbourigault commented on #4243
I looked at what can be done to achieve this and sadly I think we can't do anything as the added FormType is seen as a whole by the FormMapper. Allowing a such case would be a lot of work, but in an architectural point of view, I don't know if it's a best practice to use FormTypes bound to a top level entity.

[2017-01-16 14:15] fbourigault commented on #4095
I will have a look at this. Stay tuned ;)

[2017-01-16 16:59] c0ntax opened #4275 "sonata_type_admin form type does not fire getNewInstance()"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

When using the sonata_type_admin form type to embed an entity into a parent entity, the getNewInstance() method of the child entity is never executed, thus if you're using it to create consistent default values for an entity both embeded as a child or in its own admin page, you can't

[2017-01-17 06:08] muspelheim commented on #3946
@Soullivaneuh @OskarStark @core23 Hello, guys. Any news about this feature?

[2017-01-17 09:57] BOB41K1987 commented on #3518
Any news about solving that problem?

[2017-01-17 11:04] core23 commented on #3518
Looks like a config problem. The parameter 'MM' is used for minutes instead of 'mm'

[2017-01-17 11:15] RomainSanchez commented on #2425
Is this still advancing? Would be a great feature

[2017-01-17 11:17] BOB41K1987 commented on #3518
Do you know what paremeter should I use for month? Or how can I fix that?

[2017-01-17 11:28] ebuildy commented on #4175
Hello, as a conclusion, how can I disable this for all groups? thanks you

[2017-01-17 15:29] core23 commented on #3946
Feel free to start @muspelheim 👍

[2017-01-17 19:36] muspelheim commented on #3946
@core23 ok, I try to implement this

[2017-01-18 11:02] #4267 closed

[2017-01-18 11:37] c0ntax commented on #4275
On further investigation of this issue, it seems that the limiting factor of getNewInstance() being called or not appears to be the number of Admins called in to the parent Admin.

For example, if I have the following entity Admin structure:

- Parent
  - Child A
    - Child B
  - Child C

getNewInstance() is called on Parent and Child A but not Child B, C or any other ones that are rendered *afte

[2017-01-18 11:41] c0ntax commented on #4275
And more mysteriously than this, any default values that are defined in Child B and Child C's class definition, e.g.

[code]

also do not show up. The objects appear completed nulled out.

[2017-01-18 19:50] muspelheim commented on #3946
So, I implement this feature and in bottom you can see the result:

*show option*
![show](https://cloud.githubusercontent.com/assets/1663352/22080347/553075b4-ddd0-11e6-8ac2-a252af5ff674.png)

*fade option*
![fade](https://cloud.githubusercontent.com/assets/1663352/22080346/55267ad2-ddd0-11e6-85f8-72cd3fbb122f.png)

*hide option*
![hide](https://cloud.githubusercontent.com/assets/1663352/22080345/

[2017-01-19 16:51] dhafer1 opened #4279 "I need to add or create a new button"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

## Steps to reproduce

## Expected results

## Actual results

[2017-01-19 16:52] core23 commented on #4279
We try to keep github issues for feature requests and bugs only.

Please have a look at the [docs](https://sonata-project.org/bundles/) or use [StackOverflow](http://stackoverflow.com/questions/tagged/sonata) for general support and questions.

[2017-01-19 16:52] #4279 closed

[2017-01-22 03:21] ishapkin commented on #2497
It is not sonata problem. It is solved by routing settings in your routing.yml
http://symfony.com/doc/2.8/routing/scheme.html

[2017-01-22 03:45] ishapkin commented on #2497
Or your nginx settings is wrong for symfony and https :)
http://blog.servergrove.com/2011/04/04/symfony2-quick-tip-generateurl-with-https-on-nginx/

[2017-01-23 11:12] Zuhayer commented on #3346
@webdevilopers Having same issue in my project. Did you find a solution?

![untitled](https://cloud.githubusercontent.com/assets/5408155/22201727/b3f4168c-e186-11e6-8d34-0517ca885d1c.png)

[2017-01-23 11:18] RomainSanchez commented on #4255
Hello?

[2017-01-23 11:23] greg0ire commented on #4255
If I were you I'd have a look at `SonataAdminBundle:Form:filter_admin_fields.html.twig` and see if it looks like options can be passed to filters here.

[2017-01-23 12:21] webdevilopers commented on #3346
No longer working on that project, sorry!

[2017-01-23 13:51] RomainSanchez opened #4283 "Unused $choiceList property in ModelsToArrayTransformer"
## Subject

In `ModelstoArrayTransformer` there is a `ChoiceList` protected property and constructor argument that are not used anywhere in the class.It looks like it was a copy paste mistake from `LegacyModelsToArrayTransformer`.
https://github.com/sonata-project/SonataAdminBundle/blob/master/Form/DataTransformer/ModelsToArrayTransformer.php

I was about to make a PR but i have two questions:

Sh

[2017-01-23 14:19] greg0ire commented on #4283
The property is protected, so removing it would be a BC-break.
Changing the constructor would be a BC-break too.
The usefulness of this has been removed in 3e7ad359411a5f4ae119d9dc3ef26b3e44716fd1

If you want to contribute something switch to 3.x and:

1. implement a magic getter that triggers a deprecation notice whenever the property is accessed
2. remove the type hinting on the second paramete

[2017-01-23 15:04] RomainSanchez commented on #4283
Have an example somewhere ?

[2017-01-23 15:06] RomainSanchez commented on #4283
What i have so far

[code]

[2017-01-23 15:08] greg0ire commented on #4283
[here is an example](https://github.com/symfony/symfony/commit/f2691d5ed5d6717e2d43452196841c7db8fc9455#diff-20cf558e59446c9795003885bd09e1a3R108)

[2017-01-23 15:10] greg0ire commented on #4283
Looks good! I think you can move `constructor` to `__construct`, but keep `legacyConstructor`, it will make the diff to next major smaller. Please make a PR, it will be easier to discuss this piece of code, but you got it right :)

[2017-01-23 15:10] RomainSanchez commented on #4283
should i implement __get __set __isset and __unset or just __get ?

[2017-01-23 15:11] greg0ire commented on #4283
All of them, if you feel up to it.

[2017-01-23 15:36] RomainSanchez commented on #4283
I don't see anything regarding data transformers in the docs.Also `ModelsToArrayTransformer` is the only data transformer in AdminBundle not having a test class.

[2017-01-23 15:40] greg0ire commented on #4283
I think it's not meant to be used directly, but when using `ModelType`, which would explain the lack of code. Writing tests would be the easiest way for you to test your changes though, I think. Don't hesitate to ask if you need help writing them. Also, please make sure to update the instantiation inside `ModelType`.

[2017-01-23 21:06] osavchenko opened #4286 "Is it have sense to avoid PHPUnit warnings?"
So will be it useful? And if yes what base branch should be used for it? I can help you with it.

[2017-01-23 21:40] greg0ire commented on #4286
I think it was decided against doing that because we can't use `createMock` with phpunit 4, which is in use for old versions of php, and as for using `getMockBuilder()->getMock()` everywhere, I don't recall the reason ( @sonata-project/contributors , do you ?).

This warning make the output quite annoying to work with, so I'd be in favor of such a fix though. If you want to do it, you should do it

[2017-01-24 06:15] core23 commented on #4286
Maybe we can create wrappers for internal test?

https://github.com/sonata-project/SonataBlockBundle/pull/357

[2017-01-24 06:29] Zuhayer commented on #3346
Kindly let me know if anyone else working on this?

@Bladrak @core23 @dunglas @mremi @nicolasricci @OskarStark @pulzarraider @qsomazzi @rande @Soullivaneuh

@webdevilopers Thanks for the response.

[2017-01-24 06:32] core23 commented on #3346
Not working on this, but please aware that you should find a way to resubmit the form if a connection error occoured. Maybe using a unique form token is a better idea instead of disabling the button.

[2017-01-24 07:59] osavchenko commented on #4286
PHPunit 4 support will be thrown on February 3, 2017. So, I think we can move forward and ignore that version.
I'll take this issue and will work on it.

[2017-01-24 08:18] greg0ire commented on #4286
PHPunit5 is not compatible with php 5.6, that's why we have this problem.

[2017-01-24 08:29] osavchenko commented on #4286
Do you mean `< 5.6`? Because in PHPUnit 5.7 I saw
```"php": "^5.6 || ^7.0",```

You think that upgrading php from 5.3 to 5.6 is not good idea?

[2017-01-24 08:30] greg0ire commented on #4286
Yes forgot the <

[2017-01-24 08:32] greg0ire commented on #4286
Upgrading is a good idea, and is already done on master, but we won't do it on 3.x

[2017-01-24 08:36] Bladrak commented on #3346
Not working on this either

[2017-01-24 08:36] osavchenko commented on #4286
So, fixing phpunit warnings better to do on master?

[2017-01-24 08:56] greg0ire commented on #4286
It would be better to do what @core23 suggested so that both branches don't diverge too much IMO. Plus there are far more builds on 3.x, so the problem is more important here.

[2017-01-24 15:07] artggd opened #4289 "[BUG] Scrolling down nav bar menu not working on mobi"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

On a small screen, the nav menu doesn't scroll when the page content's height is smaller than the menu itself.

## Steps to reproduce
1. Find a page with as little content as possible.
1. Open it on a mobile device (landscape mode ideally).
1. Scroll down the very bottom.
## Expected

[2017-01-24 20:03] gremo opened #4290 "Make ROLE_SONATA_ADMIN (hardcoded in twig templates) configurable"
In [`add_block.html.twig`](https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Resources/views/Core/add_block.html.twig#L22) and [`standard_layout.html.twig`](https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Resources/views/standard_layout.html.twig#L187) the role `ROLE_SONATA_ADMIN` is hardcoded. What about making it configurable?

This would allow us to configure a custom ro

[2017-01-26 11:16] Nightbr opened #4292 "Conflict with DI extra bundle"
Hi !

I have an issue with the last release of SonataAdminBundle (3.11.*).

### Environment

* Environment dev
* Debug enabled
* PHP version 5.6.29-0+deb8u1

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

PHP version 5.6.29-0+deb8u1

## Subject

With the last release of SonataAdmin, I have some issues with DI Extra Bundle see this issue https://github.com/schmittjoh

[2017-01-26 17:32] maarekj commented on #4292
I had the same issue, and I fixed it with this lines in config.yml

[code]

[2017-01-26 17:43] Nightbr commented on #4292
@maarekj Thanks made the trick! Hope we find a better solution that SonataAdminBundle doesn't break main App.

[2017-01-26 18:42] greg0ire commented on #4292
Can one of you use `git bisect` to find the offending commit?

[2017-01-26 23:42] gremo commented on #2425
Well, any news on this? Could we go for https://github.com/sonata-project/SonataAdminBundle/pull/3296?

[2017-01-27 07:45] Nightbr commented on #4292
Hey, the only change related to JMSDIExtra is this one:

https://github.com/sonata-project/SonataAdminBundle/commit/216933fa18e8beb3d1dfe7f4a1aaed78da652a3c#diff-d81fe8cfe0444cbcab9e87a76c5e9970R219

[2017-01-27 07:48] core23 commented on #2425
Wouldn't it be better if this is a symfony feature? Appending something to a default config array could be used somewhere else.

[2017-01-27 08:10] greg0ire commented on #2425
Perhaps but by the time it's implemented, we'll be old… plus if we're going to be BC, we're not going to be able to use it for a while.

[2017-01-27 09:00] #4283 closed

[2017-01-27 09:04] greg0ire commented on #4292
If it is already set, our values should be merged with existing values, right? That sounds like a bug to me…

[2017-01-27 09:17] Nightbr commented on #4292
Nop it's not a bug but a misunderstanding of the default value.

For example, with this jms_di_extra configuration:

[code]

When I called prependExtensionConfig my annotation_patterns if empty so the config for annotation_patterns will be only

[code]

And now, the annotation_patterns config is not empty (contains ` 'Sonata\AdminBundle\Annotation'`) so the default value `JMS\DiExtraBundle\Annotat

[2017-01-27 09:23] greg0ire commented on #4292
Oh ok I get it, but I'm not sure I agree with your fix… because that would mean that any bundle that wants to prepend any configuration would have to do the same.

[2017-01-27 09:23] greg0ire commented on #4292
Very similar problem : https://github.com/sonata-project/SonataAdminBundle/issues/2425#issuecomment-275610613

[2017-01-27 09:25] greg0ire commented on #4292
Maybe `cannotBeOverwritten` would be it ? http://symfony.com/doc/current/components/config/definition.html#merging-options

[2017-01-27 09:25] Nightbr commented on #4292
No problem, I don't say that my fix is ideal ;)
We can discuss here for an ideal fix with pleasure !

[2017-01-27 09:27] greg0ire commented on #4292
If there is no native way I think your fix might be the best course of action… can you check if `cannotBeOverwritten` works? I have some doubts, I think it might mean that the first thing to configure the bundle wins, not sure it has anything to do with defaults.

[2017-01-27 09:29] Nightbr commented on #4292
Seems the `cannotBeOverwritten` doesn't work with Default value...

[2017-01-27 09:33] greg0ire commented on #4292
Ping @core23 @gremo, what do you think?

[2017-01-27 09:43] greg0ire commented on #4292
Actually in that case, [the first bundle wins](https://symfony.com/doc/3.1/bundles/prepend_extension.html#more-than-one-bundle-using-
prependextensioninterface)

[2017-01-27 09:49] gremo commented on #4292
@greg0ire are you sure about? Because while writing and testing https://github.com/sonata-project/SonataUserBundle/pull/829 and https://github.com/sonata-project/SonataClassificationBundle/pull/271I've found that actually the configuration is merged (controller paths from both bundles get merged and dumped). I'm going to test it right now.

[2017-01-27 09:50] greg0ire commented on #4292
Are you talking about merging with default values, or merging with existing configuration?

[2017-01-27 10:04] Nightbr commented on #4292
After some research, I confirm what I said later, the `prependExtensionConfig` doesn't take into account the defaultValue set in configuration.php.

https://github.com/symfony/dependency-injection/blob/74b310dbf6a5e717e4c8aafcb2e1ba2eab116a52/ContainerBuilder.php#L535

https://github.com/symfony/dependency-injection/blob/93f50bfe952da569c1185c718ef41b61fa9d3461/ParameterBag/EnvPlaceholderParameter

[2017-01-27 16:23] greg0ire commented on #4292
So I asked on the symfony slack, and I was told this by @xabbuh :

Here are [the related docs](https://symfony.com/doc/current/components/config/definition.html#normalization), can you try something like that in the DI bundle?

[2017-01-27 16:37] xabbuh commented on #4292
The change to the `Configuration` class would have to be done in the JMSDiExtraBundle where it is defined. However, I am not sure that is intended.

[2017-01-27 17:07] gremo commented on #4292
I can't check right now (in phone) but I would do the following. Please correct me if I'm wrong.

In prependExtensionConfig just check for annotation_pattern. If key doesn't exist, that would mean we need to prepend the default pattern from JMSDiExtraBundle plus the SonataAdmin pattern, this way we don't break the bundle.

If key actualy exists it means that those values come from config.yml and n

[2017-01-27 17:12] greg0ire commented on #4292
@gremo that's exactly what @Nightbr proposed I think. I was just wondering if that would be something that would make more sense to fix in the DI bundle, but I'm starting to think there is no way to do that properly, b/c you could not guess if the value comes from Sonata and needs to be merged, or if it comes from the developer, in which case they probably want to get it overwritten. However, for

[2017-01-27 17:23] gremo commented on #4292
Ok then, lets see what @Nightbr says. I could be wrong but checking for keys (just the presence/absence) should be enought to guess if values come from the developer. Unfortunatly (or not) I'm on holidays until next week and I can't check :)

[2017-01-27 17:27] greg0ire commented on #4292
Yeah @Nightbr , I think you can go ahead and make PR Sonata-side…

[2017-01-28 18:02] #4286 closed

[2017-01-30 08:24] Nightbr commented on #4292
@greg0ire hey, I will make the PR sonata-side next week, I'm on holidays right now too.

[2017-01-30 10:09] greg0ire commented on #4292
Happy holiday then!

[2017-01-30 10:58] xmon opened #4299 "Warning: get_class() expects parameter 1 to be object, string given"
### Environment

#### Sonata packages

sonata-project/admin-bundle              2.3.10             Symfony SonataAdminBundle
sonata-project/block-bundle              2.2.15             Symfony SonataBlockBundle
sonata-project/cache                     1.0.7              Cache library
sonata-project/core-bundle               2.3.11             Symfony SonataCoreBundle
sonata-project/datagrid-bundle

[2017-01-30 18:58] osavchenko commented on #4290
I'll take a look on it

[2017-01-30 22:04] greg0ire commented on #2036
Very very late to the party, but… I tried bowerphp, and I have some doubts :

- it's beta software
- you have to edit your `/etc/hosts` file to access the homepage
- it does not work completely and exists with the following output :
[code]
- it's a port of another tool, which means it will always be lagging a bit behind in functionality

[2017-01-31 14:27] #4036 closed

[2017-01-31 15:26] Padam87 commented on #4292
Is it a good idea to prepend `Sonata\AdminBundle\Annotation`?

It has caused extreme slowness in dev mode on my projects. Just tried upgrading, and my dev mode runtime went from 0.8 seconds to 2.6.

[2017-01-31 15:29] greg0ire commented on #4292
We didn't do it yet…

[2017-01-31 15:32] Padam87 commented on #4292
https://github.com/sonata-project/SonataAdminBundle/commit/216933fa18e8beb3d1dfe7f4a1aaed78da652a3c#diff-d81fe8cfe0444cbcab9e87a76c5e9970

This commit landed in 3.11, and fixed the prepending.

[2017-01-31 15:33] greg0ire commented on #4292
Oh you're right, sorry! Are you positive that line causes the drop in performance?

[2017-01-31 15:36] Padam87 commented on #4292
Yep. I've reverted to 3.10, all good. Tried adding the annotation manually, took pics :)
![before](https://cloud.githubusercontent.com/assets/776488/22471694/6f7e492a-e7d3-11e6-8341-b1d331687911.png)
![after](https://cloud.githubusercontent.com/assets/776488/22471701/728cfed6-e7d3-11e6-9471-0946c382d04d.png)

[2017-01-31 15:39] greg0ire commented on #4292
That's very serious :/ @stefnoten can you advise?

[2017-01-31 15:59] Padam87 commented on #4292
https://github.com/schmittjoh/JMSDiExtraBundle/blob/master/Config/ServiceFilesResource.php#L40

This seem to be the problem. Always looks for `JMS\DiExtraBundle\Annotation`, therefore it is never fresh.

Providing the pattern as a constructor argument solves the problem... I will submit a PR soon

[2017-01-31 23:38] #1550 closed

[2017-02-01 09:08] LaurentFl commented on #4299
Same problem since last composer update...

[2017-02-01 10:22] xmon commented on #4299
Hi solve downgrade pixSortableBehaviorBundle, [here](https://github.com/pix-digital/pixSortableBehaviorBundle/issues/57) more details

[2017-02-01 11:34] Lctrs opened #4305 "SonataAdminBundle::ajax_layout.html.twig is broken with Twig ^2.0"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Steps to reproduce

1. Create an Admin class with a `ModelType`
2. When clicking on the "add" button, nothing happens except an error popping in the Symfony Dev Profiler

## Expected results

Working.

## Actual results

With Twig 1.31, it's working.

With Twig 2.0 and 2.1 :

[code]

[2017-02-01 12:08] LaurentFl commented on #4299
I've found a solution better than downgrading.
We can see in this [commit](https://github.com/pix-digital/pixSortableBehaviorBundle/commit/5c3d1a122f8d177e817c19e2fe637bbe9847bde8) that the $last_position is not needed anymore (in v1.1).
So simply remove from your code the variable $last_position and the line $this->last_position = $this->positionService->getLastPosition($this->getRoot()->getClass

[2017-02-01 16:52] xmon commented on #4299
hi man, great!!

[2017-02-01 16:52] #4299 closed

[2017-02-02 09:40] #4305 closed

[2017-02-02 13:25] SebastienTainon commented on #4292
I can confirm your issue @Padam87, it is blocking to update SonataAdmin to the current version when using JMSDiExtraBundle. I've noticed similar slowness on my project.

Thanks for your PR!

[2017-02-02 13:47] SebastienTainon commented on #4292
I can confirm the issue, it is blocking to update SonataAdmin to the current version when using JMSDiExtraBundle. I've noticed similar slowness on my project.

Even when using the PR from @Padam87 which corrects most of the performance issues, I still have my project ~ 30% slower than before this update in SonataAdmin.

[2017-02-02 14:04] Padam87 commented on #4292
@SebastienTainon Yes, that is correct, the difference is still measurable. The problem is in the way DI extra handles multiple patterns.

https://github.com/schmittjoh/JMSDiExtraBundle/blob/9ca75398f0e5fb03e11c9f7f1c6843e27c24ccf6/DependencyInjection/Compiler/AnnotationConfigurationPass.php#L62

There is a new lookup for every pattern, in my setup each pattern takes about 200ms to do.

[2017-02-02 14:35] greg0ire commented on #4292
So this means it is a JMSDIExtraBundle issue, right?

[2017-02-02 14:47] Padam87 commented on #4292
Yes, i've opened a separate issue for it. https://github.com/schmittjoh/JMSDiExtraBundle/issues/272

[2017-02-02 15:59] RomainSanchez commented on #2425
If someone was to take #3296 and make a new pull request from it on 3.x would it have a chance to get merged  or just be a useless duplicate ?

[2017-02-02 16:02] greg0ire commented on #2425
I think that someone would have to look at https://github.com/sonata-project/SonataAdminBundle/issues/4292 first to see if there isn't a more native way to achieve this ;)

[2017-02-03 11:59] nikunjkabariya commented on #3596
Hello,

How to use sonata admin project with symfony 3.2.* having translation features (Multilingual support - form labels, messages, validators and doctrine ORM translatable support - <what should be database structure?>).
Can anybody have  example which i can use?
OR Can anybody guide me how to implement it?

Thanks

[2017-02-03 14:51] Soullivaneuh commented on #3596
@nikunjkabariya This is **not** related to the issue and not an issue anymore.

Please ask your question on SO.

Locking this thread.

[2017-02-04 11:51] jxamorro opened #4309 "order by one column first null and other column order by date in list by createQuery()"
#### Sonata packages
sonata-project/admin-bundle              3.13.0 The missing Symfony Admin ...
sonata-project/block-bundle              3.3.0  Symfony SonataBlockBundle
sonata-project/cache                     1.0.7  Cache library
sonata-project/core-bundle               3.2.0  Symfony SonataCoreBundle
sonata-project/datagrid-bundle           2.2    Symfony SonataDatagridBundle
sonata-project/

[2017-02-04 12:03] greg0ire commented on #4309
Please use github markdown.

[2017-02-04 12:47] greg0ire commented on #4309
BTW, that's not a Sonata issue, that must be a doctrine issue. Please ask it on Stack Overflow.

[2017-02-04 12:47] #4309 closed

[2017-02-06 14:34] FireLizard commented on #3102
I've got the same problem as @2ball .
Is there any solution?

[code]

Greetings

[2017-02-06 19:24] seeeppp commented on #2938
Hey @OskarStark how did you fix that? I'm still running into this issue (Version 3.13.0).

[2017-02-07 07:49] henrythethird opened #4313 "OneToOne Duplicate Entry"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject
The following is my setup:
I have a Day entity that has associated Positions (OneToMany). These Positions each have exactly one Measure entity associated with them (OneToOne). This setup works quite well, but when I add an item in my DayAdmin, it fails with an UniqueConstraintViolatio

[2017-02-07 11:14] orlangur commented on #3268
Hi @jvasseur, I've stumbled upon the same issue and came here from Google :)

There is nothing to fix in Bundle as it turned out. Sonata can find metadata properly when you specify entity property name and not database field name (i.e. `'banAuthor'` shall be passed to formMapper and not `'ban_author'`).

[2017-02-08 09:55] OskarStark commented on #3291
yes we moved

[2017-02-08 09:57] OskarStark opened #4314 "Remove famfam icons"
We moved from glyphicons to font-awesome, but still have the famfam icons in our project:

https://github.com/sonata-project/SonataAdminBundle/tree/master/Resources/public/famfamfam

Based on comment https://github.com/sonata-project/SonataAdminBundle/issues/3291#issuecomment-278282385, the should be removed.

Should this be done against `master`?

[2017-02-08 10:58] swietek opened #4316 "DataGrid Filter referencing object - could not load type "model""
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

## Steps to reproduce
After the update to symfony 3 and sonata admin 3 (I'm using sonata propel admin) it's not possible anymore to create an filter based on a referenced entity. E.g. I have a item object referencing a category - therefore I want to have a filter in my datagrid to fi

[2017-02-08 12:01] ikanaweb opened #4317 "Sonata collection form type delete issue"
Hi everybody,

First of all thanks for this amazing bundle saving me a lot of time.

I recently faced an issue with the sonata_type_collection form type.
I have 2 different entities with onetomany / manytoone relationship:
- Accommodation
- Organizer

Accommodation is related to one Organizer, and one organizer can be related to multiple accommodations.

In my OrganizerAdmin, i use the sonata_type

[2017-02-08 18:54] gnutix opened #4318 "Entering a date like "01/23/20017" causes a Doctrine exception even with @Assert\Date"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

## Steps to reproduce

1. Create an Entity with a `type="date"` field.
2. Add a `\Symfony\Component\Validator\Constraints\Date` validation on the field.
3. Create an Admin class for this Entity.
4. Edit the Entity in Sonata Admin and enter a date with 5 characters for the year (like

[2017-02-08 19:02] greg0ire commented on #4318
Did you call `setValidator`? IIRC it's necessary.

[2017-02-08 19:03] greg0ire commented on #4318
Good point lol! What if you try something invalid like `32/32/2017`?

[2017-02-08 20:47] OskarStark commented on #3582
@stivenllupa what do you think about the solution of @Padam87

[2017-02-08 20:48] #3291 closed

[2017-02-09 08:41] gnutix commented on #4318
I did not call setValidator in the Admin class service configuration. I can't even enter `32/32/2017` because the HTML `date` input type prevents any number above 31 for day and month. However, it allows up to `999999` as a year.

[2017-02-09 08:55] greg0ire commented on #4318
Change `date` to `text` with your browser inspector and try again. And call `setValidator` in `admin.yml` IIRC, it's the way to go. And I even think it's documented. Did you check the docs?

[2017-02-09 14:51] FireLizard opened #4319 "Input groups have not got the default styling"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

Caused by [PR 2950](https://github.com/sonata-project/SonataAdminBundle/pull/2950), the styling of the CSS-class _input-group-addon_ are not the default one defined by [Bootstrap - Input groups](http://getbootstrap.com/components/#input-groups).
To get the default look of Bootstrap I

[2017-02-09 15:54] andreasferber commented on #4292
This is causing other issues as well:

    [Symfony\Component\DependencyInjection\Exception\ServiceNotFoundException]
    The service "security.firewall" has a dependency on a non-existent service "security.request_ma
    tcher.5314eeb91110adf24b9b678372bb11bbe00e8858c519c088bfb65f525181ad3bf573fd1d".

I don't know exactly what is happening there, however I `git bisect`ed it down to commit 216933f

[2017-02-09 16:00] greg0ire commented on #4292
I agree with you, that's why I'm not 100% fine with #4312 . I think we should merge it, and then introduce a deprecation mechanism to tell people they should do that manually. Would you be willing to contribute it?

[2017-02-09 16:05] Nightbr commented on #4292
I think we don't need a deprecation with this because it has never worked. It has been introduced in 3.11.* and directly conflict with JMSDiExtra. We should remove this part and documenting the thing as @andreadelfino said. I can modify my PR if you want.

[2017-02-09 16:11] greg0ire commented on #4292
You mean that no one currently is not configuring these annotations, and expecting it to work? Apparently 216933f fucks some things up for some people, but not for people who are using it exclusively with Sonata, right?

[2017-02-09 16:17] Nightbr commented on #4292
Yep kind of ^^
https://github.com/sonata-project/SonataAdminBundle/commit/216933fa18e8beb3d1dfe7f4a1aaed78da652a3c inverts the condition and when you have configure JMSDiExtra Bundle it automatically add the configuration (which breaks JMSDiExtra default conf).

At 3.10 => works fine but you have to specify manually the AdminAnnotation in your config.yml
At 3.11 => SonataAdminBundle try to (force)

[2017-02-09 16:20] greg0ire commented on #4292
So since 3.11, it's fair to say new users could have been successfully using this for Sonata. Removing the auto-config would be a BC-break, and should be treated as such (by throwing a deprecation notice telling people they need to do it manually).

[2017-02-09 16:27] Nightbr commented on #4292
ok why not create a patch 3.11.n with the deprecation notice and remove this code in 3.12. Fair enough 👌

[2017-02-09 16:28] greg0ire commented on #4292
Deprecation notices are minor, and removals are major… so… your PR : 3.11.n, the deprecation => 3.12, the removal => 4.0.0

[2017-02-09 16:33] Nightbr commented on #4292
I don't know if we really should merge my PR... It's not a best practice to modify other bundle config on runtime... Wait and see others though on this subject.

[2017-02-09 16:33] greg0ire commented on #4292
But we're already doing it, right? Might as well do it a bit better…

[2017-02-09 16:35] greg0ire commented on #4292
If we don't, people will be stuck with this bug until 4.0, because we don't do BC-breaks.

[2017-02-09 16:40] Nightbr commented on #4292
Or we can right now remove the auto-config JMSDi code and finally the code works (without workaround) and I think it's not a BC-breaks. And If you want to use AdminAnnotation, you have to add it into your config.yml (we just need to document this a bit).

[2017-02-09 16:42] greg0ire commented on #4292
So it boils down to : is this a BC-break?

My thoughts:
1. new user arrives , uses 3.11
2. expects DI to work with sonata without configuring anything
3. updating to 3.12 should work the same

@sonata-project/contributors WDYT? Should this be considered a BC-break or not?

[2017-02-09 16:43] andreasferber commented on #4292
It's definitely a BC break for users using 3.10 or earlier and updating to 3.11 or later right now...

[2017-02-09 16:45] Nightbr commented on #4292
agree with @andreasferber and it was my case and the primary reason I opened the issue. It creates a BC-breaks when updates from 3.10 to 3.11 it breaks all Symfony app with JMSDiExtra setup...

[2017-02-09 16:46] greg0ire commented on #4292
@andreasferber : yes, it is, don't rub it in. What's the lesson we get from reading your sarcasm? That people do not like BC-breaks. Right now you are proposing to create a second BC-break… What I'm proposing is having the right solution in 3.12, but also keep the "bad but better" solution from #4312 work too, but be deprecated.

[2017-02-09 16:48] greg0ire commented on #4292
What you guys don't understand is that the BC-break from 3.10 to 3.11 is done. Now it's the new behavior, and it might work for some people. You're trying to fix your use case, but what about people using the other use case, which, by the way, is the documented one? What about people that did not do the upgrade from 3.10 to 3.11 , but will update from 3.10 or lower to 3.12?

[2017-02-09 16:50] andreasferber commented on #4292
The solution from #4312 doesn't work, see my comment there.

[2017-02-09 16:52] Nightbr commented on #4292
Wait and see what other contributors think about this and take a decision.

[2017-02-09 17:07] andreasferber commented on #4292
Since it appears right now that someone has to "bite the dust", the question is, what is the larger user base, the ones that just started using Sonata admin with version 3.11 to 3.13 and *might* be using the Admin annotation, or the ones that use Sonata admin for years and want to update their project to the latest version.

Also please think about the impact it has: "Some users have to add a line

[2017-02-09 17:08] greg0ire commented on #4292
What?

[2017-02-09 17:10] greg0ire commented on #4292
They would have to wait until 3.12… so… a few days?

[2017-02-09 17:43] andreasferber commented on #4292
"keep the solution from #4312 around" would mean right now, that SonataAdminExtension would keep adding its own annotation_pattern without any way to completely disable it. See my first post, the error I'm getting happens *as soon as the Admin annotation gets enabled in any way*, even if I use 3.10 and add the pattern manually to `config.yml`. This means, if I can't completely disable the tamperin

[2017-02-09 21:17] andreasferber commented on #4292
In addition to fixing the general issue with JMSDiExtraBundle, my PR also adds a new config option to disable the whole stuff, which provides a workaround to avoid the performance hit (until JMSDiExtraBundle gets fixed) and helps people with a problem like mine.

[2017-02-10 09:08] #4292 closed

[2017-02-10 11:34] blaues0cke commented on #2213
For the people that came here using Google - I just posted a solution for Symfony3: http://stackoverflow.com/questions/11366278/how-to-display-the-current-picture-above-the-upload-field-in-sonataadminbundle/42158303#42158303

[2017-02-10 11:35] blaues0cke commented on #408
Just posted a "clean" solution for symfony3 for this problem: http://stackoverflow.com/questions/11366278/how-to-display-the-current-picture-above-the-upload-field-in-sonataadminbundle/42158303#42158303

[2017-02-10 11:40] greg0ire commented on #2213
@blaues0cke : would you be willing to contribute it?

[2017-02-10 15:40] rccc opened #4321 "sonata_type_model_autocomplete.html.twig needs - "attr" field option"
The field option "attr" is not rendered with  "sonata_type_model_autocomplete",
[code]

in "sonata_type_model_autocomplete.html.twig" we have this line that don't take into account the elements defines in the "attr" option.
[code]

Furthermore, the options "disabled", "required", "read_only", seen in sonata_type_model_autocomplete.html.twig should be defined with the "attr" option.

[2017-02-11 11:16] henrythethird commented on #4313
Okay, I found the problem.

I changed
[code]
to
[code]
It seems like the automagic inference works differenlty in the two separate cases.

[2017-02-12 22:16] rechengehirn opened #4323 "sonata_type_model_autocomplete not working with KNP Translatable"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject
sonata_type_model_autocomplete Doctrine Query without "where" when using KNP Translatable

## Steps to reproduce
class `RecipeAdmin`
[code]

class `TagAdmin`
[code]

Entity `Tag`
[code]

Entity `TagTranslation`
[code]

## Expected results

Doctrine Query with where claus

## Actual re

[2017-02-14 09:13] mvhirsch opened #4326 "Update Cookbook recipe for Sortable behaviour"
### Environment

* PHP 7.0.14
* Sonata-Admin 3.13.0
* pixassociates/sortable-behavior-bundle 1.2

## Subject

Using Sonata/Admin with Sortable-Behaviour as described in [Cookbook "Sortable behaviour" ](https://sonata-project.org/bundles/admin/3-x/doc/cookbook/recipe_sortable_listing.html) will lead to an exception, since pixassociates/sortable-behavior-bundle v1.1.

This is due of the fact the aut

[2017-02-14 09:19] greg0ire commented on #4326
I'd remove the last §, but ask people to install a version >= 1.1

[2017-02-14 13:15] sinoptik opened #4327 "The helper "dialog" is not defined (Undefined DialogHelper Class)"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

Undefined DialogHelper Class:

**\Sonata\AdminBundle\Command\GenerateObjectAclCommand::execute**
[code]

## Steps to reproduce
`$ php bin/console sonata:admin:generate-object-acl `

## Expected results
All happy

## Actual results

[code]

[2017-02-15 07:36] mvhirsch commented on #4327
The ```DialogHelper``` was introduced in Symfony 2.3, and removed in 3.0.

Since he's using Symfony 3.2.3, the command should switch to ```QuestionHelper``` instead: https://symfony.com/doc/current/components/console/helpers/dialoghelper.html

@OskarStark I think the bug can be seen as "confirmed" :-)

[2017-02-15 08:32] OskarStark commented on #4327
you are right @mvhirsch 👍

@sinoptik can you provide PR? Please keep in mind that we need to support 2.3 and 3.x of Symfony

[2017-02-15 09:16] #4326 closed

[2017-02-15 09:55] sinoptik commented on #4327
@OskarStark Yes, give me some time.

[2017-02-15 21:28] Pablossoo opened #4330 "Batch action request null data Bug?"
Hello, I have problem with request in batch action. I use Request object instead $this->get('request') because he creates problem in symfony 3, but now I get all the time null request. It is bug?

[code]

[2017-02-15 22:03] greg0ire commented on #4330
Symfony only injects the request inside actions (methods that end with `Action`). If you want to get the request, you can use this : https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Controller/CRUDController.php#L908
Also, next time, fill the issue template instead of ignoring it.

[2017-02-15 22:03] #4330 closed

[2017-02-16 15:07] Civile commented on #764
It should be fixed using an onchange event to copy the content of your wysiwyg to the textarea. Having a textarea with a specified ID I do this way:

 setup:function(ed) {
       ed.on('change', function(e) {
           $("#"+ed.id).text(ed.getContent());
       });
      }

Each time i write something in tinymce it will be copied in the hidden textarea

[2017-02-16 15:19] progmax commented on #1995
same problem

[2017-02-16 15:55] gnutix commented on #4318
I don't know, it's a 4+ years old project with deprecated vendors. I fixed it manually using a custom validator. Opening the issue for me was more a way to point out that PHP thinks 20017 is a valid date, and I'm wondering if Sonata/Symfony/Doctrine should as well. So it's more a question for debate than a technical issue.

[2017-02-16 16:03] greg0ire commented on #4318
Oh right, your vendors are very out of date… sorry, but we don't offer support for that. If you want to chat about that head to https://symfony-devs.slack.com/messages/sonata/ … this is an issue tracker.

[2017-02-16 16:03] #4318 closed

[2017-02-16 16:17] gnutix commented on #4318
Thanks for the link, will do ASAP.

[2017-02-16 19:39] bertterheide commented on #3080
I'm currently working on a project that requires dynamic form fields based on a ChoiceType-field selection, but I'm getting the same error message as described here:

`Key "test" in object with ArrayAccess of class "Symfony\Component\Form\FormView" does not exist.`

As a result, I am not able to complete this feature.

Is there any progress on this issue, or do you have another solution to circumv

[2017-02-16 19:46] core23 commented on #3080
Looks like nobody fixed this issue. Feel free to fix :+1:

[2017-02-17 12:54] wodka opened #4332 "ProxyQuery with complex Order / Where Query"
### What I want to do

Add a special order to a list (a bit more complex since I cannot use functions / parameters in the order of doctrine2)

### how would it look like

[code]

### why is it not working

Sonata\DoctrineORMAdminBundle\Datagrid\ProxyQuery::getFixedQueryBuilder resets the DQLPart "select"

### what would be great

some way to extend the select, perhaps a callback for the query buil

[2017-02-17 13:30] greg0ire commented on #4332
Adding an extension point, ok, but adding it to the admin… not ok. The admin is already very big, and we're trying to split it into components. To do this properly, there should be a new component dedicated to the listing IMO.

[2017-02-17 13:52] wodka commented on #4332
The important part would be the ProxyQuery.

The createQuery method of the Admin exists only to extend the list query as far as I understand.

[2017-02-17 14:00] fbourigault commented on #4332
IMHO, you didn't understand the `ProxyQuery::getFixedQueryBuilder` code. The part before the change you suggested clone the current query builder and is used to only get the objects ids. Then those ids are injected in the queryBuilder we received as an argument using a `andWhere` and adding an offset and a limit.

So you could write a AdminExtension that do what you want in the configureQuery.

[2017-02-17 14:02] greg0ire commented on #4332
@fbourigault : the sort order matters if you want to get the right ids.

[2017-02-17 14:04] fbourigault commented on #4332
So the solution is to find a less destructive alternative to `$queryBuilderId->resetDQLPart('select');`

[2017-02-17 14:31] wodka commented on #4332
Perhaps reset everything that is not "HIDDEN"?
i. E. collect all dqlparts for select that contain HIDDEN and restore those after the reset

[2017-02-17 14:33] greg0ire commented on #4332
If they really are separate parts , that could be a good solution indeed. Can you try dumping the select part, to see what it looks like?

[2017-02-17 15:02] wodka commented on #4332
just tried the following:

[code]

there is one requirement for this to work properly:
the select must be in a separate addSelect for the query builder (the $part will be exactly the given string)

+ I have not tested this with expressions!

And there is a problem if parameters are passed to the query inside the pager (computeNbResult) because it also removes the select but keeps the parameters fr

[2017-02-17 15:07] greg0ire commented on #4332
You mean parameters can be used in the SELECT clause?

[2017-02-17 15:10] wodka commented on #4332
Yes:

[code]

[2017-02-17 15:12] greg0ire commented on #4332
Oh yeah I see

[2017-02-17 15:15] greg0ire commented on #4332
I'd throw a `NotImplementedYet` exception when detecting a parameter (unless you want to implement it)

[2017-02-17 15:36] wodka commented on #4332
... I cannot even find a single occurrence of setParameter for a Pager. Somehow I would have to reset all parameters for the pager that would have been used in the select. :/

[2017-02-17 16:55] Ousret opened #4333 "Cannot export data with entities that have composite keys"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

Entities that have composite key also known as multiple 'primary key' cannot be exported.

Exception: [Semantical Error] line 0, col -1 near 'SELECT DISTINCT': Error: '' is not defined.
Exporter tried to execute this DQL request:
'SELECT DISTINCT o FROM AppBundle\Entity\StockBatiment

[2017-02-17 16:56] greg0ire commented on #4333
Please provide a stack trace

[2017-02-17 16:57] Ousret commented on #4333
Here you go.

[code]

[2017-02-17 16:59] greg0ire commented on #4333
[code]
There's your problem.

[2017-02-17 17:01] Ousret commented on #4333
I figured this.. by myself ^^
DQL request wasn't generated correctly, but by whom ? sonata-admin or exporter ?

[2017-02-17 17:02] greg0ire commented on #4333
Maybe debug this file :         in /Users/Ousret/Documents/SARL Distrigel/wwwdistrigel/vendor/sonata-project/core-bundle/Exporter/Exporter.php line 66 ?

[2017-02-17 17:08] Ousret commented on #4333
Maybe. I'll look into it.

[2017-02-17 17:20] Ousret commented on #4333
Exporter from Sonata-admin\core is deprecated, so it seems.

[2017-02-17 17:22] greg0ire commented on #4333
Can you link to the file you are talking about on github?

[2017-02-17 17:24] Ousret commented on #4333
https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Export/Exporter.php
On my file, class is not empty.

[2017-02-17 17:24] greg0ire commented on #4333
Then you are using an outdated version. Please upgrade first.

[2017-02-17 17:25] Ousret commented on #4333
3.13.0 is not the latest ?

[2017-02-17 17:25] greg0ire commented on #4333
Yes it is.

[2017-02-17 17:26] greg0ire commented on #4333
How can it be not empty if you are using 3.13.0?

[2017-02-17 17:27] Ousret commented on #4333
But I've this one.. I've doubled checked composer update.
It tells me that there no update missing..

[2017-02-17 17:28] Ousret commented on #4333
I don't known.

[2017-02-17 17:31] greg0ire commented on #4333
Maybe try reinstalling? `rm vendor composer.lock -fr && composer update -v`

[2017-02-17 17:35] Ousret commented on #4333
Just did. Nothing change. This is getting weirder and weirder..

[2017-02-17 17:36] Ousret commented on #4333
upd8.

[2017-02-17 17:37] greg0ire commented on #4333
Ok so that's actually better. Now you'll have to use your debugger and have a deeper look at this.

[2017-02-17 18:59] lalop commented on #4236
this works for me http://stackoverflow.com/questions/21420380/entitys-id-of-parent-is-not-saved-in-a-onetomany-relationship-in-sonataadmin

[2017-02-17 19:02] greg0ire commented on #4236
@CyrilleGuimezanes @lalop , can you please make a docs PR ?

[2017-02-19 10:32] #4254 closed

[2017-02-19 13:46] Ousret commented on #4333
This issue is going to be much harder to fix than I expected..
What fn does generate DQL req for export ? DataSourceIterator ?

[2017-02-19 14:12] Ousret commented on #4333
Working:
http://xxxx/admin/app/stockbatiment/export?filter%5B_sort_order%5D=ASC&filter%5B_sort_by%5D=quantite&filter%5B_page%5D=0&filter%5B_per_page%5D=32&format=csv

Not working:
http://xxxx/admin/app/stockbatiment/export?filter%5B_sort_order%5D=ASC&filter%5B_sort_by%5D=produit%2Cbatiment&filter%5B_page%5D=0&filter%5B_per_page%5D=32&format=csv

With composite key, I need to sort at least one colu

[2017-02-19 14:15] Ousret commented on #4333
Should be easy to provide hotfix.

[2017-02-19 14:18] greg0ire commented on #4333
Here is an urldecoded diff if anyone wants to understand.
[code]

[2017-02-19 14:45] Ousret commented on #4333
produit & batiment are Ids + ManyToOne
quantite is not Id and is simple Integer

Voila!

[2017-02-19 18:21] lalop commented on #4236
hello @greg0ire, I dig a little be more before editing the doc to understand what happens.
The issue seams coming from the symfony form https://github.com/sonata-project/SonataAdminBundle/blob/3.13.0/Controller/CRUDController.php#L255
When the form populate the new object it doesn't call `setChildrend` or 'addChild` so you can't give the child the parent id.
I don't know that much symfony's form c

[2017-02-19 21:29] lalop commented on #4236
I don't have enought knowledge yet to understand why but this definitively fix the issue.
https://github.com/sonata-project/SonataDoctrineORMAdminBundle/issues/50#issuecomment-5872661

The parent Entity need to have an `setChildren` method and link each child to it parent and the field need to be define with `by_reference` false.

I'm ok to update the doc if you want.

[2017-02-19 21:45] greg0ire commented on #4236
Please do, I'll help you complete it with an explanation if necessary :)

[2017-02-20 08:31] lalop commented on #4236
@greg0ire I think this example is way to complicated https://sonata-project.org/bundles/doctrine-orm-admin/3-x/doc/reference/form_field_definition.html#advanced-usage-one-to-many
It's a mix between one-to-many, many-to-many and entity's inheritage.
Can I rewrite it to only show a one-to-many example ?

[2017-02-20 09:03] greg0ire commented on #4236
How so?

I'm all for clearer docs so sure, go ahead!

[2017-02-20 13:08] lalop commented on #4236
here it's https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/667

[2017-02-21 13:09] wodka opened #4338 "'list' action hardcoded in base_list and base_links"
## Subject

I wanted to add "tabs" for different lists on the same admin. This works ok but I needed to copy some templates just to get it to work. Awesome would be if the links would actually use the action property if they refer to the same page.

## Workaround

the files contain hardcoded **'list'** references, I changed them to **action**:

- CRUD/base_list.html.twig
- Pager/base_links.html.tw

[2017-02-21 13:15] OskarStark commented on #4338
sounds interesting to have an option to overwrite the default list route and add some tabs for different lists with (different filters and/or queries) ?

[2017-02-21 13:52] silasjoisten commented on #1968
Are there any other solutions? I tryed @Invis1ble 's solution and it's still not working.

[2017-02-23 09:02] JumpIfBelow opened #4344 "OneToOne retrieves only one row on inverse side"
### Environment
CentOS 7.2 with PHP 7.0.14
Windows Server 2012 with SQL Server 2012

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject
I am trying to use AdminBundle.
I build a whole RESTful API using Doctrine-driven Entities, and it works like a charm.
This AdminBundle works like it should work with no error at all. But when I try to display a list

[2017-02-23 10:03] FireLizard opened #4345 "Looking for a real solution to INVALID MODE : sonata_type_collection - mapping"
Same problem as #1231
The provided links for potential solutions are all dead.

#### Sonata packages
[code]

[2017-02-23 10:11] jordisala1991 commented on #4345
[code]

This is what I use, working perfectly atm.

[2017-02-23 10:43] OskarStark commented on #4345
shouldn't we add this to the docs/cookbook articles?

[2017-02-23 11:00] FireLizard commented on #4345
Does not seem to work for me. My Code looks as following:

[code]
`archivedDates` is pointing to a Getter-method inside the entity "Event" to handle/filter dates:
[code]

BTW: Where to find these fielddescription options on docs. I never heard about `'inline' => 'standard'` (hidden feature?)

[2017-02-23 11:49] JumpIfBelow commented on #4344
I forgot to tell that when I want to edit an entity with the owning side of OneToOne property, the list is incomplete. But the given values are good and useable. Just that most of them is missing.

[2017-02-23 13:43] FireLizard opened #4346 "Adding criteria to filter elements of an ArrayCollection shouldn't affect adding new items on CollectionType"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

Adding criteria to filter elements of an ArrayCollection shouldn't affect adding new items on CollectionType.

## Steps to reproduce

1. Create 2 entities **Event** and **Date** with _oneToMany_-association:
[code]
[code]
[code]
[code]
2. Create Admin for entity Event:
[code]
[code]

[2017-02-24 12:30] FireLizard commented on #4346
I had to add the following line to my criteria to allow displaying new dates (because `datoTo` is null on default).
[code]

To only set this criteria on adding new dates I moved this section into the `EventAdmin` like [Jim Panse on StackOverflow explained](http://stackoverflow.com/questions/42074550/use-sonata-type-collection-multiple-times-in-admin).

[2017-02-24 12:30] #4346 closed

[2017-02-27 04:59] manuel-bitcraft opened #4348 "Sonata type collection delete row triggers constraints validation"
I have a problem with sonata admin, specifically in a type collection field. Here's the scenario:

I have an entity called "Group" with a one to many relationship to the entity "Member"

In sonata admin I set up the admin classes for the 2 entities.

In the "Group admin" i create a collection type with the Member entity this way

[code]
The member entity has 4 fields, one of which is required.

[c

[2017-02-27 09:39] RomainSanchez commented on #4348
Same here

[2017-02-27 09:54] greg0ire commented on #4348
Can one of you bisect that bug down to a particular commit?

[2017-02-27 10:05] adadgio opened #4349 "Sonata admin bundle 3.13 breaks all services definitions"
Sonata admin bundle 3.13 seems to breaks service definitions in Symfony `2.7` and `2.8` and throws `Symfony\Component\DependencyInjection\Exception\ServiceNotFoundE
  xception` errors for all services.

See also: https://github.com/schmittjoh/JMSDiExtraBundle/issues/266

### Environment

Symfony 2.7 or 2.8.

#### Sonata packages

I came into this issue when trying to update `sonata-project/admin-b

[2017-02-27 10:07] greg0ire commented on #4349
@Nightbr @andreasferber , can you please help?

[2017-02-27 10:17] Nightbr commented on #4349
@adadgio can you show us your JMS config please ?

[2017-02-27 10:19] adadgio commented on #4349
Sure !

[code]

[2017-02-27 10:22] Nightbr commented on #4349
Here we go:
[code]

https://github.com/sonata-project/SonataAdminBundle/issues/4292#issuecomment-275454008

Try to search into closed issue next time

[2017-02-27 10:24] adadgio commented on #4349
I did ! Probably used wrong keywords... It works, thankss

[2017-02-27 10:24] #4349 closed

[2017-02-27 10:27] Nightbr commented on #4349
No problem, but it's weird because I think this issue has been fixed by @andreasferber in its pullRequest https://github.com/sonata-project/SonataAdminBundle/pull/4320

@greg0ire any idea on this stuff?

[2017-02-27 10:29] greg0ire commented on #4349
Not really no… not sure why service definitions would be removed from the service container. AFAIK JMSDI is about injecting already existing services, not create them.

[2017-02-27 10:49] Nightbr commented on #4349
@greg0ire JMSDI handles service creation too:

http://jmsyst.com/bundles/JMSDiExtraBundle/master/annotations#service

I used it everytime with depInjection

But it seems to be the same issue as before (remove the default JMSAnnotation class)...
@andreasferber can you take a look at this please?

[2017-02-27 10:53] greg0ire commented on #4349
Ok, it makes a bit more sense…

[2017-02-27 15:49] RomainSanchez commented on #4348
It would be the introduction of sonata_type_collection inline edit i suppose since the problem is that an input with required attribute is inserted in the form and is not removed when the user changes his mind wich prevents submitting the form

I'll have a look but this looks more like a design problem than a bug

[2017-02-27 15:51] RomainSanchez commented on #4348
Maybe this issue should move to DoctrineORMAdminBundle ?

[2017-02-27 15:52] greg0ire commented on #4348
Maybe… I don't know.

[2017-02-28 00:18] manuel-bitcraft commented on #4348
As RomainSanchez said, I think this always was the case. I can open a issue on the DoctrineORMAdminBundle if you think is better. Thanks

[2017-02-28 07:06] greg0ire commented on #4348
If you want to delete a row, there's a button for that right? You don't expect an empty value to be accepted, do you ? Did you use `allow_delete` or whatever the right option for this is?

[2017-02-28 16:49] RomainSanchez commented on #4348
It is a checkbox that needs the form to be submitted before the item is removed.So when you add an item and want to remove it (wich end users do all the time) checking the checkbox would need to remove the empty inputs from the dom

[2017-02-28 16:52] greg0ire commented on #4348
Exactly. First thing to do on the js `submit()` event

[2017-02-28 16:56] jordisala1991 commented on #4348
With html5 validation enabled you will still get a message before submit, not sure if we can solve this changing only the order of actions in submit() in javascript

[2017-02-28 17:00] greg0ire commented on #4348
[Indeed](http://stackoverflow.com/questions/15138329/catch-submit-before-html5-validation)

[2017-02-28 17:01] jordisala1991 commented on #4348
IMO the problem is, add is done in ajax, remove is done on reload... not sure if this has an easy fix tho.

[2017-02-28 17:04] RomainSanchez commented on #4348
If it is a new entry you remove the inputs from the dom on click and if it is an existing one you reove from the dom and replace with a hidden input/hidden inputs that will "submit the deletion" or maybe trigger an ajax request to delete the item even before form submission

[2017-02-28 17:04] greg0ire commented on #4348
Well if you remove the input immediately when checking the checkbox (or cliking a button), problem solved. Also, you could just make toggle `disable` on checking the checkbox

[2017-02-28 17:07] RomainSanchez commented on #4348
I'd say that is the way to go so things are consistent between deleting a freshly created entry and deleting an existing entry

[2017-03-01 14:28] #2077 closed

[2017-03-02 09:56] RomainSanchez commented on #4348
After giving it a shot several questions arose:

1: disabling via javascript works fine but in wich template should the script be included?
2: Does the script need to handle the case where iCheck would be disabled ?
3: should the script itself live in AdminBundle or DoctrineORMBundle (I need to add classes to form elements in DoctrineORMBundle templates as well)

[2017-03-02 10:13] greg0ire commented on #4348
1. the create/edit page should always have it IMO
2. no idea what iCheck is
3. I think it could benefit phpcr too, so AdminBundle… @dbu, thoughts?

[2017-03-02 10:16] RomainSanchez commented on #4348
ICheck is the js plugin used for checkboxes.

[code]

[2017-03-02 10:18] greg0ire commented on #4348
For 2, I'm unsure, I'd say it should work too…

[2017-03-02 10:29] RomainSanchez commented on #4348
If iCheck is i need to listen to their `ifChanged` event instead of `change` but `window.SONATA_CONFIG` has the info so problem solved.

[2017-03-02 10:39] dbu commented on #4348
inline editing is useful for the phpcr admin too, so if we can fix the infrastructure for that, please do it here in the base admin bundle

[2017-03-02 15:55] core23 commented on #2943
Closing this, because I can't reproduce this + issue is 2 years old

[2017-03-02 17:35] Zuhayer commented on #556
This issue thread helped me. Thanks.

[2017-03-03 12:03] mvhirsch commented on #3902
+1 the same goes for one of my projects.

After settings ```handler_id: ~``` it works.

Question | Answer
--- | ---
Bundle version | sonata/project/admin-bundle v3.13.0
Symfony version | symfony/symfony v2.8.17
PHP version | 7.0.8

[2017-03-03 14:38] mvhirsch commented on #3576
@core23 since #3607 is already merged, this can be closed?

[2017-03-03 15:01] #3576 closed

[2017-03-06 07:34] OskarStark commented on #3576
Thank you @mvhirsch 👍

[2017-03-06 12:49] mvhirsch commented on #4316
The ```ModelType``` is not provided by any sonata package, but instead was introduced by ```symfony/propel1-bridge``` which does not support Symfony 3.0. I don't know how you managed to get ```sonata/propel-admin-bundle``` to work without it (since its a dependency there)?

Since ```symfony/propel1-bridge``` is abondoned and does not support Symfony 3.0, I suggest you try out ```propel/propel-bund

[2017-03-06 14:27] axzx opened #4359 "VIEW vs SHOW"
What is the difference between a VIEW and a SHOW?
Is used in `isGranted` in views.

[2017-03-06 14:28] greg0ire commented on #4359
On is a permission, the other an action. Both shouldn't be used with `isGranted`. If they are, you found a bug.

[2017-03-06 14:32] axzx commented on #4359
thanks.

only here:

https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Resources/views/CRUD/list_outer_rows_mosaic.html.twig#L63

https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Resources/doc/cookbook/recipe_customizing_a_mosaic_list.rst

[2017-03-06 14:39] greg0ire commented on #4359
I think you definitely found a bug :) Can you please fix it?

[2017-03-06 19:52] #4359 closed

[2017-03-06 20:20] #4236 closed

[2017-03-07 11:24] axzx opened #4364 "Best place for access conditions"
Where is the best place to save access conditions? I need to: block the action function and also to hide the buttons.
I have role `ROLE_USER_ADMIN_USER_VIEW_OWN` and I use handler `sonata.admin.security.handler.role`.
I want to give access to action `show` for users who have this role.

[2017-03-08 00:09] gremo opened #4368 "Incorrect handling of boolean types in HelperController"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

The `HelperController `is unable to handle boolean values.

## Steps to reproduce

Using the SonataPageBundle which sends a POST XMLHttpRequest (with form data: `value=false`) request to the following URL:

`/admin/core/set-object-field-value?objectId=21&context=list&field=enabled&co

[2017-03-08 00:14] greg0ire commented on #4368
"integer"?!?

[2017-03-08 00:19] gremo commented on #4368
@greg0ire Yes, boolean types in Doctrine are actually TINYINT in MySQL. But Doctrine can't convert it to an integer because is `false` as string, not as `boolean`.

[2017-03-08 07:58] OskarStark commented on #1968
Could this fix the problem?

https://github.com/sonata-project/SonataAdminBundle/pull/4369

[2017-03-08 07:59] #4368 closed

[2017-03-08 14:22] FirasGL opened #4372 "ACL Editor : Do not understand Its features"
Hi guys,

I'm trying to use ACL Editor in a SonataAdminBundle project, I have installed the dependencies and made the configurations [https://sonata-project.org/bundles/admin/2-x/doc/reference/security.html#acl-and-friendsofsymfony-userbundle](url), and everything works well. When I press "Edit ACL" button, this interface display :
![capture du 2017-03-08 15-12-34](https://cloud.githubusercontent.

[2017-03-08 16:26] greg0ire commented on #4372
Hi, we try to keep Github issues for bug reports and feature requests only. If you have a question, please ask it on Stack Overflow or on #sonata on [the symfony-devs slack](http://slackinvite.me/to/symfony-devs).

[2017-03-08 16:26] #4372 closed

[2017-03-09 18:14] daichihaji commented on #2381
I guess there is still the same problem.

Even if I blank the {% block sonata_left_side %}{% endblock %} in
{# customised_standard_layout.html.twig #}

The blank left pane appears.

[2017-03-09 20:03] jordisala1991 commented on #2381
Does it happen on master?

[2017-03-09 20:24] jordisala1991 commented on #4314
This was fixed on #4315

[2017-03-09 20:24] #4314 closed

[2017-03-09 21:32] jlamur opened #4380 "Dot-notation is always TextType in create/edit view."
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

Fields declared in `FormMapper` with a dot-notation are always rendered as basic text fields (ignoring the `FieldDescription`).

I'm not sure if this is a real bug, or if it have never worked this way because I never used the dot-notation before.

\* *dot-notation*: Accessing a field

[2017-03-10 00:00] greg0ire commented on #4380
It it's not documented, I'd say it's a missing feature, a bug otherwise.
A PR to implent it would be very welcome 👍

[2017-03-10 05:01] core23 commented on #2381
IMHO we don't need an option for everything. Sometimes you have to override the templates / css.

[2017-03-10 05:24] daichihaji commented on #2381
Happens on 3.9.0. I agreed that we don't need option for everything.

I have overrided standard_layout.html.twig and blank  {% block sonata_left_side %}{% endblock %}  in vain.

I am not sure how much people want to remove the left_side_pane though, if there is some indication, we really appreciate.

[2017-03-10 10:59] DavidGarciaCat opened #4382 "Select just the given Discriminator Map type"
Hello,

## Subject

When I have a set of entities with a Doctrine Discriminator Map then I cannot add a filter to get just one type of all mapped entities, due SonataAdmin and SonataDoctrineORMAdminBundle are throwing an error.

## Example:

Entities with a Doctrine Discriminator Map

[code]

Then I add the Sonata Admin filter:

[code]

## Expected results

Get a new filter to select just `joined`

[2017-03-10 13:18] caponica commented on #2381
In my limited experience clients usually *don't* want the sidebar. They'd rather have a thin menu at the top of the screen, and sometimes insist on it.

However, so long as there's a clean (and ideally well documented) way to remove it, and the bundle doesn't expect/require there to be a sidebar for other reasons then there's no problem.

[2017-03-10 13:51] core23 commented on #4382
We try to keep github issues for feature requests and bugs only.

Please have a look at the [docs](https://sonata-project.org/bundles/) or use [StackOverflow](http://stackoverflow.com/questions/tagged/sonata) for general support and questions.

[2017-03-10 13:51] #4382 closed

[2017-03-10 15:15] DavidGarciaCat commented on #4382
Hi @core23

I though this issue could track a bug due Sonata thrown an error reporting an existing column does not exist, but based on your comment I am wrong? Anyway, I will do that you say, and will follow those 2 links.

Cheers,

[2017-03-12 11:09] #3124 closed

[2017-03-12 13:36] AmaliDeveloper commented on #1225
You can get the solution in this tutorial Good Work ;) [Link](https://youtu.be/HeIggSkjtdk)

[2017-03-13 12:55] Kolyunya opened #4391 "Default page sizes are confusing"
### Environment
Not relevant.

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject
**Disclamer**: yes, I do know that this property is easily configurable and I can override it. My point is that the default distribution must be as user-friendly as possible.

[Default page sizes](https://github.com/sonata-project/SonataAdminBundle/blob/f880155d92450a874

[2017-03-13 12:58] greg0ire commented on #4391
Never noticed it, but indeed, that's quite weird. No idea about `192`, which is even weirder. Can you have a look at the history?

[2017-03-13 13:00] Kolyunya commented on #4391
@greg0ire I did look up the history and it's there since forever.

[2017-03-13 13:01] greg0ire commented on #4391
With no explanation in the commit message or docs I guess? Then it's ok to change. That wouldn't even be a bc-break IMO

[2017-03-13 13:11] Kolyunya commented on #4391
@greg0ire I was able that it was decimal-based [in the past](https://github.com/sonata-project/SonataAdminBundle/commit/582c90af652a059b8a1a06ae6890ef1d0dc348ed#diff-81cd2da3c7ffebe278779869361e685aR199) but I wasn't able to actually find what happend next yet.

[2017-03-13 13:13] greg0ire commented on #4391
`git log -G perPageOptions -p` ?

[2017-03-13 13:14] greg0ire commented on #4391
Yields 5e9ce9f86897a06361c64300c46209bb114fce96

[2017-03-13 13:15] greg0ire commented on #4391
I guess it has to do with mozaic mode needing to display nicely.

[2017-03-13 13:19] greg0ire commented on #4391
I think you could either make a PR to add a comment explaining these slightly WTF values, or one that would introduce separate options depending on the current mode.

[2017-03-13 13:21] Kolyunya commented on #4391
Seems like `256` will fit nicely with `32` items per page.

B.t.w. `git log -G perPageOptions -p` returned other commit to me. Should I have activated some specific branch beforehand?

[2017-03-13 13:22] greg0ire commented on #4391
No, it's normal, it show all the commits that have a change that contains this. I hand picked this one after a cursory glance at this output.

[2017-03-13 13:24] Kolyunya commented on #4391
@greg0ire thanks for help!

[2017-03-13 13:24] greg0ire commented on #4391
My pleasure, thanks for caring :)

[2017-03-13 16:16] soullivaneuh opened #4392 "Hard to understand error when no configured form on admin class"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

If you miss to override the `AdminInterface::configureFormFields`, you will have an unrelated error message.

It will not be obvious at all that this method is missing.

## Steps to reproduce

Remove the `configureFormFields` method from your admin class.

Try to edit an entity of th

[2017-03-13 16:18] greg0ire commented on #4392
The `configureFormFields` method is part of the `AbstractAdmin` class. How can you not have it?

[2017-03-13 16:19] Soullivaneuh commented on #4392
@greg0ire Well indeed, I have it, but it's empty:

[code]

And this do not change the problematic result: a weird and hard to understood error.

[2017-03-13 16:20] greg0ire commented on #4392
So this errors actually happens when the form is empty?

[2017-03-13 16:22] Soullivaneuh commented on #4392
You got it bro! :+1: :wink:

[2017-03-13 16:23] Soullivaneuh commented on #4392
So indeed, we should check the `FormMapper` object content instead.

[2017-03-13 16:24] Soullivaneuh commented on #4392
But we must talk about the missing method override. This happen regularly because of a that.

[2017-03-14 14:56] eschultz-magix opened #4395 "MergeCollectionListener breaks sortable order"
### Environment
OS: Windows 10
PHP: 5.6.17 x64

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

I have two entities "User" and "Expectation". Both have a Many-To-Many relation. The goal is to make them sortable in Sonata Admin. Therefore I have followed the official tutorial: https://sonata-project.org/bundles/admin/master/doc/cookbook/recipe_sort

[2017-03-14 20:09] jlamur commented on #4380
After digging a lot into this issue, I found that it's the responsibility of the class `Symfony/Component/Form/FormFactory` to get the good type (depending on the `property_path` type option). **But this feature has never been implemented.**

I will open a PR for this on the Symfony repository, and hopefully Sonata will be able to profit from it without any change :)

I'm closing this issue.

[2017-03-14 20:09] #4380 closed

[2017-03-15 15:05] lalop opened #4397 "sonata_type_choice_field_mask empty_value throw exception"
Trying to use `sonata_type_choice_field_mask` as define in the documentation https://sonata-project.org/bundles/admin/3-x/doc/reference/form_types.html

The property `empty_value` seems to not be surported anymore, I get this error.

[2017-03-15 15:08] greg0ire commented on #4397
Maybe it should be `placeholder` ? http://symfony.com/doc/current/reference/forms/types/choice.html#placeholder

[2017-03-15 15:36] lalop commented on #4397
This add a new choice :(

[2017-03-15 15:37] greg0ire commented on #4397
What about `empty_data` Not sure what you are trying to do btw…

[2017-03-15 15:48] lalop commented on #4397
In fact I wanted to add a kind of placeholder and I assume this is what `empty_value` was for.
Anyway if I opened this issue it's more to notice this error from the doc more than get a solution :)

[2017-03-15 15:49] greg0ire commented on #4397
So… `placeholder` doesn't do just that? If it does, can you make a PR to fix the docs?

[2017-03-15 15:50] lalop commented on #4397
I can just delete the `empty_value` reference since I don't know what it did

[2017-03-15 15:52] greg0ire commented on #4397
let me `cd ~/dev/symfony-docs` and do `git log -S empty_value`

[2017-03-15 15:53] greg0ire commented on #4397
So you can purely and simply replace `empty_value` with placeholder, and if you do, please `grep` for it in the entire repo.

[2017-03-15 15:54] lalop commented on #4397
ok I will

[2017-03-15 15:54] greg0ire commented on #4397
Thanks a lot for contributing!

[2017-03-15 17:19] lalop commented on #4397
Should I migrate this too https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Resources/views/Form/form_admin_fields.html.twig#L195 ?

[2017-03-15 17:22] greg0ire commented on #4397
I don't think so, b/c it will break projects of sf 2.3 users. Should be done on master though.

[2017-03-16 09:08] #4397 closed

[2017-03-17 10:11] lopsided commented on #2810
I've got this same problem. @davidfernandezperrino @romeugodoi did you find a solution/workaround?

[2017-03-21 19:32] lalop commented on #4323
Hello @rechengehirn did you solve your issue ?

[2017-03-21 21:00] lalop commented on #4022
this seems to be partially fixed into select2 v4 https://github.com/select2/select2/issues/128

[2017-03-22 07:57] OskarStark commented on #4022
@Soullivaneuh started to implement Select 2 4.0 in this PR https://github.com/sonata-project/SonataCoreBundle/pull/147, maybe someone can support him or overtake this PR

[2017-03-22 12:06] borodiliz opened #4409 "Performance: very high initialization time after updating to >=3.11.0"
### Environment
openSUSE Leap 42.2

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

After updating from 3.10.3 to 3.11.0, Symfony's initialization time has increased significantly

Before (<=3.10.3):
* Total time	341 ms
* Initialization time	107 ms

After (>=3.11.0):
* Total time	4901 ms
* Initialization time	3895 ms

## Steps to reproduce
Update

[2017-03-22 12:39] OskarStark commented on #4409
Did you update only `sonata-project/admin-bundle` or did you update Symfony itself, too?

[2017-03-22 12:59] borodiliz commented on #4409
@OskarStark I updated only `sonata-project/admin-bundle`

Solved changing `jms_di_extra` configuration. See https://github.com/sonata-project/SonataAdminBundle/issues/4292#issuecomment-275454008

[2017-03-22 13:01] #4409 closed

[2017-03-23 10:17] CarlosElPoulpo opened #4413 "Add a custom controller entry in the menu - route parameter not working"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

I need to add item in menu for execute custom action in controller. My action is nammed "modify" : fetch the first row in DB for one entity and redirect to edit action for this object.
I search for configure action to execute in menu in config.yml : something like action: modify ...

[2017-03-23 10:21] OskarStark commented on #4413
can you please show me the definition of your `GarageAdmin`?

[2017-03-23 10:23] CarlosElPoulpo commented on #4413
[code]

The service is:
[code]

[2017-03-23 10:25] OskarStark commented on #4413
Can you try to use it without the `on_top` option?

[2017-03-23 10:26] CarlosElPoulpo commented on #4413
It works but how i can use it with on_top option ?

I want to have only one button and not a dropdown menu

[2017-03-23 10:30] OskarStark commented on #4413
try to use `on_top`, but do not create a modify action, instead overwrite the list view, if you don't need it like this:

[code]

But can you please create a bug ticket, that on_top does not work with route?

[2017-03-23 10:32] CarlosElPoulpo commented on #4413
Ok ok, and i need to change label for listAction for dashboard link.

How I can do this ?

[2017-03-23 10:33] OskarStark commented on #4413
via translation

[2017-03-23 10:33] CarlosElPoulpo commented on #4413
I can change only for this entity ?

[2017-03-23 10:34] OskarStark commented on #4413
have a look here: https://sonata-project.org/bundles/admin/master/doc/reference/translation.html

[2017-03-23 10:45] CarlosElPoulpo commented on #4413
Ok thanks for your help but it's "bypass". There is a possibility to see appear a config option in config.yml for chose action to execute in menu ? It's planned or not ?

I don't know how to create bug ticket on your project

[2017-03-23 20:53] Yippy opened #4414 "sonata_type_collection bug when getting POST request of "get-form-field-element" return static result."
### Environment
prod and dev
[code]
[code]
#### PHP version
[code]
## Subject
No errors are displayed, when creating an new note of 'sonata_type_collection'. The AJAX post request does not update list of new note even if you make several notes, until you refresh the page.

[code]

`get-form-field-element?elementId=s58d423c11248d_notes&objectId=33&uniqid=s58d423c11248d&code=admin.calendar_event`

B

[2017-03-24 12:04] jmeyo opened #4416 "Default order on list column, overriding ASC order"
How can we override the default order when requesting the list mapper.

By default, when you click on a column that is sortable, it sort the column by ASC, you then need to click again to order DESC. I have a need to get a specific list in DESC order first without the need to first order ASC.

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Steps to reprod

[2017-03-24 12:46] lsmith77 commented on #3342
@stof also just ran into an issue where `cache:clear` requires a DB connection and I suspect its related to the above issue. what do you think about refactoring this bit in FOSUserBundle? I guess we should just define accessor methods for the repository/metadata so that we can do this lazy?

[2017-03-24 22:43] Yippy opened #4421 "Template tab_menu_navbar_header oddly make blank title"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

There are empty spacing in  _navbar_title which display blank header in mobile view

[code]

fix by trim check
[code]

probably best that the _navbar_title doesn't return spaces or enters.

## Results
Left is real result, right is expected result.
![bug2](https://cloud.githubusercont

[2017-03-25 10:12] core23 commented on #4421
Can you please provide a PR for that? @Yippy

[2017-03-25 12:29] Yippy commented on #4421
looks like @jordisala1991 fixed it with his PR #4408, line 22 has trim

[2017-03-25 12:30] #4421 closed

[2017-03-27 12:31] axzx opened #4425 "error with sonata_type_admin"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject
I think it's related to
https://github.com/sonata-project/SonataAdminBundle/commit/3a75cad5e1d6e6e6dfcd8d639c5c4f8fb6678152

## Steps to reproduce
[code]
## Expected results
many fields from Address Admin

## Actual results
error:
[code]

[2017-03-27 12:34] greg0ire commented on #4425
Are you sure? That's not the commit you commended on

[2017-03-27 12:37] axzx commented on #4425
You're right, my mistake.

https://github.com/sonata-project/SonataAdminBundle/commit/3a75cad5e1d6e6e6dfcd8d639c5c4f8fb6678152

[2017-03-27 12:37] greg0ire commented on #4425
ping @lalop can you help?

[2017-03-27 12:42] lalop commented on #4425
@axzx I don't see how this can be related to this commit...

[2017-03-27 12:43] greg0ire commented on #4425
@axzx did you find this with `git bisect` ?

[2017-03-27 13:08] axzx commented on #4425
I checked every commits from 3.14.0 and after this:
[code]
I have an error.

[2017-03-27 15:10] cosf87 commented on #4425
@axzx is right because I have the same error after that update. I don't know why it doesn't work. However, I've solved it passing 'data' option to the AdminType field

[code]

[2017-03-27 15:12] pulzarraider commented on #4425
This is serious BC break that should be fixed ASAP.

[2017-03-27 15:14] greg0ire commented on #4425
I think we could revert 3a75cad if no solution is found by tomorrow.

[2017-03-27 15:52] lalop commented on #4425
@axzx can you give the complete code of your admin class please ?

[2017-03-27 16:27] axzx commented on #4425
@lalop
https://github.com/axzx/testsa

[2017-03-27 16:42] lopsided commented on #3368
The following seems to be a workaround for this problem:

[code]

It seems the simplest way to fix the problem, not sure if it is a particularly good one. Might be better to rewrite the `filter->apply` methods to stack onto a proper "ANDX"/"ORX" doctrine `expr` object instead? Would be a lot more work that though.

[2017-03-27 17:06] lalop commented on #4425
thank you @axzx
The `addressaddress` come from this line https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Form/Type/AdminType.php#L82

Since I added the `property_path` for each field this line broke the path...

I think this should be fixed in AdminType since all the other form's type seems to work correctly but I'm not sure to understand the initial implementation bewind this option.

[2017-03-27 20:10] lalop commented on #4425
@axzx a kick fix could be to add `'property_path' => ''` in field's options

[2017-03-28 08:39] greg0ire commented on #4425
So… shall I revert this?

[2017-03-28 11:29] mvhirsch commented on #4425
I'm experiencing the same problem (in my case it's "countercounter", 'cause my field's name is ``counter``).

As I see @greg0ire you already working on a bugfix. Can I help?

[2017-03-28 11:31] OskarStark commented on #4425
Imo we should add a failing test case and try to fix this

[2017-03-28 11:32] greg0ire commented on #4425
It's merely a revert, I'm not really creating anything here. There's not much you can do to help, except maybe find a proper fix

[2017-03-28 11:37] mvhirsch commented on #4425
I'll take a look. Until this is fixed, I've downgraded ```sonata-project/admin-bundle``` to 3.14.0, which fixes the problem for now.

[2017-03-28 13:59] #4425 closed

[2017-03-28 14:10] mvhirsch commented on #4416
Hi!

is this a question or a bug report? As I can't see code from you, I think you're asking a question, do you?

Please take a look at the documentation on how to override Datagrid defaults: https://sonata-project.org/bundles/admin/3-x/doc/reference/action_list.html#configure-the-default-ordering-in-the-list-view

By using the class property, you can easily override it:

    protected $datagridVa

[2017-03-28 14:48] core23 commented on #4416
We try to keep github issues for feature requests and bugs only.

Please have a look at the [docs](https://sonata-project.org/bundles/) or use [StackOverflow](http://stackoverflow.com/questions/tagged/sonata) for general support and questions.

[2017-03-28 14:48] #4416 closed

[2017-03-29 15:46] catharsisjelly opened #4431 "sonata_type_model_hidden not picking up related model"
### Environment

#### Sonata packages

Just as a matter of note the below command did not work for me (composer 1.3.2), this is the output from `composer show | grep ^sonata`

[code]

#### Symfony packages

This is the output from `composer show | grep ^symfony`

[code]

#### PHP version

[code]

## Subject

I'm trying to get SonataAdmin to create a model that is a OneToMany relationship and take

[2017-03-29 15:51] greg0ire commented on #4431
I don't think you need to add the hidden field at all… the id of the parent should already be present in the url.

[2017-03-29 15:58] catharsisjelly commented on #4431
@greg0ire Not supplying a field gives me the same result as supplying a hidden one. The templateId field is null which then causes an error (it's defined as not null in the DB)

[2017-03-29 20:14] greg0ire commented on #4431
Check the method that provides the new instance, IIRC it should give you an email with the template already set properly

[2017-03-29 20:38] greg0ire commented on #4431
My bad, it seems the magic is actually happening [here](https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Admin/AbstractAdmin.php#L3228), that's what you should look into.

[2017-03-30 08:14] frechina opened #4432 "associated_property is ignored"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

I have this FormMapper

[code]

and associated_property is completely ignored getting the following message

An exception has been thrown during the rendering of a template ("You must define an `associated_property` option or create a `MongoDBODMProxies\__CG__\AppBundle\Document\Paye

[2017-03-30 08:43] wiglesias opened #4433 "Unable to render Date field in list views after 3.15 upgrade"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

Unable to render Date field in list views

## Steps to reproduce

[code]

## Expected results

![captura de pantalla 2017-03-30 a las 10 41 43](https://cloud.githubusercontent.com/assets/18135199/24495523/b59b2be6-1535-11e7-92cc-ecc1928d796a.png)

## Actual results

Catchable Fatal E

[2017-03-30 08:48] OskarStark commented on #4433
can you please check if reverting this change #4415 fixes your problem?

[2017-03-30 08:54] catharsisjelly commented on #4431
@greg0ire Thanks for you're right, I had not defined the `$parentAssociationMapping` which should be (for anyone else reading) set to the field of the association in the ORM, so in my case `template`. You then indeed do not need the hidden field. What I will do is close this issue and see if I can contribute to the documentation around this in at least one of the bits I have highlighted in the iss

[2017-03-30 08:54] #4431 closed

[2017-03-30 09:04] wiglesias commented on #4433
@OskarStark still fails

[2017-03-30 09:26] OskarStark commented on #4433
and if you remove the editable option?

[2017-03-30 09:35] wiglesias commented on #4433
I've tried it and it doesn't work!

[2017-03-30 09:54] greg0ire commented on #4433
Can you bisect it down to a particular commit?

[2017-03-30 09:55] greg0ire commented on #4431
Thanks please do contribute!

[2017-03-30 10:13] JeremyDulon opened #4434 "Losing relation information on edit with sonata_type_model_autocomplete"
### Environment

`Windows 10, WampServer`

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

5.6.25

## Subject

On an admin class WatchText, I got a relationship One to Many relationship WatchTextUsers, with the type "sonata_type_collection". In this embedded form, I got three fields, a User (where I use the "sonata_type_model_autocomplete" type), and two text fields.

[2017-03-30 10:15] wiglesias commented on #4433
I've discovered that if I change date type in string it works, but in class name doesn't works.

[code]

[2017-03-30 11:54] greg0ire commented on #4433
That's very weird... What about the bisect?

[2017-03-30 12:03] fracsi commented on #4433
The `ListMapper` and `ShowMapper` (thus `ListBuilder` and `ShowBuilder`) accept simple strings (eg. date, text, etc...) for type and not `FormType` classes. That is why `date` work, but `DateType::class` does not, because when the class is given, the type falls back to text.

[2017-03-30 14:09] greg0ire commented on #4433
Can you make a PR

[2017-03-30 15:54] #4433 closed

[2017-03-31 06:46] OskarStark commented on #4433
good catch @fracsi 👍

[2017-03-31 10:36] rechengehirn commented on #4323
@lalop I fixed it with a callback. Like so:
[code]

[2017-03-31 13:58] JeremyDulon commented on #4434
After some diggging, I've figured out that Sonata can't access the value of my User id, because this one is protected. But I can't set it private because it has to be protected..

[2017-04-03 20:56] #4317 closed

[2017-04-04 07:43] pulzarraider commented on #4132
I can confirm the problem and I will prepare the fix.

[2017-04-05 00:33] symball opened #4442 "Batch action "stack" feature"
## Make batch actions more flexible with a stack features

In a recent project I worked on, I added the ability to add many items to a "stack" prior to running a batch action. This meant that across a very large dataset, many searches could be made and then a batch action run once.

It was necessary because people would often want to combine a series of search results and then run a single action

[2017-04-05 07:19] greg0ire commented on #4442
Link for the lazy : https://github.com/sonata-project/SonataAdminBundle/blob/3.x/Resources/views/CRUD/base_list.html.twig#L228

IMO, a brand new block would be the best place. Also, can you upload a screenshot of the stack?

Same here, a brand new controller would be best IMO

[2017-04-05 15:40] eschultz-magix opened #4443 "sonata_type_model causes cyclic calls in normalizers"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject
In symfony 2.8.19 this commit has been merged: https://github.com/symfony/symfony/commit/fb4d8de5e4c99d074d6b8f67f9251671014a931b This will trigger the choice_loader normalizer if "choices_as_values" is not set (default in ChoiceType) or set to false explicit.

The $choiceListNormaliz

[2017-04-05 15:44] greg0ire commented on #4443
Thanks @eschultz-magix ! Could you please provide a PR ?

[2017-04-05 17:11] jordisala1991 commented on #4443
I see this issue on SonataUserBundle when creating/editing a user. Have to revert to SF 2.8.18 until this gets fixed.

[2017-04-06 00:57] symball commented on #4442
Here's a screenshot taken of the feature after moving it from the header area to a new block within the batch action area.
In terms of experience, clicking on "View Stack" and removing individual item (using the cross button) are carried out by simple AJAX requests.
"Add to Stack" and "Clear stack" are carried out using page refreshes.

![batch-action-ui](https://cloud.githubusercontent.com/assets

[2017-04-06 06:20] greg0ire commented on #4442
There's one thing I don't understand yet : how do you choose to run a batch action on the stack or on the selected elements?

[2017-04-06 06:31] symball commented on #4442
A fair question and there are three situations:

1 - If you have a stack present, you can run the batch action without selecting any elements and it gets run on the stack.
2 - If you have a stack present and you select some elements prior to running the batch action, an array merge is performed (the selection is just a bunch of IDs anyway) and then the batch action is run
3 - If the stack is empty

[2017-04-06 06:48] eschultz-magix commented on #4443
Sorry @greg0ire, unfortunately my company doesn't offer that time for me. If anyone else could do a PR for me that would be very welcome.

Instead of just setting 'choices_as_values' to true as default value in ModelType, also a normalizer should check whether a developer has set this flag explicit to false. A deprecation notice should be thrown then to indicate that this option has no impact to t

[2017-04-06 07:15] greg0ire commented on #4442
I'm 👍 with this feature, it could be quite nice indeed, but if you want to contribute it, keep it mind that it should be fully documented and tested (so please write the docs, the tests and the code, in that order). I also think it should be introduced in 3.x in an opt-in way to maintain BC. @sonata-project/contributors ,WDYT? Should @symball go ahead and write a PR?

[2017-04-06 11:58] gremo commented on #4443
Anyone can confirm that downgrading to Symfony 2.8.18 solve the problem?

[2017-04-06 12:47] lifrost commented on #4443
@gremo, yes it is solve the problem. Today i downgrade my project to symfony 2.8.18 and everything good now.

[2017-04-06 12:57] greg0ire commented on #4443
Can any of you make a PR that solves the issue, or that simply prevents people from upgrading to 2.8.19 ?

[2017-04-06 13:26] Soullivaneuh commented on #4443
@eschultz-magix suggestion about adding `'choices_as_values' => true` option indeed fixes the issue.

Maybe we should add this default option on the `ModelType`?

[2017-04-06 13:29] eschultz-magix commented on #4443
@Soullivaneuh Great, but setting ```'choices_as_values' => true``` as default option in ```ModelType``` doesn't prevent to override this value with ```false```. Therefore a normalizer has to ensure that the ```choices_as_values``` option is always set to ```true``` internally.

[2017-04-06 20:03] alfredoalfa commented on #2505
hi, i have the same problem. i will add the code.

error
An exception has been thrown during the rendering of a template ("unable to find the route `intranet.pni.oeu.admin.areaconocimiento|intranet.pni.oeu.admin.subareaConocimiento.list`").

admin.
        $menu->addChild(
           'Pagos',
           $admin->generateMenuUrl('intranet.pni.oeu.admin.subareaConocimiento.list', array('id' => $id))

[2017-04-07 06:32] OskarStark commented on #4442
Sounds great, I like the Feature

[2017-04-07 10:27] eschultz-magix opened #4446 "Unable to create entities that implement __toString() the false way"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

Unfortuately, I have to report another issue introduced with Twig 1.33.0: https://github.com/twigphp/Twig/commit/f5193e92c50c89f19121771ca800aad55b97aff7. You cannot create entities anymore because ```getActionButtons()``` will throw an exception.

Internally, ```action_buttons.html.

[2017-04-07 10:39] eschultz-magix commented on #4446
I think, the error itself is on twig side. I had a look at their code:

[code]

the check ```method_exists($value, '__toString')``` is safe, but validating ```'' === $value``` first will cast _every_ object to string.

[2017-04-07 11:33] yann-eugone opened #4447 "Symfony 3.3 compatibility"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

Application won't start. Due to some errors.

## Steps to reproduce

- install a brand new Symfony 3.3@dev project
- install sonata admin
- clear the cache.

## Expected results

My application should start.

## Actual results

[code]

### Problems found

In `Sonata\CoreBundle\Depend

[2017-04-07 11:35] greg0ire commented on #4446
I don't think there is anything to fix besides your entity.

[code]

It's just basic php, you're not supposed to be able to return anything else than a string there. Nothing to do with Sonata.

You seem to have perfectly understood this by yourself, so, what's the actual issue?

[2017-04-07 11:40] eschultz-magix commented on #4446
@greg0ire Yes I understand what I did wrong on my side. But it did work before because the ```object|default(null)``` did not trigger the ```__toString()``` method. The error didn't occure before because every created entity had a non-nullable value.

Yes, it may be enough to fix the ```__toString()``` return value, but it would be better to avoid triggering this method by using a simple null chec

[2017-04-07 11:43] greg0ire commented on #4446
That's the part I don't understand. What would that check check? Because if it checks the return value of `__toString`, it's already too late.

[2017-04-07 11:45] greg0ire commented on #4447
This looks like a BC-break. Can you find the commit where the argument was removed?

[2017-04-07 11:59] eschultz-magix commented on #4446
```object|default(null)``` should check whether the object variable is set and not null, otherwise null is used, right? So in simple PHP code this would be:

[code]

But now ```__toString()``` and some other internal checks are called in default filter, which is not necessary. Also if you pass an object instance which __toString() method returns an empty string (most common case for new entities),

[2017-04-07 12:06] greg0ire commented on #4446
Oh now I recall seeing this lately, which was discussed as being kinda BC-breaky. My opinion is that relying on to `__toString()` being called only when the returned property is not null is really really wrong, and we shouldn't encourage it by being lenient and cluttering our codebase with extra code to support this.
Every php developer should now how `__toString` works and be able to implement it

[2017-04-07 12:06] #4446 closed

[2017-04-07 12:09] yann-eugone commented on #4447
Looks like [this one](https://github.com/symfony/symfony/commit/600e75ce8894f5d18f1726d9d45241f83074de44) could be a good start point

[2017-04-07 12:16] greg0ire commented on #4447
Let's follow this lead a bit deeper : https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Form/Extension/DependencyInjection/DependencyInjectionExtension.php#L41